@import "./app/MO/reebok/css/scss/about.scss";

.clubc_diamond{
    .collections{
        position: relative;
        background: #5c5c5c url('/images/reebok/about/gigi_hadid/bg_collection.jpg') 0 0 repeat;
        background-size: 100% auto;
        h2{
            position: absolute;
            top:8rem;
            z-index: 10;
            padding: 0 6rem;
            img{
                width: 100%;
            }
        }

        .num_paging{
            position: absolute;
            bottom:10px;
            width: 100%;
            text-align: center;
            padding: 1rem 0px;
            a{
                margin: 0 4px;
                width: 13px;
                height:13px;
                background: #fff;
                @include opacity(0.3);

                &.on{
                    background: #fff;
                    border-color: #fff;
                    @include opacity(1);


                }
            }

        }

        .collection_cut{
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .prd_section{
        text-align: center;
        background: url("/images/reebok/about/clubc_diamond/bg.jpg") no-repeat;
        background-size:100% 100%;
        h3{
            padding: 3.8rem 3.5rem 1.8rem;;
            img{
                width: 100%;
            }
        }
        p{
            padding: 0 1.5rem;
            img{
                width: 100%;
            }
        }
        a.btn{
            display: inline-block;
            margin: 1.5rem 0 2rem;
            padding: 0 3rem;
            border:1px solid #000;
            font:1.1rem/3rem 'NotosansKR','Nanum Gothic';
        }
        .prd{
            margin: 0 1.5rem;
            padding-bottom: 2rem;
            a{
                display: block;
                padding-bottom: 1.2rem;
                img{
                    width: 100%;
                }
            }

        }
    }
}
// clubc_diamond
