@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
html,body{
	height:100%;
}
#stylepic{
	.button_area_border{
		position: relative;
		display: inline-block;
		margin:2rem 0 0 0;
		a{
			font-weight: normal;
			height: 36.5px;
			line-height: 36.5px;
			position: relative;
			display: block;
			text-align: center;
			font: 500 1rem/36.5px 'NotoSansKR';
			background: #fff;
			color: #000;
			border: 1px solid #000;
			color: #000;
			padding: 0 2rem;
			span.arrow{
				margin-left: 10px;
				width: 20px;
				position: relative;
				top: -1px;
				display: inline-block;
				height: 2px;
				background: #000;
				vertical-align: middle;
				width: 20px;
				&:after{
					position: absolute;
					bottom: -3px;
					right: -2px;
					content: '';
					display: inline-block;
					height: 3px;
					background: #000;
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					width: 8px;
				}
				&:before{
					width: 8px;
					background:#000;
					position: absolute;
					top: -3px;
					right: -2px;
					content: '';
					display: inline-block;
					height: 3px;
					background: #000;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
				}
			}
		}
		.left{
			width:1px;
			background: #000;
			height: 100%;
			position: absolute;
			top: 5%;
			left: 101%;
		}
		.left_width{
			width: 3px;
			background: #000;
			height: 1px;
			position: absolute;
			top: 5%;
			left: 100%;
		}
		.bottom{
			height: 1px;
			width: 100%;
			background: #000;
			position: absolute;
			bottom: -5%;
			left: 1%;
		}
		.bottom_height{
			height: 2px;
			width: 1px;
			background: #000;
			position: absolute;
			bottom: -5%;
			left: 1%;
		}
	}
	.button_area_v2{
		width: 110px;
		a{
			font-size: .9rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			position: relative;
			background:#fff;
			span.arrow{
				margin-left: 10px;
				width: 20px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
		&.white02{
			a{
				background:#fff;
				color:#000;
				border:1px solid #fff;
				span.arrow{
					background:#000;
					&:after{
						background:#000;
					}
					&:before{
						background:#000;
					}
				}
				&::after{
					box-shadow:inset 0 0 0 1px #fff;;
				}
			}
		}

	}
	.rel{
		position: relative;
	}
	.ct{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	img{
		width:100%;
	}
	h1,p,span{
		letter-spacing: 0;
		white-space: nowrap;
	}

	.main__wrapper{
		.main__wrapper__img{
			background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_main_bg_MO.jpg') no-repeat;
			background-position: top;
			background-size:auto auto;
			padding-bottom: 135%;
			img{
				opacity: 0;
				transition: all 2s;
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				width:85%;
				
				&:nth-child(2){
					width:90%;
				}
				&:nth-child(3){
					width:90%;
				}
				&.on{
					opacity: 1;
				}
			}			
		}
		.main__wrapper__txt{
			text-align: center;
			margin: 4rem 0 3rem 0;
			h1{
				img{
					width:88%;
				}
			}
			span{
				font: 700 18px/23px 'NotoSansKR';
				color: #000;
				display: inline-block;
				margin: 1rem 0 .5rem;
			}
			p{
				font: 500 13px/19px 'NotoSansKR';
				color: #000;
				text-align: center;
			}
		}
		.link__wrapper{
			.txt{
				text-align: center;
				h1{
					font: 18px/18px 'adinenuPro-black';
					color:#d50000;
					text-align: center;
					letter-spacing: 0;
					text-align: center;
				}
				p{
					font: 700 10px/10px 'NotoSansKR';
					color: #fff;
					text-align: center;
					letter-spacing: 0;
					background: #d50000;
					padding: 0px 5px;
					display: inline-block;
					line-height: normal;
					margin: 0 0 1.5rem 0;
				}
			}
			#slider01{
				position:relative;
				.slick-list{
					.slick-track{
						.slick-slide{
							img{
								width:70%;
								margin:0 auto;
							}
						}
					}
				}
				.slick-arrow{
					text-indent: -9999px;
					border:0;
					position: absolute;
					top:47%;
					width:24.5px;
					height:14.5px;
					z-index:2;
					&.slick-prev{
						background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_prev_MO.png') no-repeat;
						background-position: top;
						background-size:100%;
						left:8%;
						transform: translate(-50%,-50%);
					}
					&.slick-next{
						background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_next_MO.png') no-repeat;
						background-position: top;
						background-size:100%;
						left:93%;
						transform: translate(-50%,-50%);
					}
				}
				.slick-dots{
					text-align: center;
					margin: 1rem 0 0 0;
					li{
						width:27px;
						height:2px;
						background:#c7c7c7;
						display:inline-block;
						margin:0 2px;
						border:0;
						text-indent:-9999px;
						&.slick-active{
							background:#000;
						}
					}
				}
			}
		}
	}

	.tabs{
		display:none;
		background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab_bg_MO.jpg') no-repeat;
		background-position: top;
		background-size: 100% 100%;
		&.fixed{
			position: fixed;
			display: block;
			top:0;
			width:100%;
			z-index:3;
		}
		>div{
			font-size: 0;
			margin:0 1rem;
			div{
				text-align: center;
				width:33%;
				background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab01_off_MO.png') no-repeat;
				background-position: left;
				background-size: 64% auto;
				padding-bottom: 20%;
				display: inline-block;
				cursor:pointer;
				&.active{
					background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab01_on_MO.png') no-repeat;
					background-size: 64% auto;
					background-position: left;
				}
				&:nth-child(2){
					background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab02_off_MO.png') no-repeat;
					background-position: center;
					background-size: 45% auto;
					&.active{
						background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab02_on_MO.png') no-repeat;
						background-position: center;
						background-size: 45% auto;

					}
				}
				&:nth-child(3){
					background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab03_off_MO.png') no-repeat;
					background-position: right;
					background-size: 63% auto;
					&.active{
						background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_tab03_on_MO.png') no-repeat;
						background-position: right;
						background-size: 63% auto;


					}
				}
			}
		}
	}

	.section{
		position: relative;
		text-align: center;
		.section__wrapper__txt{
			padding: 5rem 0 0 0;
			text-align: center;
			h1,p{
				text-align: center;
				color:#000;
			}
			h1{
				font:21px/21px 'adinenuPro-black';
				color:#000;
			}
			span{
				display: inline-block;
				color:#000;
				font:700 14px/14px 'NotoSansKR';
				margin:10px 0 5px 0;
			}
			p{
				font:400 12px/20px 'NotoSansKR';
				color:#000;
			}
		}
		.section__wrapper__top{
			padding: 0 0 3rem 0;
			.section__fade{
				position:relative;
				margin: 2rem 0 0 0;
				&.fade1{
					padding-bottom: 90%;
					div{
						img{
							width:75%;
							position: absolute;
							top:0;
							left:50%;
							transform: translateX(-50%);
							opacity: 0;
							transition: all 1s;
							&.on{
								opacity: 1;
							}
						}
					}
				}
				&.fade2{
					padding-bottom: 70%;
					div{
						div{
							width:75%;
							position: absolute;
							top:0;
							left:37%;
							transform: translateX(-50%);
							opacity: 0;
							transition: all 1s;
							&.on{
								opacity: 1;
								z-index:2;
							}
							img{
								width:134%;
							}
							&:nth-child(1){
								a{
									position: absolute;
									top: 0%;
									left: 7%;
									width: 66%;
									height: 55%;
									z-index:2;
									&:nth-child(2){
										position: absolute;
										top: -1%;
										left: 87%;
										width: 39%;
										height: 95%;
										z-index: 2;
									}
									&:nth-child(3){
										position: absolute;
										top: 58%;
										left: 5%;
										width: 39%;
										height: 44%;
										z-index: 2;
									}
									&:nth-child(4){
										position: absolute;
										top: 58%;
										left: 48%;
										width: 39%;
										height: 44%;
										z-index: 2;
									}
								}
							}
							&:nth-child(2){
								a{
									position: absolute;
									top: 0%;
									left: 7%;
									width: 66%;
									height: 55%;
									z-index: 2;
									&:nth-child(3){
										position: absolute;
										top: -1%;
										left: 87%;
										width: 39%;
										height: 103%;
										z-index: 2;
									}
									&:nth-child(4){
										position: absolute;
										top: 70%;
										left: 5%;
										width: 75%;
										height: 26%;
										z-index: 2;
									}
								}
							}

							&.on{
								opacity: 1;

							}
						}
					}
				}
				
				>div{
					img{
						// position: absolute;
						// top:0;
						// left:50%;
						// transform: translateX(-50%);
						// opacity: 0;
						// transition: all 1s;
						// &.on{
						// 	opacity: 1;
						// }
					}
				}
			}
			.indicator{
				text-align: center;
				margin: 0 0 2rem 0;
				div{
					width:27px;
					height:2px;
					background:#c7c7c7;
					display:inline-block;
					margin:0 2px;
					border:0;
					text-indent:-9999px;
					&.active{
						background:#000;
					}
				}
			}
		}
		.button_area_v2{
			width: 150px;
			margin: 0 auto;
			margin-top:30px;
		}
		.section__wrapper__bottom{
			padding: 2rem 0;
			.section__wrapper__bottom__conts{
				img{
					width:75%;
				}
				div{
					position:relative;
					img{
						// &:nth-child(2){
							margin:2rem 0 0 0;
							width:100%;
						// }
					}
				}	
			}
			
		}
		&.sec1{
			background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_section01_bg_MO.png') no-repeat;
			background-position: top;
			background-size:100% 100%;
		}
		&.sec2{
			background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_section02_bg_MO.png') no-repeat;
			background-position: top;
			background-size:100% 100%;
		}
		&.sec3{
			background:url('/images/adidas/2020/event/originals/stylepic/2002_a_stylepick_section03_bg_MO.png') no-repeat;
			background-position: top;
			background-size:100% 100%;
		}


	}
	.btm__wrapper{
		padding: 1.5rem 0;
		>div{
			padding: 0 1.4rem 0 2rem;
			&::after{
				display: block;
				content:'';
				clear:both;
			}
			>div.inner{
				float: left;
				width:48%;
				position: relative;
				.button_area_v2{
					position: absolute;
					bottom:10%;
					left:50%;
					transform: translateX(-50%);
					width:88%;
				}
				&:first-child{
					padding-right:3px;
				}
				&:nth-child(2){
					padding-left:3px;
				}
			}
			&:nth-child(1),&:nth-child(2){
				padding-bottom:8px;
			}
		}
	}
	.nizza__wrapper{
		padding: 0 2rem 3.5rem 2rem;
	}
}


// @media screen and (min-width: 414px) {
// 	#ub20{
// 		.modal-popup-wrapper{
// 			.popup{
	
// 				.popup-header{
// 					.close_x_btn{
// 						width: 3rem;
// 						height: 3rem;
// 						position: absolute;
// 						top: 50%;
// 						right: 15px;
// 						transform: translate3d(0,365%,0);
// 						right: 24%;
						
// 						&::after,&::before{
// 							background:#fff;
// 						}
// 					}
// 				}
	
// 			}
	
// 		}
// 	}

// }
