@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#blackfriday_cp{
	position: relative;
	text-align: center;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}
	.main{
		img{
			width:100%;
		}
	}
	.count-title{
		padding: 2.3rem 0 0.6rem;
		font: 2.2rem 'adinenuPro-regular';
		text-align: center;
		color: #0e1e42;
		letter-spacing: 0;
	}
	.flipper_wrap{
		display: inline-block;
		margin-bottom: 3rem;
	}
	.flipper-initialized>.flipper-delimiter{
		line-height: 4.3rem;
		font-size: 2rem;
		padding: 0 .2em;
		display: inline-block;
	}
	.flipper{
		// padding-bottom: 1.4rem;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	.members{
		position: relative;
		a{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index: 1;
		}
		img{
			width:100%;
		}
	}
	.bottom_slider_wrap{
		position: relative;
		.title{
			padding:2.8rem 0 2.8rem;
			strong{
				display: block;
				margin-bottom: .5rem;
				text-align: center;
				font: 900 2.4rem 'NotoSansKR';
				color:#0e1e42;
			}
			p{
				text-align: center;
				font: 500 2rem/2.5rem 'NotoSansKR';
				color:#0e1e42;
			}
			small{
				display: block;
				text-align: center;
				font: 400 1rem 'NotoSansKR';
				letter-spacing: -0.3px;
				color:#000;

			}
		}
		.banner_slider_wrap_out{
			position: relative;
			left:-55px;
			.banner_slider_wrap{
				position: relative;

				ul{
					li{
						img{
							width:100%;
						}
						
					}
				}
			}
		}


	}

}
