@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#originals_calendar{
	.box{
		opacity: 0;
		transition: all 0.5s;

		img{
			width: 100%;
		}
		&.on{
			opacity: 1;
		}
	}
}
