@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

.buy{
	width: 100%;
	a{
		display: inline-block;
		width: 180px;
		height: 40px;
		text-align: center;
		background-color: #000;
		color:#fff;
		font:1rem/40PX 'NotosansKR';
		letter-spacing: 0px;
		margin-top: 10px;
		&:after{
			display: inline-block;
			margin-left: 5px;
		}
	}
}

#zne36hrs{
	.main{
		overflow: hidden;
		position: relative;
		text-align: center;
		.bg{
			width: 100%;
			.banner_slider_wrap{
				position: relative;
				margin: 0;
				padding: 0;				
				ul{
					li{						
						img{
							width: 100%;
						}						
					}
				}
				.owl-controls{					
					.owl-dots{
						position: absolute;
						bottom: 0;
						height: 2rem;
						right: 1rem;
						.owl-dot{
							font: 1.3rem 'adinenuPro-bold';
							color:#fff;
							opacity: 0;
							-webkit-opacity: 0;
							span{
								padding: 0 0 0 3px;
								font: 1.3rem 'adinenuPro-light';
	
							}
							&.on{
								opacity: 1;
								-webkit-opacity: 1;
							}
						}
					}
				}	
			}
		}
		.buy{
			position: absolute;
			width: 180px;
			bottom: 30px;
			right: 15px;
			z-index: 2;
			a{
				display: inline-block;
				width: 180px;
				height: 40px;
				background-color: rgba(0, 0, 0, 0.5);
				color:#fff;
				font:1rem/40PX 'NotosansKR';
				letter-spacing: 0px;
				margin-top: 10px;
				&:after{
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
	}		
	.info-hour{
		position: relative;
		background: #fff;
		.box{
			position: relative;
			width: 100%;
			img{
				width: 100%;
			}
			>a{
				display: inline-block;
				width: 30%;
				position: absolute;
				z-index: 5;
			}
			&.ac_01{
				>a{
					bottom: 8%;
					left: 5%;
				}	
			}
			&.ac_02{
				>a{
					bottom: 3%;
					left: 50%;
					margin-left: -15%;
				}
			}
			&.ac_03{
				.banner_slider_wrap{
					width: 100%;
					position: absolute;
					top: 49%;
					left: 0;
					margin: 0;
					padding: 0;				
					ul{
						li{						
							img{
								width: 100%;
							}						
						}
					}
					.owl-controls{					
						.owl-dots{
							position: relative;
							left: 46%;
							bottom: -14px;
							height: 2rem;
							right: 1rem;
							.owl-dot{
								margin: 0 5px;
								display: inline-block;								
								width: 10px;
								height: 10px;
								border: 1px solid #000;
								opacity: 1;
								-webkit-opacity: 1;								
								&.active{
									background: #000;
								}
							}
						}
					}	
				}
				>a{
					bottom: 9%;
					left: 5%;			
				}
			}
			&.ac_04{
				>a{
					bottom: 15%;
					left: 5%;			
				}
			}
		}
	}	
}