@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';


#limitlessgamewear{
	position: relative;
	// background: #000;

	//common css
	.button_area_v2{
		// display: inline-block;
		// width: 120px;
		width: 85%;
		margin: 0 auto;
		padding: 3rem 0 6rem;
		a{
			font: 500 1rem/42px 'NotoSansKR';
			height: 42px;
			letter-spacing: 1px;
			text-align: left;
			padding-left: 6.8rem;
			span.arrow{
				position: absolute;
				top: 50%;
				// right: 1.8rem;
				width: 18px;
			    // margin-left: 12px;
				&:after{
				    height: 2px;
					top: -2px;
				    width: 7px;
				}
				&:before{
				    height: 2px;
					bottom: -2px;
					width: 7px;
				}
			}
		}
	}
	img{
		width:100%;
	}
	// position: absolute;
	// top: 78%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// font: 500 1.8rem 'NotoSansKR';
	// font:2rem 'adinenuPro-bold';

	.scroll{
		@include css3(opacity,0);
		@include css3(transition,all 1s);
		&.active{
			@include css3(opacity,1);
			.line{
				@include css3(opacity,1);
			}
		}
		.line{
			@include css3(opacity,0);
			@include css3(transition,all 1s);
		}
	}


	// basic slide
	.banner_slider_wrap{
		position: relative;
		text-align: center;
		width: 80%;
		overflow: hidden;
		margin: 0 auto;
		.swiper_element{
			position: relative;
			ul{
				overflow: hidden;
				&::after{
					display: block;
					content:'';
					clear:both;
				}
				li{
					position: relative;
					float: left;
					img{
						// width:80%;
					}
				}
			}
		}
	}
	.controls{
		padding:2.5rem 2.7rem;
		text-align:center;
		&::after{
			display: block;
			content:'';
			clear:both;
		}
		a{
			float: left;
			display: inline-block;
			font:1.2rem/1.2rem 'adinenuPro-regular';
			color: #000;
			letter-spacing: .1rem;
			width:25%;
			&.next{
				float: right;
				img{
					transform: rotate(-180deg);
					padding-right:1rem;
					padding-left:0;
				}
			}
			img{
				width:10%;
				vertical-align: middle;
				padding-right:1rem;
			}
		}
		.num01{
			font:16px 'adinenuPro-black';
			color:#000;
			letter-spacing: .5rem;
		}
		.num02{
			font:16px 'adinenuPro-regular';
			color:#000;
			letter-spacing: .5rem;
		}
	}
	.txt{
		text-align: left;
		padding:0 1.5rem;
		margin:3rem 0 4rem 0;
		h1{
			font: 2.1rem/2.3rem 'AdihausDIN-Bold';
			color: #000;
			// letter-spacing: .1rem;
		}
		p{
			font:300 1.1rem/1.7rem 'NotoSansKR';
			color:#000;
			letter-spacing: 0;
			margin:.8rem 0;
		}
	}
	.prd_head{
		h1{
			font:500 1.5rem/1.7rem 'NotoSansKR';
			color:#000;
			letter-spacing: 0;
			margin:2rem 0;
			text-align: center;
		}
	}
	.main_img{
		width:70%;
	}
	.scrollTab{
		position: fixed;
		height: 5rem;
		display:none;
		width:100%;
		margin: 0 auto;
		z-index: 9;
		top:0;
		&.active{
			display: block;
		}
		.tab{
			font-size: 0;
			div{
				display:inline-block;
			    width: 50%;
				img{
					display: none;
					width:100%;
					&.on{
						display: block;
					}
				}
			}
		}
	}
	.tab_cont{
		position: absolute;
		top:0;
		z-index:9;
		.tab{
			padding:1rem;
			font-size:0;
			div{
				display: inline-block;
				width:50%;
				img{
					display: none;
					&.on{
						display: block!important;
					}
				}

			}
		}
	}
	.line{
		position: absolute;
		z-index: 6;
	}




	.visual_main{
		position: relative;
		// height: 965px;
		&.active{
			.slide{
				.txt{
					@include css3(opacity,1);
					@include css3(transition,all 1s);
					@include css3(transition-delay,.5s);
				}
			}
		}
		.slide{
			position: relative;
			// @include css3(opacity,0);
			// @include css3(transition, all .5s ease-in);
			&.on{
				@include css3(opacity,1);
			}
			.fake{
				img{
					position: relative;
					width:100%;
					z-index: -1;
				}
			}
			>img{
				position: absolute;
				top:0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				transition: all 1s;
				&.on{
					opacity: 1;
				}
			}
		}
	}
	.conts01{
		position: relative;
		text-align: center;
		.txt{
			margin: 0 0 3rem 0;
		}
		.main_img{
			padding: 0 0 5rem;
		}
	}
	.conts02{
		position: relative;
		.txt{
			margin:0 0 3rem 0;
		}
	}
	.conts03{
		position: relative;
		.txt{
			margin:3rem 0 5.5rem 0;
		}
	}
	.conts04{
		position: relative;
		margin:2rem 0 4rem;
		.txt{
			margin:3rem 0 5.5rem 0;
		}
	}
	.conts05{
		position: relative;
	}
	.conts06{
		position: relative;
		margin:5rem 0;
	}
	.conts07{
		position: relative;
		.txt{
			margin:3rem 0 5.5rem 0;
		}
		.banner_slider_wrap{
			width:initial;
			overflow:unset;
			margin:0;
		}
	}
	.conts08{
		position: relative;
	}
	.conts09{
		position: relative;
		.banner_slider_wrap{
			overflow:unset;
			margin:0 auto;
			width:70%;
		}
	}
	.conts10{
		position: relative;
	}
	.conts11{
		position: relative;
		text-align: center;
		img{
			padding: 2rem 0 0;
		}
	}
	.conts12{
		position: relative;
	}
	.conts13{
		position: relative;
		text-align: center;
		img{
			padding: 5rem 0 0;
		}
		.txt{
			margin: 3rem 0 6rem 0;
		}
	}
	.conts14{
		position: relative;
		.txt{
			margin: 3rem 0 5rem 0;
		}
	}
	.conts15{
		position: relative;
	}
	.conts16{
		position: relative;
		padding:2rem 0 3rem;
	}
	.conts17{
		.banner_slider_wrap{
			overflow:unset;
			margin:0 auto;
			width:70%;
		}
	}
	.conts18{
		text-align: center;
		img{
			width:70%;
			padding: 5rem 0;			
		}
	}
	.conts19{
		position: relative;
	}
	.conts20{
		position: relative;
		padding: 7rem 0 4rem;
	}
	.conts21{
		position: relative;
	}
	.conts22{
		position: relative;
		padding: 5rem 0;
	}
	.conts23{
		position: relative;		
	}
	.conts24{
		position: relative;
		padding: 2rem 0 5rem;		
	}
	.conts25{
		position: relative;		
	}
	.conts26{
		position: relative;
		padding:4rem 0 0 0;
		.banner_slider_wrap{
			overflow:unset;
			margin:0 auto;
			width:70%;
		}
	}

	.line01{
		bottom: -16%;
		right: 5%;
		width: 22%;			
	}
	.line02{
		top: 40%;
		left: 3%;
		width: 25%;
	}
	.line03{
		bottom: -2%;
		right: 3%;
		width: 30%;
		top:initial;
		left:initial;
	}
	.line04{
		top: 9%;
		right: -13%;
		width: 24%;			
	}
	.line05{
		bottom: 9%;
		right: 5%;
		width: 30%;
	}
	.line06{
		top: 9%;
		left: 5%;
		width: 30%;
	}
	.line07{
		top: 8%;
		left: 5%;
		width: 27%;
	}
	.line08{
		bottom: 10%;
		right: 1%;
		width: 33%;
	}
	.line09{
		bottom: -12%;
		left: -11%;
		width: 27%;
	}
	.line10{
		top: -7%;
		left: 37%;
		width: 30%;
	}
	.line11{
		bottom: -1%;
		right: 3%;
		width: 35%;
	}
	.line12{
		bottom: -10%;
		left: 4%;
		width: 27%;	
	}
	.line13{
		top: -43%;
		right: 0%;
		width: 33%;
	}
	.line14{
		bottom: -33%;
		left: 2%;
		width: 27%;
	}
	.line15{
		top: -22%;
		right: -2%;
		width: 33%;
	}
	.line16{
		bottom: 6%;
		left: 2%;
		width: 24%;
	}
	.line17{
		top: -37%;
		right: 0%;
		width: 27%;
	}
}
