@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#forum{
	.btn{
		display: inline-block;
	    border: 2px solid #000;
	    width: 215px; height: 45px;
	    text-align: center;
	    font: 500 12px/45px 'NotoSansKR','nanumgothic';
	    color: #000;
		.link_arrow{
			display:inline-block;
		    position: relative;
		    top: -2px;
		    width: 14px;
		    height: 14px;
		    background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
		    background-position: 0 0;
		    margin-left: 10px;
		    vertical-align: middle;
			&.wt{
				background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
			}
		}
		&.white{
			border: 2px solid #fff;
			color: #fff;
		}
	}

	.section{
		overflow: hidden;
		padding: 40px 20px;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		.text_box{
			padding-top: 25px;
			color: #fff;
			text-align: center;
			h2{
				font: 16px/20px 'adihaus-bold';
				letter-spacing: 5px;
				text-transform: uppercase;
				text-align: center;
			}
			p{
				font: 300 11px 'NotoSansKR';
				letter-spacing: -0.05em;
				padding: 5px 0 15px;
				text-align: center;
			}
		}
		.slide_box{
			img{
				display: block;
				width: 100%;
			}
		}
	}

	.section_01{
		margin-top: 50px;
		padding: 0 20px;
		.section_img_wrap{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	.section_02{
		padding: 50px 20px;
		.section_text_wrap{
			text-align: center;
			box-sizing:
			border-box;
			h1{
				text-align: center;
				font: 16px/16px 'adihaus-bold';
				color: #000;
				letter-spacing: 5px;
			}
			h3{
				text-align: center;
				font: 300 12px 'NotoSansKR';
				color: #000;
				letter-spacing: -0.05px;
				padding: 15px 0;
			}
		}
	}
	.section_03{
		background: url('/images/adidas/event/forum/section_03.jpg') 0 0 no-repeat;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.section_04{
		background: url('/images/adidas/event/forum/section_04.jpg') 0 0 no-repeat;
		 box-sizing: border-box;
		 -webkit-box-sizing: border-box;
	 }
	.section_05{
		background: url('/images/adidas/event/forum/section_05.jpg') 0 0 no-repeat;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.section_06{
		background: url('/images/adidas/event/forum/section_06.jpg') 0 0 no-repeat;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.section_07{
		background: url('/images/adidas/event/forum/section_07.jpg') 0 0 no-repeat;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.section_08{
		padding: 0;
		img{
			width: 100%;
		}
	}

	.banner_slider_wrap{
		position: relative;
		.swiper_element{
			overflow: hidden; width: 100%;
			padding-bottom: 76.1194%;
			position: relative;
			top: 0;
			left: 50%;
			margin-left: -50%;
			ul{
				overflow: hidden;
				width: 300%;
				position: absolute;
				top: 0;
				left: 0;
				li{
					position:relative;
					float: left;
					width: 100%;
					padding-bottom: 76.1194%;
					background: pink;
					img{
					}
				}
			}
		}
	}

}
