@import "./mobile/MO/reebok/css/scss/about.scss";
@font-face {
	font-family: 'adinenuPro-black';
	src: url('/fonts/adineuePro/woff/adineuePRO-Black.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-bold';
	src: url('/fonts/adineuePro/woff/adineuePRO-Bold.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-regular';
	src: url('/fonts/adineuePro/woff/adineuePRO-Regular.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-light';
	src: url('/fonts/adineuePro/woff/adineuePRO-Light.woff') format('woff');
}
.campaign.blackfriday{

    //common
    .btn{
        display: inline-block;
        // background: #000;
        text-align: center;
        a{
            position: relative;
            display: block;
            font: 500 1rem/40px 'NotoSansKR';
            color: #fff;
            /* padding: 0 3rem; */
            letter-spacing: .1rem;
            width: 131px;
            span{
                display: inline-block;
                width: 20px;
                height: 9px;
                background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 18px;
            }
            &:after{
                display: inline-block;
                content: '';
                border: 1px solid #000;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                transform: translate(3px, 3px);
            }
        }
    }
    img{
        width:100%;
    }
    .main-visual{
        position: relative;
        img{
            width:100%;
        }
    }
    .time-counting{
        position: relative;
        padding:3rem 0;
        p{
            text-align: center;
            &.title{
                padding:0 0 1rem 0;
                font:1.8rem 'adinenuPro-bold';
                letter-spacing: 1px;
            }
        }
        .time-table{
            display: flex;
            .time-box{
                flex:1;
                text-align: center;
                span,em{
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                span{
                    font:3.5rem 'adinenuPro-bold';
                }
                em{
                    font:1.3rem 'adinenuPro-light';
                    letter-spacing: 1px;
                }
            }
        }
    }
    .items-slider{
        position: relative;
        left:-35px;
        padding: 2rem 5rem 2rem 15px;
        .item-box{
            .txt-box{
                margin-left: 22px;
                padding: 1.3rem 0 0 0;
                p{
                    font: 2rem/2.1rem 'adinenuPro-bold';
                    letter-spacing: 0px;   
                    &.date{
                        padding: 0 0 .5rem 0;
                        font: 1.8rem 'adinenuPro-bold';
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}


// winter END
