@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#spezial{
	.main{
		position: relative;
		img{
			width: 100%;
		}
		.video{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width: 70px;
			img{
				width: 100%;
			}
		}

	}
	.button_area{
		    background: rgba(230, 229, 224, 1);
		div{
    		margin: 39px 50px;
			a{
				height: 42px;
				line-height: 42px;
				font-size: 13px;
			}
		}
	}
	.banner_slider_wrap{
		ul{
			li{
				a{
					img{
						width: 100%;
					}
				}
			}
		}
		.owl-controls{
			margin: 20px 0;
			.owl-dots{
				text-align: center;
				.owl-dot{
					margin: 0 5px;
					display: inline-block;
					width: 10px;
					height: 10px;
    				background: #b7b7b7;
					border-radius: 50px;
					-webkit-border-radius: 50px;
					&.active{
					    background: #0065BD;
					}
				}
			}
		}
	}
}
