@font-face {
    font-family: 'adiPictoRegular';
    src:url('/fonts/adipictos/adipictos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Will be deleted */
@font-face{
	font-family: 'NotoSansKRBold';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRThin';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRLight';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRRegular';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}
/* Will be deleted END */

@font-face{
	font-family: 'NotoSansKR';
    font-weight: 100;
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
    font-weight: 300;
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
    font-weight: 400;
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
    font-weight: 500;
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
    font-weight: 700;
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face {
	font-family: 'reefont-bold';
    src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Bold.eot');
	src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Bold.eot?#iefix') format('embedded-opentype'),
	     url('http://imagem.reebok.co.kr/fonts/mygirl/TTF/ReefontTT-Bold.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont-condensed';
    src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Condensed.eot');
	src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Condensed.eot?#iefix') format('embedded-opentype'),
	     url('http://imagem.reebok.co.kr/fonts/mygirl/TTF/ReefontTT-Condensed.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont-light';
    src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Light.eot');
	src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Light.eot?#iefix') format('embedded-opentype'),
	     url('http://imagem.reebok.co.kr/fonts/mygirl/TTF/ReefontTT-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont';
    src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Regular.eot');
	src: url('http://imagem.reebok.co.kr/fonts/mygirl/EOT/ReefontTT-Regular.eot?#iefix') format('embedded-opentype'),
	     url('http://imagem.reebok.co.kr/fonts/mygirl/TTF/ReefontTT-Regular.ttf')  format('truetype');
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondBlack.woff') format('woff');
	font-weight:900;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondBold.woff') format('woff');
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondMedium.woff') format('woff');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-Cond.woff') format('woff');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondLight.woff') format('woff');
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('/fonts/dinpro/DINPro-Regular.woff2') format('woff2'),
	url('/fonts/dinpro/DINPro-Regular.woff') format('woff'),
	url('/fonts/dinpro/DINPro-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('/fonts/dinpro/DINPro-Bold.woff2') format('woff2'),
	url('/fonts/dinpro/DINPro-Bold.woff') format('woff'),
	url('/fonts/dinpro/DINPro-Bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('/fonts/dinpro/DINPro-Black.woff') format('woff'),
    url('/fonts/dinpro/DINPro-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'QStencil';
  src: url('/fonts/QStencil/woff/Q-Stencil.woff') format('woff');
}

@font-face{
	font-family:'PFDinMonoPro-Bold';
	src:url('/fonts/PFDINMonopro/PFDINMonoPro-Bold.eot') format('embedded-opentype'),
		url('/fonts/PFDINMonopro/PFDINMonoPro-Bold.otf') format('opentype'),
		url('/fonts/PFDINMonopro/PFDINMonoPro-Bold.ttf') format('truetype'),
		url('/fonts/PFDINMonopro/PFDINMonoPro-Bold.woff') format('woff'),
		url('/fonts/PFDINMonopro/PFDINMonoPro-Bold.woff2') format('woff2');
}

@font-face{
	font-family:'MixolydianTT Black';
	src:url('/fonts/MixolydianTT/MixolydianTT-Black.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Black IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-Black-IT.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Bold';
	src:url('/fonts/MixolydianTT/MixolydianTT-Bold.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Bold IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-Bold-IT.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Regular';
	src:url('/fonts/MixolydianTT/MixolydianTT-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Regular IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-Regular-IT.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Light';
	src:url('/fonts/MixolydianTT/MixolydianTT-Light.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT Light IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-Light-IT.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT EL';
	src:url('/fonts/MixolydianTT/MixolydianTT-EL.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT EL IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-EL-IT.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT UL';
	src:url('/fonts/MixolydianTT/MixolydianTT-UL.ttf') format('truetype');
}
@font-face{
	font-family:'MixolydianTT UL IT';
	src:url('/fonts/MixolydianTT/MixolydianTT-UL-IT.ttf') format('truetype');
}