@import "./mobile/MO/reebok/css/scss/about.scss";

.ati{
    .btn{
        display: block;
        a{
            display: block;
            border: 2px solid #fff;
            font: 1rem/3.3rem 'NotoSansKR';
            text-align: center;
            color: #fff;
            margin: 15px 0 0 0;
            background:rgba(0,0,0,0.1);

            span{
                display: inline-block;
                width: 16px;
                height: 10px;
                background: url(/images/reebok/2019/event/ati/icon_arrow.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 10px;

            }
        }
    }
    .main{
        position: relative;
        img{
            width:100%;
        }
        .inn{
            position: absolute;
            bottom: 10%;
            width: 100%;
            z-index: 1;
            p{
                color:#fff;
                font:1.2rem 'NotoSansKR';
                text-align:center;
            }
            .btn{
                margin: 0 2rem;
                a{
                    display: block;
                    border: 2px solid #fff;
                    font: 1.2rem/4rem 'NotoSansKR';
                    text-align: center;
                    color: #fff;
                    margin: 15px 0 0 0;
                }
            }
        }
    }
    .section{
        position: relative;
        &.section2{
            background:url('/images/reebok/2019/event/ati/sec2_bg.jpg') no-repeat;
            background-size:100% 100%;
            .img{
                padding: 25px 2rem 40px 17rem;
                position: relative;
            }
            &:after{
                content: '';
                display: block;
                width: 10rem;
                height: 10rem;
                position: absolute;
                bottom: 21%;
                right: 0;
                background: #bfde18;
            }
            .collection_cut{
                position: relative;
                margin: 0 2rem;
                overflow: hidden;
                z-index: 2;
                padding-bottom: 6%;

            }
        }
        &.section1{
            background:url('/images/reebok/2019/event/ati/sec1_bg.jpg') no-repeat;
            background-size:100% 100%;
            z-index: 1;
            .img{
                padding: 0 2rem 0px 2rem;
                position: relative;
                top: -35px;
            }
            &:after{
                content: '';
                display: block;
                width: 9rem;
                height: 22rem;
                position: absolute;
                bottom: -12%;
                left: 0;
                background: #e31c77;
            }
            .collection_cut{
                position: relative;
                margin: 0 2rem 0 6rem;
                overflow: hidden;
                z-index: 2;
                padding-bottom: 6%;

            }
        }
        .img{
            img{
                width:100%;
            }
        }
        .collection_cut{

            ul{
                li{
                    position: relative;
                    float: left;
                    img{
                        width:100%;
                    }
                }
            }
            .num_paging{
                a{
                    display: inline-block;
                    margin-top: 12px;
                    width: 10px;
                    height:10px;
                    background: #fff;
                    &.on{
                        border:0px;
                        background: #0dd9e9;
                    }
                }

            }
        } 
        .bottom{
            margin-top:1rem;
            position: relative;
            padding: 0 2rem 3rem 2rem;
            .btn{
                position: absolute;
                bottom:3rem;
                right:2rem;
                width:48%;
            }
            img{
                width: 9rem;
            }
        }
    }
}


// ati END
