@import "./app/MO/reebok/css/scss/about.scss";

.clubc_gigi_hadid{
    .main{
        .bg{
            img{
                width: 100%;
            }
        }
    }
    .about{
        position: relative;
        background: url('http://imagem.reebok.co.kr//images/reebok/about/clubc_gigi_hadid/middle_bg.jpg') no-repeat;
        background-position: center;
        background-size: 100% 100%;
        h2{
            padding-bottom: 2rem;
        }
        .txt{
            position:relative;
            text-align: center;
            padding: 3rem 2rem 4rem;
            img{
                width: 100%;
            }
            a{
                display: inline-block;
                padding: 0 40px;
                font:400 1.2rem/40px 'NotoSansKR';
                border: 1px solid #000;
                background: rgba(255,255,255,0.4);
                color:#000;
            }
        }
    }
    .video_visual{
        .bg{
            video{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                -webkit-object-fit: cover;
                object-fit: cover;
            }
        }
        h2{
            margin-bottom: 2rem;
            text-align: center;
            color:#fff;
            font-size: 6rem;
            img{
                width: 70%;
            }
        }

        .desc{
            margin-bottom: 2rem;
            font:500 2rem/1.3rem 'dinpro cond';
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        .main_sub{
            text-align: center;
            padding:0 9rem;
            img{
                width: 80%;
            }
        }

        .video-btn{
            margin: 0 auto;
        }
    }

    .collections{
        padding: 0 1.5rem 1.5rem;
        background: #5c5c5c url('http://imagem.reebok.co.kr//images/reebok/about/clubc_gigi_hadid/col_bg.jpg') 0 0 repeat;
        background-size: 100% auto;

        h3{
            padding: 3.5rem 0px 1.8rem;
            color: #fff;
            font:700 2.4rem 'dinpro cond';
            text-align: center;
            text-transform: uppercase;
        }

        .num_paging{
            padding: 1rem 0px;

            .on{
                background: #fff;
                color: #000;
                border-color: #fff;
            }
        }

        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
            }

            .navi{
                position: absolute;
                top:50%;
                margin-top: -16.5px;
                width: 100%;
                text-align: center;
                img{
                    width: 50%;
                }
                a{
                    width: 3rem;
                    img{ width: 100%; }
                    &.next{
                        position: absolute;
                        right:0;
                    }
                    &.prev{
                        position: absolute;
                        left:0;
                    }
                }
                .next{
                    position: absolute;
                    right:0;
                    text-align: right;
                    img{
                        width: 40%;
                        margin-right: 1rem;
                    }
                }
                .prev{
                    position: absolute;
                    left:0;
                    text-align: left;
                    img{
                        width: 40%;
                        margin-left: 1rem;
                    }
                }
            }

        }
        // collection_cut end
        .num_paging{
                padding: 1rem 0px;
                a{
                    margin: 0 5px;
                    background: rgba(255,255,255,0.3);
                    border:0;
                    width: 12px;
                    height: 12px;
                    border-radius: 26px;
                    display: inline-block;
                    border:none;
                    background: #6c6c6c;
                    box-sizing: border-box;
                    color: #fff;
                    font: 16px/26px 'reefont-condensed';
                    transition-duration: 0s;
                    -webkit-transition-duration: 0s;
                }

                .on{
                    background: #fff;
                    color: #000;
                    border-color: #fff;
                }
            }

        .prodlist_wrap{
            position: relative;

            .prodlist{
                // position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;

                .tit{

                }
            }

            .active{
                opacity: 1;
                z-index: 2;
            }
            .fake{
                position: relative;
                opacity: 0;
                visibility: hidden;
            }

        }
    }


}
// clubc_gigi_hadid end
