@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ultra_boost {
	position: relative;	
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			height: 40px;
			line-height: 38px;
			letter-spacing: 1px;
			position: relative;
			span.arrow{
				margin-left: 20px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}	
	.ct{
		position: absolute;
		top:50%;
		left:50%; 
		transform: translate(-50%,-50%);
	}
	img{
		width:100%;
	}

	.top_wrapper{
		position: relative;
		.top_img{				
			img{				
				width: 100%;			
				display: block;			 
			}			
		}
		.top_txt{
			position: absolute;
			top:10%;
			left:5%;
			
			white-space: nowrap;
			text-align: left;
			.logo{
				display: block;
				width: 25%;
				margin-bottom: 1rem;
				img{
					width: 100%;
					display: block;
				}
			} 
			h1{
				font: 1.5rem/1.5rem 'adinenuPro-regular';
				color: #000;
				text-align: left;
				letter-spacing: 1px;
				text-transform: uppercase;
				span{
					font-family: 'adinenuPro-bold';
					letter-spacing: 1px;
				}
			}
			p{
				padding-top: 3px;
				font: 300 0.8rem/1.1rem 'NotoSansKR';
				color: #000;
				text-align: left;
				letter-spacing: 0;
			}
			.button_area_v2{
				margin: 0.5rem 0 0;
			}
		}
	}

	.cont_wrapper{
		>div {
			position: relative;
			.img_area{
				img{				
				width: 100%;			
				display: block;			 
				}	
			}		
		}
	}

	.btt_wrapper{
		position: relative;
		background-color: #e93c21;
		padding-top: 33%;
		.btt_txt{
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			white-space: nowrap;
			text-align: center; 
			h1{
				font: 1.6rem 'adinenuPro-regular';
				color:#000;
				text-align: center;
				letter-spacing: 0px;
				text-transform: uppercase;
				span{
					font: 1.6rem 'adinenuPro-bold';
					color:#000;
					letter-spacing: 0px;
				}
			}			
			.button_area_v2{
				margin: 1rem auto 0;
			}
		}
	}
}

@media screen and (max-width: 380px) {
	// #ultra_boost {
	// 	.top_wrapper {
	// 		.top_txt {
	// 			.button_area_v2 {
	// 				margin: 65% 0 0;
	// 			}
	// 		}
	// 	}
	// }
}

