@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#keycityseoul{
	position: relative;
	padding-top: 61px;	
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			height: 40px;
			line-height: 38px;
			letter-spacing: 1px;
			position: relative;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}	
	.ct{
		position: absolute;
		top:50%;
		left:50%; 
		transform: translate(-50%,-50%);
	}
	img{
		width:100%;
	}

	.top_wrapper{
		position: relative;
		.top_img{				
			img{				
				width: 100%;			
				display: block;			 
			}			
		}
		.top_txt{
			position: absolute;
			top:10%;
			left:8%;
			
			white-space: nowrap;
			text-align: left; 
			h1{
				font: 2rem/2.4rem 'adinenuPro-regular';
				color:#fff;
				text-align: left;
				letter-spacing: 2px;
				span{
					font: 2rem/2.4rem 'adinenuPro-bold';
					color:#fff;
					letter-spacing: 2px;
				}
			}
			p{
				font: 400 1rem/1.4rem 'NotoSansKR';
				color:#fff;
				text-align: left;
				letter-spacing: 0;
			}
			.button_area_v2{
				margin: 1rem 0;
			}
		}
	}

	.cont_wrapper{
		.cont01_1{
			position: relative;
			.img_area{
				img{				
				width: 100%;			
				display: block;			 
				}	
			}
			.txt_area{
				position: absolute;
				top: 54%;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				p{
					font: 300 1.1rem/1.4rem 'NotoSansKR';
					color:#fff;
					text-align: center;
					letter-spacing: 0;
					white-space: nowrap;
				}				
			}			
		}
		.cont01_2{
			position: relative;
			.img_area{
				img{				
				width: 100%;			
				display: block;			 
				}	
			}
			.txt_area{
				position: absolute;
				bottom: 44%;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				width: 100%;
				p{
					font: 300 0.9rem/1.3rem 'adinenuPro-regular';
					color:#fff; 
					text-align: center;		
					letter-spacing: 1px;	
					span{
						font: 300 1.5rem/1.4rem 'adinenuPro-bold';
						margin-top: 25px;
						display: block;
						letter-spacing: 1px;
					}
				}				
			}			
		}
	}

	.btt_wrapper{
		position: relative;
		.top_img{				
			img{				
				width: 100%;			
				display: block;			 
			}			
		}
		.top_txt{
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			white-space: nowrap;
			text-align: center; 
			h1{
				font: 2rem/2.4rem 'adinenuPro-regular';
				color:#fff;
				text-align: center;
				letter-spacing: 2px;
				span{
					font: 2rem/2.4rem 'adinenuPro-bold';
					color:#fff;
					letter-spacing: 2px;
				}
			}			
			.button_area_v2{
				margin: 3rem auto 0;
			}
		}
	}
}
