@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#mutator{
	position: relative;
	
	.top_video{
		position: relative;
		margin-bottom: -1%;		    
		video{
			width: 100%;
		}
		.top_txt{
			position: absolute;
			top:60%;
			left:8%;
			
			white-space: nowrap;
			text-align: left; 
			h1{
				font: 2.5rem/3rem 'adinenuPro-bold';
				color: #fff;
				text-align: left;
				letter-spacing: 1px;
				span{
					font:700 2.2rem/2rem 'NotoSansKR';
					color: #fff;
					letter-spacing: 3px;
				}
			}
			p{
				font: 400 1.1rem/1.6rem 'NotoSansKR';
				color: #fff;
				text-align: left;
				letter-spacing: 1.5px;
			}
			.button_area_v2{
				margin: 3rem 0;
				width: 70%;
				a{
					height: 45px;
					font: 500 14px/45px 'NotoSansKR';
				}
			}
		}
	}

	.statement{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.statement_txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			h4{
				text-align: center;
				color:#fff;
				font:700 2rem/0.5rem 'NotoSansKR';
				letter-spacing: 2px;
				white-space: nowrap;
			}
			p{
				text-align: center;
				color:#fff;
				font:300 1.1rem/1.8rem 'NotoSansKR';
				margin-top: 35px;
				letter-spacing: 1px;
				white-space: nowrap;
			}
		}

	}

	.mid_video{
		position: relative;
		margin-bottom: -1%;		    
		video{
			width: 100%;
		}		
	}

	.cont1_area{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			bottom:13%;
			right: 5%;
			h3{
				font:700 1.8rem/2rem 'NotoSansKR';
				color:#fff;				
				text-align: right;
				letter-spacing: 1px;
			}
			p{
				font:400 1.1rem/3rem 'NotoSansKR';
				color:#fff;
				text-align: right;
				letter-spacing: 0.4px;
			}			
		}
	}

	.cont2_area{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			bottom:6%;
			left: 5%;
			h3{
				font:700 1.8rem/2rem 'NotoSansKR';
				color:#fff;				
				text-align: left;
				letter-spacing: 1px;
			}
			p{
				font:400 1.1rem/3rem 'NotoSansKR';
				color:#fff;
				text-align: left;
				letter-spacing: 0.4px;
			}			
		}
	}

	.list_area1{
		position: relative;		
		background-color: #fff;		
		ul{
			
			li{
				position: relative;
				width: 85.5%;					
				margin:2.5rem auto;
				padding-top: 36%;
				.bg{
					position: absolute;
					top:0;
					left: 0;
					>img{
					width: 100%;
					display: block;
				}
				}
				.txt{
					position: absolute;
					bottom: 10%;
					left:50%;
					transform: translateX(-50%);
					text-align: center;
					p{
						text-align: center;
						font:700 1.5rem/1.8rem 'NotoSansKR';
						color:#fff;
						span{
							font:1.5rem/1.8rem 'adinenuPro-bold';
							color: #fff;
							text-align: center;
							letter-spacing: 3px;
							white-space: nowrap;
						}
					}					
				}

			}			
		}
	}

	.bot_video{
		position: relative;
		margin-bottom: -1%;		    
		video{
			width: 100%;
		}		
	}

	.list_area2{
		position: relative;		
		background-color: #fff;		
		ul{
			
			li{
				position: relative;
				width: 85.5%;					
				margin:2.5rem auto;
				padding-top: 36%;
				.bg{
					position: absolute;
					top:0;
					left: 0;
					>img{
					width: 100%;
					display: block;
				}
				}
				.button_area_v2{
					width: 39%;
					position: absolute;
					bottom: 10%;
					left: 50%;
					transform: translateX(-50%);
					a{
						height: 45px;
    					font: 500 14px/45px 'NotoSansKR';
					} 
				}

			}			
		}
	}
	
	
}
