@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#originals_imvely{
	.main{
		img{
			width: 100%;
		}
	}
	.owl-nav{
		display: none;
	}
	.banner_slider_wrap{
		.link_wrap{
			.link{
				position: absolute;
				&.white{
					>*{
						color:#fff;
					}
					.title{
						span{
							background: #fff;
						}
					}
				}
				p{
					text-align: left;
					padding: 0 0 6px 23px;
					font:12px 'Adihaus-regular';
					color:#000;
					letter-spacing: 0.5px;
					&.title{
						position: relative;
						font:bold 18px/20px 'Adihaus-regular';
						span{
							position: absolute;
						    left: 9px;
						    top: 3px;
						    display: inline-block;
						    background: #000;
						    width: 2px;
						    height: 15px;
						    transform: rotate(45deg);
						}
					}
				}
				a{
					padding-left: 23px;
				    font: 12px 'NotoSansKRBold';
				    color: #000;
				    letter-spacing: 0.7px;
				    display: block;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    padding-top: 40px;
				    top: 0;

					&:after{
						margin-left: 5px;
					}
				}
			}
		}
		&.swift{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg1.jpg') no-repeat;
			background-size:100% 100%;
			.link_wrap{
				.link{
					position: absolute;
				    top: 32%;
				    left: 18%;
					&.item2{
						top:70%;
						left:10%;
					}
				}
			}

		}
		&.campus{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg2.jpg') no-repeat;
			background-size:100% 100%;
			.main_cut{
				.link_wrap{
					.link{
						&.item1{
							top: 24%;
							left: 17%;
						}
						&.item2{
							top: 72%;
						    left: 40%;
						}
					}
				}
			}

		}
		&.tubular{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg3.jpg') no-repeat;
			background-size:100% 100%;
			.main_cut{
				.link_wrap{
					.link{
						&.item1{
							top: 14%;
						    left: 59%;
							a{
								padding-top:40px;
							}
						}
						&.item2{
							top: 85%;
						    left: 29%;
							a{
								padding-top:62px;
							}
						}
					}
				}
			}
		}
		.main_cut{
			h2{
				padding: 30px 0 5px 0;
				font: 2.8rem/2.5rem 'AdihausDIN-Bold';
			    text-align: center;
			    text-transform: uppercase;
			    color: #fff;
			    letter-spacing: 15px;
			}
			p{
				padding: 0 0 30px 0;
				text-align: center;
				color:#fff;
				font-size: 12px;
			    line-height: 17px;
				font-weight: 300;
			}
			.img{
				position: relative;
				img{
					width: 100%;
				}
			}
		}
		ul{
		    position: relative;
			padding: 4rem 0 8rem;

			&#slider_owl2{
				padding: 4rem 0 4rem;

				li{
					&.li1{
						.link_wrap{
							.link{
								&.item1{
									top:8%;left:39%;
								}
								&.item2{
									top: 52%;
								    left: 67%;
								}
							}
						}
					}
					&.li2{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 93%;
								    left: 68%;
								}
							}
						}
					}
					&.li3{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 0%;
								    left: 55%;
								}
								&.item2{
									top: 20%;
								    left: 38%;
								}
							}
						}
					}
					&.li4{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 79%;
								    left: 6%;
								}
							}
						}
					}
				}

			}

			&#slider_owl3{
				padding: 4rem 0 6rem;
				li{
					&.li1{
						.link_wrap{
							.link{
								&.item1{
									top: 6%;
								    left: 5%;
								}
								&.item2{
									top: 84%;
								    left: 70%;
									a{
										padding-top: 62px;
									}
								}
							}
						}
					}
					&.li2{
						.link_wrap{
							.link{
								&.item1{
									top: 86%;
								    left: 4%;
									a{
										padding-top: 62px;
									}
								}
							}
						}
					}
					&.li3{
						.link_wrap{
							.link{
								&.item1{
									top: 85%;
								    left: 65%;
									a{
										padding-top: 62px;
									}
								}
							}
						}
					}
					&.li4{
						.link_wrap{
							.link{
								&.item1{
									top: 6%;
								    left: 34%;
								}
								&.item2{
									top: 80%;
								    left: 21%;
								}
							}
						}
					}
				}

			}

			li{
				width: 100%;
				&.li1{
					.link_wrap{
						.link{
							&.item1{
								top: 22%;
								left: 18%;
							}
							&.item2{
								top: 52%;
							    left: 60%;
							}
						}
					}
				}
				&.li2{
					.link_wrap{
						.link{
							&.item1{
								top: 51%;
								left: 9%;
							}
						}
					}
				}
				&.li3{
					.link_wrap{
						.link{
							&.item1{
								top: 51%;
								left: 9%;
							}
						}
					}
				}
				&.li4{
					.link_wrap{
						.link{
							&.item1{
								top: 16%;
							    left: 31%;
							}
							&.item2{
								top: 54%;
							    left: 36%;
							}
						}
					}
				}
				&.li5{
					.link_wrap{
						.link{
							&.item1{
								top: 21%;
							    left: 31%;
							}
							&.item2{
								top: 74%;
							    left: 14%;
							}
						}
					}
				}
				.slider_inn{
					.img{
						position: relative;
						img{
							width: 100%;
						}
					}
				}

			}
			.owl-controls{
				position: absolute;
				width: 100%;
    			bottom: 5%;
				.owl-dots{
					text-align: center;
					.owl-dot{
						display: inline-block;
					    background: #fff;
					    width: 3px;
					    height: 24px;
					    transform: rotate(45deg);
					    margin: 0 0.8rem;
						opacity: 0.3;
						-webkit-opacity: 0.3;
						&.active{
							opacity: 1;
							-webkit-opacity: 1;
						}
					}
				}
			}
		}
	}
	.bottom{
		text-align: center;
	    padding: 2rem 8.5rem 0;
		img{
			width: 100%;
		}
	}
}
