@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#originals_imvely{
	.main{
		img{
			width: 100%;
		}
	}
	.banner_slider_wrap{
		.link_wrap{
			.link{
				position: absolute;
				&.white{
					>*{
						color:#fff;
					}
					.title{
						span{
							background: #fff;
						}
					}
				}
				p{
					text-align: left;
				    padding: 0 0 6px 23px;
				    font: 11px/11px 'Adihaus-regular';
				    color: #000;
				    letter-spacing: 0.1px;
					&.title{
						position: relative;
					    font: bold 15px/15px 'Adihaus-regular';
						span{
							position: absolute;
						    left: 9px;
						    top: 3px;
						    display: inline-block;
						    background: #000;
						    width: 2px;
						    height: 15px;
						    transform: rotate(45deg);
						}
					}
				}
				a{
					padding-left: 23px;
				    font: 11px/11px 'NotoSansKRBold';
				    color: #000;
				    letter-spacing: 0.5px;
				    display: block;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    padding-top: 37px;
				    top: 0;
					&:after{
						margin-left: 5px;
					}
				}
			}
		}
		&.swift{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg1.jpg') no-repeat;
			background-size:100% 100%;
			.main_cut{
				.link_wrap{
					.link{
						position: absolute;
						top: 32%;
						left: 18%;
						&.item2{
							top:70%;
							left:10%;
						}
					}
				}
			}
		}
		&.campus{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg2.jpg') no-repeat;
			background-size:100% 100%;
			.main_cut{
				.link_wrap{
					.link{
						&.item1{
							top: 24%;
							left: 17%;
						}
						&.item2{
							top: 83%;
						    left: 61%;
						}
					}
				}
			}

		}
		&.tubular{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/originals_imvely/bgimg3.jpg') no-repeat;
			background-size:100% 100%;
			.main_cut{
				.link_wrap{
					.link{
						&.item1{
							top: 16%;
						    left: 59%;
						}
						&.item2{
							top: 88%;
						    left: 34%;
							a{
								padding-top:52px;
							}
						}
					}
				}
			}
		}
		.main_cut{
			h2{
				padding: 30px 0 5px 0;
				font: 2.8rem/2.5rem 'AdihausDIN-Bold';
			    text-align: center;
			    text-transform: uppercase;
			    color: #fff;
			    letter-spacing: 15px;
			}
			p{
				padding: 0 0 30px 0;
				text-align: center;
				color:#fff;
				font-size: 12px;
			    line-height: 17px;
				font-weight: 300;
			}
			.img{
				position: relative;
				img{
					width: 100%;
				}
			}
		}
		ul{
		    position: relative;
			padding: 4rem 0 8rem;

			&#slider_owl2{
				padding: 4rem 0 4rem;

				li{
					&.li1{
						.link_wrap{
							.link{
								&.item1{
									top:9%;left:39%;
								}
								&.item2{
									top: 52%;
								    left: 67%;
								}
							}
						}
					}
					&.li2{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 95%;
								    left: 68%;
								}
							}
						}
					}
					&.li3{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 6%;
								    left: 56%;
								}
								&.item2{
									top: 26%;
								    left: 41%;
								}
							}
						}
					}
					&.li4{
						padding-bottom: 4rem;
						.link_wrap{
							.link{
								&.item1{
									top: 79%;
								    left: 6%;
								}
							}
						}
					}
				}

			}

			&#slider_owl3{
				padding: 4rem 0 7rem;
				li{
					&.li1{
						.link_wrap{
							.link{
								&.item1{
									top: 6%;
								    left: 8%;
								}
								&.item2{
									top: 85%;
						       		left: 73%;

									a{
										padding-top: 52px;
									}
								}
							}
						}
					}
					&.li2{
						.link_wrap{
							.link{
								&.item1{
									top: 87%;
								    left: 4%;
									a{
										padding-top: 52px;
									}
								}
							}
						}
					}
					&.li3{
						.link_wrap{
							.link{
								&.item1{
									top: 85%;
								    left: 65%;
									a{
										padding-top: 52px;
									}
								}
							}
						}
					}
					&.li4{
						.link_wrap{
							.link{
								&.item1{
									top: 8%;
								    left: 33%;
								}
								&.item2{
									top: 82%;
								    left: 16%;
								}
							}
						}
					}
				}

			}

			li{
				width: 100%;
				&.li1{
					.link_wrap{
						.link{
							&.item1{
								top: 22%;
								left: 18%;
							}
							&.item2{
								top: 53%;
							    left: 66%;
							}
						}
					}
				}
				&.li2{
					.link_wrap{
						.link{
							&.item1{
								top: 51%;
								left: 9%;
							}
						}
					}
				}
				&.li3{
					.link_wrap{
						.link{
							&.item1{
								top: 51%;
								left: 0%;
							}
						}
					}
				}
				&.li4{
					.link_wrap{
						.link{
							&.item1{
								top: 16%;
							    left: 34%;
							}
							&.item2{
								top: 58%;
							    left: 38.87%;
							}
						}
					}
				}
				&.li5{
					.link_wrap{
						.link{
							&.item1{
								top: 21%;
							    left: 31%;
							}
							&.item2{
								top: 75%;
							    left: 7%;
							}
						}
					}
				}
				.slider_inn{
					.img{
						position: relative;
						img{
							width: 100%;
						}
					}
				}

			}
			.owl-controls{
				position: absolute;
				width: 100%;
    			bottom: 5%;
				.owl-nav{
					width: 100%;
					div{
						position: absolute;
						background: url('/images/adidas/event/originals_imvely/arrow_next.png') no-repeat;
						background-size: 100% auto;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						width: 4rem;
						height: 3rem;
						text-indent: -9999px;
						z-index: 1;
						opacity: 0.5;
						-webkit-opacity: 0.5;
						&:hover{
							opacity: 1;
							-webkit-opacity: 1;
						}
						&.owl-prev{
							transform: rotate(-180deg);
							left:1.5rem;
						}
						&.owl-next{
							right:1.5rem;
						}
					}
				}
				.owl-dots{
					text-align: center;
					.owl-dot{
						display: inline-block;
					    padding: 0 1.2rem;
						opacity: 0.3;
						-webkit-opacity: 0.3;
						&.active{
							opacity: 1;
							-webkit-opacity: 1;
						}
						span{
							font:20px/3rem 'AdihausDIN-Bold';
							color:#fff;
						}
					}
				}
			}
		}
	}
	.bottom{
		text-align: center;
	    padding: 2rem 8.5rem 0;
		img{
			width: 100%;
		}
	}
}
