@import './mobile/css/adidas/scss/common/common.scss';

#smtm{
	position: relative;
	.button_area_v2{
		display: inline-block;
		margin-bottom: 2vh;
		a{
			font: 700 .9rem/32px 'NotoSansKR';
			padding: 0 5vw;
			letter-spacing: 0;
			height: 38px;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}
	img{
		width:100%;
	}
	.main{
		position: relative;
		border-bottom: 2px solid #e09853;
		.bg{
			img{
				width:100%;
			}
		}
		.b_box{
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			text-align: center;
			h1{
				padding: 5% 0;
				font: 1rem 'adinenuPro-bold';
				color: #fff;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;

				transition: all .4s;
				opacity: 0;
			}
			h3{				
				text-align: center;
				img{
					display: block;
					width: 100%;
				}
			}
			.vs_event{
				position: relative;
				img{
					display: block;
					width: 100%;
				}
				a{
					position: absolute;
					// background: rgba(0, 0, 0, 0.4);
					text-indent: -9999px;
				}
			}
			p{
				padding-top: 2rem;
				font: 500 1rem/1.8rem 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: normal;

				transition: all .4s;
				transition-delay: 0.4s;
				opacity: 0;
				span{
					display: inline-block;
					padding-top: 5px;
					font-size: 11px;
				}
			}
			.button_area_v2{
				margin: 1.5rem 0 0 0;

				transition: all .4s;
				transition-delay: .8s;
				opacity: 0;
				a{
					width: auto;
					height: 38px;
					padding: 0 20px;
					letter-spacing: 2px;
					font: 500 .9rem/38px 'NotoSansKR';
					span{
						margin-left: 0;
						transition: all .4s;
						transition-delay: 1s;
					}
				}
			}
		}
		&.on{
			.b_box{
				>*{
					opacity: 1;
				}
				.button_area_v2{
					a{
						span{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}

	.section_wrap{
		background: #fff;
		border-top: 6px solid #000;
		border-bottom: 6px solid #000;
		.sect_tit{
			text-align: center;
			h3{
				margin-top: -6px;
				display: inline-block;
				width: 80%;
				height: 3rem;
				background: #000;
				font: 500 1.3rem/3rem 'NotoSansKR';
				color: #fff;
				text-align: center;
			}
			p{
				font: 500 0.9rem/3rem 'adinenuPro-black';
				color: #000;
				text-align: center;
				letter-spacing: 2px;
			}
		}
		.nav_bar{
			margin: 25px 0 0;
			height: 48px;
			width: 100%;
			ul#row{
				position: relative;
				overflow: hidden;
				width: calc(75px * 4);
				background: #fff;
				margin: 0 auto;
				z-index: 10;
				&.on{
					position: fixed;
					top: 0;
					left: 50%;
					width: 100%;
					margin: 0 auto;
					transform: translateX(-50%);
					li{
						width: 25%;
					}
				}
				li{
					position: relative;
					float: left;
					width: 75px;
					text-align: center;
					a{
						font: 500 1.15rem/4rem 'NotoSansKR';
						color: #000;
					}
					&.on{
						&::after{
							display: inline-block;
							content: '';
							position: absolute;
							left: 50%;
							bottom: 9px;
							width: 50px;
							height: 3px;
							transform: translateX(-50%);
							background: #000;
						}
					}
				}
			}
		}	
		.section{
			// position: relative;
			.nav_area{
				display: block;
				width: 100%;
				height: 48px;
				background: #fff;
			}
			.sect_stylist{
				position: relative;
				height: 200px;
				text-align: center;
				span{
					position: absolute;
					top: 50%;
					left: 50%;
					&.ss_tit{
						transform: translate(-220%, -50%);
						font: 500 0.8rem/1.1rem 'adinenuPro-bold';
						color: #fff;
						letter-spacing: 2px;
					}
					&.ss_circle{
						transform: translate(-50%, -50%);
						display: inline-block;
						width: 150px;
						height: 150px;
						border: 8px solid #000;
						border-radius: 50%;

						transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
						img{
							// display: inline-block;
							transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
						}
					}
					&.ss_name{
						transform: translateY(-50%);
						margin-left: 100px;
						font: 500 1.1rem/1.1rem 'NotoSansKR';
						color: #fff;
						letter-spacing: 2px;

						transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
						transition-delay: 0.4s;
						opacity: 0;
					}
				}
				&::before{
					display: inline-block;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 1920px;
					height: 0;
					transform: translate(-50%, -50%);
					background: #000;

					transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					transition-delay: 0.2s;
				}
				&.on{
					.ss_name{
						transform: translateY(-50%);
						margin-left: 85px;
						opacity: 1;
					}
					&::before{
						height: 35px;
					}
				}
			}
			.sect_prdbox{
				position: relative;
				.banner_slider_wrap{
					ul{
						
						li{
							position: relative;
							width: 100%;
							// overflow-x: scroll;
							img{
								display: inline-block;
								width: 100%;
								// width: 140%;
							}
							a{
								position: absolute;
								display: inline-block;
								width: 19%;
								height: 3.2%;
								// background: rgba(255, 255, 255, 0.4);
							}
						}
						.owl-controls{
							width: 100%;
							text-align: center;
							.owl-nav{
								overflow: hidden;
								>div{
									display: inline-block;
									width: 35px;
									height: 35px;
									text-indent: -9999px;
									&.owl-prev{
										position: absolute;
										top: 48%;										
										left: 0;
										transform: translateY(-50%);
										background: url('/images/adidas/2019/event/originals/smtm/0809/prev.jpg') 0 0 no-repeat;
										background-size: cover;
									}
									&.owl-next{
										position: absolute;
										top: 48%;										
										right: 0;
										transform: translateY(-50%);
										background: url('/images/adidas/2019/event/originals/smtm/0809/next.jpg') 0 0 no-repeat;
										background-size: cover;
									}
								}
							}
							.owl-dots{
								padding-top: 1rem;
								width: 100%;
								>div{
									margin: 0 4px;
									display: inline-block;
									width: 10px;
									height: 10px;
									border: 1px solid #000;
									border-radius: 50%;
									box-sizing: border-box;
									&.active{
										background: #000;
									}
								}
							}
						}
					}
				}
				.slide_txt{
					min-height: 120px;
					h4{
						font: 500 1.5rem/1.5rem 'adinenuPro-black';
						color: #000;
						letter-spacing: 1px;
						text-align: center;
						text-transform: uppercase;
					}
					p{
						padding-top: 10px;
						font: 500 0.9rem 'NotoSansKR';
						color: #000;
						letter-spacing: normal;
						text-align: center;
						em{
							display: inline-block;
							text-indent: -9999px;
							width: 8px;
							height: 0.9rem;
							background: url('/images/adidas/2019/event/originals/smtm/em_01.jpg') left top no-repeat;
							background-size: contain;
							&.end{
								background: url('/images/adidas/2019/event/originals/smtm/em_02.jpg') left top no-repeat;
								background-size: contain;
							}
						}
					}
				}
			}
			.sect_prds{
				ul{
					overflow: hidden;
					li{
						float: left;
						width: 20%;
						margin-right: 3px;
						&:nth-child(1){width: 298px;}
						&:nth-child(2){width: 235px;}
						&:nth-child(3){width: 235px;}
						&:nth-child(4){width: 235px;}
						&:nth-child(5){
							margin-right: 0;
							width: 235px;
						}
						div.item{
							margin-bottom: 3px;
							background: #000;
							img{
								display: block;
								width: 100%;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.sect_buybox{
				padding: 3rem 0 2rem;
				text-align: center;
				h2{
					font: 500 1.4rem/1.4rem 'adinenuPro-black';
					color: #000;
					text-align: center;
					letter-spacing: 2px;
				}
				.button_area_v2{
					margin-top: 1.5rem;
				}
			}
		}
	}
	

	.section_line{
		display: none;
		position: relative;
		height: 1rem;
		background: #000;
	}
}

// @media screen and (max-width:320px) {
// 	.sect1{
// 		.ss_tit{
// 			transform: translate(-211%, -50%) !important;
// 		}
// 	}
// 	.sect2{
// 		.ss_tit{
// 			transform: translate(-248%, -50%) !important;
// 		}
// 	}
// }
