@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* 기본 색 셋팅 */
$black : #000;
$white: #fff;
$pointBrown : #472909;
$pointBeige : #dfc4a2;
$pointGold : #ca9b5e;

#ryderCup2018{
  >div{
    width: 100%;
    position: relative;
  }

  a{
    width: 54%;
    height: 10.6vw;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 23%;
    z-index: 10;
  }
}//#ryderCup2018

#ryderCup2018 #ryderIntro{
  padding-bottom: 26.6vw;
  position: relative;

  a{
    margin-bottom: 134%;
  }

  >img:nth-of-type(1){
    width: 100%;
  }

  >img:nth-of-type(2){
    width: 14.2%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6.6%;
    margin-bottom: -32.8vw;
  }

  >img:nth-of-type(3){
    width: 36%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -5vw;
  }

  .slide_content{
    >div{
      width: 100%;

      img{width: 100%;}
    }

    .swiper-pagination{
      padding-top: 20px;
    }

    .swiper-pagination-bullet{
        width: 14px;
        height: 14px;
        margin: 0 5px;
        background: #ecdbc6;
        opacity: 1;
    }

    .swiper-pagination-bullet-active{
        background: #dfc4a2;
    }
  }

}//#ryderCup2018 #ryderIntro

#ryderCup2018 #ryderContent{
  z-index: 5;

  a{
    margin-bottom: 13.5%;
  }

  >img{
    width: 100%;
  }

  >img:nth-of-type(1){
    width: 100%;
  }
}
