@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
#yearandsale{
	position: relative;
	a{
		outline: none;
	}
	.clearfix{
		content:'';
		display:block;
		clear:both;
	}
	.slick-dots {
		padding:1.5rem 0 1rem 0;
		text-align: center;
	}			
	.slick-dots li {
		display: inline-block;
		margin-right: 6px;
	}
	.slick-dots li button {
		width: 10px;
		height: 10px;
		background:#9c9c9c;
		border-radius:50%;
		border:0;
		padding: 0;
		text-indent: -9999px;
	}			
	.slick-dots li.slick-active button {
		background:#ba1521;
	}		
	.button_area_v2 {
		display: inline-block;
		a {
			height: 44px;
			font: 400 13px/43px 'NotoSansKR';
			letter-spacing: 1px;
			padding: 0 20px;
		}
		>div.gray {
			a {
				background: #1b1b1e;
				color: #fff;
				&::after{
					-webkit-box-shadow: inset 0 0 0 1px #1b1b1e;
					box-shadow: inset 0 0 0 1px #1b1b1e;
				}
			}
		}
	}
	span, p, em{
		letter-spacing: 1px;
	}
	.main_video{
		video{
			width:100%;
		}
		.main_txt{
			text-align:center;
			padding:3.8rem 0 5rem 0;
			h1{
				>img{
					width:60%;
				}
			}
			p{
				padding-top:1.3rem;
				font:500 0.9rem/1.5rem 'NotoSansKR';
				letter-spacing:0;
				color:#111;
			}
		}
	}
	.cont2_slider{
		position:relative;
		.cont2_bg{
			padding:1.7rem 0;
			background:url('/images/adidas/2020/event/yearandsale/cont2_bg.jpg')no-repeat;
			background-size:100% 100%;
			.cont2_slider01{
				.slick-slide{
					margin:0 1rem;
					>img{
						width:100%;
						margin:0 auto;
					}
				}

			}
		
		}	
	}
	.cont3_challenge{
		position:relative;
		.challenge_txt{
			text-align:center;
			padding:3.1rem 0 2rem 0;
			h2{
				>img{
					width:60%;
				}
			}
			p{
				padding:1.4rem 0 0.4rem 0;
				font:500 0.9rem/1.5rem 'NotoSansKR';
				letter-spacing:0;
				color:#111;				
			}
			em{
				font-style:normal;
				font:400 0.8rem/1.5rem 'NotoSansKR';
				letter-spacing:0;
				color:#111;						
			}
		}
		.cont3_list{
			position: relative;
			.cont3_list_wrap{
				>img{
					width:100%;
				}
			}	
			.cont3_list_txt{
				position:absolute;left:50%;top:76%;
				transform:translate(-50%, -50%);
				width:100%;
				text-align:left;
				margin-left:13%;

				p{
					font:600 0.9rem/1.5rem 'NotoSansKR';
					letter-spacing:0;
					color:#111;							
				}
				strong{
					display:block;
					padding:0.1rem 0 0.1rem 0;
					font:500 0.7rem/1.5rem 'NotoSansKR';
					letter-spacing:0;
					color:#111;			
					>span{
						padding:0.4rem 0;
					}
				}
				@media screen and (max-width:320px){
					strong{
						em{
							display:block;
						}
					}							
				}						
				ul{
					li{
						float:left;
						vertical-align: top;
						h4{
							font:900 0.8rem/1.5rem 'NotoSansKR';
							letter-spacing:0;					
							font-style:normal;
							color:#ba1521;							
						}
						p{
							margin-left:15px;
							font:500 0.8rem/1.5rem 'NotoSansKR';
							letter-spacing:0;					
							color:#111;		
							>em{
								font:500 0.8rem/1.5rem 'NotoSansKR';
								letter-spacing:0;					
								font-style:italic;
								color:#ba1521;								
							}
						}
						@media screen and (max-width:320px){
							p{
								margin-left:5px;
								font:500 0.5rem/1.5rem 'NotoSansKR';
								letter-spacing:-0.5px;
							}
						}								
						.cont3_n1{
							margin-left:15px;
							display:block;
							font:500 0.8rem/1.5rem 'NotoSansKR';
							letter-spacing:0;					
							color:#111;
							strong{
								display:inline-block;
								font:900 0.8rem/1.5rem 'NotoSansKR';
								letter-spacing:0;							
								color:#ba1521;
							}
						}						
						@media screen and (max-width:320px){
							.cont3_n1{
								margin-left:5px;
							}
							strong{
								em{
									display:block;
								}
							}							
						}			
			
					}
				}
				.cont3_n2{
					position:absolute;left:50%;top:111%;
					transform:translate(-50%, -50%);
					width:100%;					
					display:block;
					font:300 0.8rem/1.5rem 'NotoSansKR';
					letter-spacing:0;					
					color:#111;								
				}				
				@media screen and (min-width:414px){
					.cont3_n2{
						top:118%;
					}
				}			
				@media screen and (min-width:411px){
					.cont3_n2{
						top:117%;
					}
				}							
				@media screen and (max-width:320px){
					.cont3_n2{
						left:42%;
						top:110%;
					}
				}								
			}
		}
	}
	.cont4_gift{
		.cont4_coupon{
			padding:2.9rem 0;
			.coupon_txt{
				text-align:center;
				padding-bottom:1.9rem;
				strong{
					display:block;
					font:900 1.3rem/1.5rem 'NotoSansKR';
					letter-spacing:0;					
					color:#ba1521;		
					margin-right:7%;
					>span{
						position:relative;
						&::before{
							content:'';
							display:block;
							position:absolute;
							right:-60px;
							top:-2px;
							width:56px;
							height:41px;
							background:url('/images/adidas/2020/event/yearandsale/clock.png')no-repeat;
							background-size:60%;
						}
					}			
				}
				h2{
					padding:1.2rem 0 1.6rem 0;
					>img{
						width:60%;
					}
				}
				p{
					font:600 0.9rem/1.5rem 'NotoSansKR';
					letter-spacing:0;
					color:#111;		
					>span{
						font:600 0.9rem/1.5rem 'NotoSansKR';
						color:#ba1521;	
					}					
				}
				em{
					font:400 0.8rem/1.5rem 'NotoSansKR';
					letter-spacing:0;
					color:#111;							
				}
			}
			.coupon_list_wrap{
				position:relative;
				margin-top:1rem;
				.coupon_bg{
					background:url('/images/adidas/2020/event/yearandsale/coupon_bg2.jpg')no-repeat;
					background-size:100% 100%;
					padding:2rem 0 0 0;
					// padding-bottom:100%;
					.coupon_list{
						overflow: hidden;
						margin-top: -4rem;
						ul{
							position:relative;
							li{
								float:left;
								width:44%;
								margin:1% 1.5%;
								>a{
									display:block;
									>img{
										width:100%;
									}
								}
	
							}
							.le{
								margin-left:4.5%;
							}	
							.ra{
								margin-right:4%;
							}												
						}
					}
				}
				.coupon_slider{
					position:relative;
					background:url('/images/adidas/2020/event/yearandsale/coupon_bg3.jpg')no-repeat;
					background-size:100% 100%;		
					padding:3rem 0 3rem 0;
					text-align:center;
					.slider02{
						padding:4rem 0 0 0;
						width:100%;
						margin:0 auto;
						
						.slick-slide{
							img{
								width:70%;
								margin:0 auto;
								padding-top:2rem;
							}
						}

					}	
					.slick-dots {
						padding: 3.5rem 0 1rem 0;
						text-align: center;
						margin: 2rem 0 0rem 0;
					}						
					.button_area_v2{
						text-align:center;
						margin:0 0 0 0;
					}					
				}				
			}
		}
	}
	.gift_guide{
		padding:2.9rem 0 2.9rem 0;
		.guide_txt{
			text-align:center;
			h2{
				>img{
					width:60%;
				}
			}
			p{
				font:500 0.9rem/1.5rem 'NotoSansKR';
				letter-spacing:0;
				color:#111;		
				padding:0.9rem 0 1.7rem 0;				
			}
			.button_area_v2{
				a{
					background:#ba1521;
					&::after{
						-webkit-box-shadow: inset 0 0 0 1px #ba1521;
						box-shadow: inset 0 0 0 1px #ba1521;
					}					
				}
			}
		}
		.guide_list{
			padding:3rem 2.3rem 0 2.3rem;
			overflow: hidden;
			ul{
				li{
					float:left;
					width:48%;
					margin-right:4%;
					padding-bottom:0.8rem;
					a{
						display:block;
						>img{
							width:100%;
						}
						.txt{
							background: #858585;
							background: -webkit-linear-gradient(300deg,#858585, #b6b6b6, #fff, #858585);
							background: -moz-linear-gradient(300deg,#858585, #b6b6b6, #fff, #858585);
							background: -o-linear-gradient(300deg,#858585, #b6b6b6, #fff, #858585);
							background: linear-gradient(300deg,#858585, #b6b6b6, #fff, #858585);							
							padding:0.4rem 0;
							h4{
								font:600 0.9rem/1.5rem 'NotoSansKR';
								letter-spacing:0;
								color:#111;		
								text-align:center;	
								>img{
									vertical-align:middle;
									width:10%;
									margin-left:15%;
								}							
							}
						}
					}
				}
				:nth-child(2n){
					margin-right:0;
				}
			}
		}
	}
	.member_list{
		.member_all{
			>img{
				width:100%;
			}
		}
		.member_2{
			position:relative;
		}
		.member_3{
			position:relative;
		}		
	}
	.member_launch{
		padding:2rem 0 1.6rem 0;
		.launch_txt{
			text-align:center;
			h2{
				>img{
					width:60%;
				}
			}	
		}
		.launch_slider{
			.slider03{
				padding-top:2rem;
				.slick-slide{
					margin:0 1rem;
					a{
						display:block;
						>img{
							width:100%;
							margin:0 auto;
						}
					}

				}				
			}
		}
	}
	.awards{
		img{
			width:100%;
		}
	}
}