node_modules/
gulpfile.js
app/html/adidas/campaign/3525/img01.jpg
app/html/adidas/campaign/3525/index.html
app/html/adidas/campaign/3525/img02.jpg
app/html/adidas/campaign/3650/index.html
app/html/adidas/campaign/3650/img02.jpg
app/html/adidas/campaign/3650/event.jsp
app/html/adidas/campaign/3650/img01.jpg
app/html/adidas/campaign/3605/index.html
