@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

html,body{
	height: 100%;
}

#container{
	.statement_collection{
		background:white;
		position: relative;
		// overflow: hidden;
		.box1{
			background: #dcd2c8;
			padding: 2rem 0 3rem;
			.img{
				img{
					width:100%;
				}
			}
			.txt{
				margin-top:2rem;
				h1{
					font:3.35rem 'adinenuPro-bold';
					text-align: center;
					letter-spacing: .8px;
				}
				p{
					font:400 1.1rem 'NotoSansKR';
					letter-spacing: .8px;
				}
			}
			.btn{
				position: relative;
				margin: 3rem 2rem 4rem;
				background: #000;
				a{
					position: absolute;
					top:0;
					left: 0;
					width:100%;
					height: 100%;
				}
				span{
					font:300 1rem 'NotoSansKR';
					display: block;
					padding:14px;
					color:#fff;
					text-align: center;
					letter-spacing: .8px;
				}
			}
			p{
				font:400 1rem 'NotoSansKR';
				text-align: center;
				letter-spacing: .8px;
			}
		}
		.box2{
			position: relative;
			.head{
				position: absolute;
				top:50%;
				left: 50%;
				@include css3(transform,translate(-93%,-291%));
				h1{
					font:3rem 'adinenuPro-bold';
					color:#fff;
					line-height: 1;
    				letter-spacing: 7.5px;
				}
			}
			.img{
				img{
					width:100%;
				}
			}
		}
		.box3{
			position: relative;
			background: #dcd2c8;
			h1{
				font:2.1rem 'adinenuPro-bold';
				color:#000;
				line-height: 1;
				letter-spacing: 7.5px;
				padding:2.5rem 2rem 2rem 2.5rem;
			}
			.wrap{
				.img{
					img{
						width:100%;
					}
				}
				.txt{
					.btn{
						position: relative;
						display: inline-block;
						background: #000;
						text-align: center;
						a{
							display: block;
							position: absolute;
							top:0;
							left: 0;
							width:100%;
							height: 100%;
						}
						span{
							display: block;
							color:#fff;
							padding:10px 40px;
							font:400 1rem 'NotoSansKR';
							img{
								vertical-align: middle;
								width:10.5%;
								padding-left: 10px;
							}
						}
					}
					&.left{
						width: 92.5%;
						margin: 0 0 0 auto;
					}
					&.right{
						width: 78.09%;
						margin: 0 0 0 auto;
					}
					&.right2{
						width: 78.5%;
						margin: 0 0 0 auto;
					}
				}
				p{
					font:400 .9rem 'NotoSansKR';
					padding:10px 0 60px 0;
				}
			}
		}
	}
	// statement_collection end
}
