@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#ready_campaign{
	.scrollbox{
		&.on{
			&.banner{
				@include css3(opacity,1);

			}
			.imgs{
				div{
					@include css3(opacity,1);
				}
			}
		}
	}
	p.eng{
		font: 11px 'adihausDIN';
		color:#fff;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		strong{
			font: 11px/15px 'AdihausDIN-Bold';
			letter-spacing: 1px;
		}
		&.black{
			color:#000;
		}
	}
	.main{
		position: relative;
		img{
			width: 100%;
		}
		.video{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width: 70px;
			img{
				width: 100%;
			}
		}

	}
	.button_area{
		width: 130px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		&.black{
			div{
				a{
					border:2px solid #000;
					color:#000;
					font-weight: 600;
				}
			}
		}
		div{
			padding: 0;
			a{
				height: 35px;
			    line-height: 35px;
				font-size: 14px;
				background: rgba(0,0,0,0);
				border:2px solid #fff;
			}
		}
	}
	.banner_slider_wrap{
	    padding: 25px 0 0 0;
		position: relative;
		background: url('/images/adidas/event/originals/180411_reddy/bg.jpg') no-repeat;
		background-size: 100% 100%;
		.txt_wrap{
			position: absolute;
		    top: 5rem;
			padding: 0 15px;
			z-index: 1;
			p{
				font:600 30px 'NotoSansKR';
				color:#fff;
				text-transform: uppercase;
				strong{
					display: block;
					font: 16px/15px 'AdihausDIN-Bold';
					letter-spacing: 1px;
				}
				&.eng{
				    padding: 15px 0;
					line-height: 25px;
					letter-spacing: 1px;
					font: 16px 'Adihaus-regular';
				}
			}
		}
		ul{
			li{
				a{
					img{
						width: 100%;
					}
				}
			}
		}
		.owl-controls{
			margin: 10px 15px 30px;
			.owl-dots{
				text-align: left;
				.owl-dot{
					margin: 0 5px;
					display: inline-block;
					width: 10px;
					height: 10px;
    				background: rgba(255,255,255,0.3);
					border-radius: 50px;
					-webkit-border-radius: 50px;
					&.active{
						background: rgba(255,255,255,1);

					}
				}
			}
		}
		.sub_imgs{
			position: relative;
			padding-bottom: 54%;
			div{
				position: absolute;
			    top: -24px;
			    padding-left: 42%;
				img{width: 100%;}
				@include css3(opacity,0);
				@include css3(transition,all 0.5s);

				&.on{
					z-index: 1;
					@include css3(opacity,1);
				}
			}
		}
		.sub_txt{
			position: absolute;
			bottom:17px;
			left:15px;


		}
	}
	.banner{
		position: relative;
		@include css3(opacity,0);
		@include css3(transition,all 0.5s);
		.txt{
			padding: 20px 0 30px;
		}
		.tle{
			padding: 0 0 5px 0;
			font: 15px/15px 'AdihausDIN-Bold';
    		letter-spacing: 8px;
			text-align: right;
			text-transform: uppercase;
		}
		&.col3{
			&.type1{
				padding:55px 0 0 0;
				.bar{
					position: absolute;
					    bottom: 28%;
					    display: block;
					    width: 100%;
					    height: 26px;
					    background: #da5030;
				}
				.imgs{
					position: relative;
					&:after{

					}
					div{
						position: relative;
						&.img1{
							transition-delay: 0.5s;
						}
						&.img2{
							top:-20px;
							transition-delay: 0.7s;

						}
						&.img3{
							top:-10px;
							transition-delay: 0.9s;

						}
					}
				}
			}
			&.type2{
				padding:80px 0 0 0;
				.letter_dd{
					position: absolute;
					    top: -38px;
					    left: -14px;
					    font: bold 12rem 'AdihausDIN-Bold';
					    color: #64b2d0;
				}
				.bar{
					position: absolute;
				    bottom: 0%;
				    left: 14%;
				    display: block;
				    width: 100%;
				    height: 26px;
				    background: #64b2d0;
				}
				.imgs{
				    margin-left: 30px;
					div{
						position: relative;
						&.img1{
							top:-20px;
							transition-delay: 0.5s;

						}
						&.img2{
							top:-10px;
							transition-delay: 0.7s;

						}

						&.img3{
							top:-20px;
							transition-delay: 0.9s;


						}
					}
				}
			}
			.eng{
				position: relative;
				left:inherit;
				bottom:inherit;
				padding: 0 15px;
				text-align: right;
			}
		}
		img{
			width: 100%;
		}
		.eng{
			position: absolute;
			bottom: 0;
		    left: 2rem;
		}
		.imgs{
			display: flex;
			div{
				margin: 0 5px 0 0;
				@include css3(opacity,0);
				@include css3(transition,all 0.5s);

			}
		}
	}
	.btxt{
	    padding: 0 0 30px;
		text-align: center;
		p{
			padding: 0 8px 0 0;
			display: inline-block;
			font: 16px/45px 'adihausDIN';
			vertical-align: top;
		    letter-spacing: 4px;
			strong{
				font: 16px/45px 'adihausDIN-bold';

			}
		}
		.button_area{
			display: inline-block;
		}
	}
	.banner_wrap{
		position: relative;
		img{
			width: 100%;
		}
		.sub_txt{
			position: absolute;
			bottom: 16%;
			left:15px;
			p{
				padding: 0 0 10px 0;
				strong{
					display: block;
				}
				span{
					display: block;
					font: 11px/18px 'adihausDIN';
					letter-spacing: 1px;

				}
			}
		}
	}
	.ending{
		text-align: right;
		padding: 10px 15px 40px 180px;
		img{
			width: 100%;
		}
	}
}
