@import "./app/MO/reebok/css/scss/about.scss";

.campaign_bt21{
    position: relative;
    .main{
        img{
            width: 100%;
        }
    }
    .video{
        img{
            width: 100%;
        }
    }
    .bottom{
        img{
            width: 100%;
        }
    }
}
