@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}

.about_campaign.bt21{
	img{
		width:100%;
	}
	h3{
		margin: 3rem 2.5rem 2rem;
	}
	.characters-wrap{
		margin: 0 2.5rem 2rem;
		overflow: hidden;
		align-items: center;
		.character{
			float: left;
			width:50%;
			opacity: 0;
			transform: rotate(20deg);
			transition: all 0.2s;
			&.show{
				transform: rotate(0deg);
				opacity: 1;
			}
			>div{
				margin: 2.5rem 2.6rem;
			}
		}
	}

	.copyright{
		margin: 0 13.5rem 20px;
	}
}

// bt21
