@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#adiclub_10th{
	width: 100%;

	>.box{
		width: 100%;
		position: relative;

		img{
			width: 100%;
		}

		&.masthead{
			background: #edb45a;
		}

		&.event{
			width: 100%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			background: #f5d98d;
			padding:35px 15px;
			background:url('/images/adidas/event/adiclub_10th/background_event.jpg') 0 0 repeat;
			background-size: 100% auto;

			.evt_box{
				margin-bottom: 7px;
				&.last{
					margin-bottom: 35px;
				}

				&:last-child{
					margin-bottom: 0;
				}

				a{
					display: block;
					img{
						width: 100%;
					}
				}
			}
		}
	}

}
