@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}
//common
html,body{
    // height:100%;
}
.btn{
	display: inline-block;
	background: #000;
	text-align: center;
	a{
		position: relative;
		display: block;
		font: 500 1.1rem/42px 'NotoSansKR';
		color: #fff;
		letter-spacing: .1rem;
		width: 125px;
		span{
			display: inline-block;
			width: 20px;
			height: 9px;
			background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
			background-size: 100% 100%;
			margin-left: 18px;
		}
		&:after{
			display: inline-block;
			content: '';
			border: 1px solid #000;
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			transform: translate(3px, 3px);
		}
	}
}
.rel{
	position: relative;
}
img{
	width:100%;
}
.respectheicon{
	.main__wrapper{
		.main__wrapper__txt{
			position: absolute;
			left:5%;
			top:55%;
			transform: translateY(-50%);
			h1{
				font:300 37px/37px 'neueplak';
				color:#000;
				span{
					font:900 37px/37px 'neueplak';
				}
			}
			p{
				margin:1rem 0 0 0;
				font:900 22px/22px 'neueplak';
			}
		}
	}

	.aside__wrapper{
		text-align: center;
		padding:2.5rem 0;
		p{
			font: 500 13px/ 15px 'NotoSansKR';
			color:#000;
			text-align: center;
			letter-spacing: 0;
			&:nth-child(2){
				margin:1rem 0 0 0;
			}
		}
		.btn{
			margin: 2rem 0 0 0;
		}
	}
	.section__wrapper{
		background:url('/images/reebok/2020/event/respecttheicon/2001_r_icon_bg_MO.jpg') no-repeat;
		background-position: top;
		background-size: auto 100%;
		padding: 2.5rem 4rem;
		.grid-slide{
			position: relative;
			padding-bottom: 124%;
			margin:1.5rem 0;
			// &:nth-child(2){
			// 	img{
			// 		transition-delay: .5s;
			// 	}
			// }
			// &:nth-child(3){
			// 	img{
			// 		transition-delay: 1s;
			// 	}
			// }
			&:nth-child(4){
				margin:0;
				// img{
				// 	transition-delay: .5s;
				// }
			}
			img{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity:0;
				transition:all .5s;
				&.on{
					opacity:1;
				}
			}
			.navi{
				position: absolute;
				left:50%;
				bottom:2.5rem;
				margin-left: -1rem;
				z-index: 2;
				span{
					display: inline-block;
					margin-right:6px;
					width: 10px;height:10px;
					background: #9ea194;
					border-radius: 50px;
					&.on{
						background: #000;
					}
				}
			}
		}
	}
	.btm__wrapper{
		text-align: center;
		padding:2rem 0;
		h1{
			font:300 33px/33px 'neueplak';
			color:#000;
			text-align: center;
			span{
				font:900 33px/33px 'neueplak';
			}
		}
		p{
			margin:1rem 0 0 0;
			font:900 22px/22px 'neueplak';
			text-align: center;
		}
		.btn{
			margin: 2rem 0 0 0;
		}
	}
}

// electro
