@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}
//common
html,body{
    // height:100%;
}
.btn{
	display: inline-block;
	background: #000;
	text-align: center;
	a{
		position: relative;
		display: block;
		font: 500 1.1rem/42px 'NotoSansKR';
		color: #fff;
		letter-spacing: .1rem;
		width: 125px;
		span{
			display: inline-block;
			width: 20px;
			height: 9px;
			background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
			background-size: 100% 100%;
			margin-left: 18px;
		}
		&:after{
			display: inline-block;
			content: '';
			border: 1px solid #000;
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			transform: translate(3px, 3px);
		}
	}
}
.rel{
	position: relative;
}
img{
	width:100%;
}
.respecttheicon{
	.main__wrapper{
		video{
			display: block;
			width: 100%;
		}
		.vid_box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
			z-index: 5;
			h2 {
				text-align: center; 
				img {
					display: inline-block;
					width: 100%;
				}
			}

			>a {				
				display: inline-block;
				width: 6rem;

				img {
					display: block;
					width: 100%;
				}
			}
		}
	}

	.aside__wrapper{
		text-align: center;
		padding: 2.5rem 0 3rem 0;
		h3{
			font:900 3rem/3.2rem 'neueplak';
			color:#000;				
			text-align: center;
			text-transform:uppercase;
			span{
				font:200 3rem/3.2rem 'neueplak';
			}				
		}
		.btn{
			margin: 1.8rem 0 0 0;
		}
	}
	.slide01_wrap{
		position: relative;		
		box-sizing: border-box;
		padding-bottom: 20%;
		.cont_slide01{ 
				// overflow: hidden;
				position: relative;
				top: 0;
				width: 84%;
				margin: 0 auto;
				z-index: 2;
				box-shadow: 1px 1px 3px 1px #aaaaaa;
				.slick-slide{
					outline: none;
					display: inline-block;
					img{					
						width: 100%;
					}
				}
				.slick-dots{
					    position: absolute;
						bottom: -8%;
						text-align: center;
						z-index: 3;
						left: 50%;
						transform: translateX(-50%);
					li{
						display: inline-block;
						margin: 0 4px;
						width: 13px;
						height: 13px;
						background-color: #d9d9d9;						
						border-radius: 50%;
						text-indent: -9999px;
						cursor: pointer;
						&.slick-active{
							background: #000;
						}
					}
				}
			}
	}

	.cont01{
		position: relative;
		padding: 3rem 0 9.8rem;
		background: url('/images/reebok/2020/event/respecttheicon/0406/slide2_bg.jpg') left top no-repeat;
		background-size: 100% auto;		
		box-sizing: border-box;
		transition: 0.4s;
		.cont_slide02{ 
				position: relative;
				top: 0;
				width: 75%;
				margin-left: 20%;
				z-index: 2;
				.slick-slide{
					outline: none;
					display: inline-block;
					img{					
						width: 100%;
					}
				}
				.slick-dots{
					    position: absolute;
						bottom: 2%;
						text-align: center;
						z-index: 3;
						left: 0;
						transform: translateX(-140%);
					li{
						display: inline-block;
						margin: 0 4px;
						width: 13px;
						height: 13px;
						background-color: #d9d9d9;						
						border-radius: 50%;
						text-indent: -9999px;
						cursor: pointer;
						&.slick-active{
							background: #000;
						}
					}
				}
			}
			.img_box{
				position: relative;
				top: 1.5rem;
   				left: 1.5rem;
				width: 75%;
				>img{
					display: block;
					width: 100%;
				}
			}
			.txt_box{
			    position: absolute;
				bottom: -30%;
				width: 100%;
				text-align: right;
				white-space: nowrap;
			p{
				display: inline-block;
				font: 700 1.4rem/1.6rem "NotoSansKR";
				color: #000;
				text-align: left;
				margin-top: 3px;
				.atc{
					font: 300 1.1rem 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					    font:800 1.1rem/1.4rem 'neueplak-nrrw';
						   margin-left: 3px;
						   color:#ab2328;
					span{
						font:700 1rem 'NotoSansKR';
						color:#ab2328;
					}
					.sale{
						font:400 1rem 'neueplak-nrrw';
						color:#000;
						text-decoration: line-through;
						margin-left: 10px;
						span{
							font:300 1rem 'NotoSansKR';
							color:#000;
						}
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-left: 10px;					  
					vertical-align: top;
				}
		}
	}

	.cont02{
		position: relative;
		padding: 0 0 10rem;
		background: url('/images/reebok/2020/event/respecttheicon/0406/slide3_bg.jpg') left top no-repeat;
		background-size: 100% auto;		
		box-sizing: border-box;
		transition: 0.4s;
		.cont_slide03{ 
				position: relative;
				top: 0;
				width: 75%;
				margin-left: 5%;
				z-index: 2;
				.slick-slide{
					outline: none;
					display: inline-block;
					img{					
						width: 100%;
					}
				}
				.slick-dots{
					    position: absolute;
						bottom: 2%;
						text-align: center;
						z-index: 3;
						right: 0;
						transform: translateX(140%);
					li{
						display: inline-block;
						margin: 0 4px;
						width: 13px;
						height: 13px;
						background-color: #d9d9d9;						
						border-radius: 50%;
						text-indent: -9999px;
						cursor: pointer;
						&.slick-active{
							background: #000;
						}
					}
				}
			}
			.img_box{
				position: relative;
				top: 1.5rem;
   				left: 6.5rem;
				width: 75%;
				>img{
					display: block;
					width: 100%;
				}
			}
			.txt_box{
			    position: absolute;
				bottom: -30%;
				width: 100%;
				text-align: right;
				white-space: nowrap;
			p{
				display: inline-block;
				font: 700 1.4rem/1.6rem "NotoSansKR";
				color: #000;
				text-align: left;
				margin-top: 3px;
				.atc{
					font: 300 1.1rem 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					    font:800 1.1rem/1.4rem 'neueplak-nrrw';
						   margin-left: 3px;
						   color:#ab2328;
					span{
						font:700 1rem 'NotoSansKR';
						color:#ab2328;
					}
					.sale{
						font:400 1rem 'neueplak-nrrw';
						color:#000;
						text-decoration: line-through;
						margin-left: 10px;
						span{
							font:300 1rem 'NotoSansKR';
							color:#000;
						}
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-left: 10px;					  
					vertical-align: top;
				}
		}
	}

	.cont03{
		position: relative;		
			.img_box{
				position: relative;				
				>img{
					display: block;
					width: 100%;
				}
			}
			.txt_box{
			    position: absolute;
				bottom: -30%;
				bottom: 6%;
				right: 21%;				
				white-space: nowrap;
			p{
				display: inline-block;
				font: 700 1.4rem/1.6rem "NotoSansKR";
				color: #000;
				text-align: left;
				margin-top: 3px;
				.atc{
					font: 300 1.1rem 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					    font:800 1.1rem/1.4rem 'neueplak-nrrw';
						   margin-left: 3px;
						   color:#ab2328;
					span{
						font:700 1rem 'NotoSansKR';
						color:#ab2328;
					}
					.sale{
						font:400 1rem 'neueplak-nrrw';
						color:#000;
						text-decoration: line-through;
						margin-left: 10px;
						span{
							font:300 1rem 'NotoSansKR';
							color:#000;
						}
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-left: 10px;					  
					vertical-align: top;
				}
		}
	}

	.cont04{
		position: relative;		
			.img_box{
				position: relative;				
				>img{
					display: block;
					width: 100%;
				}
			}
			.txt_box{
			    position: absolute;
				bottom: -30%;
				bottom: 4%;
				right: 5%;				
				white-space: nowrap;
			p{
				display: inline-block;
				font: 700 1.4rem/1.6rem "NotoSansKR";
				color: #000;
				text-align: left;
				margin-top: 3px;
				.atc{
					font: 300 1.1rem 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					    font:800 1.1rem/1.4rem 'neueplak-nrrw';
						   margin-left: 3px;
						   color:#ab2328;
					span{
						font:700 1rem 'NotoSansKR';
						color:#ab2328;
					}
					.sale{
						font:400 1rem 'neueplak-nrrw';
						color:#000;
						text-decoration: line-through;
						margin-left: 10px;
						span{
							font:300 1rem 'NotoSansKR';
							color:#000;
						}
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-left: 10px;					  
					vertical-align: top;
				}
		}
	}
	
}

// electro
