@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#chaos{
	position: relative;

	.main_visual{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
	}
	.video{
		    margin-bottom: -1%;
		video{
			width: 100%;
		}
	}
	.count{
		position: relative;
		background-color: #000;
		.counter{
			.num{
				width: 20%;
				text-align: center;
				color:#1dff00;
				font:bold 8rem 'AdihausDIN-Cond';
				z-index: 99;
			}
			.num1{
				position: absolute;
				bottom:22%;
				left:7%;
			}
			.num2{
				position: absolute;
				bottom:22%;
				left:28.8%;
			}
			.num3{
				position: absolute;
				bottom:22%;
				left:50.5%;
			}
			.num4{
				position: absolute;
				bottom:22%;
				left:72.4%;
			}
		}
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}

	}
	.bottom{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
	}
}
