@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}


#football_jersey{
	background: #000;
	.main{
		padding-top:3rem;
		text-align: center;
		p {
			font:2.2rem/1.5rem 'adinenuPro-light';
			color:#dbdbdb;
			letter-spacing: 1.2rem;

			span {
				font:2.8rem/4.3rem 'adinenuPro-black';
				letter-spacing: 2px;
			}
		}
	}

	.team_btn {		
		overflow: hidden;
		padding: 2rem 0;
		ul{
			width: 100%;
			li{
				position: relative;
				display: block;
				width:20%;
				float:left;
				padding-top: 19.6%;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 100%;
				border: 1px solid #ababab;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				&.on{
					border-color: #fff;
					&::after{
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						border:3px solid #fff;
						box-sizing: border-box;
					}
				}
				a{
					display: block;
				    width: 100%;
				    height: 100%;
				    position: absolute;
				    top: 0;
				}

				&#bm{
					background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team01.jpg');
					&.on{
						background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team01_ov.jpg');
					}
				}
				&#mu{
					background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team02.jpg');
					&.on{
						background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team02_ov.jpg');
					}

				}
				&#rm{
					background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team03.jpg');
					&.on{
						background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team03_ov.jpg');
					}

				}
				&#as{
					background-image: url('/images/adidas/2019/event/football/football_jersey/team06.jpg');
					&.on{
						background-image: url('/images/adidas/2019/event/football/football_jersey/team06_ov.jpg');
					}

				}
				&#ju{
					background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team05.jpg');
					&.on{
						background-image: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/team05_ov.jpg');
					}

				}
			}
		}
	}


	.team_contents{
		
		.section{
			position: relative;
			.bg_area{
				width: 100%;
				img{
					display: block;
					width: 100%;
				}
			}
			.buy_area{
				
				h2{
					width: 100%;
					position: absolute;
					top: 3.4rem;
					left: 50%;
					transform: translateX(-50%);
					text-align: center;
					img{
						display: inline-block;
						// width: 80%;
						height: 16px;
					}
				}
				.button_area_v2{
					margin-top: 30px;
					display: inline-block;
					width: 140px;
					position: absolute;
					bottom: 3.4rem;
					left: 50%;
					transform: translateX(-50%);
					text-align: center;
					a{
						height: auto;
						font: 500 14px/44px 'NotoSansKR';
						span{
							top: -2px;
						}
					}
				}
			}
		}
	}
}
