@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#wnd{
	position: relative;
	.main{
		position: relative;
		background: url('/images/adidas/2019/event/athletics/wnd/visual_bg.jpg') 100% 100% no-repeat;
		background-size: cover;
		background-position: top;
	    padding: 3rem 0 1.5rem 0;
		.img1{
			img{
				width:85%;
			}
		}
		.wrap{
				margin: 5vh 0;
			.txt{
				h1{
					font:10.5vw/40px 'adinenuPro-bold';
					text-align: center;
					color:#fff;
					letter-spacing: 2px;
				}
				p{
					 font:500 4vw/15px 'NotoSansKR';
					 text-align: center;
					 color:#fff;
					 letter-spacing: 1px;
					 margin: 2.5vh 0 3vh 0;
				}
			}
			.btns{
				text-align: center;
				.btn1,.btn2{
					.button_area_v2{
						display: inline-block;
						margin-bottom: 2vh;
						a{
							font: 700 .9rem/38px 'NotoSansKR';
						    padding: 0 4vw;
						    letter-spacing: 1px;
						    height: 38px;
							.arrow{
								width:20px;
								&::after{
									width:8px;
								}
								&::before{
									width:8px;
								}
							}
						}
					}
				}
			}
		}
		.img2{
			text-align: right;
			img{
				width:85%;
			}
		}
	}
	.midtxt{
		position: relative;
		padding: 3.5rem 0;
		p{
			text-align: center;
			font:400 4vw/13vw 'NotoSansKR';
			color:#000;
			letter-spacing: 0.1px;
		}
		.wrap{
				text-align: center;
			.btn{
				border:1px solid #000;
				text-align: center;
				display: inline-block;
				a{
					font:700 .9rem/38px 'NotoSansKR';
					color:#000;
					display: block;
					padding: 0 2vw;
					height: 38px;
					letter-spacing: .2px;
					img{
						margin-left: 5vw;
						vertical-align: middle;
						width: 20%;
					}
				}
			}
		}
	}

	.vids{
		position: relative;
		.banner_slider_wrap{
			position: relative;
			background: #fff;
			&.on{
				background: #000;
				transition: all 1s;
			}
			.blk_lines{
				position: absolute;
				top:-166.5px;
				left:50%;
				transform: translateX(-43%);
				transition: all 1s;
				&.on{
					top:0;
					z-index: 0;
				}
				img{
					width:115%;
				}
			}
			.wht_lines{
				position: absolute;
				bottom:-166.5px;
				left:50%;
				transform: translateX(-33%);
				z-index: 0;
				&.on{
					bottom:80px;
					transition: all 1s;
				}
				img{
					width:110%;
				}
			}
			#slider_owl{
				li{
					.blk{
						// &.on{
						// 	.lines{
						// 		top:0;
						// 		z-index: 1;
						// 	}
						// }
						// .lines{
						// 	position: absolute;
						// 	top:-166.5px;
						// 	left:50%;
						// 	transform: translateX(-57%);
						// 	transition: all 1s;
						// 	z-index: -1;
						// 	img{
						// 		width:45%;
						// 	}
						// }
						// background: url("/images/adidas/2019/event/athletics/wnd/bg_blk.jpg") 100% 100% no-repeat;
						// background-position: center;
						// background-size: cover;
						padding: 5.5rem 0 2rem;
						.top{
							position: relative;
							img{
								width:100%;
							}
						}
						.mid{
							text-align: center;
							padding:2rem;
							padding-left: 2.5rem;
							padding-right: 10rem;
							img{
								width:100%;
							}
						}
						.vid{
							text-align: center;
							padding-bottom:2rem;
							padding-right: 2.5rem;
							padding-left: 11rem;
							img{
								width:100%;
							}
							video{
								// width:100%;
							}
						}
					}
					.wht{
						// &.on{
						// 	.lines{
						// 		bottom:80px;
						// 		transition: all 1s;
						// 	}
						// }
						// .lines{
						// 	position: absolute;
						// 	bottom:-166.5px;
						// 	left:50%;
						// 	transform: translateX(26%);
						// 	z-index: -1;
						// 	img{
						// 		width:45%;
						// 	}
						// }
						// background: url("/images/adidas/2019/event/athletics/wnd/bg_wht.jpg") 0 0 no-repeat;
						// background-position: center;
						// background-size: cover;
						// .bg{
						// 	img{
						// 		width:100%;
						// 	}
						// }
						.top{
							position: relative;
							img{
								width:100%;
							}
						}
						.mid{
							position: relative;
							text-align: center;
							padding:2rem;
							padding-right: 2.5rem;
							padding-left: 5rem;
							img{
								width:100%;
							}
						}
						.vid{
							text-align: center;
							padding-bottom:2rem;
							padding-left: 2rem;
							padding-right: 11rem;
							img{
								width:100%;
							}
						}
					}
				}
			}
		}
	}

	.grid{
		position: relative;
		.cut1{
			img{
				width:100%;
			}
		}
		.cut2{
			position: relative;
			&::after{
				display: block;
				content: '';
				clear: both;
			}
			.wrap{
				float: left;
				width: 50%;
				img{
					width:100%;
				}
			}
		}
		.cut3{
			position: relative;
			img{
				width:100%;
			}
			.txt{
				position: absolute;
				top:50%;
				left: 50%;
				transform: translate(-50%,-40%);
				h1{
					font:7.5vw/7.5vw 'adinenuPro-bold';
					text-align: center;
					color:#fff;
				}
				p{
					font:3.5vw/3.5vw 'adinenuPro-regular';
					text-align: center;
					color:#fff;
					margin: 15px 0;
				}
				.btn{
					text-align: center;
					.button_area_v2{
						display: inline-block;
						a{
							font: 700 .9rem/38px 'NotoSansKR';
							padding: 0 4vw;
							letter-spacing: .2px;
							height: 38px;
							.arrow{
								width:20px;
								&::after{
									width:8px;
								}
								&::before{
									width:8px;
								}
							}
						}
					}
				}

			}
		}
	}

	.btm{
		position: relative;
		padding:1.5rem 2.1rem;
		.txt{
			position: absolute;
			top:50%;
			left: 50%;
		    transform: translate(-50%, -50%);
			h1{
				font:6vw/7.6vw 'adinenuPro-bold';
				color:#fff;
				letter-spacing: 3px;
			}
			.button_area_v2{
				display: inline-block;
				a{
					font: 700 .9rem/38px 'NotoSansKR';
					padding: 0 4vw;
					letter-spacing: 1px;
					height: 38px;
					width: 90px;
					.arrow{
						width:20px;
						&::after{
							width:8px;
						}
						&::before{
							width:8px;
						}
					}
				}
			}
		}
		.men{
			position: relative;
			&::after{
				display: block;
				content: '';
				clear: both;
			}
			.wrap{
				float: left;
				width:50%;
				text-align: center;
				img{
					width:100%;
					vertical-align: middle;
				}
			}
			.color{
				float: left;
				width:50%;
				height: 100%;
				position: relative;
				background: #c8d0d0;
				img{
					width:100%;
				}
			}
		}

		.women{
			position: relative;
			margin:20px 0;
			&::after{
				display: block;
				content: '';
				clear: both;
			}
			.wrap{
				float: left;
				width:50%;
				text-align: center;
				img{
					width:100%;
				}
			}
			.color{
				float: left;
				width:50%;
				position: relative;
				img{
					width:100%;
				}
			}
		}

		.kids{
			position: relative;
			&::after{
				display: block;
				content: '';
				clear: both;
			}
			.wrap{
				float: left;
				width:50%;
				text-align: center;
				img{
					width:100%;
				}
			}
			.color{
				float: left;
				width:50%;
				position: relative;
				img{
					width:100%;
				}
			}
		}
	}

}
