@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#recall{
	overflow: hidden;
	position: relative;
	width: 100%;
	img{
		width: 100%;
	}
	a{
		display: inline-block;
		position: absolute;
		top: 44%;
		left: 48%;
		width: 16%;
		height: 2%;		
		text-indent: -3000px;
	}
}