@import "./mobile/MO/reebok/css/scss/about.scss";
.reeclub_movie{

    .main{
        position: relative;
        .bg{
            img{
                width: 100%;
            }
        }
        a{
            position: absolute;
            top: 87.8%;
            left: 27%;
            width: 46%;
            height: 2.2%;
        }
    }
    .box{
        position: relative;
        img{
            width:100%;
        }
    }
    .link{
        display: block;
        position: absolute;
        text-indent: -9999px;
    }
}
