@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";
// html,body{
// 	height:100%;
// }
.ins-preview-wrapper {
  display: none !important;
}
.not_scroll {
  overflow: hidden;
}

#stayinplay {
  .main {
    position: relative;
    .main_wrap{
      >img{
        width:100%;
      }
    }
  }
  .all_cont {
    position: relative;
    text-align: center;
    > img {
      // width:75%;
      width: 100%;
    }
  }

  .cont1{
    padding:2.3rem 1.6rem;
    .cont1_title{
      color:#111;
      h1{
        font: 600 1.45rem/1.5rem "NotoSansKR";
        letter-spacing:0;
        text-align:center;
      }
      p{
        font: 400 1.05rem/1.5rem "NotoSansKR";
        letter-spacing:0; 
        text-align:center;      
        padding:0.3rem 0 1.9rem 0;     
      }
    }
    .cont1_img_list{
      ul{
        li{
          background:url('/images/adidas/2021/event/stayinplay/cont1_img1.jpg')no-repeat;
          background-position:center;
          background-size:100% 100%;
          padding:1.5rem 1rem;
          width:70%;
          margin:0 auto;
          margin-bottom:0.9rem;
          p{
            font: 400 1rem/1.5rem "NotoSansKR";
            letter-spacing:0; 
            text-align:center;  
            color:#fff;        
            font-style:italic;
          }
        }
        .cont1_img2{
          background:url('/images/adidas/2021/event/stayinplay/cont1_img2.jpg')no-repeat;
        }
        .cont1_img3{
          background:url('/images/adidas/2021/event/stayinplay/cont1_img3.jpg')no-repeat;
        }        
      }
    }
    .cont1_list{
      text-align:center;
      color:#111;
      p{
        font: 400 1rem/1.5rem "NotoSansKR";
        letter-spacing:0; 
        text-align:center;
        padding:2.1rem 0 1.2rem 0;
        >strong{
          font-weight:500;
        }
      }
      em{
        display:block;
        font: 300 0.8rem/1.3rem "NotoSansKR";
        letter-spacing:0; 
        text-align:center;
        padding-bottom:1rem;
      }
    }
  }

  .cont2{
    padding:0 1.6rem;
    .video_wrap{
      >img{
        width:100%;
      }
      .video_btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        button {
          background: url("/images/adidas/2021/event/stayinplay/video_btn.png") no-repeat;
          background-size: 55%;
          background-position: center;
          width: 85px;
          height: 85px;
          border: 0;
        }
      }
    }
  }

  .cont3 {
    padding:2.1rem 0;
  }

  .cont4 {
    padding:0 1.6rem;
    .cont4_list{
      position: relative;
      >img{
        width:100%;
      }
      .cont4_txt{
        position:absolute;
        left:50%;
        top:38%;
        transform:translate(-50%,-50%);
        width:85%;
        ul{
          li{
            position:relative;
            color:#fff;
            margin-bottom:1rem;
            h2{
              font: 500 1rem/1.3rem "NotoSansKR";
              letter-spacing:0; 
              color:#111;
              text-align:center;                
              background:#fff;
              padding:0.5rem 0;
              width:55%;
              margin:0 auto;
            }
            p{
              font: 400 0.9rem/1.2rem "NotoSansKR";
              letter-spacing:0; 
              text-align:center;  
              padding-top:0.7rem;
              >span{
                >img{
                  width: 1.8%;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
      .cont4_txt2{
        position:absolute;
        left:50%;
        top:82%;
        transform:translate(-50%,-50%);
        width:85%;
        p{
          margin-top:1rem;
          font: 300 0.8rem/1.3rem "NotoSansKR";
          letter-spacing:0; 
          text-align:center;   
          color:#fff;           
        }
      }      
    }
  }
  .cont5{
    margin-top:2.4rem;
    background:url('/images/adidas/2021/event/stayinplay/cont5_img.jpg')no-repeat;
    background-size:100% 100%;
    background-position: center;
    padding:2.1rem 1.6rem 2.5rem 1.6rem;
    .cont5_list{
      position: relative;
      >img{
        width:100%;
      }
    }
    .cont5_txt{
      color:#fff;   
      text-align:center;
      h3{
        font: 400 1.04rem/1.5rem "NotoSansKR";
        letter-spacing:0; 
        text-align:center;
        padding:1.6rem 0 1.6rem 0;
        >strong{
          font-weight:500;
        }
      }
      p{
        font: 300 0.8rem/1.3rem "NotoSansKR";
        letter-spacing:0; 
        text-align:center;
      }
    }    
  }  
}
