@import "./mobile/MO/reebok/css/scss/about.scss";

.campaign.zig{

    //common
    .btn{
        display: inline-block;
        // background: #000;
        text-align: center;
        a{
            position: relative;
            display: block;
            font: 500 1rem/40px 'NotoSansKR';
            color: #fff;
            /* padding: 0 3rem; */
            letter-spacing: .1rem;
            width: 131px;
            span{
                display: inline-block;
                width: 20px;
                height: 9px;
                background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 18px;
            }
            &:after{
                display: inline-block;
                content: '';
                border: 1px solid #000;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                transform: translate(3px, 3px);
            }
        }
    }
    img{
        width:100%;
    }

    .main{
        position: relative;
        .main_head  {
            video{
                width:100%;
            }
        }
        .btn{
            position: absolute;
            top: 23%;
            left: 62%;
            transform: translate(-50%,-50%);
            width: 14%;
        }
        p{
            position: absolute;
            top: 77%;
            left: 52%;
            transform: translate(-50%, -50%);
            width: 100%;
            font: 500 2.3rem/2rem 'neueplak-wide';
        }
    }
    .middle_vid{
        video{
            width:100%;
        }
    }
    .statement{
        margin:15px 0 0 0;
        p{
            margin-left:15px;
            font: 500 2.3rem/2rem 'neueplak-wide';
            &.kor{
                padding:15px 0 0 0;
                font:500 1.1rem 'NotoSansKR';
            }
        }
    }
    .bottom_img{
        margin:40px 0 60px 0px;
    }
}


// winter END
