@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ivypark{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}

	.main {
		position: relative;
		>.cpn_bg {
			width: 100%;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.menu_sort {
		padding: 5rem 0;
		text-align: center;

		ul {
			overflow: hidden;
			display: inline-block;

			li {
				padding: 0 15px;
				float: left;
				font: 1rem/1rem "adihaus";
				letter-spacing: 1px;
				color: #000;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

	.sect_prds {

		ul {
			overflow: hidden;
			width: 96%;
			margin: 0 auto;

			li.item {
				float: left;
				margin: 0 1% 2rem;
				width: 48%;
				color: #000;
				text-align: center;
				box-sizing: border-box;
				a {
					display: block;

					>* {
						display: block;
						text-align: center;
						letter-spacing: normal;
					}

					img {
						width: 100%;
					}

					span {
						padding-top: 1rem;
						font: 1rem/1rem "adihaus";
						color: #aaaaac;
					}

					h3 {
						padding: 1.2rem 0 1rem;
						font: 1.1rem/1.1rem "NotoSansKR";
						color: #000;
					}

					p {
						padding-bottom: 1rem;
						font: 1rem/1rem "adihaus";
						color: #4c4c4c;

						em {
							font: 1rem/1rem "NotoSansKR";
						}
					}
				}
			}
		}
	}

	.cont_wrap {
		padding: 3rem 0 0;
		.cont_img {
			position: relative;
			>.cpn_bg {
				width: 100%;
				img {
					display: block;
					width: 100%;
				}
			}
		}

		.cont_state {
			position: relative;
			padding: 5rem 0;

			h3 {
				font: 600 2.4rem/2.4rem "AdihausDIN-Bold";
				color: #000;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: normal;
			}

			p {
				padding-top: 1rem;
				font: 1rem "NotoSansKR";
				color: #000;
				text-align: center;
				letter-spacing: normal;
			}
		}

		.cont_slider {
			position: relative;

			.sliderlook {
				overflow: hidden;
				width: 100%;

				.slick-slide {
					text-align: center;

					img {
						display: inline-block;
						width: 94%;
					}
				}

				.slick-dots{
					margin-top: 2rem;
					text-align: center;
					li{
						display: inline-block;
						&.slick-active{
							.dot{
								height: 5px;
								background: #000;
							}
						}
						.dot{
							vertical-align: bottom;
							display: inline-block;
							width: 2rem;
							height: 2px;
							background: #8a8a8b;
							margin: 0 3px;
							text-indent: -9999px;
							transition: all .4s;
						}
					}
				}
			}
			.slider_nav {
				display: none;
			}
		}
	}
}
