@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ivypark{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}

	.main_visual{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		>div{
			position: relative;
			width: 100%;
			>img{
				display: block;
				width: 100%;
			}
			.btn_cust {
				display: inline-block;
				width: 36%;
				height: 8%;
				position: absolute;
				// top: 91%;
				left: 10%;
				// background: rgba(255,255,0,0.4);
				text-indent: -9999px;
			}
		}
	}
}
