@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#footware{


	.button{
		display: inline-block;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		&.type2{
			a{
				width: 218px;
				height: 45px;
				line-height: 45px;
				font-size: 13px;
			}
		}
		a{
			color: #fff;
		    font-size: 12px;
		    font: 11px/30px 'NotoSansKR';
		    border: 1px solid #fff;
		    display: inline-block;
		    width: 154px;
		    height: 30px;
			background: rgba(0,0,0,0.16);
			&:after{
				margin-left: 5px;
			}
		}
	}

	.masthead{
		width: 100%;
		padding-bottom: 91.6%;
		position: relative;
		h3{
			width: 100%;
			position: absolute;
			top:33.5%;
			left:50%;
			font:22px/33px 'NotoSansKRLight';
			color:#fff;
			text-align: center;
			z-index: 1;
			@include css3(transform,translate(-50%, -50%));
			strong{
				display: block;
			    padding-bottom: 1rem;
			}
		}
		&.scale{
			.bg{
				img{
					@include css3(transform,scale(1.05));
				}
			}
		}
		.bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
			img{
				width: 100%;
				transition: transform 5s;
			}
		}
	}
	// masthead end

	.scroll{
		top:0 !important;
		opacity: 1 !important;
		-webkit-opacity: 1 !important;
	}

	.prd_wrap{
	    padding: 0 1.5rem;
		background: url('http://imagem.adidas.co.kr/images/adidas/event/footware/prd_bg.jpg') no-repeat;
		background-size: 100% 100%;
		.box{
			position: relative;
			img{
				width: 100%;
			}
			.txt{
				position: relative;
				top:100px;
				opacity: 0;
				text-align: center;
				transition: all 0.6s;
				h4{
					padding-top: 25px;
					color:#fff;
					font:24px 'adinenuPro-bold';
					text-transform: uppercase;
					letter-spacing: 0.5px;
				}
				p{
					color:#fff;
					font:17px/16px 'NotoSansKRRegular';
					&.small{
					    padding: 18px 0px;
						font-size: 14px;
						font-family: 'NotoSansKRLight';
					}
					&.amount{
					    padding-bottom: 22px;
						font:15px 'AdihausDIN-Bold';
						letter-spacing: 0.2px;
						span{
							font:12px 'Adihaus-regular';
						}
					}
				}
			}
		}
		.banner_slider_wrap{
			padding-bottom: 50px;
		    margin-top: 60px;
			h4{
				padding: 65px 3rem 0;
				opacity: 0;
				transition: all 0.8s;
			}
			.txt{
				transition-delay: 0.4s;
				-webkit-transition-delay: 0.4s;
				.small{
					font-size: 12px !important;
					line-height: 20px !important;
				}
			}


			.owl-controls{
				position: absolute;
				width: 100%;
				bottom:173px;
				.owl-nav{
					display: none;
				}
				.owl-dots{
					text-align: center;
					.owl-dot{
						display: inline-block;
						margin: 0 5px;
						border-radius: 50px;
						-webkit-border-radius: 50px;
						background: #5e5b5b;
						width: 10px;
						height: 10px;
						&.active{
							background: #fff;
						}
					}
				}
			}
		}
	}
	//

	.banner{
		position: relative;
		overflow: hidden;
		.bg{
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			img{
				width: 100%;
			}
		}
		p{
			position: relative;
	        padding: 3.5rem 7rem 3.8rem;
			img{
				width: 100%;
			}
		}
	}

	.bottom{
		position: relative;
		opacity: 0;
		transition: all 0.8s;
		.img{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			text-align: center;
			p{
				padding-bottom: 6px;
				font:30px 'adinenuPro-black';
				text-transform: uppercase;
			}
			.button{
				a{
					background: #000;
					border: 0;
				}
			}

		}
	}
}
