@import "./mobile/MO/reebok/css/scss/about.scss";

.crossfit{

    //common
    .btn{
        display: inline-block;
        background: #000;
        text-align: center;
        a{
            position: relative;
            display: block;
            font: 500 1rem/40px 'NotoSansKR';
            color: #fff;
            /* padding: 0 3rem; */
            letter-spacing: .1rem;
            width: 131px;
            span{
                display: inline-block;
                width: 20px;
                height: 9px;
                background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 18px;
            }
            &:after{
                display: inline-block;
                content: '';
                border: 1px solid #000;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                transform: translate(3px, 3px);
            }
        }
    }

    img,video{
        width:100%;
        height:auto;
    }
    p{
        font:900 23px/23px 'NotoSansKR';
        color:#fff;
    }
    .main{
    }
    .aside{
        position: relative;
        a{
            position: absolute;
            top: 80%;
            left: 31%;
            width: 38%;
            height: 11%;
            text-indent: -9999px;
            z-index: 2;
        }
    }
    .btm{
        position: relative;
        .btm_video{
            video{
                display: block;
            }
        }
        .wrap{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width:100%;
            text-align: center;
            p{
                margin: 0 0 20px 0;
            }
            .inner{
                width: 13%;
                margin: 0 auto;
                a{
                    img{
                    }
                }
            }
        }
    }

}


// crossfit END
