@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";
#kids {
  position: relative;

  .btn_default {
    margin-top: 0;
  }
  .section {
    position: relative;
    .inner {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .sect_visual {
    position: relative;
    > img {
      display: block;
      width: 100%;
    }
  }

  .sect_statement {
    padding: 3.5rem 0;
    background: #f7bb40;
    .inner {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      h4 {
        font: 900 2.1rem/2.1rem "NotoSansKR";
        color: #000;
        letter-spacing: 2px;
        text-align: center;
      }
      p {
        padding: 1.5rem 0;
        font: 500 1.3rem "NotoSansKR";
        color: #000;
        letter-spacing: 1px;
        text-align: center;
        strong {
          font-weight: bold;
          letter-spacing: inherit;
        }
        &.pimg {
          padding: 0;
          text-align: center;
          img {
            display: inline-block;
            width: 100px;
          }
        }
      }
      .btn_default {
        margin-top: 1.5rem;
      }
    }
  }

  .sect_event {
    position: relative;
    background: #e8334a;
    .txt_wrap {
      padding: 3rem 0;
      > img {
        display: block;
        width: 100%;
      }
      .txt {
        text-align: center;
        color: #000;
        h4 {
          color: inherit;
          font: 900 1.9rem/2.5rem "NotoSansKR";
          letter-spacing: 2px;
          text-align: center;
        }
        p {
          font: 600 1rem/1.6rem "NotoSansKR";
          letter-spacing: 0;
          text-align: center;
          letter-spacing: 1px;
          padding: 1.5rem 0 2rem;
        }
        > span {
          font: 900 18px/26px "NotoSansKR";
          letter-spacing: 0;
          text-align: center;
          display: block;
          strong {
            display: inline-block;
            font: 600 20px/26px "adinenuPro-bold", "NotoSansKR";
            letter-spacing: 2px;
            padding-left: 10px;
          }
        }
        .btn_default {
          margin: 0 0 3rem;
        }
      }
    }
  }

  .sect_cont1 {
    padding: 3.5rem 2rem;
    background: url("/images/adidas/2021/event/kids/lego/cont1_bg.jpg") top center no-repeat;
    background-size: 100% 100%;
    .video_wrap {
      position: relative;
      > img {
        display: block;
        width: 100%;
      }
      .video_btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        button {
          background: url("/images/adidas/2021/event/kids/lego/btn.png") no-repeat;
          background-size: 100%;
          width: 38px;
          height: 42px;
          border: 0;
        }
      }
    }
    .txt_wrap {
      padding-top: 3rem;
      .txt {
        text-align: center;
        color: #111;
        h4 {
          color: #000;
          font: 900 2rem/2.5rem "NotoSansKR";
          letter-spacing: 2px;
          text-align: center;
        }
        p {
          font: 500 1.1rem/1.7rem "NotoSansKR";
          letter-spacing: 1px;
          text-align: center;
          padding-top: 1.5rem;
        }
      }
    }
  }

  .sect_cont2 {
    .cont_head {
      > img {
        display: block;
        width: 100%;
      }
    }
    .cont_body {
      padding: 3.5rem 2rem;
      position: relative;
      background: url("/images/adidas/2021/event/kids/lego/cont2_bot_bg.jpg") top center no-repeat;
      background-size: 100% 100%;
      .txt_wrap {
        .txt {
          text-align: center;
          color: #000;
          > p {
            font: 500 1.2rem/1.6rem "NotoSansKR";
            letter-spacing: 0;
            text-align: center;
            letter-spacing: 1px;
            strong {
              font-weight: bold;
              letter-spacing: inherit;
            }
          }
          .btn_default {
            margin: 1.5rem 0 3.5rem;
          }
          ul {
            li {
              position: relative;
              overflow: hidden;
              display: block;
              width: 100%;
              margin-bottom: 1rem;
              &:last-child {
                margin-bottom: 0;
              }
              > * {
                float: left;
              }
              > img {
                width: 60%;
                display: inline-block;
              }
              .litxt {
                position: absolute;
                top: 50%;
                left: 65%;
                transform: translateY(-50%);
                width: 40%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                h5 {
                  font: 800 1.3rem/1.3rem "NotoSansKR";
                  text-align: left;
                  letter-spacing: 1px;
                }
                p {
                  padding-top: 1rem;
                  font: 600 1rem/1.5rem "NotoSansKR";
                  text-align: left;
                  letter-spacing: normal;
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_cont3 {
    background: #0eb0e2;
    ul {
      overflow: hidden;
      li {
        overflow: hidden;
        width: 50%;
        float: left;
        > img {
          width: 100%;
          display: block;
        }
      }
    }
    .txt {
      padding: 2.5rem 0 4rem;
      text-align: center;
      background: url("/images/adidas/2021/event/kids/lego/cont3_bg.jpg") top center no-repeat;
      background-size: 100%;
      > p {
        font: 500 1.1rem/1.9rem "NotoSansKR";
        color: #000;
        text-align: center;
        letter-spacing: 1px;
        strong {
          font-weight: bold;
          letter-spacing: inherit;
        }
      }
      .btn_default {
        margin-top: 1.5rem;
      }
    }
  }

  .sect_endcont {
    > img {
      display: block;
      width: 100%;
    }
  }
}
