@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#test_area{
	position: relative;

	.button_area_v2{
		display: inline-block;
		// margin-bottom: 2vh;
		a{
			font: 500 1rem/37px 'NotoSansKR';
			padding: 0 5vw;
			letter-spacing: 0.1px;
			height: 38px;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}

	img{
		width:100%;
	}
	strong{
		font:500 1.2rem 'NotoSansKR';
		text-transform: uppercase;
	}


	.section{
		margin: 0rem 0 4rem;
		.slick-slide{
			display: block;
			width:100%;
			height: 100px;
			// margin: 0 10px;
			border:1px solid #ddd;
			box-sizing: border-box;
			text-align: center;
		}
		.slick-arrow{
			position: absolute;
			// bottom:0;
			top:50%;
			z-index: 1;
			&.slick-next{
				right:0;
			}
			&.slick-prev{
				left:0;
			}
		}
		.slick-dots{
			position: absolute;
			bottom:0;
			width:100%;
			text-align: center;
			li{
				display: inline-block;
				width:10px;
				height:10px;
				margin:0 5px;
				border-radius: 50px;
				background: #999;
				text-indent: -99999px;
				&.slick-active{
					background: #555
				}
			}
		}

		// slick common
		button{
			display: inline-block;
			border: none;
			margin: 0;
			padding: 0;
			width: auto;
			overflow: visible;
			outline: none;
			background: transparent;
		
			/* inherit font & color from ancestor */
			color: inherit;
			font: inherit;
		
			/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
			line-height: normal;
		
			/* Corrects font smoothing for webkit */
			-webkit-font-smoothing: inherit;
			-moz-osx-font-smoothing: inherit;
		
			/* Corrects inability to style clickable `input` types in iOS */
			-webkit-appearance: none;

		}
		
	}






}
