@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#campaign_miadidas{
	position: relative;
	>.bg{
		img{
			width: 100%;
		}
	}
	.inn{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width: 100%;
		text-align: center;
		>*{color:#fff;}
		h2{
			font:40px/35px 'adinenuPro-black';
			text-transform: uppercase;
			letter-spacing: 1.2px;
		}
		p.title{
			font:900 30px/25px 'NotoSansKR';
			letter-spacing: 1px;

		}
		.box{
			display: inline-block;
			background: rgba(0,0,0,0.5);
			position: relative;
			padding: 20px;
			margin: 20px 0 0 0;
			p{
				font:400 1rem 'NotoSansKR';

			}
		}
		.button_area_v2{
			display: inline-block;
			width: 200px;
			margin: 20px 0 0 0;
			a{
				height: 45px;
		    	font: 500 13px/44px 'NotoSansKR';
				letter-spacing: 1px;
			}
		}
	}
}
