@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";

#video-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#video-layer .bg {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin: center center;
  -webkit-transform-origin: center center;
  transform: scale(0);
  -webkit-transform: scale(0);
  opacity: 0;
  background: #000;
  z-index: 1;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

#video-layer.loaded .bg {
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#video-layer .video-box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#video-layer .close_x_btn {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
}

#video-layer.loaded .close_x_btn {
  opacity: 1;
}

.button_area_v2 {
  a {
    height: 40px;
    font: 500 12px/40px "NotoSansKR";
    span.arrow {
      top: -2px;
    }
  }
}

#azx {
  .section {
    position: relative;

    > img {
      display: block;
      width: 100%;
    }

    &.sect_visual {
    }

    &.sect_state {
      video {
        display: block;
        width: 100%;
      }

      &.on {
        .state_buybox {
          > * {
            // transform: translateY(0) !important;
            // opacity: 1 !important;
          }
        }
      }

      .state_buybox {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;

        > * {
          // transform: translateY(30px);
          // transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
          // opacity: 0;
        }

        p {
          font: 300 1.2rem "NotoSansKR";
          color: #fff;
          text-align: center;
        }
        .btn-play {
          margin-top: 2rem;
          text-align: center;
          a {
            display: inline-block;
            font: 300 1.2rem "NotoSansKR";
            color: #fff;
            text-decoration: underline;
          }
        }
        .button_area_v2 {
          display: inline-block;
          margin-top: 2.5rem;

          transition-delay: 0.2s;

          a {
            padding: 0 20px;
          }
        }
      }
    }

    &.sect_contents {
      position: static;
      background: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      > div {
        &:last-child {
          margin-bottom: 0;
        }

        > img {
          display: block;
          width: 100%;
        }
      }

      .cont_thisprd {
        position: relative;

        &.on {
          .thisprd_buybox {
            > * {
              // transform: translateY(0) !important;
              // opacity: 1 !important;
            }
          }
        }

        .thisprd_buybox {
          position: absolute;
          width: 100%;
          bottom: 2rem;
          left: 0;
          z-index: 2;
          text-align: center;
          > * {
            // transform: translateY(30px);
            // transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
            // opacity: 0;
          }
          > img {
            width: 15%;
          }
          h3 {
            padding-top: 0.3rem;
            font: 400 1.9rem/1.9rem "adinenuPro-bold";
            letter-spacing: 1px;
            color: #000;
            text-transform: uppercase;
            text-align: center;
          }

          p {
            font: 300 1rem "NotoSansKR";
            color: #000;
            text-align: center;
            letter-spacing: normal;
            transition-delay: 0.1s;
            margin: 0.7rem 0 0;
          }

          .button_area_v2 {
            display: inline-block;
            margin-top: 1rem;
            transition-delay: 0.2s;

            a {
              padding: 0 20px;
            }
          }
        }
      }

      .collection__wrapper {
        padding: 4rem 0 3rem;
        background: url("/images/adidas/2020/event/zx/azx/collect_bg.jpg") no-repeat;
        background-size: cover;

        .collection__head {
          text-align: center;

          h3 {
            text-align: center;
            img {
              display: block;
              width: 100%;
            }
          }

          p {
            padding-top: 0.5rem;
            font: 400 1.1rem "NotoSansKR";
            letter-spacing: normal;
            color: #000;
            text-align: center;
          }
        }

        ul#collection__slider {
          margin-top: 3rem;

          .slick-slide {
            padding: 0 1rem;
            > img {
              display: block;
              width: 100%;
            }

            .infoBox {
              padding: 1.1rem 1rem 0.5rem;
              .infoBox_inn {
                height: 12rem;
                h4 {
                  font: 400 1.9rem/1.9rem "adinenuPro-black";
                  letter-spacing: 0.5px;
                  color: #000;
                }

                p {
                  padding: 0.4rem 0 2rem;
                  font: 400 1.1rem/1.5rem "NotoSansKR";
                  color: #000;
                  text-transform: uppercase;
                }
              }
              .button_area_v2 {
                display: inline-block;
                width: auto;

                a {
                  padding: 0 2rem;
                }
              }
            }
          }
          .slick-dots {
            text-align: center;
            padding: 3rem 0 0;

            li {
              width: 8px;
              height: 8px;
              border: 2px solid #000;
              border-radius: 50%;
              display: inline-block;
              margin-right: 6px;

              &:last-child {
                margin-right: 0;
              }

              button {
                background: none;
                border: 0;
                text-indent: -9999px;
              }

              &.slick-active {
                background: #000;
              }
            }
          }
        }
      }

      .cont_prds {
        padding: 1.5rem;
      }

      .cont_bnnzx {
        position: relative;

        &.on {
          .bnnzx_buybox {
            > * {
              // filter: blur(0) !important;
              // opacity: 1 !important;
            }
          }
        }

        .bnnzx_buybox {
          position: absolute;
          top: 50%;
          left: 1.5rem;
          transform: translateY(-41%);
          z-index: 2;
          > * {
            // filter: blur(20px);
            // transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
            // opacity: 0;
          }

          h3 {
            font: 400 50px/50px "adinenuPro-bold";
            color: #000;
            text-align: left;
            img {
              width: 52%;
            }
          }

          .button_area_v2 {
            margin-top: 2rem;
            display: inline-block;
            transition-delay: 0.2s;

            a {
              padding: 0 20px;
            }
          }
        }
      }
    }
  }
}
