@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#originals_kids{
	.button{
		background: #000;
		display: inline-block;
		padding: 1.5rem 3rem;
		font-size: 1.15rem;
		letter-spacing: 0;
		color: #fff;

		span{
			color: #fff;
		}

		&::after{
			margin-left: 3px;
			vertical-align: middle;
			font-size: 1.1rem;
		}
	}

	.title_wrapper{
		width: 100%;
		margin: 0 auto;
		.logo{
			text-align: center;
			color: #000;
			&::before{
				font-size: 1.2rem;
			}
		}

		h4{
	 		font:2.4rem/2.9rem 'Adihaus-regular';
			text-align: center;
			color: #000;

			strong{
				font-weight: normal;
				font-family: 'AdihausDIN-Bold';
				color: #000;
			}
		}
	}

	.masthead{
		img{
			width: 100%;
		}
	}
	/* masthead END */

	.statement{
		width: 100%;
		padding: 3rem 0;
		background:#fff;
		text-align: center;

		>*{
			text-align: center;
			color: #000;
		}

		h3{
			position: relative;
			padding-bottom: 1.5rem;
			margin-bottom: 1.5rem;
			font:2.3rem 'NotoSansKRLight';

			&::after{
				@extend  .pseudo-element;
				width: 30px;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -15px;
				background: #000;
			}
		}

		.desc{
			margin-bottom: 1.5rem;
			font:1.3rem 'NotoSansKRRegular';
		}

		.button{
			color: #fff;
		}
	}
	/* statement END */

	.lookbook{
		padding: 2rem 0;
		background:url('/images/adidas/event/originals_kids/lookbook_bg.jpg') 0 0 no-repeat;
		background-size: 100% auto;
		-webkit-background-size: 100% auto;

		.title_wrapper{
			margin-bottom: 1.5rem;
		}

		.slider_wrapper{
			#sliders{
				width: 100%;
				overflow: hidden;

				ul{
					width: 100%;
					overflow: hidden;
					li{
						position: relative;
						float: left;
						img{
							width: 100%;
						}
					}
				}
			}

			.indicator{
				width: 100%;
				padding: 1.5rem 0;
				text-align: center;
				a{
					width: 10px;
					height: 10px;
					margin: 0 3px;
					display: inline-block;
					background: #ababab;

					&.on{
						background: #fd5a84;
					}
				}

			}
		}
	}
	/* lookbook END */

	.video_box{
		width: 100%;
		text-align: center;

		.title_wrapper{
			margin-bottom: 1.5rem;
		}

		img{
			width: 100%;
		}

		.button{
			margin: 3rem 0;
		}
	}
}

#video-modal-popup{
	.popup{
		width: 100% !important;
		height: 100% !important;

		.close_x_btn{
			top: 0 !important;
		}
	}
}
