@import "./mobile/MO/reebok/css/scss/about.scss";

#contents {
	img {
		vertical-align: middle;
	}
}


body {
	// height:100%;
	outline:none;
}

button {
	outline: none;
}

a{
	outline: none;
	
}

.btn {
	>div {
		position: relative;
		display: inline-block;

		&::before {
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			bottom: -4px;
			height: 3px;
			left: 2px;
			width: calc(100% + 1px);
			content: "";
			display: block;
			position: absolute;
		}

		&::after {
			border-right: 1px solid #000;
			border-top: 1px solid #000;
			height: calc(100% + 1px);
			right: -4px;
			top: 2px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}

		a {
			padding: 0 1rem;
			font: 600 1rem/3.4rem 'NotoSansKR';
			letter-spacing: .1rem;
			position: relative;
			display: block;
			text-align: center;
			color: #fff;
			background: #000;
			z-index: 2;
			border: 1px solid #000;

			.arrow {
				margin-top: -3px;
				margin-left: 1.4rem;
				vertical-align: middle;
				// width: 20%;
			}
		}
	}

	&.white {
		>div {
			&::before {
				border-bottom: 1px solid #fff;
				border-left: 1px solid #fff;
			}

			&::after {
				border-right: 1px solid #fff;
				border-top: 1px solid #fff;
			}

			a {
				color: #000;
				background: #fff;
				border: 1px solid #fff;

			}
		}
	}
}

.rel {
	position: relative;
}

#ellestage{
	.slick-dots{
		text-align:center; 
		z-index: 5;
		position: absolute;
		left: 50%;
		bottom: -35px;
		transform: translateX(-50%);					
	}

	.slick-dots li{
		display:inline-block;
		vertical-align:top;
		margin-right:5px;
	}
	
	.slick-dots li button{
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background:none;
		border:0;
		padding: 0;
		text-indent: -9999px;
		background:#d8d8d8;
	}
	
	.slick-dots li.slick-active button {
		background: #111;
	}		
			
	.slick-active {
		img {
			position: relative;
		}

		&::after {
			opacity: 1;
		}

		&.comming{
			&::after{
				opacity:0;
			}
		}				
	}	

	.main__visual{
		position:relative;
		.main__box{
			position:relative;
			>img{
				display:block;
				margin:0 auto;
				width:100%;
			}
				.main_txt{
					position:absolute;left:50%;top:30%;
					transform:translate(-50%,-50%);
					width:100%;
					h1{
						text-align:center;
						img{
							display:block;
							width:60%;
							margin:0 auto;
						}
					}
					p{
						color:#fff;
						font:400 1.2rem/1.7rem 'NotoSansKR';
						padding-top:1.9rem;
						text-align:center;
						letter-spacing:normal;
						span{
							display:block;
						}
						strong{
							font:700 1.2rem/1.7rem 'neueplak';
							text-transform:uppercase;
							letter-spacing:1px;
							display:inline-block;
						}
						em{
							display:block;
							padding:0.4rem 0;
						}
					}
				}

				.slider{
					overflow:hidden;
					position:relative;
					.video__wrapper{
						font-size: 0;
						position:relative;
						video{
							width:100%;
							height:100%;
						}
						a{
							position:absolute;left:54%;top:50%;
							transform:translate(-50%,-50%);								
							display:block;
							text-align: center;
							cursor: pointer;
							img{
								width:70%;
							}
						}
					}													
				}


				.slick-arrow{
					display:inline-block;
					position:absolute; top:45%;
					border:0;
					background:none;
					text-decoration:none;
					// &:nth-child(1){
					// 	right:-4%;
					// }		
				}
			
				.slick-next{
					width:30px;
					height:50px;			
					background:url('/images/reebok/2020/event/ellestage/video_right.png') no-repeat;
					background-size:auto auto;
					background-position: top;
					border:0;
					font-size:0;
					cursor: pointer;
					right:-4%;
				}

				.slick-prev{
					width:30px;
					height:50px;			
					background:url('/images/reebok/2020/event/ellestage/video_left.png') no-repeat;
					background-size:auto auto;
					background-position: top;
					border:0;
					font-size:0;
					cursor: pointer;
					left:-4%;					
				}		

			}
		}
	
	.cont__2{
		padding:2rem 0 2rem 0;
		.cont__2__txt{
			text-align:center;
			margin:0 auto;
			h2{
				color:#111;
				font:900 2.1rem/2rem 'neueplak-ext';
				text-transform:uppercase;
				letter-spacing:normal;
				display:inline-block;
			}
			p{
				text-align:center;
				color:#111;
				font:700 1.1rem/1.4rem 'NotoSansKR';
				padding:1rem 0 0.4rem 0;
				letter-spacing:0;
				strong{
					font:700 1.1rem/1.4rem 'neueplak';
					text-transform:uppercase;
					letter-spacing:1px;
					display:inline-block;					
				}
				.space{
					display:block;
				}
				.rer{
					font:400 1rem/1.4rem 'neueplak';					
				}
			}
			em{
				text-align:center;
				color:#111;
				font:400 0.9rem/1.4rem 'NotoSansKR';
				letter-spacing:0;				
			}
		}
	}	
	.slider__tab{
		.tab__box{
			position:relative;
			background:url('/images/reebok/2020/event/ellestage/tab_bg.jpg')no-repeat;
			background-size:cover;
			text-align:center;
			padding:4.5rem 0;
			.artist_list{
				.art_list_box{
					box-sizing:border-box;
					background:#b2261e;
					padding:0.4rem 0.4rem 1rem 0.4rem;
					color:#fff;	
					text-align:center;
					margin:0 7%;
					img{
						width:100%;
						display:block;	
					}
					h2{
						font:900 1rem/1.5rem 'NotoSansKR';
						letter-spacing:normal;
						text-align:center;
						padding:1.5rem 0 0.8rem 0;
						>span{
							font:900 1.4rem/1.5rem 'NotoSansKR';
						}
					}
					p{
						font:400 1rem/1.5rem 'NotoSansKR';
						text-align:center;
						letter-spacing:normal;
						padding-bottom:1.5rem;
						>span{
							display:block;
						}
					}

					.move{
						padding-bottom:0.5rem;
					}			

					strong{
						display:block;
						font:700 1rem/1.5rem 'NotoSansKR';
						letter-spacing:normal;
					}
					em{
						font:300 1rem/1.5rem 'neueplak-nrrw';							
						letter-spacing:1px;
						display:block;
						text-align:center;
						padding-bottom:1rem;
					}
				}
			}

		}
	}
	
	.artist_pick{
		position:relative;
		background:url('/images/reebok/2020/event/ellestage/product_bg.jpg')no-repeat;
		background-size:cover;
		text-align:center;
		h3{
			font:900 2.1rem/2.5rem 'neueplak-ext';					
			text-align:center;
			color:#111;
			letter-spacing:0;
			text-transform:uppercase;
			padding:4rem 0 1.4rem 0;
		}
		.pick_list{
			img{
				width:100%;
			}
			.pick_list_box{
				margin:0 7%;
			}
		}
		.pick_btn{
			padding:3rem 0;
		}
	}
}//ellestage