// @import './app/css/adidas/scss/common/mixin.scss';
// @import './app/css/adidas/scss/common/common.scss';
@font-face{
    font-family:'Decima Mono';
    src:url('//imagem.adidas.co.kr/fonts/decimamono/woff/32923C_0_0.woff2') format('woff2'),
        url('//imagem.adidas.co.kr/fonts/decimamono/woff/32923C_0_0.woff') format('woff'),
        url('//imagem.adidas.co.kr/fonts/decimamono/ttf/32923C_0_0.ttf') format('truetype');
}

#eqt{
	.main_top{
		div{
			padding: 1rem 2rem 35px 2rem;
		}
		img{
			width: 100%;
		}
		.desc{
		    padding: 4rem 2rem 45px 2rem;
			p{
				text-transform: uppercase;
				font: 1.1rem 'NotoSansKRRegular';

				&.title{
					position: relative;
					padding-bottom: 25px;
					margin-bottom: 25px;
					font:1.2rem 'Decima Mono';
					&:after{
						position: absolute;
						bottom:0;
						left:0;
						content: '';
						display: inline-block;
						width: 10px;
						height: 1px;
						background: #000;
					}
				}
			}
		}
	}
	.content{
		margin: 45px 0 0 0;
		&.on{
			.section{
				.more{
					span{
						pointer-events: none;
					}
				}
				.thumb{
					span{
						background: rgba(0,0,0,0.5);
					}
				}
			}
		}
		.section{
			.more{
				position: relative;
				padding: 22px 0;
				margin: 0 5rem;
				border-top: 1px solid #cccccc;
				p{
					font:1.2rem 'Decima Mono';
					font-weight: bold;
				}
				span{
					position: absolute;
					right:0;
					top:22px;

					display: inline-block;
					width: 35px;
					height: 35px;
					border:1px solid #cccccc;
					border-radius: 50px;
					-webkit-border-radius: 50px;
					em{
						&:after{
							position: absolute;
							top:50%;
							left:50%;
							margin-top: -5px;
							margin-left: -1px;
							content: '';
							display: inline-block;
							width: 2px;
							height: 10px;
							background: #000;
						}
						&:before{
							position: absolute;
							top:50%;
							left:50%;
							margin-left: -5px;
							margin-top: -1px;
							content: '';
							display: inline-block;
							width: 10px;
							height :2px;
							background: #000;
						}
					}
				}
			}
			.thumb{
				position: relative;
			    margin: 0 5rem 0 0;
				img{
					width: 100%;
				}
				span{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0);
				}
			}
		}
		.artist_detail{
			position: relative;
			height: 0;
			padding-bottom: 0;
			background: #eee;
			overflow: hidden;
			transition: all 1.5s;

			&.on{
			    padding-bottom: 323%;
                @media screen and (min-width: 414px) {
                	// padding-bottom: 110rem;
                }
				.cover{
					top:100%;
				}
				.thumb{
                    margin: -80% 0 0;
					opacity: 1;
				}
			}
			.cover{
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: #fff;
				transition: all 2s;
				// -webkit-transition: top 2s;
				z-index: 2;
			}
			.thumb{
				position: relative;
			    margin: 0;
			    z-index: 1;
			    padding: 0 4rem;
			    transition: all 1s;
			    -webkit-transition: all 1s;
				transition-delay: 0.2s;
				opacity: 0;
				p{
				    margin: 0 0 1rem 0;
					color:#fff;
					font: 1.2rem 'Decima Mono';
				}
				img{
					margin: 1.5rem 0 0 0;
					width: 100%;
				}
			}
			.txt{
				position: relative;
		        padding: 30px 2rem;
				p{
					font: 1.1rem 'NotoSansKRRegular';
				}
			}
			.bg{
				position: relative;
				display: block;
				img{
					width: 100%;
				}

			}
			.video{
				position: relative;
			    margin: 0 0 0 5rem;
				img{
					width: 100%;
				}
				span{
					display: block;
					padding: 1rem 0 0 0;
					font: 1.2rem 'Decima Mono';
					text-align: left;
				}
			}
			.close{
				position: absolute;
			    right: 2rem;
			    top: 2rem;
			    display: inline-block;
			    width: 35px;
			    height: 35px;
			    border-radius: 50px;
			    -webkit-border-radius: 50px;
				background: #000;
				z-index: 1;
				em{
					&:after{
						position: absolute;
						top:50%;
						left:50%;
						margin-top: -5px;
						margin-left: -1px;
						content: '';
						display: inline-block;
						width: 2px;
						height: 10px;
						background: #fff;
						transform: rotate(45deg);

					}
					&:before{
						position: absolute;
						top:50%;
						left:50%;
						margin-left: -5px;
						margin-top: -1px;
						content: '';
						display: inline-block;
						width: 10px;
						height :2px;
						background: #fff;
						transform: rotate(45deg);

					}
				}
			}
		}
        .button_area{
            position: relative;
            a{
                display: inline-block;
                background: #93cbcd;
            }
        }
	}
    .button_area{
        position: relative;
        margin: 0 5rem 5rem;
        a{
            height: 60px;
            line-height: 60px;
            background: #93cbcd;
            color:#000;
            text-align: left;
            span{
                margin-left: 15px;
                margin-right: 5px;
                font-family:'Decima Mono';
                text-transform: uppercase;
                color:#000;
            }
            em{
                position: absolute;
                right: 30px;
                background: url(http://image.adidas.co.kr/images/adidas/event/eqt/170824/arrow.png) no-repeat;
                display: inline-block;
                width: 15px;
                height: 10px;
                top: 50%;
                margin-top: -5px;
            }
        }
    }
    .play_list{
        margin: 0 1.1rem;
    }
    .player_wrap{
		border-top: 1px solid #dedede;
        width: 100%;
        margin: 0 auto 5rem;
        .player{
            &.soon{
                position: relative;
                top:2px;
                p{
                    padding: 18px 0 0 16px;
                }
            }
        }
		.audioplayer{
			position: relative;
			// text-align: right;
			width: 100%;
			height: 55px;
			border-bottom:1px solid #dedede;
			transition: all 0.5s;
			-webkit-transition: all 0.5s;
			p{
                display: inline-block;
                padding: 12px 0 0 16px;
                width: 44%;

                text-transform: uppercase;
                color: #000;
                text-align: left;
                vertical-align: middle;
                em{
                    padding: 2px 4px 0 0;
                    font-family: 'adinenuPro-bold';
                    font-size: 1.23rem;
                    font-style: normal;
                    display: inline-block;
                    vertical-align: top;
                }
                span{
                    display: inline-block;
                    font: 1.23rem 'adinenuPro-regular';
                    vertical-align: middle;
                    strong{
                        font-family: 'adinenuPro-bold'
                    }
                }
			}
			&.active{
				background: #f4f4f4;
			}
			button{
				position: absolute;
				right: 0;
				top: 0;
				height:60px;
				width: 60px;
				border: none;
				float:left;
				outline:none;
				cursor: pointer;
				&.play{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/eqt/170824/eqt_btn_play.png');
					background-size: 60% 60%;
					background-repeat: no-repeat;
					background-position: center;
				}
				&.pause{
			        background: url('http://imagem.adidas.co.kr/images/adidas/event/eqt/170824/eqt_btn_stop.png');
					background-size: 60% 60%;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			.timeline{
                position: relative;
                top: 5px;
                display: inline-block;
                width: 33%;
                height: 5px;

                border-radius: 15px;
                -webkit-border-radius: 15px;
                background: rgba(0,0,0,0.3);
			}
			.playhead{
                width: 12px;
                height: 12px;
				border-radius: 50%;
				margin-top: -4px;
				background: rgba(0, 0, 0,1);
			}
		}
	}
}
