@import "./app/MO/reebok/css/scss/about.scss";

.clubc_90{
    .video_visual{
        padding-bottom: 123.4375%;
        .cover{
            transform: translate3d(0, -54%, 0);
            -webkit-transform: translate3d(0, -54%, 0);
        }
        h2{
            color:#fff;
            text-transform: uppercase;
            span{
                font:2.5rem/3.5rem 'QStencil';
                vertical-align: top;
            }
        }
        .desc{
            margin-bottom:1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            font:500 1.7rem/1.3rem 'dinpro cond';
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKR';
        }
        .video-btn{
            top:3.3rem;
            margin:0 auto;
        }
    }
    .main_cut{
        a{
            display: inline-block;
            img{
                width: 100%;
            }
        }
    }
    .event_section{
        position: relative;
        padding-bottom: 193%;
        .bg{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            img{width: 100%;height: 100%;}
        }
        .tips_wrap{
            position: absolute;
            top: 80%;
            width: 100%;
            .tips{
                padding: 12px 0 10px;
                margin: 0 1rem;
                background: rgba(255,255,255,0.6);
                ul{
                    li{
                        position: relative;
                        margin-left: 1rem;
                        padding-left: 8px;
                        font:500 0.65rem/1.3rem 'NotoSansKR';
                        color:#999;
                        &:before{
                            content: '*';
                            display: inline-block;
                            position: absolute;
                            left:0;
                            top:2px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .prd_section{
        padding: 0 1rem 22px 1rem;
        background: url('http://imagem.reebok.co.kr/images/reebok/about/clubc_90/prd_bg.jpg') no-repeat;
        background-size: 100% 100%;
        h3{
            padding: 30px 0 20px;
            font:700 2.5rem 'dinpro cond';
            color:#fff;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            padding-bottom: 22px;
            font:1rem 'NotoSansKR';
            text-align: center;
            color:#fff;
            text-transform: uppercase;
            letter-spacing: -0.2px;
        }
        .prd_box{
            padding-bottom: 10px;
            a{
                display: inline-block;
                img{
                    width: 100%;
                }
            }
        }
    }
}
// clubc_90
