@import "./app/MO/reebok/css/scss/about.scss";

.clubc_90_v2{
    .video_visual{
        padding-bottom: 123.4375%;
        .cover{
            transform: translate3d(0, -54%, 0);
            -webkit-transform: translate3d(0, -54%, 0);
        }
        h2{
            color:#fff;
            text-transform: uppercase;
            span{
                font:2.5rem/3.5rem 'QStencil';
                vertical-align: top;
            }
        }
        .desc{
            margin-bottom:1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            font:500 1.7rem/1.3rem 'dinpro cond';
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKR';
        }
        .video-btn{
            top:3.3rem;
            margin:0 auto;
        }
    }
    .main_cut{
            position: relative;
            img{
                width: 100%;
            }

    }
    .event_section{
        position: relative;
        padding-bottom: 193%;
        .bg{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            img{width: 100%;height: 100%;}
        }
        .tips_wrap{
            position: absolute;
            top: 80%;
            width: 100%;
            .tips{
                padding: 12px 0 10px;
                margin: 0 1rem;
                background: rgba(255,255,255,0.6);
                ul{
                    li{
                        position: relative;
                        margin-left: 1rem;
                        padding-left: 8px;
                        font:500 0.65rem/1.3rem 'NotoSansKR';
                        color:#999;
                        &:before{
                            content: '*';
                            display: inline-block;
                            position: absolute;
                            left:0;
                            top:2px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .collections2{
        padding: 0 1.5rem 1.5rem;
        background: url('http://imagem.reebok.co.kr/images/reebok/about/clubc_90/1114/slide_bg.jpg') 0 no-repeat;
        background-size: 100% 100%;

        h3{
            padding: 2.5rem 0px 1rem;
            color: #fff;
            font:700 2.5rem/3rem 'dinpro cond';
            text-align: center;
            text-transform: uppercase;
            a{
                display: inline-block;
                border: 1px solid #fff;
                color:#fff;
                background-color: rgba(0, 0, 0, 0.3);
                font:400 1.3rem/1.9rem 'NotoSansKR';
                text-align: center;
                padding : 0.8rem 2rem 1rem 2rem;
                margin: 1rem 0.2rem;
            }
        }

        .num_paging{
            padding: 1rem 0px;
            a{
                background: rgba(255, 255, 255, 0.3);
                border:none;
                width: 1rem;
                height: 1rem;
                margin-right: 0.8rem;
            }

            .on{
                background: #fff;
            }
        }

        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;      
                    }
                }
            }
            .navi{
                position: absolute;
                top:50%;
                margin-top: -16.5px;
                width: 100%;
                text-align: center;
                img{
                    width: 50%;
                }
                .next{
                    position: absolute;
                    right:0;
                    text-align: right;
                    img{
                        width: 40%;
                        margin-right: 1rem;
                    }
                }
                .prev{
                    position: absolute;
                    left:0;
                    text-align: left;
                    img{
                        width: 40%;
                        margin-left: 1rem;
                    }
                }
            }
        }
        .prodlist_wrap{
            position: relative;
            padding-bottom: 190%;

            .prodlist{
                position: absolute;
                top: 63px;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;
                h4{
                    position: absolute;
                    top:-3.5rem;
                    width: 100%;
                    text-align: center;
                    img{
                        width: 77%;
                    }
                }
                .box{
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                        .info{
                            padding:20px 0 30px 12px;
                        }
                    }
                }
                .box:nth-child(2n){
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                    }

                }
                .tit{
                    height: 1.4rem;

                    display: -webkit-box;
                    // overflow: hidden;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space:normal;
                    // -webkit-line-clamp:1;
                    // -webkit-box-orient: vertical;
                }
            }

            .active{
                opacity: 1;
                z-index: 2;
            }
            .fake{
                position: relative;
                opacity: 0;
                visibility: hidden;
            }

        }
    }
}
// clubc_90_v2 END
