@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}

button {
	padding: 0;
	margin: 0;
	cursor: pointer;
	border: 0;
	background-color: transparent; }
  
  button:focus {
	outline: none; }

/* 모듈 별 셋팅 영역 */
.golf_icon_set {
	background: url("/images/adidas/event/golf/golf_iconSet.png") no-repeat;
}
#golf_event_mob {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	>img {
		width: 100%;
		display: block;
	}
	a > img{
		width: 100%;
		display: block;
	}
	.event_video_wrap {
		width: 100%;
		max-height: 480px;
		height: 63vw;
		position: relative;
		margin: 0 auto;
		background: url("/images/adidas/event/golf/golfevent/event_video_bgi_m.jpg") 100% no-repeat;
		video {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
		div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			background: rgba(0, 0, 0, 0.5);
			h4 {
				width: 100%;
				height: auto;
				text-align: center;
				color: #fff;
				position: absolute;
				top: 50%;
			}
			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: 5px;
				margin-left: -40px;
			}
		}
	}
}
@media screen and (max-width: 361px) {
	#golf_event_mob {
		.event_video_wrap {
			div {
				h4 {
					font: 600 35px/35px 'adinenuPro-black';
					margin-top: -45px;
				}
				img {
					width: 60px;
					margin-left: -30px;
				}
			}
		}
	}
}
@media screen and (min-width: 361px) and (max-width: 480px) {
	#golf_event_mob {
		.event_video_wrap {
			div {
				h4 {
					font: 600 45px/45px 'adinenuPro-black';
					margin-top: -60px;
				}
				img {
					width: 60px;
					margin-left: -30px;
				}
			}
		}
	}
}
@media screen and (min-width: 481px) {
	#golf_event_mob {
		.event_video_wrap {
			div {
				h4 {
					font: 600 65px/65px 'adinenuPro-black';
					margin-top: -80px;
				}
			}
		}
	}
}

