@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

html,body{
	height: 100%;
}

button{
	outline:none;
}

#container{
	.go_top a{
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
	background: url('/images/adidas/back_top.png') center 10px no-repeat;
	background-size: 60px auto;
	text-indent: -5000px;
	}

	#xghost{
		position:relative;
		//common
		.button_area_v2{
			display: inline-block;
			a{
				padding:0 4vw;
				font:700 1rem/3.4rem 'NotoSansKR';
				letter-spacing: .1rem;
				height: 3.4rem;
				.arrow{
					margin-left: 1rem;
					width: 20px;
					&::after, &::before{
						width: 7px;
    					height: 2px;
					}
					&::before{
						bottom:-3px;
					}
					&::after{
						top:-2px;
					}
				}
			}
		}
	
		.inner{
			margin: 0 auto;
			position: relative;
			box-sizing: border-box;	
			padding:0 2rem;
		}
	
		.clearfix{
			clear:both;
			content:'';
			display:block;
		}
	
		.con1__main{
			position:relative;
			>img{
				display:block;
				width:100%;
				text-align:center;
			}
			.main_txt{
				position:absolute;left:10%;top:73%;
				transform:translateY(-50%);
				width:100%;

				h1{
					img{
						width:50%;
					}
				}

				strong{
					display:block;
					padding:1rem 0 0.4rem 0;
					img{
						width:46%;
					}
				}

				p{
					font:500 1.3rem/1.3rem 'NotoSansKR';
					color:#fff;
					letter-spacing:1px;
					padding-bottom:15px;
				}
			}
		}//con1__main end
	
	
		.con2__video{
			position:relative;
			>img{
				display:block;
				width:100%;
			}
	
			.video_btn{
				position:absolute;left:50%;top:55%;
				transform:translate(-50%, -50%);
				button{
					background:url('/images/adidas/2020/event/football/xghost/btn.png')no-repeat;
					width:57px;
					height:63px;	
					border:0;
					background-size:60%;
					margin-left:30%;
				}
			}	
		}
	
		.con3__txt{
			.txt_box{
				padding:3rem 0;
				background:#111;
				text-align:center;
				p{
					text-align:center;
					font:500 1.1rem/1.8rem 'NotoSansKR';
					color:#fff;
					letter-spacing:2px;
					padding-bottom:1rem;
					span{
						display:block;
					}
				}
				img{
					display:block;
					margin:0 auto;
					width:46%;
				}
			}
		}
		
		.con4__ghosted{
			img{
				width:100%;
				display:block;
			}
		}
	
		.con5__player{
			.player_box{
				position:relative;
				background:url('/images/adidas/2020/event/football/xghost/con5_bg.jpg')center no-repeat;
				padding:3rem 0 2rem 0;
				background-size:cover;
				.player_list{
					width:100%;
					overflow:hidden;
					.player_le{
						float:left;
						width:50%;
						position:relative;
						text-align:center;
						img{
							width:90%;
						}
					}
					.player_ra{
						float:left;
						width:50%;
						position:relative;
						text-align:center;
						img{
							width:90%;
						}						
					}
					.video_btn{
						position:absolute;left:50%;top:50%;
						transform:translate(-50%, -50%);
						button{
							background:url('/images/adidas/2020/event/football/xghost/btn.png')no-repeat;
							width:57px;
							height:63px;	
							border:0;
							background-size:60%;
							margin-left:30%;
						}
					}				
					h3{
						text-align:center;
						color:#fff;
						font:600 1.2rem/1.8rem 'NotoSansKR';
						color:#fff;
						letter-spacing:2px;
						padding-top:0.7rem;			
					}						
				}
			}
		}
		.con6__shoes{
			.con6_box{
				position:relative;
				background:url('/images/adidas/2020/event/football/xghost/con6_bg.jpg')center no-repeat;
				background-size:cover;
				.con6_list{
					width:100%;
					overflow:hidden;
					padding:3.3rem 0 4.8rem 0;

					.con6_all_img{
						img{
							display:block;
							width:100%;
						}
					}

					.con6_all_txt{
						h3{
							text-align:center;
							font:600 1.42rem/2rem 'NotoSansKR';
							color:#fff;
							letter-spacing:2px;		
							padding:2rem 0 1rem 0;						
						}
						p{
							text-align:center;
							font:600 1.17rem/2rem 'NotoSansKR';
							color:#fff;
							letter-spacing:1px;		
							span{
								display:block;
							}
						}
					}
					.con6_move{
						padding-top:4rem;
					}
				}	
			}
		}
		.con7__inflight{
			.infl_box{
				background:#efebed;
				padding:1.5rem 0 2rem 0;
			}
			.infl_list{
				position:relative;
				padding:0 1rem;
				video{
					width:100%;
					border:0;
				}
				.infl_txt{
					position:absolute;left:50%;top:77%;
					transform:translate(-50%,-50%);
					width:100%;
					>div{
						text-align:center;
					}
					h3{
						font: 2.4rem/1.6rem 'AdihausDIN-Bold';
						color:#111;
						letter-spacing: 4px;
						padding:1rem 0;
						text-align:center;
					}
					p{
						text-align:center;
						font:600 1.2rem/2rem 'NotoSansKR';
						color:#111;
						letter-spacing:2px;		
						padding-bottom:1rem;
						span{
							display:block;
						}					
					}
				}
			}
		}
	
		.con8__colletion{
			padding:4rem 0 2.5rem 0;
			h4{
				text-align:center;
				font:600 1.6rem/1.6rem 'NotoSansKR';
				color:#111;
				letter-spacing:3px;
				padding-bottom:30px;
			}
			ul{
				overflow: hidden;
				width:100%;
				li{
					text-align:center;
					padding-bottom:1.5rem;
					.shoes_list{
						overflow: hidden;
						.con8_le{
							float:left;
							width:55%;
							img{
								width:100%;
							}
							
						}
						.con8_ra{
							float:left;
							padding:3.5rem 0 0 1rem;
							width:40%;
							>img{
								width:80%;
							}
							.s_btn{
								padding-top:1.5rem;
							}
						}
					}
				}
			}
		}
	}
}