/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}


// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}
// #video-layer{
// 	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
// }
//
// #video-layer .bg{
// 	width: 100%;
// 	height: 100%;
//
// 	position: absolute;
// 	top: 0;
// 	left: 0;
//
// 	transform-origin:center center;
// 	-webkit-transform-origin:center center;
// 	transform:scale(0);
// 	-webkit-transform:scale(0);
// 	opacity:0;
// 	background:#000;
// 	z-index:1;
//
// 	transition:all 0.4s;
// 	-webkit-transition:all 0.4s;
//
//
// }
//
// #video-layer.loaded .bg{
// 	opacity: 1;
// 	transform:scale(1.2);
// 	-webkit-transform:scale(1.2);
// }
//
// #video-layer .video-box{
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 3;
// }
//
// #video-layer .close_x_btn{
// 	width: 70px;
// 	height: 70px;
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	z-index: 5;
// 	opacity: 0;
// }
//
// #video-layer.loaded .close_x_btn{
// 	opacity: 1;
// }

iframe[name="google_conversion_frame"]{height:0;}

#running_guide{

	#pop{
		position: relative;

		z-index: 11;
		display: none;
		.header{
			position: relative;
			// padding:1rem 0;
			font:1.25rem 'NotosansKR';
			padding: 1rem 1.5rem;
			span{
				position: absolute;
				right: 1.5rem;
				top:50%;
				margin-top: -8px;
				text-align: right;
				img{ width: 66%; }
			}
		}
		.content{
			text-align: center;
			padding:3.8rem 0 4.6rem 0;
			&.box1{
				background: url("http://imagem.adidas.co.kr/images/adidas/event/running_guide/box1_bg.jpg") 0 0 no-repeat;
				background-size:100% 100%;
			}
			&.box2{
				background: url("http://imagem.adidas.co.kr/images/adidas/event/running_guide/box2_bg.jpg") 0 0 no-repeat;
				background-size:100% 100%;
			}
			&.box3{
				background: url("http://imagem.adidas.co.kr/images/adidas/event/running_guide/box3_bg.jpg") 0 0 no-repeat;
				background-size:100% 100%;
			}
			.title{
				padding-bottom: 1rem;
				font:2.4rem/3rem 'NotosansKR';
				color:#fff;
			}
			.desc{
				padding-bottom: 1.5rem;
				font:1.2rem/1.7rem 'NotosansKRlight';
				color:#fff;
				letter-spacing: 0.2px;
			}
			.bar{
				margin:0 auto;
				width: 6rem;
				height: 2px;
				background: #fff;
			}
			.sub_title{
				padding-top: 1.5rem;
				padding-bottom: 0.1rem;
				font:1.7rem/1.7rem 'adinenuPro-bold';
				color:#fff;
				letter-spacing: 0.2px;
			}
			.sub_desc{
				padding-bottom: 1rem;
				font:1rem/1.7rem 'NotosansKRlight';
				color:#fff;
				letter-spacing: 0.2px;
			}
			.dot_bar{
				img{width: 17%;}
				// border:1px dotted #fff;
			}
			.option{
				padding-top: 1rem;
				span{
					padding:0 5px;
					color:#cdd0cb;
					font:1rem/1.7rem 'adinenuPro-regular';
					letter-spacing: 0.5px;
					&:before{
						margin-right: 3px;
					}
				}
			}
			.detail{
				position: relative;
				top:13px;
				text-align: center;
				z-index: 10;
				a{
					display: inline-block;
					padding:0 5.6rem 0 5.6rem;
					border:2px solid #fff;
					color:#fff;
					font:1rem/3.7rem 'NotosansKR';
					&:after{
						margin-left: 7px;
					}
				}
			}
		}
	}


	#top{
		position: relative;
		padding-bottom: 21%;
		overflow: hidden;
		img{
			width:100%;
		}

		.view{
			img{
				position:absolute; width:100%; top:0; left:0; z-index:10;
			}
			.fade_in{
				position:absolute;
				top:0;
				left:0;
				display:block;
			}
			.fade{
				position:absolute;
				top:0;
				left:0;
				display:none;
			}
		}
		.unview{
			img{
				position:relative; width:100%;
			}
		}

		.txt{
			width:100%;
			position:absolute;
			top:38%;
			z-index:15;
			font-size:2.6rem;
			font-family:'adinenuPro-black';
			color:#fff;
			text-align:center;
			line-height:33px;
			transform : translateY(-50%);
			-webkit-transform : translateY(-50%);
			letter-spacing:0px;
			span{
				position: relative;
				top:-9px;
				font-size:1.2rem;
				font-family:'NotoSansKRLight';
				color:#fff;
				text-align:center;
				letter-spacing: 0.3px;
			}
		}
		.bar{
			position: absolute;
			top:53%;
			left:50%;
			width: 2.5px;
			height: 29px;
			background: #fff;
			z-index: 10;
		}

		.detail{
			position: relative;
			top:17px;
			text-align: center;
			z-index: 10;
			a{
				display: inline-block;
				padding:0 5.6rem 0 5.6rem;
				background:#fff;
				color:#000;
				font:1rem/3.7rem 'NotosansKR';
				&:after{
					margin-left: 7px;
				}
			}
		}

	}

	.title{
		position: relative;
		img{
			width:100%;
		}
	}

	.box{
		position: relative;
		.image{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:53%;
			left:8%;
			p.tit{
				font:1.8rem/25px 'NotoSansKRRegular';
				color:#fff; margin-bottom:5px;
			}
			p.s_tit{
				font:1.8rem/25px 'NotoSansKRRegular'; color:#fff; margin-bottom:5px;
			}
			p.desc{
				font:1.2rem/18px 'NotoSansKRLight';
				color:#fff; margin-bottom:30px;
			}
		}
		.button{
			padding:10px 50px 10px 50px;
			border:2px solid #fff;
			color:#fff;
			font:1.4rem/20px 'NotoSansKRRegular';
		}
	}

	.box2{
		position: relative;
		.image{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:47%;
			left:8%;
			p.tit{
				font:3rem/27px 'adinenuPro-black'; color:#fff;
			}
			p.s_tit{
				font:1.8rem/25px 'NotoSansKRRegular'; color:#fff; margin-bottom:5px;
			}
			p.desc{
				font:1.2rem/18px 'NotoSansKRLight'; color:#fff; margin-bottom:30px;
			}
		}
		.button{
			padding:10px 50px 10px 50px; border:2px solid #fff; color:#fff; font:1.4rem/20px 'NotoSansKRRegular';
		}
	}

	.box3{
		position: relative;
		.image{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:7%;
			left:8%;
			p.tit{
				font:3rem/27px 'adinenuPro-black'; color:#fff;
			}
			p.s_tit{
				font:1.8rem/25px 'NotoSansKRRegular'; color:#fff; margin-bottom:5px;
			}
			p.desc{
				font:1.2rem/18px 'NotoSansKRLight'; color:#fff; margin-bottom:30px;
			}
		}
		.button{
			padding:10px 50px 10px 50px; border:2px solid #fff; color:#fff; font:1.4rem/20px 'NotoSansKRRegular';
		}
	}

	.box4{
		position: relative;
		.image{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:7%;
			left:8%;
			p.tit{
				font:3rem/27px 'adinenuPro-black'; color:#fff;
			}
			p.s_tit{
				font:1.8rem/25px 'NotoSansKRRegular'; color:#fff; margin-bottom:5px;
			}
			p.desc{
				font:1.2rem/18px 'NotoSansKRLight'; color:#fff; margin-bottom:30px;
			}
		}
		.button{
			padding:10px 50px 10px 50px; border:2px solid #fff; color:#fff; font:1.4rem/20px 'NotoSansKRRegular';
		}
	}

	.gnb{
		>li{
			>a{
				display: block;
				height: 57px;
				position: relative;
				font:1.8rem/57px 'adinenuPro-light';
				color: #000;
				text-align: left;
				transition:all 0.2s;
				-webkit-transition:all 0.2s;
				letter-spacing: 0;
				background-color:#ebebeb;
				&:after{display: block;}
				&:before{display: block;}
			}
			>.depth2{
				display:none;
				opacity:0;
				>ul{
					>li{
						border-bottom:1px solid #eceaed;
						.depth3{
							display: none;
							ul{
								li{
									&.dep{
										a{
											&:before{
											top:19px;
										}
											&:after{
											top:19px;
										}
										}
									}
									.tit{
										position: relative;
										padding:14px 20px;
										color: #000;
										font-size:13px;
										font-weight: bold;
										background: #fff;
									}
								}
							}
						}
						a{
							display: block;
							position: relative;
							padding:19px 30px;
							background: #f7f7f7;
							color: #000;
							font-size: 1.7rem;
							font-family:'adinenuPro-light';
							letter-spacing:0px;
						}
						&.open{
							.depth3{
								display: block;
								ul{
									li{
										border-bottom:1px solid #eceaed;
										a{
											display: block;
											position: relative;
											padding: 19px 60px;
											background: #fff;
											font-size: 1.6rem;
											color: #000;
											font-family: 'adihaus';
										}
									}
								}
							}
						}

					}
				}
			}
			>.depth3{
				ul{
					li{
						a{
							display: block;
							position: relative;
							padding:19px 60px;
							background: #fff;
							font-size:1.6rem;
							color: #000;
							font-family:'adihaus';
						}
						&.all{
							a{
								padding:14px 20px;
								font-weight: bold;
							}
						}
						&.dep.open{
							a{
								border-bottom:1px solid #eceaed;
							}
						}
					}
				}
			}
			>.depth4{
				display:none;
				>ul{
					>li{
						border-bottom:1px solid #eceaed;
						>a{
							display: block;
							position: relative;
							padding:14px 15px 14px 58px;
							background: #fff;
							font-size: 13px;
							color: #000;
							&:before{
								content:'';
								width: 2px;
								height: 2px;
								border-radius:2px;
								display: block;
								position: absolute;
								top: 20px;
								left:50px;
								background: #000;
							}
						}
						&:last-child{
							border-bottom-width: 0;
						}

					}
				}
			}

		}
		li.strong{
			>a{
				font-family:'adinenuPro-bold';
				padding: 2px 0 0 30px;
			}
		}
		li.open{
			.depth2{
				display: block;
				opacity: 1;
			}
			.depth3{
				display: block;
				ul{
					li{
						border-bottom:1px solid #eceaed;
						a{
							display: block;
					    position: relative;
					    padding: 19px 60px;
					    background: #fff;
					    font-size: 1.6rem;
					    color: #000;
					    font-family: 'adihaus';
						}
						&.all{
							a{
								padding:14px 20px;
								font-weight: bold;
							}
						}
						&.dep.open{
							a{
								border-bottom:1px solid #eceaed;
							}
						}
						&:last-child{
							border-bottom-width:0;
						}

					}
				}
			}
			.depth4{
				display: block;
			}
			>a{
				position: relative;
				background: #ebebeb;
				color: #000;
				border-bottom:1px solid #f8f8f8;
				&:after{
					display: block;
					transform:rotate(45deg) !important;
					-webkit-transform:rotate(45deg) !important;
				}
				&:before{
					display: block;
					transform:rotate(-45deg) !important;
					-webkit-transform:rotate(-45deg) !important;
				}
			}
		}
		li.dep{
			>a{
				&:after{
					right:25px;
					top:27px;
					transform:rotate(-45deg);
					-webkit-transform:rotate(-45deg);
					transform-origin:50% 50%;
					-webkit-transform-origin:50% 50%;
					content:'';
					width:10px;
					height:3px;
					background: #000;
					position: absolute;
					box-sizing:border-box;
					-webkit-box-sizing:border-box;
					transition:all 0.3s cubic-bezier(1,0,0,1);
					-webkit-transition:all 0.3s cubic-bezier(1,0,0,1);
				}
				&:before{
					right: 31px;
					top: 27px;
					transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					transform-origin:50% 50%;
					-webkit-transform-origin:50% 50%;
					content:'';
					width:10px;
					height:3px;
					background: #000;
					position: absolute;
					box-sizing:border-box;
					-webkit-box-sizing:border-box;
					transition:all 0.3s cubic-bezier(1,0,0,1);
					-webkit-transition:all 0.3s cubic-bezier(1,0,0,1);
				}
			}
		}


	}

	#footer{
		position:relative;
		text-align:center; width:100%;
		background-color:#fff; font:3rem/56px 'adinenuPro-black';
		color:#000; margin-top:30px; margin-bottom:60px;
		p{
			text-align:center; width:100%;
			background-color:#fff; font:3.5rem/30px 'adinenuPro-black';
			color:#000; letter-spacing:0px; margin-bottom:40px; margin-top:10px;
		}
		.button{
			padding:10px 50px 10px 50px;
			border:3px solid #000; color:#000;
			font:1.5rem/21px 'NotoSansKR';
		}

	}

}
