/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

#stella{
	.button_area{
		text-align: center;
		>*{
		    padding: 0 10px;
		}
		div{
			position: relative;
			display: inline-block;
			margin-top: 20px;
			height: 40px;
			width: 180px;
			&.type2{
				border:2px solid #000;
				a{
					background: none;
				    text-align: left;
				    padding-left: 5px;
					&:after{
						position: absolute;
						right: 15px;
						top: 2px;
					}
				}
			}
			a{
				height: 35px;
				background: #fff;
				font:1rem/35px 'NotoSansKRRegular';
				color:#000;
			}
		}
	}
	.stella_desc{
		font:1rem/23px 'NotoSansKRRegular';
	}
	.inner{
		padding: 0 2.5rem;
	}
	.img_cut{
		width: 100%;
	}

	.main_top{
		position: relative;
		.bg{
			img{width:100%;}
		}
		h2{
			position: absolute;
			top:50%;
			left:50%;
			text-align: center;
			@include transform(translate(-50%,-50%));
			img{
				width:100%;
			}
			.scroll_down{
				display: inline-block;
			    padding: 0 6.8rem;
				position: relative;
				top:10px;
			}
		}
	}

	.txt-area{
		position: relative;
		top:100px;
		text-align: center;
		@include opacity(0);
		@include transition (top, opacity, 0.8s);
		.title{
			position: relative;
			margin-top: 53px;
		    padding-bottom: 1.5rem;
		    letter-spacing: 1px;
		    font: 1.7rem/25px 'adihaus', 'Nanum Gothic';
		    color: #2495b5;
		    margin-bottom: 1.2rem;
			&:after{
				position: absolute;
				bottom:0;
				left:50%;
				margin-left: -12px;
				content: '';
				display: inline-block;
				width:23px;
				height: 1px;
				background: #b2b2b2;
			}
		}
		img{
			margin-top: 53px;
			width:100%;
		}
		&.statement{
			margin-bottom: 75px;
			.title{
				margin-top: 75px;
			}
		}
		&.event{
			top:0;
			@include opacity(1);
		}

	}

	.col{
		margin-top: 75px;
	}


}
