/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}



#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}

#tubular_campus{
	.main{

		.video{
			.bg{
				img{width: 100%;
			}
		}
	}
	}
	.blue{
		background: url('http://imagem.adidas.co.kr/images/adidas/event/tubular_campus/bg01.jpg')center center no-repeat;
		position: relative;
		background-size: cover;

		.txt_box1{
			padding-top: 3rem;
			padding-right: 2rem;
			img{
				width: 100%;
			}
		}

		.txt_box2{
			padding-top: 4rem;
			padding-left: 2rem;
			img{
				width: 100%;
			}
		}

		.img_box1{
			padding-top: 3rem;
			img{
				width: 100%;
			}
		}
		.img_box2{
			position: relative;
			padding-top: 1.5rem;
			padding-left: 17rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				left: 2rem;
				top: 2rem;
				.link{
					margin-top: 1rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
			}
		}

		.img_box3{
			position: relative;
			padding: 3rem 2rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				left: 2rem;
				bottom: 0;
				.link{
					margin-top: 1rem;
					float: left;
					margin-right: 3rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
			}
		}

		.img_box4{
			position: relative;
			padding-top: 3rem;
			padding-right: 7rem;
			padding-left: 2rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				right: 1.5rem;
				bottom: 1rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
			}
		}

		.img_box5{
			padding-top: 6rem;
			padding-right: 6rem;
			img{
				width: 100%;
			}
		}

		.img_box6{
			position: relative;
			padding-top: 3rem;
			padding-right: 16rem;
			padding-bottom: 3rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				right: 2rem;
				top: 5rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
			}
		}
	}



	.yellow{
		background: url('http://imagem.adidas.co.kr/images/adidas/event/tubular_campus/bg02.jpg')center center no-repeat;
		position: relative;
		background-size: cover;
		padding-bottom: 16rem;

		.txt_box1{
			padding-top: 4rem;
			padding-right: 4rem;
			img{
				width: 100%;
			}
		}

		.img_box1{
			position: relative;
			padding-top: 4rem;
			img{
				width: 100%;
			}
			.link_wrap1{
				position: absolute;
				right: 0.5rem;
				top: 6rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
				.no_link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: left;
						font:1.2rem 'NotoSansKRLight';
					}
				}
			}

			.link_wrap2{
				position: absolute;
				left: 1rem;
				bottom: 21rem;
				.link{
					margin-top: 1rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
				.no_link{
					margin-top: 1rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: 0rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: left;
						font:1.2rem 'NotoSansKRLight';
					}
				}
			}
		}

		.img_box2{
			position: relative;
			padding-top: 5rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				right: 4rem;
				bottom: 4rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
				.no_link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: left;
						font:1.2rem 'NotoSansKRLight';
					}
				}
			}

		}

		.img_box3{
			position: relative;
			padding-left: 15rem;
			padding-top: 5rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				left: 2rem;
				bottom: 4rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
				.no_link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: left;
						font:1.2rem 'NotoSansKRLight';
					}
				}
			}

		}

		.img_box4{
			position: relative;
			padding-top: 5rem;
			img{
				width: 100%;
			}
			.link_wrap{
				position: absolute;
				left: 2rem;
				bottom: 17rem;
				.link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: right;
						font-size: 1rem;
						margin-left: 0.2rem;
					}
				}
				.no_link{
					margin-top: 1.5rem;
					p{
						font:1.2rem 'Adihaus-regular';
						color:rgba(255, 255, 255, 0.8);
						right:-5px;
						text-align: left;
						letter-spacing: -0.02rem;
						&.title{

							&:after{
								right:5px;
								left:inherit !important;
							}
						}
					}
					span{
						text-align: left;
						font:1.2rem 'NotoSansKRLight';
					}
				}
			}

		}





	}




}
