@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}


#UA_AND_SONS{
	.inner{
		padding: 0 1.5rem;
	}


	.btn{
		display: inline-block;
	    background: #fff;
	    color: #000;
	    font:  1.2rem/3.5rem 'adinenuPro-black';
	    height: 3.5rem;
	    padding: 0 6rem;
	    text-align: center;
	    margin-top: 1.5rem;
		cursor: none;
	}

	.main{
		img{
			width:100%;
			height: 100%;
		}

	}

	.statement{
		margin: 3rem 0;

		.txt{
			p{
				font:400 1.3rem 'NotoSansKR';
				color:#000;
				text-align: center;
				vertical-align: middle;
				span{
					font:1.3rem 'adinenuPro-regular';
					letter-spacing: 1px;
					vertical-align: middle;
				}
			}

		}
	}

	.col{
		position: relative;
		padding-bottom: 250%;
		// margin-top: 35px;
		div{
			position: relative;
			float:left;
			padding-bottom: 100%;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
			&.img1{
				width: 50%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col1.jpg');

			}
			&.img2{
				width: 50%;
				padding-bottom: 50%;
				height: 25%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col2.jpg');

			}
			&.img3{
				width: 50%;
				padding-bottom: 50%;
				height: 25%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col3.jpg');

			}
			&.img4{
				width: 100%;
				padding-bottom: 100%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col4_txt.jpg');
				.txt{
					width: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					padding-bottom: 0;
					text-align: center;
					@include css3(transform , translate(-50%,-50%));
				}
				p{
					position: relative;
					margin-top: 5px;
					text-align: center;
					color:#fff;
					font:400 1.15rem/1.7rem 'NotoSansKR';
					letter-spacing: 0.1rem;
					&.title{
						margin-top: 0;
						font: 2.3rem 'adinenuPro-black';
						letter-spacing: 0;
					}
				}

			}
			&.img5{
				width: 50%;
				padding-bottom: 50%;
				height: 25%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col5.jpg');
			}
			&.img6{
				width: 50%;
				padding-bottom: 50%;
				height: 25%;
				background-image: url('/images/adidas/event/UA_AND_SONS/col6.jpg');
			}

		}
	}




}
