@import "./app/MO/reebok/css/scss/about.scss";

.campaign_bt21{
    position: relative;
    .btn{
        display: inline-block;
        background: #000;
        a{
            display: block;
            color:#fff;
            font:500 1rem/3.3rem 'NotoSansKR';
            text-align: center;
        }
    }
    .btn2{
        display: inline-block;
        background: #fff;
        a{
            display: block;
            font:500 1rem/3.3rem 'NotoSansKR';
            text-align: center;
            border: 2px solid #000;
            color:#000;
        }
    }
    .dinpro{
        font:900 30px/30px 'dinpro';
    }
    .visual_video{
        position: relative;
        background: url('/images/reebok/about/classic/bt21/181220/visual_video.jpg') 100% 100% no-repeat;
        background-size: cover;
        padding: 10% 0;
        .img{
            text-align: center;
            img{
                width:50%;
            }
        }
        .txt{
            width: 100%;
            text-align: center;
            margin:13px 0;
            h1{
                font: 900 29px/30px 'dinpro';
                color: #fff;
                letter-spacing: 1px;
            }
        }
        .cover{
            width: 50%;
            margin:0 auto;
            text-align: center;
            .video-btn{
                opacity: 0;
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%,15%);
            }
            img{
                width:30%;
            }
        }
    }
    .desc1{
        position: relative;
        z-index: 0;
        padding:0 1.2rem 4rem;
        .stars{
            position: absolute;
            top: 0;
            left: -24px;
            img{
                width: 50%;
            }
        }
        .img{
            text-align: center;
            img{
                width:50%;
                padding: 30px 0 15px;
            }
        }
        .txt{
            text-align: center;
            margin-bottom: 20px;
            h1{
                font: 700 26px/26px 'NotoSansKR';
                line-height: 35px;
            }
            .highlight{
                position: relative;
                z-index: 0;
                display: inline-block;
                font: 300 5.5vw/5.5vw 'NotoSansKR';
                margin-top:10px;
                margin-bottom:5px;
                    &:after{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right:0;
                        display: block;
                        clear: both;
                        content: '';
                        background: #faf0b2;
                        z-index: -1;
                    }
                &.highlight2{
                    margin-top:2px;
                    margin-bottom: 10px;
                    &:after{
                        left: -5px;
                        right:-5px;
                    }
                }
            }
            p{
                font:900 30px/30px 'dinpro';
                color:#000;
                line-height: 25px;
            }
        }
        .wrap{
            width:100%;
            text-align: center;
            .btn{
                width:47%;
                margin-right:7px;
            }
            .btn2{
                width:47%;
                margin-right:0;
            }
        }
        .uni{
            position: absolute;
            bottom:10px;
            right: 0;
            text-align: right;
            img{
                width:50%;
            }
        }
    }


    .grid{
        position: relative;
        background: #ececec;
        h1{
            font: 700 26px/26px 'dinpro';
            padding:1.5rem;
            color:#4d4d4d;
            text-align: center;
        }
        .wrap{
            .inner{
                overflow: hidden;
                img{
                    width:50%;
                    float: left;
                }
                &.blue{
                    background: #0f75bd;
                }
                &.violet{
                    background: #577abc;
                }
            }
        }
    }
    .btm{
        text-align: center;
        padding:2rem;
        img{
            width:65%;
            text-align: center;
        }
        p{
            text-align: center;
            font:900 30px/30px 'dinpro';
            color:#000;
            margin: 20px 0 8px;
        }
        .btn{
            width:70%;
            a{
                font:500 1.1rem/3.5rem 'NotoSansKR';
                letter-spacing: 1px;
            }
        }
    }









}
