@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


.parley{
	background:white;
	position: relative;
	overflow: hidden;
		.box1{
			position: relative;
			overflow: hidden;
			height: 446px;
			.txt{
				position:absolute;
				z-index:1;
				bottom: 20px;
				left:50%;
				margin-left: -76px;
				h1{
					font:400 20px/28px 'NotoSansKR';
					color:#fff;
					letter-spacing: 2px;
				}
				.btn1,.btn2{margin: 30px 0;
					a{
						background:#000;
						font:400 10px/20px 'NotoSansKR';
						color:#fff;
						padding:10px 15px;
					}
				}
			}
			.img{
				img{
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -160px;
				}
			}
		}

		.box2{
			position: relative;
			overflow: hidden;
			height: 258px;
			.txt{
				position:absolute;
				z-index:1;
				top: 20px;
				left:50%;
				margin-left: -146px;
				h2{
					text-align: center;
					font:400 20px/20px 'NotoSansKR';
					color:#000;
				}
				p{text-align: center;
					font:400 10px/20px 'NotoSansKR';
					color:#000;
				}
			}
			.img{
				img{
					position:absolute;
					top:0;
					left: 50%;
					margin-left: -160px;
				}
			}
		}

}
