@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

html,body{
	height: 100%;
}
.parley{
	background:white;
	position: relative;
	overflow: hidden;

	.box1{
		position: relative;
		overflow: hidden;
		background: url('/images/adidas/event/parley/parley_zne/img1.jpg') 0 0 no-repeat;
		background-size: 105% auto;
		padding:2rem 2rem;
		img{
			width: 150px;
			margin-top: 150px;

		}
		.txt{
			text-align: center;
			h1{
			font: 3.8rem/3.8rem 'AdihausDIN-Cond';
			font-weight: lighter;
            color: white;
			margin:20px 0;
			text-align: left;
			}
			p{
			font: 1rem/1rem 'AdihausDIN-Cond';
			color: white;
			}
			.btns{
				    &:first-of-type{
					margin: 20px 0 10px 0;
					}
				background: black;
				padding: 15px 65px;
				a{
				font: 1rem/1rem 'AdihausDIN-Cond';
				color: white;
				}
			}

		}
	}

	.box2{
		position: relative;
		overflow: hidden;
		padding:3rem 0;
		.txt{
			text-align: center;
			h2{
				font:400 2.1rem/2rem 'NotoSansKR';
				color:#000;
				margin-bottom: 30px;
			}
			p{
				font:500 1.9px/1.1rem 'NotoSansKR';
				color:#000;
				margin:30px 0;
			}
		}
		img{
			width:100%;
		}
	}
	.box3{
		position: relative;
		overflow: hidden;
		padding:3rem 0;
		.txt{
			text-align: center;
			h3{
				font:400 2.1rem/2rem 'NotoSansKR';
				color:#000;
			}
			p{
				font:500 1.9px/1.1rem 'NotoSansKR';
				color:#000;
				margin:20px 0 40px 0;
			}
		}
		img{
			width:100%;
		}
	}
	.box4{
		position: relative;
		overflow: hidden;
		padding:3rem 0;
		.txt{
			text-align: center;
			h4{
				font:400 2.1rem/2rem 'NotoSansKR';
				color:#000;
			}
			p{
				font:500 1.9px/1.1rem 'NotoSansKR';
				color:#000;
				margin:20px 0 40px 0;
			}
		}
		img{
			width:100%;
		}

	}
	.box5{
		position: relative;
		overflow: hidden;
		padding:3rem 0;
		.inner1{
			width: 50%;
			float: left;
			img{
				width: 100%;
			}
		}
		.inner2{
			float: left;
			width: 50%;
			img{
				width: 100%;
			}
		}
		.inner3{
			float: left;
			width: 50%;
			img{
				width: 100%;
			}
		}
	}
	.box6{
		background-image: url('/images/adidas/event/parley/parley_zne/img6.jpg') 100% 100%;
		background-repeat: no-repeat;
	}
	.box7{

	}
	.box8{
		background-image: url('/images/adidas/event/parley/parley_zne/img8.jpg') 100% 100%;
		background-repeat: no-repeat;
	}
	.box9{
		background-image: url('/images/adidas/event/parley/parley_zne/img9.jpg') 100% 100%;
		background-repeat: no-repeat;
	}

}
