@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ultra_boost {
	position: relative;	
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			height: 40px;
			line-height: 38px;
			letter-spacing: 1px;
			position: relative;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}	
	.ct{
		position: absolute;
		top:50%;
		left:50%; 
		transform: translate(-50%,-50%);
	}
	img{
		width:100%;
	}

	.top_wrapper{
		position: relative;
		.top_img{				
			img{				
				width: 100%;			
				display: block;			 
			}			
		}
		.top_txt{
			position: absolute;
			top:10%;
			left:5%;
			
			white-space: nowrap;
			text-align: left; 
			h1{
				font: 1.5rem 'adinenuPro-regular';
				color: #fff;
				text-align: left;
				letter-spacing: 1px;
			}
			p{
				padding-top: 5px;
				font: 300 0.9rem 'NotoSansKR';
				color: #fff;
				text-align: left;
				letter-spacing: 0;
			}
			.button_area_v2{
				margin: 73% 0 0;
			}
		}
	}

	.cont_wrapper{
		>div {
			position: relative;
			.img_area{
				img{				
				width: 100%;			
				display: block;			 
				}	
			}
		}
	}

	.btt_wrapper{
		position: relative;
		.btt_img{				
			img{
				width: 100%;			
				display: block;			 
			}			
		}
		.btt_txt{
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			white-space: nowrap;
			text-align: center; 
			h1{
				font: 1.6rem 'adinenuPro-regular';
				color:#fff;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				span{
					font: 1.6rem 'adinenuPro-bold';
					color:#fff;
					letter-spacing: 2px;
				}
			}			
			.button_area_v2{
				margin: 1rem auto 0;
			}
		}
	}
}

@media screen and (max-width: 380px) {
	#ultra_boost {
		.top_wrapper {
			.top_txt {
				.button_area_v2 {
					margin: 65% 0 0;
				}
			}
		}
	}
}

