@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#prophere{
	position: relative;
	.teager{
		// position: absolute;
		// top:0;
		// left:0;
		// width: 100%;
		z-index: 10;
		opacity: 1;
		transition: all 0.5s;
		// overflow: hidden;
		&.none{
			opacity: 0;
		}
		.inner{
			position: relative;
		}
		.bg{
			img{
				width: 100%;
			}
		}
		.inn{
			width: 100%;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			text-align: center;
			p{
				text-align: center;
				font:1.5rem 'AdihausDIN-Cond';
				font-weight:'bold';
				text-transform: uppercase;
				color:#fff;
				letter-spacing: 0.1rem;
				&.title{
					padding: 0 0 20px 0;
				    font-size: 2rem;
				    color: #fff02a;
				    letter-spacing: 1.2rem;
				}
			}
			.loading{
				position: relative;
				margin: 0 0 20px 0;
				display: inline-block;
				width: 60%;
				background: rgba(63,72,74,0.6);
				height: 4px;
				overflow: hidden;
				span{
					position: absolute;
					top:0;
					left:-100%;
					display: inline-block;
					height: 4px;
					width: 100%;
					background: #fff;
					z-index: 1;
					transition: all 8s ease;
					&.on{
						left:0%;
					}
				}
			}
		}
		a{
			display: inline-block;
			position: absolute;
			bottom:10%;
			width: 100%;
			height: 60px;
		}
	}
	.content{
		display: none;
		&.show{
			display: block;
		}
		h2{
			position: absolute;
			top:2rem;
		    right: 2rem;
		    z-index: 2;
			img{
				width: 70%;
			}
		}
		.banner_slider_wrap{
			.box{
				position: relative;
				.btn_t{
					position: relative;
					top: 150px;
					left: 50%;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					transform:translate3d(-50%,0,0);
					-webkit-transform:translate3d(-50%,0,0);
					display: inline-block;
					a{
						display: inline-block;
						width: 100px;
						height: 50px;
						text-align: center;
						span{
							position: relative;
							left: -10px;
							font:500 1.5rem/4.9rem'NotoSansKR';
							color:#fff;
							&:after{
								position: absolute;
								right: -24px;
								top: -13px;
								display: inline-block;
							}
						}
					}

				}
				.bg{
					position: relative;
					width: 100%;
					padding-bottom: 140%;
					background-position: center center;
					background-size: cover;
					z-index: 0;

				}
				&.box1{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/01.jpg') no-repeat;
					background-position: center center;
					background-size: cover;
					.inn{
						top:40%;
					}
				}
				&.box3{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/03.jpg') no-repeat;
					background-position: center center;
					background-size: cover;

					.video{
						position: absolute;
					    width: 22rem;
					    height: 22rem;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%,-50%);
						.title{
							position: absolute;
							top: -14%;
						    right: 5%;
							font: 1.5rem 'AdihausDIN-Cond';
							color: #fff02a;
							text-transform: uppercase;
							letter-spacing: 0.5rem;
						}
						img{
							width: 100%;
						}
						video{
							width: 100%;
						}
						.btn_t{
							top: 20px;
						}
					}
				}
				&.box2{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/02.jpg') no-repeat;
					background-position: center center;
					background-size: cover;

					.inn{
						top:40%;
						p{
							font-size: 1.8rem;
						}
					}
				}
				&.box4{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/04.jpg') no-repeat;
					background-position: center center;
					background-size: cover;

					.inn{
						top:44%;
						p{
							span{
								text-transform: uppercase;
							    font: bold 2rem 'AdihausDIN-Cond';
							    letter-spacing: 0.8px;
							}
						}
						.btn_t{
							top: 110px;
						}
					}
				}
				&.box5{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/05.jpg') no-repeat;
					background-position: center center;
					background-size: cover;

					.inn{
						top:44%;
						p{
							span{
								text-transform: uppercase;
							    font: bold 2rem 'AdihausDIN-Cond';
							    letter-spacing: 0.8px;
							}
						}
						.btn_t{
							top: 90px;
						}
					}

				}
				&.box6{
					background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/06.jpg') no-repeat;
					background-position: center center;
					background-size: cover;

					.inn{
						top:42%;
						.btn{
							position: relative;
							top:40px;
						    left: 50%;
						    margin-left: -90px;
						    box-sizing: border-box;
						    -webkit-box-sizing: border-box;
						    display: inline-block;
						    border: 2px solid #fff;
							a{
								display: inline-block;
								width: 180px;
								height: 50px;
								text-align: center;
								background-color: rgba(0, 0, 0, 0.4 );
								span{
									position: relative;
								    left: -10px;
									font:500 14px/50px 'NotoSansKR';
									color:#fff;
									&:after{
										position: absolute;
									    right: -21px;
									    top: -13px;
									    display: inline-block;
									}
								}
							}

						}
					}
				}
				// &.box7{
				// 	background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/07.jpg') no-repeat;
				// 	background-position: center center;
				// 	background-size: cover;
				// 	.bg1{
				// 		background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/07_1.jpg') no-repeat;
				// 		background-position: center center;
				// 		background-size: cover;
				// 	}
				// 	.bg2{
				// 		background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/07_2.jpg') no-repeat;
				// 		background-position: center center;
				// 		background-size: cover;
				// 	}
				// }
				// &.box8{
				// 	background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/08.jpg') no-repeat;
				// 	background-position: center center;
				// 	background-size: cover;
				// 	.bg1{
				// 		background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/08_1.jpg') no-repeat;
				// 		background-position: center center;
				// 		background-size: cover;
				// 	}
				// 	.bg2{
				// 		background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/171218/08_2.jpg') no-repeat;
				// 		background-position: center center;
				// 		background-size: cover;
				// 	}
				// }
				.inn{
					position: absolute;
				    top: 50%;
				    left: 50%;
				    z-index: 6;
					width: 80%;
				    /* text-align: center; */
					transform: translate(-50%,-50%);
				    -webkit-transform: translate(-50%,-50%);
					p{
						&.title{
							padding: 0 0 100px 0;
							font:1.6rem 'AdihausDIN-Cond';
							color:#fff02a;
							text-transform: uppercase;
							letter-spacing: 0.5rem;
						}
						&.eng{
							font:2.3rem 'AdihausDIN-Cond';
							text-transform: uppercase;
							letter-spacing: 0.1rem;

						}
						font:700 1.8rem/2.3rem 'NotoSansKR';
						color:#fff;
						span{
							text-transform: uppercase;
							font: bold 1.8rem 'AdihausDIN-Cond';
							letter-spacing: 0.8px;
						}
					}
				}

			}
			.owl-controls{
				position: absolute;
			    top: 0;
			    width: 100%;
				.owl-nav{
					position: absolute;
					width: 100%;
				    margin: 70% 0 0 0;
					div{
						width: 30px;
						height: 30px;
						text-indent: -9999px;
					}
					.owl-prev{
						position: absolute;
						left:0.5rem;
						display: inline-block;
						background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/prev.png') no-repeat;
						background-size: 80%;
					}
					.owl-next{
						position: absolute;
						right:0.5rem;
						display: inline-block;
						background: url('http://imagem.adidas.co.kr/images/adidas/event/originals/171130_prophere/next.png') no-repeat;
						background-size: 80%;
					}
				}
				.owl-dots{
					display: flex;
				    position: absolute;
				    top: 0;
				    width: 100%;
					.owl-dot{
						display: inline-block;
					    height: 3px;
					    flex: 1;
					    background: #fff;
					    margin: 0 2px;
						span{
							padding: 2px 0 0 0;
							display: inline-block;
						    color: #fff;
						    text-align: center;
						    width: 100%;
							font:1rem 'NotoSansKR';
							opacity: 0;
							transition: all 0.5s;
						}
						&.active{
							background: #fff02a;
							span{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
