@import "./app/MO/reebok/css/scss/about.scss";

.tamin_campaign{

    .btn_wrap{
        display: inline-block;
        a{
            display: block;
            font: 400 13px/34px 'NotoSansKR';
            border: 5px solid #fff;
            width: 150px;
            text-align: center;
            box-sizing: border-box;
            color: #fff;
            letter-spacing: 3px;
        }
    }

    .main_section{
        position: relative;
        background: url('/images/reebok/about/classic/dashonic/main_bg.jpg') no-repeat;
        background-size: 100% 100%;
        &.on{
            .txt_wrap{
                .letter_wrap{
                    span{
                        opacity: 1;
                        -webkit-opacity: 1;
                        &.d{
                            left:0;
                        }
                        &.a{
                            left:-1px;
                        }
                        &.s{
                            left:-1px;
                        }
                        &.h{
                            left:-3px;
                        }
                        &.o{
                            left:-3px;
                        }
                        &.n{
                            left:-3px;
                        }
                        &.i{
                            left:-5px;
                        }
                        &.c{
                            left:-6px;
                        }
                    }
                }
            }
            .btn_wrap{
                opacity: 1;
                -webkit-opacity: 1;
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .slider_wrap{
            position: relative;
            padding: 72px 0 25% 9rem;

            .slide{
                position: relative;
                padding-bottom: 147%;
                .item{
                    position: absolute;
                    top:0;
                    left:0;
                    opacity: 0;
                    -webkit-opacity: 0;
                    transition: all 0.6s;
                    -webkit-transition: all 0.6s;
                    &.on{
                        opacity: 1;
                        -webkit-opacity: 1;
                        z-index: 1;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            .indicator{
                margin-right: 15px;
                text-align: right;
                span{
                    position: relative;
                    top:56px;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    border-radius: 100px;
                    margin: 0 0 0 7px;
                    border: 2px solid #fff;
                    &.on{
                        background: #fff;
                    }
                }
            }
        }
        .txt_wrap{
            position: absolute;
            top: 69.5%;
            left: 15px;
            z-index: 2;
            p{
                font:400 12px 'NotoSansKR';
                color:#fff;
                letter-spacing: 8px;
            }
            .letter_wrap{
                margin: 5px 0 0 0;
                span{
                    position: relative;
                    left:400px;
                    display: inline-block;
                    text-transform: uppercase;
                    font:700 58px 'dinpro cond';
                    color:#fff;
                    opacity: 0;
                    -webkit-opacity: 0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    &.d{
                        transition-delay: 0.5s;
                    }
                    &.a{
                        transition-delay: 0.6s;
                    }
                    &.s{
                        transition-delay: 0.7s;
                    }
                    &.h{
                        transition-delay: 0.8s;
                    }
                    &.o{
                        transition-delay: 0.9s;
                    }
                    &.n{
                        transition-delay: 1s;
                    }
                    &.i{
                        transition-delay: 1.1s;
                    }
                    &.c{
                        transition-delay: 1.2s;
                    }
                }
            }
        }
        .btn_wrap{
            margin: 5px 0 0 0;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition-delay: 1.2s;
        }
    }

    .video_wrap{
        position: relative;
        text-align: center;
        .video{
            img{
                width: 100%;
            }
        }
        .play_btn{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 20%;
            img{width: 100%;}
        }

    }

    .cut_wrap{
        position: relative;
        background: url('/images/reebok/about/classic/dashonic/cut_bg.jpg') no-repeat;
        background-size: cover;
        &.on{
            .img_wrap{
                .img{
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
            .txt_wrap{
                p{
                    top:0;
                    opacity: 1;
                    -webkit-opacity: 1;
                }
                .sub{
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
        }
        .img_wrap{
            position: relative;
            padding-bottom: 100%;
            .bg{
                position: absolute;
                top: 19%;
                right: -11%;
                img{
                    width: 43%;
                }
            }
            .img{
                position: absolute;
                    width: 63%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.8s;
                img{
                    width: 100%;
                }
            }
        }
        .txt_wrap{
            position: relative;
            padding-bottom: 63%;
            p{
                position: relative;
                top:60px;
                text-align: center;
                letter-spacing: 7px;
                font: 600 2.5rem 'NotoSansKR';
                color:#fff;
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                &.bold{
                    color:#a65b64;
                    transition-delay: 1.1s;

                }
                &:nth-child(1){
                    transition-delay: 1s;
                }
                &:nth-child(3){
                    transition-delay: 1.2s;
                }
            }
            .sub{
                padding: 10px 0 0 0;
                text-align: center;
                font:700 16px/22px 'dinpro cond';
                text-transform: uppercase;
                letter-spacing: 2px;
                color:#fff;
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition-delay: 1.5s;


            }
        }
    }

    .slider_wrapper{
        position: relative;
        padding-bottom: 5%;
        background: #f199a4;
        .txt{
            position: absolute;
            top: -164px;
            text-align: center;
            font: 700 55px/50px 'dinpro cond';
            text-transform: uppercase;
            letter-spacing: 14px;
            color: #fff;
            width: 100%;
            opacity: .5;
            -webkit-opacity: .5;
        }
        .banner_slider_wrap{
            position: relative;
            top: -136px;
            margin: 0 0 -136px 0;
            ul{
                li{
                    img{
                        width: 100%;
                    }
                }
                .owl-controls{
                    position: relative;
                    .owl-nav{
                        position: relative;
                        width: 100%;
                        padding-bottom: 17%;
                        z-index: 2;
                        div{
                            display: inline-block;
                            width: 40px;
                            padding: 20px 0;
                            position: absolute;
                            &.owl-next{
                                right:15px;
                            }
                            &.owl-prev{
                                left:15px;
                            }
                            img{
                                width: 100%;
                            }
                        }
                        .owl-prev{
                            // transform: rotate(180deg);
                        }
                    }
                    .owl-dots{
                        position: absolute;
                        top: 30%;
                        text-align: center;
                        width: 100%;
                        .owl-dot{
                            box-sizing: border-box;
                            display: inline-block;
                            margin: 0 5px;
                            width: 12px;
                            height: 12px;

                            border-radius: 50px;
                            text-align: center;
                            border: 2px solid #fff;
                            &.active{
                                background: #fff;
                            }
                        }

                    }
                }
            }
        }

    }

    .bottom_wrap{
        position: relative;
        padding: 20px 0 50px;
        background: #f199a4;
        &.on{
            .left{
                .letter_wrap{
                    span{
                        opacity: 1;
                        -webkit-opacity: 1;
                        &.d{
                            left:0;
                        }
                        &.a{
                            left:10px;
                        }
                        &.s{
                            left:20px;
                        }
                        &.h{
                            left:30px;
                        }
                        &.o{
                            left:40px;
                        }
                        &.n{
                            left:50px;
                        }
                        &.i{
                            left:60px;
                        }
                        &.c{
                            left:70px;
                        }
                    }
                }
                .btn_wrap{
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
            .btn_wrap{
                opacity: 1;
                -webkit-opacity: 1;
            }
        }
        .left{
            position: absolute;
            left:15px;
            top:0;
            z-index: 2;
            .letter_wrap{
                margin: 0 0 8px 0;
                span{
                    position: relative;
                    left:500px;
                    text-transform: uppercase;
                    font: 700 45px 'dinpro cond';
                    color: #a65b64;
                    opacity: 0;
                    -webkit-opacity: 0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    &.d{
                        // transition-delay: 0.2s;
                    }
                    &.a{
                        transition-delay: 0.1s;
                    }
                    &.s{
                        transition-delay: 0.2s;
                    }
                    &.h{
                        transition-delay: 0.3s;
                    }
                    &.o{
                        transition-delay: 0.4s;
                    }
                    &.n{
                        transition-delay: 0.5s;
                    }
                    &.i{
                        transition-delay: 0.6s;
                    }
                    &.c{
                        transition-delay: 0.7s;
                    }

                }
            }
            .btn_wrap{
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition-delay: 0.8s;
                a{
                    border: 5px solid #a65b64;
                    color: #a65b64;
                }
            }
        }
        .right{
            position: relative;
            img{
                width:100%;
            }
        }
    }


}
// always classic
