@import "./mobile/MO/reebok/css/scss/about.scss";
#contents{
    img{
        vertical-align: middle;
    }
}
.nano_cp{
    .main{
        position: relative;
        .inn{
            position: absolute;
            top: 22%;
            left: 22%;
            transform: translate(-50%, -50%);
            width: 33%;
            a{
                height: 44px;
                font: 600 1rem/44px 'NotoSansKR';
                letter-spacing: 0.7px;
            }
        }
        img{
            width:100%;
        }
    }
    .gif_section{
        img{
            width:100%;
        }
    }
    .common_slide{
        position: relative;
        overflow: hidden;
        text-align: center;
        z-index: 2;
        background: #f2f4f7;
        .button_area_v2{
            display: inline-block;
            width: 37%;
            margin: 0 0 34px 0;
            a{
                letter-spacing: 0.7px;
                font-weight: 500;
            }
        }
        h2{
            position: relative;
            padding:40px 0 29px;
            text-align: center;
            span{
                position: absolute;
                left: -25.5%;
                top: 40px;
                width: 50%;
                background: #ffe72c;
                height: 32%;
            }
            img{
                width: 51%;
            }
        }
        ul{
            overflow: hidden;
            li{
                position: relative;
                float: left;
                img{
                    width:100%;
                }
            }
        }
        .num_paging{
            padding: 25px 0;
            a{
                width:14px;
                height:14px;
                margin: 0 5px;
                border:0;
                border:2px solid #000;
                border-radius: 50px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                &.on{
                    background: #000;
                }
            }
        }
        &.collection_slider01{

        }
    }


}
// 2019Family END
