@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#xcategory{
	position: relative;

	.button_area_v2{
		display: inline-block;
		a{
			padding: 0 6vw;
			font: 500 1rem/3.4rem 'NotoSansKR';
			letter-spacing: .15rem;
			height: 3.4rem;
			.arrow{
				margin-left: 1rem;
				width: 20px;
				&::after, &::before{
					width: 7px;
					height: 2px;
				}
				&::before{
					bottom:-2px;
				}
				&::after{
					top:-2px;
				}
			}
		}
	}
	
	.top_video{
		position: relative;		
		video{
			width: 100%;
		}
		.btn_play{			
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -30%);
				width: 13%;
				height: 13%;
			>img{
				width: 100%;
			}
		}
	}

	.statement{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.statement_txt{
			
			.button_area_v2{								
				    position: absolute;
					bottom: 11%;
					left: 50%;
					transform: translate(-50%);
					z-index: 5;
				a{
					padding: 0 20px;
				}
			}
		}

	}

	.cont01_area{
		>img{
			display: block;
			width: 100%;
		}
	}

	.prod01{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.prod_bt{
				position: absolute;
				top: 51.5%;
				left: 50%;
				transform: translate(-50%);
				z-index: 5;
				white-space: nowrap;
				text-align: center;
			p{
				font:400 1.2rem/1.8rem 'NotoSansKR';
				text-align: center;
				color:#000;
				white-space: nowrap;
				span{
					font: 700 1.2rem/1.5rem 'NotoSansKR';
					display: inline-block;
					background-color: #efdfff;
					white-space: nowrap;
				}
			}			
			.button_area_v2{		
				margin-top: 1rem;
				a{
					padding: 0 20px;
				}
			}
		}
	}

	.prod02{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.prod_bt{
				position: absolute;
				top: 55%;
				left: 50%;
				transform: translate(-50%);
				z-index: 5;
				white-space: nowrap;
				text-align: center;
			p{
				font:400 1.2rem/1.8rem 'NotoSansKR';
				text-align: center;
				color:#000;
				white-space: nowrap;
				span{
					font: 700 1.2rem/1.5rem 'NotoSansKR';
					display: inline-block;
					background-color: #efdfff;
					white-space: nowrap;
				}
			}			
			.button_area_v2{		
				margin-top: 1rem;
				a{
					padding: 0 20px;
				}
			}
		}
	}

	.prod03{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.prod_bt{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%);
				z-index: 5;
				white-space: nowrap;
				text-align: center;
			p{
				font:400 1.2rem/1.8rem 'NotoSansKR';
				text-align: center;
				color:#000;
				white-space: nowrap;
				span{
					font: 700 1.2rem/1.5rem 'NotoSansKR';
					display: inline-block;
					background-color: #efdfff;
					white-space: nowrap;
				}
			}			
			.button_area_v2{		
				margin-top: 1rem;
				a{
					padding: 0 20px;
				}
			}
		}
	}

	.btm_area{
		position: relative;
		.bg{
			>img{
				width: 100%;
				display: block;
			}
		}
		.btm_bt{
				position: absolute;
				top: 29%;
				left: 50%;
				transform: translate(-50%);
				z-index: 5;				
				text-align: center;					
			.button_area_v2{						
				a{
					padding: 0 20px;
				}
			}
		}
	}


	
	
}
