@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}


#crazy{
	.main{
		position: relative;
		.bg{
			height: 540px;
			position: relative;
			video{
				position: absolute;
			    top: 0;
			    left: 50%;
			    margin-left: -600px;
			    width: 1200px;
			}
		}
	}

	.txt-area{
		position: relative;
		background: url("/images/adidas/event/crazy/171120/bg_txt.jpg") 0 0 no-repeat;
		background-size:100% 100%;
		text-align: center;
		padding:30px 0 60px;
		.main-txt{
			z-index: 2;
			text-align: center;
			.title{
				font:700 22px/22px 'NotosansKR';
				color:#fff;
				letter-spacing: 1px;
			}
			.desc{
				font:300 13px/17px 'NotosansKR', 'Nanum Gothic';
				color:#fff;
				padding: 15px 0 20px;
			}
		}
		.buy{
			width: 125px;
			margin: 0 auto;
			text-align: center;
			background: #fff;
			a{
				display: inline-block;
				color:#000;
				font:1rem/3.2rem 'NotosansKR';
				letter-spacing: 0px;
				&:after{
					display: inline-block;
					margin-left: 3px;
				}
			}
		}
	}

	.video{
		position: relative;
		width: 100%;
		height: 100%;
		a.video-button{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		img.video_bg{ width: 100%; }
		.play{
			position: absolute;
			top:50%;
			left:50%;
			background: url("/images/adidas/event/pure_boost/play.png") 0 0 no-repeat;
			background-size:100% 100%;
			width: 6rem;
			height: 6rem;
			margin-top: -3rem;
			margin-left: -3rem;
		}
	}

	.slider_section{
		position: relative;
		padding-bottom: 3.7rem;
		background: url("/images/adidas/event/crazy/171120/bg_slide.jpg") 0 0 no-repeat;
		background-size: cover;
		background-position: top left;
		.slider_title{
			padding-top: 50%;
			font:700 25px/25px 'adihaus-bold';
			color: #fff;
			text-transform: uppercase;
			text-align: center;
		}
		.slider_wrap{
			position: relative;
			padding:15px 0 2.5rem;
			ul{
				position: relative;
				.owl-item.active{
					.num_title span{
						margin-right: 0;
						opacity: 1;
					}
					.num_title span:after{
						width: 100%;
					}
				}
				li{
					float: left;
					position: relative;
					top:0;
					// margin-right: 20px;
					.title{
						padding-bottom: 1.5rem;
						text-align: center;
						font:600 1.4rem/1.8rem 'NotoSansKRMedium';
						p{
							font:2.3rem/2.6rem 'adinenuPro-black';
							letter-spacing: 0;
							text-transform: uppercase;
						}
					}
					.img{
						img{width: 100%;}
					}
					.num_title{
						position: absolute;;
						padding:2rem 0 0 0;
						text-align: center;

					}
					.num_title span{
						position: relative;
						display: inline-block;
						height: 50px;
						font:1.8rem/2rem 'NotoSansKR';
						letter-spacing: 0;
						margin-right: -10rem;
						transition: all 0.6s ease;
						opacity: 0;
					}
					.num_title span:after{
						display: inline-block;
						content: '';
						width: 0%;
						height: 2px;
						background: #000;
						position: absolute;
						bottom: 24px;
						right:0;
						transition: all 0.6s ease;

					}
				}

			}
			ul:after{
				content: '';
				display: block;
				clear: both;
			}
			.owl-controls{

				.owl-dot{
					// position: relative;
					float: left;
					text-align: center;
					span{
						display: inline-block;
						padding:1rem 0 0 0;
						font:1.5rem/2rem 'NotoSansKR';
						text-align: center;
						color:#000;
						letter-spacing: 0;
					}
				}
			}
			.owl-nav{
				position: absolute;
				top:0;
				width:100%;
				height: 100%;
				z-index: 10;
				.owl-next {
				  position: relative;
				  right:0;
				  float: right;
				  width:72px;
				  height: 100%;
					background:url("/images/adidas/event/crazy/btn-next.png") 40% 50% no-repeat;
				  background-size: 60%;
				  text-indent: -9999px;
					// background-color: #000;
					// @include opacity(0.3);
					&:after{
						display: inline-block;
						width: 1rem;
						height: 1rem;
						position: absolute;
						top:50%;
						content: '';
						background:url("http://imagem.adidas.co.kr/images/adidas/event/ultra_boost_x/next.png") 40% 50% no-repeat;
					}
				}
				.owl-prev {
				  position: relative;
				  left:0;
				  float: left;
				  width:72px;
				  height: 100%;
				  background:url("/images/adidas/event/crazy/btn-prev.png") 40% 50% no-repeat;
				  background-size: 60%;
				  text-indent: -9999px;
					// background-color: #000;
					// @include opacity(0.3);
				}
			}
			.owl-dots{
				position: absolute;
				width: 100%;
				text-align: center;
				padding:1.5rem 0;
				.owl-dot{
					display: inline-block;
					float:none;
					margin:0 5px;
					width: 1rem; height: 1rem;
					background: #636363;
					border-radius: 50px;
					-webkit-border-radius: 50px;
					&.active{
						background: #fff;
					}
				}
			}
		}

	}

	.shoes{
		background: url("/images/adidas/event/crazy/171120/bg_shoes.jpg") 0 0 repeat-y;
		background-size: cover;
		.box{
			position: relative;
			padding:0 1.5rem;
			&.type1{
				padding: 0 1rem 0 1rem;
				// >img{
				// 	opacity: 0;
				// 	@include css3 (transition ,opacity 0.8s);
				// }
				.txt{
					position: relative;
					top:10px;
					text-align: left;
					padding-left: 17px;
					@include css3 (transition ,opacity 0.8s);
				}
			}
			&.type2{
				padding:5rem 1.5rem 5rem 1.5rem;
				>img{
					@include css3 (transition , opacity 0.8s);
				}
				.txt{
					position: relative;
					top:10px;
					text-align: left;
					padding-left: 17px;
					@include css3 (transition , opacity 0.8s);
				}
			}
			>img{
				width: 100%;
			}
			.txt{
				.title{
					padding-top: 2rem;
					font:2.5rem/2.5rem 'NotosansKR', 'Nanum Gothic';
					color:#fff;
					letter-spacing: 0.05rem;
				}
				.desc{
					padding:0.5rem 0 1.5rem 0;
					font:1.2rem/1.7rem 'NotosansKRlight', 'Nanum Gothic';
					color:#fff;
					letter-spacing: 0.05rem;
				}
				.buy{
					position: relative;
					display: inline-block;
					width: 125px;
					background: #fff;
					color:#000;
					text-align: center;
					font:1rem/45px 'NotosansKR';
					letter-spacing: 0px;
					&:after{
						display: inline-block;
						margin-left: 10px;
					}

				}

			}
		}
	}

	.banner_wrap{
		position: relative;
		padding:2rem 2rem 2rem 2rem;
		background: url("/images/adidas/event/crazy/171120/bg_banners.jpg") 0 0 no-repeat;
		background-size:100% 100%;
		.banner{
			position: relative;
			margin-bottom: 2rem;
			text-align: center;
			a.full{
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
			}
			img{
				width:100%;
			}
			.play{
				position: absolute;
				top:50%;
				left:50%;
				background: url("/images/adidas/event/pure_boost/play.png") 0 0 no-repeat;
				background-size:100% 100%;
				width: 6rem;
				height: 6rem;
				margin-top: -3rem;
				margin-left: -3rem;
			}
			p{
				display: inline-block;
				position: relative;
				bottom:40px;
				text-align: center;
				font:500 20px/20px 'Adihaus-regular';
				color: #fff;
				letter-spacing: 0.05rem;
			}
		}
	}
}
