@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}
//common
html,body{
    // height:100%;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
} 
input:focus {
  outline: none;
}

.rel{
	position: relative;
}
img{
	width:100%;
}


// electro
