@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#outerjacket{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}
	span, p{
		letter-spacing: 0;
	}
	main{
		img{
			width: 100%;
		}
		.visuals{
		}
		.articles{
			padding: 3rem 0;
			h3.title{
				font: 400 24px/24px 'NotoSansKR';
				color:#000;
				text-align: center;
				em{
					font: 700 24px/24px 'NotoSansKR';
				}
			}
			.articles__body{
				margin: 2rem 0;
				p{
					font: 300 11.5px/17px 'NotoSansKR';
					color:#000;
					text-align: center;
				}
				>span{
					font: 700 13px/13px 'NotoSansKR';
					color:#000;
					text-align: center;	
					display: block;
					margin: 1rem 0 0 0;
				}
			}
			.button_area_v2{
				margin: 0 auto;
			}
		}
		.main-head{
			.main-head__text{
				padding: 2rem 0;
				p{
					font: 22.5px/22.5px 'adinenuPro-black';
					color: #000;
					text-align: center;
				}
				>span{
					font: 300 11.5px/11.5px 'NotoSansKR';
					color: #000;
					display: block;
					text-align: center;
					margin: 1rem 0 2rem;
				}
				.button_area_v2{
					margin: 0 auto;
				}
			}
		}
		.carousel__container{
			background: url('/images/adidas/2020/event/outerjacket/0907/woman_bg.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
			&:nth-of-type(7){
				background: url('/images/adidas/2020/event/outerjacket/0907/man_bg.jpg') no-repeat;
				background-position: top;
				background-size: 100% 100%;
				.carousel__wrapper{
					.carousel{
						.wrap{
							>p{
								color: #8d96af;
							}
							span.number{
								color: #8d96af;
							}
						}
					}
				}
			}
			.carousel__wrapper{
				.carousel{
					position: relative;
					width: 100%;
					.wrap{
						padding: 2rem 8.5rem 2rem 4rem;
						>p{
							position: absolute;
							top: 50%;
							left: 93%;
							transform: translate(-50%,-50%)rotate(90deg);
							display: inline-block;
							font: 29px/29px 'adinenuPro-black';
							color: #c5a1a1;
							letter-spacing: 6px;
						}
						span.number{
							background: #fff;
							padding: 5px 6px 3px;;
							color: #c5a1a1;
							font:13px 'AdihausDIN-Bold';
							position: relative;
							left: 39%;
						}
						.prev-button, .next-button{
							position: absolute;
							top: 50%;
							transform: translate(-50%,-50%);
							z-index: 2;
							text-align: center;
							img{
								width: 50%;
							}
						}
						.prev-button{
							left: 10%;
						}
						.next-button{
							left: 67%;
							transform: translateY(-50%) rotate(180deg);
						}
					}
					.slider{
						.item{
							img{}
						}
					}
					&.right{
						.wrap{
							padding: 2rem 4rem 2rem 8.5rem;
							p{
								left: 7%;
								right: initial;
								transform: translate(-50%, -50%) rotate(-90deg);
							}
							.prev-button{
								left: 26%;
							}
							.next-button{
								left: 82%;
								transform: translateY(-50%) rotate(180deg);
							}
						}
					}
				}
			}
		}
		.bottom-articles{
			padding: 2rem 0 2.5rem 0;
			p{
				font: 300 11.5px/17px 'NotoSansKR';
				color:#000;
				text-align: center;
			}
			>span{
				font: 900 13px/13px 'NotoSansKR';
				color:#000;
				text-align: center;
				display: block;
				margin: 1rem 0 2rem 0;
			}
			.button_area_v2{
				margin: 0 auto;
			}
		}
		.bottoms{
		}
	}	

}
