@import "./app/MO/reebok/css/scss/about.scss";

.floatride{
    .main_bg{
        position: relative;
        padding-bottom: 122%;
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
        }
        div.box{
            position: absolute;
            top:0;
            left:0;
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s);


            img{
                width:100%;
            }
            &.on{
                @include opacity(1);
            }
        }

    }
    .video_visual{
        h2{
            margin-bottom:1.5rem;
            width:inherit;
            height: inherit;
            text-indent: 0;
            background:none;
            text-align: center;
            color:#fff;
            text-transform: uppercase;
            font:5rem/5.3rem 'QStencil';
            span{
                font:2.5rem/3.5rem 'QStencil';
                vertical-align: top;
            }
        }
        .desc{
            margin-bottom:1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 3px;
            text-transform: uppercase;
            font:300 1.7rem/1.3rem 'dinpro cond';
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKR';
        }
        .video-btn{
            top:0rem;
            margin:0 auto;
        }
    }


    .collections{
        position: relative;
        padding: 3rem 1.5rem 3.5rem 1.5rem;
        background: #5c5c5c url('http://imagem.reebok.co.kr/images/reebok/about/floatride/bg.jpg') 0 0 repeat;
        background-size: 100% 100%;
        h2{
            padding: 1rem 3rem 2rem;
            img{
                width: 100%;
            }
        }
        .num_paging{
            width: 100%;
            padding: 1rem 0px;
            position: absolute;
            bottom:12rem;
            a{
                position: relative;
                margin-right: 3.5rem;
                width:4rem;
                height:4rem;
                color:#000;
                background: #e9dfd7;
                font:2.5rem/4rem 'reefont-condensed';
            }
            a:last-child{
                margin-right: 0;
            }
            a:last-child:after{
                width: 0;
            }
            a:after{
                position: absolute;
                top:2rem;
                left:3.8rem;
                content: '';
                width: 5rem;
                height: 0.2rem;
                background: #e9dfd7;
            }
            .on{
                background: #e54a11;
                color: #fff;
                border-color: #e54a11;
            }
        }

        .collection_cut{
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                    .txt{
                        position: absolute;
                    display: block;
                    top: 58%;
                    padding: 0rem 2rem 2.5rem 2rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                        p.main{
                            letter-spacing: -3px;
                            padding-bottom: 1.3rem;
                            border-bottom:1px solid #aa4398;
                            color:#fff;
                            font:1.8rem/1.8rem  'NotoSansKR';
                        }
                        p.desc{
                            position: relative;
                        /* top: 6px; */
                        padding-top: 1rem;
                        height: 4rem;
                        padding-bottom: 2rem;
                        letter-spacing: -1px;
                        color: #fff;
                        font:300 1.2rem/1.5rem 'NotoSansKR';

                        }
                        a{
                            position: relative;
                            z-index: 10;
                            padding:0.8rem 3rem 1rem 3rem;
                            border:1px solid #fff;
                            color:#fff;
                            font:1.2rem/2rem  'NotoSansKR';
                        }
                    }
                }
            }
        }
        .num_paging{
            position: absolute;
            bottom: 38%;
            width: 90%;
            a{
                background: #fff;
                &.on{
                    background: #aa4398;
                    border-color: #aa4398;
                }
            }
        }
        .prodlist_wrap{
            position: relative;

            .prodlist{
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;

                .tit{
                    height: 1.4rem;
                    overflow: hidden;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space:normal;
                    -webkit-line-clamp:1;
                    -webkit-box-orient: vertical;
                }
            }

            .active{
                opacity: 1;
                z-index: 2;
            }
            .fake{
                position: relative;
                opacity: 0;
                visibility: hidden;
            }

        }
    }
    .collections2{
        padding: 0 1.5rem 1.5rem;
        background: url('http://imagem.reebok.co.kr/images/reebok/about/floatride/col_bg.jpg') 0 no-repeat;
        background-size: 100% 100%;

        h3{
            padding: 2.5rem 0px 1rem;
            color: #fff;
            font:2.4rem/3rem 'QStencil';
            text-align: center;
            text-transform: uppercase;
        }

        .num_paging{
            padding: 1rem 0px;
            .on{
                background: #fff;
                color: #000;
                border-color: #fff;
            }
        }

        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
            }
            .navi{
                position: absolute;
                top:50%;
                margin-top: -16.5px;
                width: 100%;
                text-align: center;
                img{
                    width: 50%;
                }
                .next{
                    position: absolute;
                    right:0;
                }
                .prev{
                    position: absolute;
                    left:0;
                }
            }

        }
        .prodlist_wrap{
            position: relative;
            padding-bottom: 178%;

            .prodlist{
                position: absolute;
                top: 63px;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;
                h4{
                    position: absolute;
                    top:-3.5rem;
                    width: 100%;
                    text-align: center;
                    img{
                        width: 77%;
                    }
                }
                .box{
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                        .img{
                            padding-bottom: 105%;
                        }
                        .info{
                            padding:20px 0 26px 12px;
                            .ctgr{
                                span.men{
                                    color: #6d9c12;
                                    font: 500 1rem 'dinpro cond';
                                }
                                span.women{
                                    color: #aa4398;
                                    font: 500 1rem 'dinpro cond';
                                }
                            }
                        }
                    }
                }
                .box:nth-child(2n){
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                    }

                }
                .tit{
                    height: 1.4rem;
                    display: -webkit-box;
                }
            }

            .active{
                opacity: 1;
                z-index: 2;
            }
            .fake{
                position: relative;
                opacity: 0;
                visibility: hidden;
            }

        }
    }

}
// floatride
