@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";
// html,body{
// 	height:100%;
// }
.ins-preview-wrapper{
  display:none !important;
}
.ins-content-wrapper{
  display:none !important;
}
.not_scroll {
  overflow: hidden;
}
.clearfix {
  clear: both;
  display: block;
  content: "";
}
#xflow {
  .main {
    position: relative;
    .main_wrap{
      >img{
        width:100%;
      }
    }
    .main_img{
      position:absolute;
      left:50%;
      top:34%;
      transform:translate(-50%,-50%);
      width:100%;
      text-align:center;
      >img{
        width:88%;
      }
    }    
    .main_txt {
      position:absolute;
      left:50%;
      top:80%;
      transform:translate(-50%,-50%);
      width:100%;
      text-align:center;
      h1{
        >img{
          width:55%;
        }
      }
      p{
        font: 500 1.4rem/1.5rem "NotoSansKR";
        letter-spacing:0;
        color:#fff;        
        padding:0.8rem 0 0 0;
      }
    }
  }
  .cont1{
    .cont1_box{
      background:url('/images/adidas/2021/event/football/0713/cont1_img.jpg')no-repeat;
      background-size:100% 100%;
      background-position:center;
      padding:2.6rem 1.8rem;
      box-sizing:border-box;
      margin-top:-1px;
      .cont1_txt{
        color:#fff;
        h2{
          font: 500 1.5rem/1.5rem "NotoSansKR";
          letter-spacing:0;
          text-align:center;
        }
        p{
          font: 300 1rem/1.4rem "NotoSansKR";
          letter-spacing:0;
          text-align:center;
          padding:1rem 0 1.5rem 0;
        }
      }
      .video_wrap{
        position: relative;
        >img{
          width:100%;
        }
        .video_btn {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          button {
            background: url("/images/adidas/2021/event/football/0713/video_btn.png") no-repeat;
            background-position:center;
            background-size: 70%;
            width: 30px;
            height: 36px;
            border: 0;
          }
        }      
      }      
    }
  }  
  .cont2{
    >img{
      width:100%;
    }
  }
  .cont3{
    .cont3_box{
      background:url('/images/adidas/2021/event/football/0713/cont3_img.jpg')no-repeat;
      background-size:100% 100%;
      background-position:center;
      background-position:center;
      padding:5rem 1.8rem;
      box-sizing:border-box;
      .cont3_all_list{
        overflow:hidden;
        .cont3_le{
          float:left;
          width:45%;
          >img{
            width:100%;
          }
        }
        .cont3_ra{
          float:left;
          width:48%;
          padding:4rem 0 0 1.5rem;
          h3{
            font: 500 1.2rem/1.5rem "NotoSansKR";
            letter-spacing:0;
            color:#fff;
          }
          p{
            font: 300 1rem/1.5rem "NotoSansKR";
            letter-spacing:0;
            color:#fff;
            padding:12px 0 0 0;
          }
        }        
      }
      .cont3_all_list2{
        padding:4.8rem 0;
        .cont3_le{
          width:45%;
          margin-left:1.2rem;
          >img{
            width:100%;
          }
        }        
        .cont3_ra{
          width:50%;
          padding:4rem 0 0 0;
          h3{
            text-align:right;
          }
          p{
            text-align:right;
          }
        }        
      }
    }
  }  
}
