@import "./app/MO/reebok/css/scss/about.scss";

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondBlack.woff') format('woff');
	font-weight:900;
	font-style:normal;
}
.campaign_bt21{
    position: relative;
    .video{
        img{
            width: 100%;
        }
    }

    .main{
        padding: 35px 20px;
        &.on{
            .img,.logo{
                top:0;
                opacity: 1;
                -webkit-opacity: 1;
            }
            .txt_wrap{
                top:0;
                opacity: 1;
                -webkit-opacity: 1;
            }
        }
        .img{
            position: relative;
            top:40px;
            padding: 0 20px;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            img{
                width: 100%;
            }
        }
        .logo{
            position: relative;
            top:40px;
            padding: 30px 70px 20px;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            img{
                width: 100%;
            }
        }
        .txt_wrap{
            position: relative;
            top:40px;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition-delay: 0.5s;
            h2{
                text-align: center;
                font: 900 49px/49px 'dinpro cond';
                letter-spacing: 3px;
            }
            p{
                padding: 5px 0 0 0;
                text-align: center;
                font:400 1rem/1.6rem 'NotoSansKR';
                color:#666;
                strong{
                    font:500 1rem 'dinpro';
                }
            }
        }
    }



    .scrollbox{
        opacity: 0;
        -webkit-opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        &.on{
            opacity: 1;
            -webkit-opacity: 1;
        }
    }
    .bottom{
        img{
            width: 100%;
        }
    }
}
