@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#reflective{
	position: relative;
	background: #000;
	.button_area_v2{
		display: inline-block;
		margin-bottom: 2vh;
		a{
			font: 500 1rem/40px 'NotoSansKR';
			padding: 0 5vw;
			letter-spacing: 0;
			height: 40px;
			text-transform: uppercase;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}
	img{
		width:100%;
	}
	.rel{
		position: relative;
	}
	h1,p,em{
		letter-spacing: 0;
		white-space: nowrap;
	}
	.main__wrapper{
		.main__wrapper__txt{
			position: absolute;
			top: 13%;
			left: 8%;
			// transform: translate(-61%, -172%);
			h1{
				font:22px/22px 'adinenuPro-regular';
				color:#fff;
				letter-spacing: 1px;
				em{
					font:22px/22px 'adinenuPro-bold';
				}
			}
			p{
				color:#fff;
				font:300 11px/18px 'NotoSansKR';
			}
			.button_area_v2{
				margin:1rem 0 0 0;
			}
		}
	}
	.section__container{
		background:url('/images/adidas/2019/event/ultra_boost/reflective/1912_a_reflective_bg_MO.jpg') no-repeat;
		background-size:100% auto;
		background-position: top;
		.section__wrapper{
			text-align: center;
			img{
				width: 90%;
			}
			&.vid{
				video{
					width: 75%;
				}
				a{
					position: absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-110%);
					img{
						width:40%
					}
				}
				p{
					text-align: center;
					color:#fff;
					font:300 11px/18px 'NotoSansKR';
					margin:2.5rem 0;
				}
			}
			&:nth-child(2){
				p{
					font:12px/18px 'adinenuPro-regular';
					color:#fff;
					text-align: center;
					margin:2rem 0 0 0;
				}
				h1{
					font:12px/18px 'adinenuPro-bold';
					color:#fff;
					text-align: center;
					margin:1.5rem 0 2rem;
				}
			}
			&:nth-child(3){

			}
			&:nth-child(4){
				padding: 10% 0 18%;
			}
		}
	}
	.stores__wrapper{
		h1{
			text-align: center;
			color:#fff;
			font:300 15px/15px 'NotoSansKR';
			margin:3rem 0 1.5rem;
		}
	}
	.btm__wrapper{
		text-align: center;
		padding:5rem 0 3rem 0;
		h1{
			font:22px/22px 'adinenuPro-regular';
			color:#fff;
			text-align: center;
			letter-spacing: 1px;
			em{
				font:22px/22px 'adinenuPro-bold';
			}
		}
		.button_area_v2{
			margin:1.5rem 0 0 0;
		}
	}
}

@media (max-width:374px){
	#reflective{
		.main__wrapper{
			.main__wrapper__txt{
				position: absolute;
				top: 9%;
			}
		}
	}
}
@media (max-width:320px){
	#reflective{
		.main__wrapper{
			.main__wrapper__txt{
				position: absolute;
				top: 9%;
			}
		}
	}
}