@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#golf_tour_mob {
  max-width: 760px;
  width: 100%;
  margin: 0 auto; }
  #golf_tour_mob .tour_video_wrap {
    width: 100%;
    max-height: 1120px;
    height: 147.5vw;
    position: relative; }
    #golf_tour_mob .tour_video_wrap video {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background-color: #058164; }
    #golf_tour_mob .tour_video_wrap div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 5; }
      #golf_tour_mob .tour_video_wrap div h4 {
        width: 100%;
        font: 600 95px/95px 'adinenuPro-black';
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -300px; }
      #golf_tour_mob .tour_video_wrap div p {
        width: 100%;
        font: 300 34px/46px 'NotoSansKr_demiLight';
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 4px; }
      #golf_tour_mob .tour_video_wrap div img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 160px;
        margin-left: -55px; }
  #golf_tour_mob .tour_slide_wrap {
    width: 100%;
    height: 950px;
    background-size: 760px;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("http://santelglobal.com/adidasGolf/tour360/tour_product_bgi_m.jpg");
    position: relative; }
    #golf_tour_mob .tour_slide_wrap h3 {
      width: 100%;
      padding-top: 125px; }
      #golf_tour_mob .tour_slide_wrap h3 img {
        display: block;
        margin: 0 auto; }
  #golf_tour_mob .tour_content_wrap {
    width: calc(100% - 100px);
    height: auto;
    padding: 30px 50px 70px;
    margin: 0 auto; }
    #golf_tour_mob .tour_content_wrap > div {
      width: 100%;
      height: auto;
      padding: 80px 0 40px;
      border-bottom: 2px solid #e1e1e1;
      box-sizing: border-box; }
      #golf_tour_mob .tour_content_wrap > div:last-child {
        border-bottom: 0; }
    #golf_tour_mob .tour_content_wrap img {
      width: 100%; }
    #golf_tour_mob .tour_content_wrap dl {
      width: 100%;
      height: auto; }
      #golf_tour_mob .tour_content_wrap dl dt {
        margin: 95px 0 50px;
        font: 600 40px/45px 'NotoSansKr_bold'; }
      #golf_tour_mob .tour_content_wrap dl dd .num_box {
        width: 30px;
        height: 30px;
        margin-top: 8px;
        float: left;
        background-color: #000;
        font: 300 26px/34px 'adineuePro-bold';
        text-align: center;
        color: #fff; }
      #golf_tour_mob .tour_content_wrap dl dd .text_box {
        width: calc(100% - 50px);
        padding-left: 10px;
        padding-bottom: 30px;
        float: left;
        font: 600 25px/42px 'NotoSansKr_regular'; }
  #golf_tour_mob .tour_history_wrap {
    width: 100%;
    max-height: 980px;
    height: 128.9vw;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("http://santelglobal.com/adidasGolf/tour360/tour_history_bgi_m.jpg");
    position: relative; }
    #golf_tour_mob .tour_history_wrap .history_deco {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-bottom: 142px; }
      #golf_tour_mob .tour_history_wrap .history_deco img {
        width: 100%; }
    #golf_tour_mob .tour_history_wrap .history_text {
      width: 100%;
      height: 180px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -360px; }
      #golf_tour_mob .tour_history_wrap .history_text div {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 15px;
        display: none; }
        #golf_tour_mob .tour_history_wrap .history_text div h6 {
          font: 300 65px/80px 'adineuePro-bold';
          text-align: center;
          color: #fff; }
        #golf_tour_mob .tour_history_wrap .history_text div p {
          padding-top: 16px;
          font: 300 28px/38px 'NotoSansKr_regular';
          text-align: center;
          color: #fff; }
        #golf_tour_mob .tour_history_wrap .history_text div:nth-child(1) {
          display: block; }
      #golf_tour_mob .tour_history_wrap .history_text .double_title {
        margin-top: 0;
        display: none; }
        #golf_tour_mob .tour_history_wrap .history_text .double_title h6 span {
          width: 100%;
          display: block; }
          #golf_tour_mob .tour_history_wrap .history_text .double_title h6 span:first-child {
            font: 300 65px/80px 'adineuePro-light'; }
          #golf_tour_mob .tour_history_wrap .history_text .double_title h6 span:last-child {
            font: 300 65px/80px 'adineuePro-bold'; }
        #golf_tour_mob .tour_history_wrap .history_text .double_title p {
          padding-top: 12px; }
    #golf_tour_mob .tour_history_wrap .history_content {
      width: 100%;
      max-height: 355px;
      height: 46.7vw;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -110px;
      overflow: hidden; }
      #golf_tour_mob .tour_history_wrap .history_content div {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 100%; }
      #golf_tour_mob .tour_history_wrap .history_content img {
        width: 100%; }
      #golf_tour_mob .tour_history_wrap .history_content .act_history {
        margin-left: 0; }
    #golf_tour_mob .tour_history_wrap .history_indi {
      width: 470px;
      height: 135px;
      position: absolute;
      left: 50%;
      margin-left: -235px;
      padding-top: 5px;
      overflow: hidden;
      bottom: 0;
      margin-bottom: 65px; }
      #golf_tour_mob .tour_history_wrap .history_indi div {
        width: 120px;
        height: 130px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 50%; }
        #golf_tour_mob .tour_history_wrap .history_indi div:last-child {
          margin-left: -228px; }
        #golf_tour_mob .tour_history_wrap .history_indi div:nth-child(2) {
          margin-left: 128px; }
        #golf_tour_mob .tour_history_wrap .history_indi div a {
          width: 100%;
          height: 100%;
          display: block; }
        #golf_tour_mob .tour_history_wrap .history_indi div img {
          width: 40px;
          display: block;
          margin: 23px auto 0;
          opacity: 0.75; }
        #golf_tour_mob .tour_history_wrap .history_indi div p {
          width: 100%;
          margin-top: 30px;
          font: 300 35px/35px 'adineuePro-bold';
          text-align: center;
          color: #fff;
          opacity: 0.8; }
      #golf_tour_mob .tour_history_wrap .history_indi .act_his_indi {
        width: 140px;
        margin-left: -70px; }
        #golf_tour_mob .tour_history_wrap .history_indi .act_his_indi img {
          width: 80px;
          margin: 0 auto;
          opacity: 0.9; }
        #golf_tour_mob .tour_history_wrap .history_indi .act_his_indi p {
          margin-top: 8px;
          font: 300 45px/45px 'adineuePro-bold';
          opacity: 0.9; }
    #golf_tour_mob .tour_history_wrap .history_btn {
      width: 100%;
      height: 70px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -55px;
      z-index: 3; }
      #golf_tour_mob .tour_history_wrap .history_btn button {
        width: 70px;
        height: 120px;
        padding: 42px 20px; }
        #golf_tour_mob .tour_history_wrap .history_btn button span {
          width: 30px;
          height: 36px;
          display: block;
          background-size: 100px; }
      #golf_tour_mob .tour_history_wrap .history_btn .left_hs {
        float: left;
        margin-left: 40px; }
        #golf_tour_mob .tour_history_wrap .history_btn .left_hs span {
          background-position: -47px -21px; }
      #golf_tour_mob .tour_history_wrap .history_btn .right_hs {
        float: right;
        margin-right: 40px; }
        #golf_tour_mob .tour_history_wrap .history_btn .right_hs span {
          background-position: -77px -21px; }

#footer_r {
  width: 100%;
  height: 500px;
  background-color: #456123; }

@media screen and (min-width: 701px) {
  #golf_tour_mob .tour_video_wrap h4 {
    width: 100%;
    font: 600 95px/95px 'adinenuPro-black'; } }
