@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";
// html,body{
// 	height:100%;
// }
.not_scroll {
  overflow: hidden;
}

#rfto {
  @for $i from 1 through 3 {
		.bg0#{$i} {
			background: url('/images/adidas/2021/event/rfto/bg0#{$i}.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
		}
	}
  .btn_default {
    &.m0 {
      margin-top: 0;
    }
    a{
      letter-spacing: 0;
    }
  }
  .section {
    position: relative;
  }

  .sect_visual {
    .visual_img {
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .sect_statement {
    &.sect_possible {
      .inner {
        >img{
          width: 100%;
        }
        >div{
          padding: 5rem 0 2rem;
          h4 {
            padding: 0;
          }
          p {
            padding-top: 2rem;
            font-weight: bold;
            line-height: 1.6rem;
            letter-spacing: 1px;
          }
        }
      }
    }
    &.sect_event {
      .inner {
        white-space: nowrap;
        text-align: center;
        >img{
          width: 100%;
          padding: 0;
        }
        >div:not(.btn_default){
          width: 80%;
          margin: 0 auto;
          text-align: left;
          h4 {
            padding-top: 2rem;
            text-align: center;
          }
          ol {
            position: relative;
            left: 1rem;
            padding-top: 2rem;
            li {
              list-style: decimal;
              padding-bottom: 1rem;
              font: 400 1.2rem/1.7rem "NotoSansKR";
              letter-spacing: normal;
              color: #000;
            }
          }
          span {
            display: inline-block;
            font: 400 0.8rem/0.8rem "NotoSansKR";
            letter-spacing: normal;
            color: #000;
            margin-top: 1.5rem;
          } 
        }
        .btn_default {
          margin-top: 2rem;
        }
      }
    }
    .inner {
      text-align: center;
      > img {
        padding-top: 2.5rem;
        display: block;
        width: 85%;
        margin: 0 auto;
      }
      h4 {
        padding-top: 2.5rem;
        font: 700 2rem/2.6rem "NotoSansKR";
        letter-spacing: normal;
        color: #000;
      }
      p {
        padding-top: 1.5rem;
        font: 700 1.25rem/2rem "NotoSansKR";
        letter-spacing: normal;
        color: #000;
        span {
          font-weight: 900;
          letter-spacing: 1px;
        }
      }
    }
  }

  .sect_lookbook {
    text-align: center;
    padding: 3rem 0;
    h4 {
      font: 700 3.7rem/3.7rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
    }
    p {
      padding-top: 0.5rem;
      font: 500 1.25rem/2rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
    }
    .look_slider_form {
      margin: 0 auto;
      margin-left: 1.5rem;
      width: 73%;
      // width: 86%;
      padding: 1rem 0 0;
      background: #fff;
      .slick-list {
        overflow: visible;
        .slick-slide {
          padding: 0 7px;
          > img {
            display: block;
            width: 100%;
          }
          p {
            text-align: left;
          }
        }
      }
      .slick-dots {
        text-align: center;
        padding: 0.8rem 0 0;
        li {
          width: 14px;
          height: 2px;
          background: #747474;
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          &:last-child {
            margin-right: 0;
          }
          button {
            background: none;
            border: 0;
            text-indent: -9999px;
          }
          &.slick-active {
            height: 4px;
            background: #000;
          }
        }
      }
    }
    .prev-button,
    .next-button {
      @include center(47%, auto, auto, $ctY);
      z-index: 2;
      img {
        width: 50%;
      }
    }
    .prev-button {
      left: 5.5%;
      transform: translateY(-50%) rotate(180deg);
    }
    .next-button {
      right: 5.5%;
    }
  }

  .sect_video {
    text-align: center;
    .video_box {
      position: relative;
      > img {
        display: block;
        width: 100%;
      }
      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 8%;
        > img {
          width: 100%;
          animation: playbtn 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
    }
    p {
      padding-top: 1.4rem;
      font: 500 1rem/1.6rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
    }
  }

  .sect_endbox {
    padding: 0 0 4rem;
    text-align: center;
    >div:not(.btn_default){
      position: relative;
      padding-bottom: 50%;
      >img{
        width: 100%;
      }
      p {
        font: 400 1.25rem/1.7rem "NotoSansKR";
        letter-spacing: 1px;
        color: #000;
        @include center(72%,auto,53%,$ctct);
        white-space: nowrap;
        text-align: left;
      }
    }
    > img {
      display: block;
      width: 100%;
    }
    .btn_default {
    }
  }
}
