@import "./mobile/MO/reebok/css/scss/about.scss";

.family2019{
    .visual_main, .box01, .box02, .cont_container, .info, .btm{
        img{
            width:100%;
            position: relative;
            opacity: 0;
            transition: all 1s ease-in;
        }
    }

    .visual_main{
        position: relative;
        .img{
            &.on{
                img{
                    opacity: 1;
                }
            }
        }
        .deco{
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);
            width:100%;
            &.on{
                img{
                    opacity: 1;
                    transition-delay: .4s;
                }
            }
        }
    }
}
.box01{
    position:relative;
    img{
        top:1rem;
    }
    &.on{
        img{
            top:0;
            opacity: 1;
        }
    }
    .lnk1{
        position: absolute;
        top: 59%;
        left: 4%;
        width: 20%;
        height: 5%;
    }
    .lnk2{
        position: absolute;
        top: 88%;
        left: 52%;
        width: 25%;
        height: 4%;
    }
    .lnk3{
        position: absolute;
        top: 62%;
        left: 37%;
        width: 56%;
        height: 11%;
    }
}
.box02{
    img{
        top:1rem;
    }
    &.on{
        img{
            top:0;
            opacity: 1;
            transition-delay: .2s;
        }
    }
}
.cont_container{
    position: relative;
    img{
        top:1rem;
    }
    &.on{
        img{
            top:0;
            opacity: 1;
            transition-delay: .2s;
        }
    }
    .lnk4{
        position: absolute;
        top: 27.6%;
        left: 37%;
        width: 24%;
        height: 4%;
    }
    .lnk5{
        position: absolute;
        top: 27.6%;
        left: 64%;
        width: 24%;
        height: 4%;

    }
    .lnk6{
        position: absolute;
        top: 47.6%;
        left: 37%;
        width: 24%;
        height: 1%;

    }
    .lnk7{
        position: absolute;
        top: 47.6%;
        left: 64%;
        width: 24%;
        height: 1%;
    }
}
.info{
    position: relative;
    img{
        top:1rem;
    }
    &.on{
        img{
            top:0;
            opacity: 1;
            transition-delay: .2s;
        }
    }
    .lnk8{
        position: absolute;
        top: 47.1%;
        left: 23%;
        width: 33%;
        height: 4%;
    }
}
.btm{
    position: relative;
    .img{
        top:1rem;
    }
    .end{
        position: absolute;
        bottom:-1rem;
    }
    &.on{
        .img{
            top:0;
            opacity: 1;
            transition-delay: .2s;
        }
        .end{
            bottom:0;
            opacity: 1;
            transition-delay: 1s;
        }
    }
}

// 2019Family END
