/* CSS Document */
* {margin:0px; padding:0px;}
#dqAutoTop {position:absolute; display:none; top:19px; left:68px; width:261px; border:solid 1px #000000; background-color:#ffffff; z-index:1000;}
#dqAutoTop ul li {display:block;}
#dqAutoTop li {height:23px; font:12px/23px  dotum; color:#666666; padding-left:10px; cursor:pointer;}
#dqAutoTop li span {color:#f76d1a; font-weight:bold;}
#dqAutoTop .header {background-color:#f3f3f3; font-size:11px; font-family:±¼¸²,µ¸¿ò,Seoul,arial,helvetica; text-decoration:none; color:#8b8d8e; padding-top:2px; padding-right:10px;}
#dqAutoTop .header span {vertical-align:middle; float:right;}
#searchKeyword {width:260px; *width:261px;}
.close {text-align:right;}

