@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#runforocean_cp{
	position: relative;

	.button_area_v2{
		display: inline-block;
		margin-bottom: 2vh;
		a{
			width: auto;
			padding:0 1.3rem;
			font: 600 1rem/46px 'NotoSansKR';
			letter-spacing: 0.7px;
			height: 46px;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}

	img{
		width:100%;
	}
	.section{
		position: relative;
		text-align: center;
		.button_area_v2{
			position: absolute;
			top: 79%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 40%;
		}
	}

}
