@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';




#kids_running{
    background:#fff;
    position: relative;
    overflow: hidden;
    .choice{
        li{
            display: none;
            &.on{
                display: block;
            }
        }
    }
    .box1{
        position: relative;
        overflow: hidden;
        background: url('/images/adidas/event/kids_running/1806_beattheheat/img1.jpg') 0 0 no-repeat;
        background-size: 100% auto;
        padding: 2rem 2rem;
        img{
            width:100%;
        }
        .txt{
            text-align: center;
            h1{
                font: 700 3.65rem/20px 'adinenuPro-black';
                color: white;
                text-align: center;
                margin: 25px 0 10px 0;
            }
            .button_area{
                display: block;
                margin: 0 auto;
                margin-top:23px;
                width: 100%;

                div{
                    &:first-child{
                        padding-left:0;
                    }
                    &:last-child{
                        padding-right:0;
                    }
                    a{
                        font: 600 1rem/20px 'NotoSansKR';
                        margin: 0 0 40px 0;
                        height: 40px;
                        line-height: 40px;
                        background:#fff;
                        color:#000!important;
                        padding:0 30px!important;
                        img{
                            width: 10px;
                            vertical-align: -1%;
                            padding-left: 4px;
                        }

                    }
                }
            }
        }
    }

    .box2,.box3,.box4,.box7{
        margin: 20px 0;
        .banner_slider_wrap{
            .owl-controls{
                margin-top:20px;
                overflow: hidden;
                .owl-dots{
                    width: 46px;
                    height: 10px;
                    margin:0 auto;
                    padding-left: 11px;
                    .active{
                        background:#00c6ff!important;
                    }
                    .owl-dot{
                        background: #d5d5d5;
                        height: 12px;
                        width: 12px;
                        float: left;
                        margin-right: 7px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
            #slider_owl1,#slider_owl2,#slider_owl3,#slider_owl5{
                li{
                    a{
                        img{
                            width:100%;
                        }
                    }
                }
            }
        }
        .txt{
            text-align: center;
            h1{
                font: 800 2rem/20px 'adinenuPro-black';
                color: #000;
                text-align: center;
                margin: 25px 0 10px 0;
            }
            span{
                font: 400 .9rem/20px 'NotoSansKR';
                color: #0a0a0a;
                text-align: center;
                margin: 10px 0 10px 0;
            }
            p{
                font: 400 .9rem/20px 'NotoSansKR';
                color: #868686;
                text-align: center;
            }
            .button_area{
                display: block;
                margin: 0 auto;
                margin-top:23px;
                width: 100%;
                div{
                    padding: 0px 8rem;
                    a{
                        font:400 1rem/20px 'NotoSansKR';
                        margin: 0 0 40px 0;
                        height: 40px;
                        line-height: 40px;

                    }
                }
            }
        }
    }

    .box5{
        position: relative;
        overflow: hidden;
        background: #38c6ea;
        padding: 2rem 2rem;
            img{
                width:100%;
            }

                text-align: center;
                .txt{
                    margin:20px 0;
                    h1{
                        font: 400 3.6rem/20px 'adinenuPro-black';
                        color: white;
                        text-align: center;
                        margin: 25px 0 10px 0;
                    }
                }
                .button_area{
                    display: block;
                    margin: 0 auto;
                    margin-top:23px;
                    width: 100%;
                    div{
                        &:first-child{
                            padding-right:7px;
                            padding-left: 0;
                        }
                        a{
                            font: 400 1rem/20px 'NotoSansKR';
                            height: 40px;
                            line-height: 40px;
                            border: 1px solid #fff;
                            background:none;
                            color:#fff!important;
                            img{
                                width: 9px;
                                vertical-align: -3%;
                                padding-left: 4px;
                            }

                        }
                    }
                    div{
                        &:last-child{
                            padding-left:7px;
                            padding-right: 0;
                        }
                    }
            }
    }
    .box6{
        margin: 60px 0;
        .banner_slider_wrap{
            .owl-controls{
                margin-top:20px;
                overflow: hidden;
                .owl-dots{
                    width: 46px;
                    height: 10px;
                    margin:0 auto;
                    padding-left: 11px;
                    .active{
                        background:#00c6ff!important;
                    }
                    .owl-dot{
                        background: #d5d5d5;
                        height: 12px;
                        width: 12px;
                        float: left;
                        margin-right: 7px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
            #slider_owl4{
                li{
                    a{
                        img{
                            width:100%;
                        }
                    }
                }
            }
        }
        .txt{
            text-align: center;
            h1{
                font: 800 3rem/20px 'adinenuPro-black';
                color: #000;
                text-align: center;
                margin: 25px 0 10px 0;
            }
            span{
                font: 400 .9rem/20px 'NotoSansKR';
                color: #0a0a0a;
                text-align: center;
                margin: 10px 0 10px 0;
            }
            p{
                font: 400 .9rem/20px 'NotoSansKR';
                color: #868686;
                text-align: center;
            }
            .button_area{
                display: block;
                margin: 0 auto;
                margin-top:23px;
                width: 100%;
                div{
                    padding: 0px 8rem;
                    a{
                        font: 400 1rem/20px 'NotoSansKR';
                        margin: 0 0 40px 0;
                        height: 40px;
                        line-height: 40px;

                    }
                }
            }
        }
    }




    .box8{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
        }
        .txt{
            text-align: center;
            h1{
                font: 700 2rem/20px 'NotoSansKR';
                color: #000;
                text-align: center;
                margin: 25px 0 10px 0;
            }
            span{
                font: 400 .9rem/20px 'NotoSansKR';
                color: #0a0a0a;
                text-align: center;
                margin: 10px 0 10px 0;
            }
            p{
                font: 400 .9rem/20px 'adihaus-medium';
                color: #868686;
                text-align: center;
            }
            .button_area{
                display: block;
                margin: 0 auto;
                margin-top:23px;
                width: 100%;
                div{
                    padding: 0px 8rem;
                    a{
                        font:400 1rem/20px 'NotoSansKR';
                        margin: 0 0 40px 0;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }



    .box9{
        position: relative;
        overflow: hidden;
        img{
            width:100%;
        }
        .txt{
            text-align: center;
            h1{
                font: 400 3rem/20px 'adinenuPro-black';
                color: #000;
                text-align: center;
                margin: 25px 0 10px 0;
            }
            .button_area{
                display: block;
                margin: 0 auto;
                margin-top:23px;
                width: 100%;
                div{
                    a{
                        font:700 1rem/20px 'NotoSansKR';
                        margin: 0 0 40px 0;
                        height: 40px;
                        line-height: 40px;
                        border: 1px solid #000;
                        background:#fff;
                        color:#000!important;
                        padding:0 30px!important;
                        img{
                            width: 10px;
                            vertical-align: -2%;
                            padding-left: 4px;
                        }
                        }
                    }
                }
            }
        }


}
