@font-face {
    font-family: 'adiPictoRegular';
    src:url('/fonts/adipictos/adipictos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'NotoSansKRBold';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRBold.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRThin';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRThin.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRLight';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRLight.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRRegular';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRRegular.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRMedium.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}
@font-face {
	font-family: 'reefont-bold';
    src: url('/fonts/mygirl/EOT/ReefontTT-Bold.eot');
	src: url('/fonts/mygirl/EOT/ReefontTT-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ReefontTT-Bold.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont-condensed';
    src: url('/fonts/mygirl/EOT/ReefontTT-Condensed.eot');
	src: url('/fonts/mygirl/EOT/ReefontTT-Condensed.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ReefontTT-Condensed.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont-light';
    src: url('/fonts/mygirl/EOT/ReefontTT-Light.eot');
	src: url('/fonts/mygirl/EOT/ReefontTT-Light.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ReefontTT-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'reefont';
    src: url('/fonts/mygirl/EOT/ReefontTT-Regular.eot');
	src: url('/fonts/mygirl/EOT/ReefontTT-Regular.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ReefontTT-Regular.ttf')  format('truetype');
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondBold.woff') format('woff');
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondMedium.woff') format('woff');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-Cond.woff') format('woff');
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'dinpro cond';
	src: url('/fonts/dinWebpro/woff/DINWebPro-CondLight.woff') format('woff');
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('/fonts/dinpro/DINPro-Regular.woff2') format('woff2'),
	url('/fonts/dinpro/DINPro-Regular.woff') format('woff'),
	url('/fonts/dinpro/DINPro-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('/fonts/dinpro/DINPro-Bold.woff2') format('woff2'),
	url('/fonts/dinpro/DINPro-Bold.woff') format('woff'),
	url('/fonts/dinpro/DINPro-Bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'QStencil';
  src: url('/fonts/QStencil/woff/Q-Stencil.woff') format('woff');
}
