@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}
//common
html,body{
    // height:100%;
}
.btn{
	>div{
        position: relative;
        display: inline-block;
		&::before{
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            bottom: -4px;
            height: 3px;
            left: 2px;
            width: calc(100% + 1px);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
            padding: 0 1rem;
			font: 700 1.1rem/4.3rem 'NotoSansKR';
			letter-spacing: .1rem;
			position: relative;
			display: block;
			text-align: center;
			color: #fff;
			background:#000;
			z-index: 2;
			border: 1px solid #fff;
			.arrow{
                margin-left: 1.4rem;                
                vertical-align: middle;
                width: 15%;                
			}
		}
	}
    &.white{
		>div{
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
			}
			a{
				color: #000;
				background:#fff;
				border: 1px solid #000;
				.arrow{
				}
			}
		}
	}
}

.dmx{
    .top_cont{
        position: relative;
        background:#264797;
        >img{
            width:100%;
        }
        .txt{
            text-align: center;
            padding: 0 0 4rem 0;
            h1{
                font: 3.35rem/3.35rem 'PFDinMonoPro-Bold';
                letter-spacing: 0;
                text-align: center; 
                color:#fff; 
				text-shadow: 1px 1px 1px #000;
                em{
                    font: 2rem/2rem 'NotoSansKR';                    
                }
            }
            p{
                text-align: center;
                font: 500 1.2rem/2rem 'NotoSansKR';
                color:#fff;
                text-shadow: 1px 1px 1px #000;
                margin:1rem 0 1.5rem 0;
            }
            .btn{

            }
        }
    }
    .slide_cont{
        position: relative;
        overflow: hidden;
        z-index: 2;
        padding: 2.5rem 0 0 0;
        background:#c7c9c5;
        text-align: center;
        .common_slide{
            text-align: center;
            position: relative;
            bottom:0;
            left:0;
            &::after{
                position: absolute;
                bottom: 34%;
                right: 11%;
                width: 78%;
                height: 20rem;
                display: block;
                content: '';
                clear: both;
                background:#264797;
                z-index: -1;
            }
            &.slide02{
                &::after{
                    position: absolute;
                    bottom: 34%;
                    right: 11%;
                    width: 78%;
                    height: 20rem;
                    display: block;
                    content: '';
                    clear: both;
                    background:#faff00;
                    z-index: -1;
                }
                .collection_cut{
                    .collection_slider{
                        margin: 0 2rem 0 auto!important;                        
                        width: 67%;
                        overflow: hidden;
                        ul{
                            overflow: hidden;
                            li{
                                position: relative;
                                float: left;
                                text-align: left;
                                .btn{
                                    position: absolute;
                                    top:20%;
                                    left:5%;
                                }
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .num_paging{
                        position: absolute;
                        top:0 ;
                        left:17%!important;
                        a{
                            display: block;
                            margin:0 2px;
                            font: 1.7rem/1.7rem 'PFDinMonoPro-Bold';
                            position: relative;
                            margin: 1.5rem 0;
                            color:#898989;
                            border:none;
                            border-radius: 0;
                            &.on{
                                color:#264797;
                                background:transparent;
                                &::after{
                                    content: '';
                                    clear: both;
                                    display: block;
                                    position: absolute;
                                    bottom: -3px;
                                    left: 0;
                                    right: 0;
                                    border-bottom: 3px solid #264797;
                                }
                            }
                        }
                    }
                }
                .txt{
                    text-align: right;
                    padding: 11% 11% 15%;
                    h1{
                        text-align: right;
                        em{
                            font: 2rem/2rem 'NotoSansKR';                    
                        }
                    }
                    .btn{
                        text-align: right;
                    }
                }
            }

            //공통
            .collection_cut{
                position: relative;
                overflow: hidden;
                .collection_slider{
                    margin: 0 auto 0 2rem;
                    width: 67%;
                    overflow: hidden;
                    ul{
                        overflow: hidden;
                        li{
                            position: relative;
                            float: left;
                            text-align: left;
                            .btn{
                                position: absolute;
                                top:20%;
                                left:5%;
                            }
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                .navi{
                    display: none;
                }
                .num_paging{
                    position: absolute;
                    top:0 ;
                    right:17%;
                    a{
                        display: block;
                        margin:0 2px;
                        font: 1.7rem/1.7rem 'PFDinMonoPro-Bold';
                        position: relative;
                        margin: 1.5rem 0;
                        color:#898989;
                        border:none;
                        border-radius: 0;
                        width: 20px;
                        height:20px;
                        &.on{
                            color:#264797;
                            background:transparent;
                            &::after{
                                content: '';
                                clear: both;
                                display: block;
                                position: absolute;
                                bottom: -3px;
                                left: 0;
                                right: 0;
                                border-bottom: 3px solid #264797;
                            }
                        }
                    }
                }
            }
            .txt{
                text-align: left;
                padding: 11% 11% 15%;
                span{
                    font: 1.1rem/1.1rem 'PFDinMonoPro-Bold';  
                    color: #264797;
                }
                h1{
                    text-align: left;
                    font: 2.7rem/2.7rem 'PFDinMonoPro-Bold';  
                    color:#000;
                    margin:.5rem 0 1.5rem;
                    letter-spacing: -.15rem;
                    em{
                        font: 2rem/2rem 'NotoSansKR';                    
                    }
                }
                .btn{
                    text-align: left;
                }
            }
        }
   
    }

}

// dmx
