@import "./mobile/MO/reebok/css/scss/about.scss";

#contents {
	img {
		vertical-align: middle;
	}
}


body {
	// height:100%;
	outline:none;
}

button {
	outline: none;
}

a{
	outline: none;
}

.btn {
	>div {
		position: relative;
		display: inline-block;

		&::before {
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			bottom: -4px;
			height: 3px;
			left: 2px;
			width: calc(100% + 1px);
			content: "";
			display: block;
			position: absolute;
		}

		&::after {
			border-right: 1px solid #000;
			border-top: 1px solid #000;
			height: calc(100% + 1px);
			right: -4px;
			top: 2px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}

		a {
			padding: 0 1rem;
			font: 600 1rem/3.1rem 'NotoSansKR';
			letter-spacing: .1rem;
			position: relative;
			display: block;
			text-align: center;
			color: #fff;
			background: #000;
			z-index: 2;
			border: 1px solid #000;

			.arrow {
				margin-top: -3px;
				margin-left: 1.4rem;
				vertical-align: middle;
				// width: 20%;
			}
		}
	}

	&.white {
		>div {
			&::before {
				border-bottom: 1px solid #fff;
				border-left: 1px solid #fff;
			}

			&::after {
				border-right: 1px solid #fff;
				border-top: 1px solid #fff;
			}

			a {
				color: #000;
				background: #fff;
				border: 1px solid #fff;

			}
		}
	}
}

.rel {
	position: relative;
}

#premier{
	position:relative;
	.main_visual{
		position:relative;
		>img{
			display:block;
			width:100%;
			margin:0 auto;
		}
	}
	.con1{
		position:relative;
		// height:380px;
		background: url('/images/reebok/2020/event/premier/con1_bg.jpg') no-repeat;
		background-position: top;
		background-size: 100% 100%;
		position: relative;
		>img{
			display:block;
			// position:absolute;left:50%;top:50%;
			// transform:translate(-50%,-50%);			
			// width:100%;
		}
		.txt{
			text-align:center;
			width:100%;
			padding:3rem 0;
			h1{
				font:700 2.5rem/1.3rem 'neueplak-wide';
				color:#fff;
				letter-spacing:5px;
				text-align:center;
			}
			p{
				font:300 1.1rem/1.6rem 'NotoSansKR';
				color:#fff;
				letter-spacing:1px;
				text-align:center;		
				padding:1.8rem 0 2rem 0;		
				span{
					display:block;
				}
			}
			.btn{
				text-align:center;				
			}
		}
	}
	.con2__prod{
		.pro_list1{
			video{
				display:block;
				width:100%;
			}
		}
		.pro_all_list{
			position:relative;
			>img{
				// position:absolute;left:50%;top:50%;
				// transform:translate(-50%,-50%);
				display:block;
				width:100%;
			}
		}
		.pro_list2{
			position:relative;
			.pro_bg{
				display:block;
				width:100%;
			}
			.pro_gif{
				position:absolute;left:50%;top:50%;
				transform:translate(-50%,-50%);		
				width:70%;
				img{
					width:100%;
				}
			}			
		}

	}
	.con3{
		position:relative;
		background: url('/images/reebok/2020/event/premier/con3_bg.jpg') no-repeat;
		background-position: top;
		background-size: 100% 100%;
		position: relative;
		.txt{
			text-align:center;
			width:100%;
			padding:3rem 0;
			h1{
				font:700 2.5rem/1.5rem 'neueplak-wide';
				color:#fff;
				letter-spacing:5px;
				text-align:center;
				padding-bottom:2.1rem;
			}	
			.btn{
				text-align:center;				
			}	
			p{
				padding-top:2.5rem;
				text-align:center;
				img{
					width:24%;
				}
			}				
		}		
	}
}

