@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#adidas_open{

	.img_box{
			img{
				width: 100%;
			}
			a{
				display: inline-block;
				text-indent: -9999px;
				position: absolute;
			}
		}
	/* img_box END */

}
