@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";

#ivypark {
  position: relative;
  section {
    position: relative;
  }
  img {
    width: 100%;
  }

  p {
    letter-spacing: 0;
  }
  .btn_default {
    white-space: nowrap;
  }
  .heads {
    font: 25px/25px $adinBld;
    color: #000;
    text-align: center;
    letter-spacing: 0;
  }

  .visuals {
    .visuals__figure {
      position: relative;
    }
    .btn_default {
      @include center(auto, 10%, 50%, $ctX);
    }
  }
  .carousel__container {
    &.carousel01 {
      h3 {
        padding: 35px 0;
      }
    }
    &.carousel02 {
      .slick-dots {
      }
    }
    .slick-list {
      width: 83%;
      margin: 0 auto;
      overflow: visible;
      .slick-track {
        .item {
          img {
            width: 96.5%;
            margin: 0 auto;
          }
        }
      }
    }
    .slick-dots {
      text-align: center;
      padding: 1rem 0 4rem 0;
      li {
        display: inline-block;
        margin: 4px 3px;
        width: 18px;
        background: #747474;
        height: 1px;
        vertical-align: bottom;
        &:hover {
          height: 4px;
          transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1);
        }
        &.slick-active {
          height: 4px;
          background: #000;
        }
        button {
          border: 0;
          background: none;
          text-indent: -9999px;
        }
      }
    }
  }
  .events {
    p {
      text-align: center;
      font: 12px/17px $noto;
      color: #000;
      padding: 1rem 0 0 0;
    }
    > div {
      > div {
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          &:last-child {
            left: 50%;
          }
        }
      }
    }
  }
  .bottoms {
    .btn_default {
      @include center(auto, 12%, 50%, $ctX);
    }
  }
}
