@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#originals_imvely{

	.btn_wrap{
		display: inline-block;
		a{
			width: 190px;
			display: block;
			font:300 13px/46px 'NotoSansKR';
			color:#fff;
			background: rgba(65,83,95,0.8);
			border:3px solid #fff;
			text-align: center;
			em{
				display: inline-block;
			    margin-left: 10px;
			    width: 31px;
			    height: 11px;
			    background: url(/images/adidas/event/originals/originals_imvely/181004/btn_arrow.png) no-repeat;
			    background-size: 100% 100%;
			}
		}
	}

	.main_visual{
		position: relative;
		text-align: center;
		background: #3b515e;
		&.on{
			.txt{
				p{
					top:0;
					@include css3(opacity,1);

				}
			}
		}
		.btn_wrap{
			position: relative;
		}
		.bg{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:49%;left:50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;
			p{
				position: relative;
				top:50px;
				font:400 12px 'NotoSansKR';
				color:#fff;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				&.title{
					font:bold 38px/35px 'AdihausDIN-Cond';
				    letter-spacing: 1.5px;
					transition-delay: 0.5s;
				}
				&.sub{
					padding: 0 0 10px 0;
					transition-delay: 0.6s;

				}
			}
		}
	}

	.slider_wrapper{
		position: relative;
		padding-bottom: 40px;
		&.winter{
			background: #3b515d;
			.title{
				.main{
					p{
						color:#fff;
					}
				}
				.sub{
					color:#fff;
				}
				span{
					background: #657e88;
				}
			}
			.banner_slider_wrap{
				ul{
					li{

					}
					.owl-controls{
						.owl-dots{
							.owl-dot{
								&.active{
									p{
										color:#fff;
									}
									span{
										background: #657e88;
									}
								}
								p{
									color:#989994;
								}

							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
									background: #c7d4da;
								}
							}
						}
					}
				}
			}
			.banner_slider_wrap_navi {
				span{
					background: rgba(255,255,255,0.3);
					&.on{
						background: #fff;
					}
				}
			}
		}
		&#winter_slider02{
			background: #4d696d;
			.title{
				.main{
					span{
						background: #455e65;
					}
				}
			}
			.banner_slider_wrap{
				ul{
					.owl-controls{
						.owl-dots{
							.owl-dot{
								span{
									background: #455e65;
								}
							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
									background: #9ea9af;
								}
							}
						}
					}
				}
			}
		}
		&#winter_slider03{
			background: #4c5858;
			.title{
				.main{
					span{
						background: #4c5f63;
					}
				}
			}
			.banner_slider_wrap{
				ul{
					.owl-controls{
						.owl-dots{
							.owl-dot{
								span{
									background: #4c6062;
								}
							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
									background: #a5afb0;
								}
							}
						}
					}
				}
			}
		}
		&#winter_slider04{
			background: #676e76;
			.title{
				.main{
					span{
						background: #596267;
					}
				}
			}
			.banner_slider_wrap{
				ul{
					.owl-controls{
						.owl-dots{
							.owl-dot{
								span{
									// background: #788484;
								}
							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
									background: #a5abab;
								}
							}
						}
					}
				}
			}
		}

		&#slider02{
			.title{
				.main{
					span{
						background: #dce7da;
					}
				}
			}
			.banner_slider_wrap{
				ul{
					.owl-controls{
						.owl-dots{
							.owl-dot{
								span{
									background: #dce7da;
								}
							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
								    background: #dce7da;
								}
							}
						}
					}
				}
			}
		}
		&#slider03{
			&.on{
				.banner_slider_wrap{
					ul{
						li{
							.box_wrap{
								.img{
									.num{
										@include css3(opacity,1);

									}
								}
							}
						}
					}
				}
			}
			.title{
				.main{
					span{
						background: #c3d4de;
					}
				}
			}
			.banner_slider_wrap{
				ul{
					.owl-controls{
						.owl-dots{
							.owl-dot{
								span{
									background: #c3d4de;
								}
							}
						}
					}
				}
			}
			.banner_slider_sub_wrap{
				ul{
					li{
						.box_wrap{
							>div{
								.info{
									background: #c3d4de;
								}
							}
						}
					}
				}
			}
		}
		&.on{
			.title{
				.main{
					.main_txt{
						@include css3(opacity,1);

					}
					span{
						width: 320px;
						// @include css3(opacity,1);

					}
				}
				.sub{
					@include css3(opacity,1);

				}
			}
			.banner_slider_wrap{
				@include css3(opacity,1);

			}
		}
		.title{
			padding: 50px 0 0 ;
			text-align: center;
			.main{
				position: relative;
				display: inline-block;
			}
			p.main_txt{
				position: relative;
				font: bold 28px/25px 'AdihausDIN-Cond';
				letter-spacing: 3px;
				text-transform: uppercase;
				z-index: 2;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				transition-delay: 0.5s;
			}
			span{
				width: 0px;
			    background: #ecd3c5;
			    position: absolute;
			    bottom: -3px;
			    left: 50%;
			    margin-left: -160px;
			    height: 24px;
				// @include css3(opacity,0);
				@include css3(transition, all 0.8s);
			}
			p.sub{
				padding: 10px 0 23px;
				font:400 12px 'NotoSansKR';
				text-transform: uppercase;
				@include css3(opacity,0);

				@include css3(transition, all 0.8s);
				transition-delay: 0.7s;



			}
		}
		.banner_slider_wrap{
			position: relative;
			@include css3(opacity,0);
			@include css3(transition, all 0.9s);

			// border-bottom:1px solid #000;
			ul{
				.owl-item{
				}
				li{
					&.on{
						.box_wrap{
							.img{
								.num{
									@include css3(opacity,1);
								}
							}
						}
					}
					.box_wrap{
						.img{
							position: relative;
							.num{
								position: absolute;
								top:100%;
							    font:  15px/32px 'AdihausDIN-Cond';
							    z-index: 1;
							    letter-spacing: 0.5px;
								color:#fff;
								display: inline-block;
								width: 29px;
								height: 29px;
								background: rgba(0,0,0,0.5);
								text-align: center;
								border-radius: 50px;
								@include css3(opacity,0);
								@include css3(transition, all 0.5s);
								&.prd1{
									top: 12%;
								    left: 25%;
									transition-delay: 0.5s;
								}
								&.prd2{
									top: 81%;
									right: 52%;
									transition-delay: 0.6s;

								}
							}
							img{
								width: 100%;
							}
						}
					}
				}
				.owl-stage-outer{
					margin: 45px 0 0 0;
				}
				.owl-controls{
					position: absolute;
					width: 100%;
					top:-40px;
					.owl-dots{

						text-align: center;
						.owl-dot{
							position: relative;
							display: inline-block;
						    margin: 0 10px;
							&.active{
								p{
									color:#000;
								}
								span{
									background: #ecd3c5;
									width: 114%;
								}
							}
							p{
								position: relative;z-index: 1;
							    font:bold 13px 'AdihausDIN-Cond';
								text-transform: uppercase;
								letter-spacing: 0.5px;
								color:#ddd;
							}
							span{
								position: absolute;
							    bottom: 0;
							    left: -10%;
							    width: 0%;
							    height: 11px;
							    background: #ddd;
								@include css3(transition, all 0.5s);
							}
						}
					}
				}
			}
		}
		.banner_slider_sub_wrap{
			position: relative;
			// border-top:1px solid #000;
			border-left:1px solid #000;
			border-right:1px solid #000;
			// border-bottom:1px solid #000;
		    padding-bottom: 50.4%;

			ul{
				li{
					position: absolute;
					top:0;
					left:0;
					@include css3(opacity,0);

					&.on{
						@include css3(opacity,1);
						z-index: 2;
						.box_wrap{
							.left{
								.img{
									img{
										@include css3(opacity,1);
									}
								}
							}
							.right{
								.img{
									img{
										@include css3(opacity,1);
									}
								}
							}
						}
					}
					.box_wrap{
						position: relative;
						&:after{
							display: block;
							content: '';
							clear: both;
						}
						>div{
							position: relative;
							float: left;
						    width: 49.8%;
							a{
								position: absolute;
								top:0;
								left:0;
								width: 100%;
								height: 100%;
								display: block;z-index: 2;
							}

							&.left{
								border-right:1px solid #000;
								img{
									transition-delay: 0.5s;
								}
							}
							&.right{
								img{
									transition-delay: 0.6s;
								}
							}
							.info{
								position: absolute;
								    bottom: 0px;
								    width: 100%;
								    left: 0px;
								    background: #ecd3c5;
								    border-bottom: 1px solid #000;
								    box-sizing: border-box;
								p{
									padding-left: 15px;
									display: inline-block;
									font:400 10px/30px 'NotoSansKR';
								}
								span{
									position: absolute;
								    right: 15px;
									font:400 10px/30px 'NotoSansKR';

									em{
										position: relative;
										top:1px;
										display: inline-block;
									    background: url(/images/adidas/event/originals/originals_imvely/181004/icon_arrow.png) no-repeat;
									    background-size: 100% 100%;
									    width: 20px;
									    height: 9px;
										    margin-left: 8px;
									}
								}
								&.grey{
									span{								color:#888;
									}
								}
							}
							.num{
								position: absolute;
							    left: 15px;
							    top: 15px;
							    font: bold 15px 'AdihausDIN-Cond';
							    z-index: 1;
							    letter-spacing: 0.5px;
							}
						}
						.img{
							position: relative;
							img{
								position: relative;
								width: 100%;
								@include css3(opacity,0);
								@include css3(transition, all 0.5s);
							}
						}
					}
				}

			}
		}
		.banner_slider_wrap_navi{
			margin: 15px 0 0 0;
			text-align: center;
			span{
				display: inline-block;
				margin: 0 5px;
				width: 10px;
				height: 10px;
				background: #ddd;
				border-radius: 50px;
				&.on{
					background: #000;
				}
			}
		}

	}

	.banner_wrap{
		position: relative;
		margin: 0px 0 0 0;
		.bg{
			img{
				width: 100%;
			}
		}
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			width: 100%;
			@include css3(transform, translate(-50%,-50%));
			text-align: center;
			span{
				display: block;
			    font: bold 15px 'AdihausDIN-Cond';
				color:#fff;
				letter-spacing: 10px;
				text-transform: uppercase;
			}
		}
	}

	.bottom_wrap{
		position: relative;
		padding: 70px 0 0 0;
		text-align: center;
		&.on{
			p{

				@include css3(opacity,1);
				&.eng{

					@include css3(opacity,1);
				}
			}
			.txt{

				span{
					width: 105%;

				}
			}
			.btn_wrap{
				@include css3(opacity,1);

			}
		}
		p{
			position: relative;
			z-index: 2;
			text-align: center;
		    font: 22px/22px 'AdihausDIN-Cond';
			letter-spacing: 8px;
			text-transform: uppercase;
			@include css3(opacity,0);
			@include css3(transition, all 0.6s);
			&.eng{
				transition-delay: 0.9s;

			}

		}
		.txt{
			position: relative;
			margin: 10px 0 0 0;
			display: inline-block;
			span{
				position: absolute;
			    bottom: 2px;
			    left: -4.2%;
			    width: 0%;
			    height: 9px;
			    background: #ecd3c5;
				@include css3(transition, all 0.6s);
				transition-delay: 0.5s;

			}

		}
		.btn_wrap{
			margin: 30px 0 0 0;
			@include css3(opacity,0);
			@include css3(transition, all 0.6s);
			transition-delay: 1.4s;

		}
	}

}
