@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#imvely{
	width: 100%;
	position: relative;

	.masthead{
		img{
			width: 100%;
		}
	}

	.style_box{
		width: 100%;
		position: relative;
		background-size: cover;
		-webkit-background-size: cover;
		background-position: 0 0;
		background-repeat: no-repeat;

		&.style_box1{
			background-color: #886e6d;
			background-image: url('/images/adidas/event/originals_imvely/171018/background_style1.jpg');
		}

		&.style_box2{
			background-color: #a6a16c;
			background-image: url('/images/adidas/event/originals_imvely/171018/background_style2.jpg');
		}

		&.style_box3{
			background-color: #32465a;
			background-image: url('/images/adidas/event/originals_imvely/171018/background_style3.jpg');
		}

		h3{
			padding: 2.2rem 0 1.8rem;
			font-size: 2.4rem;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 10px;
			color: #fff;
		}

		.buttons{
			padding: 1.5rem 0;
			text-align: center;
			span{
				width: 6px;
				height: 6px;
				display: inline-block;
				margin: 0 3px;
				background: #fff;
				border-radius: 50%;
				opacity: 0.3;

				&.on{
					opacity: 1;
				}
			}
		}

		.slider_wrapper{
			width: 100%;
			position: relative;

			.slider_container{
				width: 100%;
				position: relative;

				ul{
					width: 100%;
					position: relative;
					overflow: hidden;

					li{
						width: 100%;
						position: relative;
						float: left;

						.link{
							position: absolute;
							display: block;
							text-indent: -9999px;
						}

						img{
							width: 100%;
						}
					}
				}
			}
		}
	}

	.banner{
		a{
			display: block;
			img{
				width: 100%;
			}
		}
	}
}
