@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#adicolor{
	position: relative;

	//common
	.button_area_v2{
		display: inline-block;
		margin-bottom: 2vh;
		a{
			font: 500 1rem/35px 'NotoSansKR';
			padding: 0 4vw;
			letter-spacing: 0;
			height: 35px;
			width:initial;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}
	h1{
		font:700 1.7rem/2.3rem 'adinenuPro-bold';
		color:#000;
		letter-spacing: 0;
		text-align: center;
		padding: 2.5rem 0 1.8rem;
	}
	p{
		font:700 1.6rem/1.6rem 'NotoSansKR';
		color:#000;
		letter-spacing: 0.7px;
	}
	.slider_wrap{
		ul.slider{
			li{
				img{
					width:100%;
				}
			}
			.owl-controls{
				padding:2.3rem 0;
				.owl-dots{
					text-align: center;
					.owl-dot{
						display:inline-block;
						border: 2px solid #7f7f7f;
						border-radius: 50%;
						width: .9rem;
						height: .9rem;
						margin: 0 .5rem;
						&.active{
							background:#7f7f7f;
						}
					}
				}
			}
		}
	}

	//시작
	.main{
		position: relative;
		.img{
			img{
				width:100%;
			}
		}
		.txt{
			position: absolute;
			top:50%;
			left:5%;
			transform:translateY(-130%);
			img{
				width:50%;
			}
			p{
				margin: 1rem 0 1.5rem 0;
			}
		}
	}
	.aside{
		position: relative;
		background:#000;
		padding:1.8rem 0;
		p{
			color:#fff;
			line-height: 2rem;
			text-align:center;
		}
	}
	#slide2{
		background:#def3f6;
	}
	#slide3{
		background:#fff3ed;
	}
	
	.btm{
		position: relative;
		text-align: center;
		padding: 3.1rem 0;
		.wrap{
			img{
				width:35%;
			}
			p{
				letter-spacing: .3rem;
				margin:.9rem 0 1.7rem 0;
			}
			.button_area_v2{
			}
		}
	}

}
