@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#parley{
	.box{
		position: relative;
		.img{
			img{
				width: 100%;
			}
			.link{
				position: absolute;
				display: block;
				text-indent: -9999px;	
			}
		}
	}

}
