@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#familyweeb_cp{
	position: relative;
	border-bottom: 1px solid #000;
	.button_area_v2{
		display: inline-block;
		// width: 35%;
		div{
			a{
				padding:0 2rem;
				height: 42px;
				letter-spacing: 0.5px;
				font: 500 1rem/42px 'NotoSansKR';
				.arrow{
					width:24px;
					&:before{
						width:9px;
					}
					&:after{
						width:9px;
					}
				}
			}
		}
	}

	div{
		img{
			width: 100%;
		}
		.link{
			position: absolute;
			text-indent: -9999px;
			display: block;
		}
	}
	.visual,.cont,.video_area,.bottom{
		position: relative;
	}

	.visual{
		position: relative;
		&.on{
			.txt{
				opacity: 1;
				-webkit-opacity: 1;
				.btn-buy{
					opacity: 1;
					-webkit-opacity: 1;
				}
			}
		}
		.button_area_v2{
			position: absolute;
			bottom: 5%;
			left: 18%;
		}
	}

	.event_box{
		// position: relative;
		background: #e0dfe1;
		text-align: center;
		&.slide_box{
			padding: 0 0 65px 0;
		}
		&.bottom{
			padding: 0 0 40px 0;
			.bnn{
				padding: 0 0 20px;
			}

		}
		.title{
			margin:25px 0 13px 0;
			display: inline-block;
			padding:0 18px;
			background: #4c4c4c;
			
			p{
				text-align: center;
				font: 300 20px/22px 'NotoSansKR';
				color:#fff;
			}
		}
		.down_arrow{
			margin: 0 auto 25px;
			width:15px;
		}
		.slider_wrapper{
			ul{
				.owl-controls{
					padding:20px 0 25px;
					.owl-nav{
						display: none;
					}
					.owl-dots{
						.owl-dot{
							margin:0 3px;
							display: inline-block;
							width:7px;
							height:7px;
							border:1px solid #000;
							border-radius: 50px;
							&.active{
								background: #000;
							}
						}
					}
				}
			}
		}
		.bnn{
			padding:0 30px 45px;
			
			img{

			}
			.desc{
				padding:12px 0 0 0;
				font: 600 16px 'NotoSansKR';

			}
			.button_area_v2{
				margin:19px 0 0 0;
			}
		}
	}


}
