@import "./app/MO/reebok/css/scss/about.scss";
#video-layer{
  position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin:center center;
  -webkit-transform-origin:center center;
  transform:scale(0);
  -webkit-transform:scale(0);
  opacity:0;
  background:#000;
  z-index:1;

  transition:all 0.4s;
  -webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
  opacity: 1;
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
}

#video-layer .video-box{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#video-layer .close_x_btn{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
}

#video-layer.loaded .close_x_btn{
  opacity: 1;
}

.pump_supreme_line {
    .video_visual{
        padding-bottom: 80%;
        a.btn-video{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 60px;
            height: 60px;
            background: url('/images/reebok/about/flexweave/180719/btn_play.png') 0 0 no-repeat;
            background-size: 60px 60px;
        }
    }
    .buy_area{
        padding: 2rem 0;
        text-align: center;
        &.title2{
            padding: 2.5rem 0;
            background: #f0f0f0;
            a.btn-buy{
                margin-top: 1rem;
            }
        }
        h2{
            &.kr{
                font: 700 1.8rem/2.2rem "NotoSansKR";
                letter-spacing: -0.1rem;
            }
            font: 700 3.6rem "dinpro cond";
            letter-spacing: -0.1rem;
            padding-bottom: 0.5rem;
            em{
                font: 700 3.6rem "dinpro cond";
                color: #808080;
            }
        }
        p{
            font: 1rem "NotoSansKR";
            color: #000;
            b{
                font: 1rem "NotoSansKR";
                font-weight: bold;
                color: #000;
            }
        }
        a.btn-buy{
            margin-top: 2rem;
            display: inline-block;
            width: 40%;
            background: #000;
            font: 1.2rem/4rem "NotoSansKR";
            color: #fff;
        }
    }
    .event{
        a{
            img{
                width: 100%;
            }
        }
    }

    .slider_wrap {
        position: relative;
        padding: 0 1.5rem 1.5rem;
        opacity: 1;
        background: url('/images/reebok/about/pump_supreme/180824/bg_event2.jpg') left top no-repeat;
        background-size: 100% auto;
        &.effect {
            opacity: 1;
            -webkit-opacity: 1;
        }
        .collections {
            overflow: hidden;
            ul {
                li {
                    position: relative;
                    float: left;
                    padding-bottom: 15px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                    &.on {
                        img {
                            left: 0;
                            opacity: 1;
                            -webkit-opacity: 1;
                        }
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
        .num_paging,
        .num_paging2 {
            position: relative;
            top: 0;
            text-align: center;
            a {
                display: inline-block;
                width: 10px;
                height: 10px;
                background: #808080;
                border-radius: 50%;
                border: 0 none;
                margin: 0 2px;
                &.on {
                    background: #000;
                }
            }
        }
    }
    .video_dazed {
        img{
            width: 100%;
        }
    }
    .event_area {
        img {
            width: 100%;
        }
    }
}
// always classic
