/*
	break width
 */
/*
	@@ mixin
 */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }

.pseudo-element, #campus .statement .copy1::after {
  content: '';
  display: block; }

#campus {
  /* masthead END */
  /* statement END */ }
  #campus .button {
    width: 100%;
    padding: 1rem 1.5rem;
    display: inline-block;
    border: 1px solid #000;
    font-size: 1.2rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-size: 1.1rem;
    color: #000; }
    #campus .button::after {
      margin-left: 0.5rem;
      vertical-align: middle; }
    #campus .button:active, #campus .button.active {
      background: #000;
      color: #fff; }
  #campus .masthead {
    padding: 3.5rem 1.5rem 1.5rem;
    background: url("/images/adidas/event/campus/background_masthead.jpg") 0 0 repeat;
    background-size: 100% auto; }
    #campus .masthead h2 {
      margin-bottom: 1rem; }
      #campus .masthead h2 img {
        width: 16rem; }
    #campus .masthead .copy_title {
      margin-bottom: 1rem;
      font: 2rem 'NotoSansKR'; }
    #campus .masthead .copy_desc {
      margin-bottom: 1rem;
      font: 1rem 'NotoSansKRLight'; }
    #campus .masthead .line {
      margin-bottom: 1rem;
      text-align: right; }
      #campus .masthead .line img {
        width: 100px; }
    #campus .masthead .video {
      width: 100%;
      margin-bottom: 1.5rem; }
      #campus .masthead .video img {
        width: 100%; }
  #campus .statement {
    padding: 3.5rem 0 2.5rem;
    text-align: center;
    background: url("/images/adidas/event/campus/background_statement.jpg") 0 0 no-repeat;
    background-size: cover;
    -webkit-background-size: cover; }
    #campus .statement * {
      color: #fff; }
    #campus .statement .copy1 {
      font-size: 0.95rem;
      line-height: 1.5rem;
      font-family: 'NotoSansKRLight'; }
      #campus .statement .copy1::after {
        width: 30px;
        height: 1px;
        background: #fff;
        margin: 1.2rem auto 1.5rem; }
    #campus .statement .copy2 {
      font-size: 1rem;
      line-height: 1.5rem; }
      #campus .statement .copy2 strong {
        display: block;
        font: 1.3rem 'NotoSansKRBold'; }
  #campus .product_highlight {
    background: url("/images/adidas/event/campus/background_default.jpg") 0 0 repeat;
    background-size: 100% auto; }
    #campus .product_highlight.highlight_korean .modelcut {
      padding-bottom: 105.25%;
      position: relative; }
      #campus .product_highlight.highlight_korean .modelcut .box {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s; }
        #campus .product_highlight.highlight_korean .modelcut .box.active {
          opacity: 1; }
    #campus .product_highlight.highlight_korean .copy_wrapper {
      position: relative;
      height: 16rem; }
      #campus .product_highlight.highlight_korean .copy_wrapper .copy_box {
        width: 100%;
        padding: 0 3rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 16rem;
        opacity: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s; }
        #campus .product_highlight.highlight_korean .copy_wrapper .copy_box.active {
          opacity: 1; }
        #campus .product_highlight.highlight_korean .copy_wrapper .copy_box .button_area {
          width: 100%;
          padding: 0 3rem;
          position: absolute;
          bottom: 0;
          left: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box; }
    #campus .product_highlight .modelcut {
      width: 100%;
      position: relative; }
      #campus .product_highlight .modelcut img {
        width: 100%; }
    #campus .product_highlight .slider_wrapper {
      padding: 3rem 3rem 0;
      margin-bottom: 3rem; }
      #campus .product_highlight .slider_wrapper .slider {
        position: relative;
        width: 100%;
        overflow: hidden; }
        #campus .product_highlight .slider_wrapper .slider ul {
          width: 100%;
          position: relative;
          margin-bottom: 1rem;
          overflow: hidden; }
          #campus .product_highlight .slider_wrapper .slider ul li {
            width: 100%;
            float: left;
            position: relative; }
            #campus .product_highlight .slider_wrapper .slider ul li img {
              width: 100%; }
      #campus .product_highlight .slider_wrapper .num {
        margin-top: 1rem;
        text-align: center; }
        #campus .product_highlight .slider_wrapper .num span {
          width: 8px;
          height: 8px;
          display: inline-block;
          margin: 0 0.2rem;
          background: #7d7d7d;
          border-radius: 50%; }
          #campus .product_highlight .slider_wrapper .num span.on {
            background: #000; }
    #campus .product_highlight .copy_wrapper {
      padding: 0 3rem;
      margin-bottom: 3rem; }
      #campus .product_highlight .copy_wrapper > * {
        text-align: center; }
      #campus .product_highlight .copy_wrapper h3 {
        margin-bottom: 1rem;
        color: #000;
        font: 2.2rem 'adihaus-bold';
        letter-spacing: 3px; }
      #campus .product_highlight .copy_wrapper .desc {
        margin-bottom: 2rem;
        font: 1.1rem/1.6rem 'NotoSansKRRegular'; }
