/*
	break width
 */
/*
	@@ mixin
 */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }

.pseudo-element {
  content: '';
  display: block; }

#on_the_move {
  /* masthead END */
  /* statement END */
  /* campaign_box END */
  /* products_box END */ }
  #on_the_move .button {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.15rem;
    letter-spacing: 0; }
    #on_the_move .button::after {
      margin-left: 3px;
      vertical-align: middle;
      font-size: 1.1rem; }
  #on_the_move .masthead img {
    width: 100%; }
  #on_the_move .masthead .copy {
    padding: 3rem 1.5rem;
    background: url("/images/adidas/event/on_the_move/background_statement1.jpg") 0 0 no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center; }
    #on_the_move .masthead .copy h2 {
      font: 2.8rem/3.4rem 'NotoSansKRBold';
      text-align: center; }
    #on_the_move .masthead .copy .button {
      margin-top: 1.5rem; }
  #on_the_move .statement {
    padding: 3rem 2rem;
    background: url("/images/adidas/event/on_the_move/background_statement2.jpg") 0 0 no-repeat;
    background-size: cover;
    -webkit-background-size: cover; }
    #on_the_move .statement p {
      margin-bottom: 1.5rem;
      color: #fff;
      font-size: 1.05rem;
      line-height: 2rem;
      text-align: center;
      word-break: keep-all;
      letter-spacing: 0; }
      #on_the_move .statement p.name {
        margin-bottom: 0;
        font-family: 'NotoSansKR';
        font-size: 1.5rem; }
  #on_the_move .campaign_box h3 {
    padding: 1rem -0px;
    font: 1.6rem 'NotoSansKRBold';
    color: #f9f9f9;
    background: #4e4b57;
    text-align: center; }
  #on_the_move .campaign_box > div {
    position: relative;
    width: 100%; }
    #on_the_move .campaign_box > div img {
      width: 100%; }
    #on_the_move .campaign_box > div a {
      display: block;
      position: absolute; }
    #on_the_move .campaign_box > div.camp_view .view {
      top: 73.7%;
      left: 15%;
      width: 70%;
      height: 6%; }
    #on_the_move .campaign_box > div.camp_prod a {
      width: 25%;
      height: 72%;
      left: 0;
      top: 0; }
    #on_the_move .campaign_box > div.camp_prod .prod_link2 {
      left: 25%; }
    #on_the_move .campaign_box > div.camp_prod .prod_link3 {
      left: 50%; }
    #on_the_move .campaign_box > div.camp_prod .prod_link4 {
      left: auto;
      right: 0; }
    #on_the_move .campaign_box > div.camp_prod .view {
      top: auto;
      left: 3.7%;
      width: 92.6%;
      bottom: 10%;
      height: 16%; }
  #on_the_move .products_box {
    padding: 1.5rem 0 0;
    background: #fff url("/images/adidas/event/on_the_move/background_products.jpg") 0 0 no-repeat;
    background-size: 100% auto; }
    #on_the_move .products_box .box {
      width: 100%;
      padding: 0 1.5rem;
      position: relative;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      margin-bottom: 1.5rem; }
      #on_the_move .products_box .box .img img {
        width: 100%; }
      #on_the_move .products_box .box .copy {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        text-align: center; }
        #on_the_move .products_box .box .copy > * {
          text-align: center;
          color: #fff; }
        #on_the_move .products_box .box .copy h4 {
          font-size: 2rem;
          letter-spacing: 3px; }
          #on_the_move .products_box .box .copy h4 span {
            font-size: 2rem;
            display: inline-block;
            letter-spacing: 3px; }
        #on_the_move .products_box .box .copy .desc {
          margin-bottom: 1.5rem;
          font-size: 1.2rem; }
        #on_the_move .products_box .box .copy .button {
          padding: 1rem 6rem;
          background: #fff;
          color: #000;
          font-size: 1rem; }
      #on_the_move .products_box .box.visual {
        padding: 3rem 1.5rem 1.5rem; }
        #on_the_move .products_box .box.visual .copy {
          position: relative;
          top: 0;
          bottom: 0;
          padding: 3rem 0 4rem; }
          #on_the_move .products_box .box.visual .copy * {
            text-align: center;
            color: #000; }
          #on_the_move .products_box .box.visual .copy h4 {
            margin-bottom: 0.5rem;
            font-size: 3rem;
            line-height: 3rem; }
            #on_the_move .products_box .box.visual .copy h4 span {
              margin-bottom: 0.5rem;
              font-size: 3rem; }
          #on_the_move .products_box .box.visual .copy .desc {
            margin-bottom: 1.5rem; }
          #on_the_move .products_box .box.visual .copy .button {
            padding: 1.5rem 3rem;
            background: #000;
            color: #fff; }
    #on_the_move .products_box .box_col2 {
      overflow: hidden; }
      #on_the_move .products_box .box_col2 .box {
        width: 50%;
        float: left;
        padding: 0;
        margin: 0; }
        #on_the_move .products_box .box_col2 .box .copy {
          bottom: 3rem; }
          #on_the_move .products_box .box_col2 .box .copy h4 {
            margin-bottom: 1rem;
            font-size: 2.6rem;
            letter-spacing: 0; }
        #on_the_move .products_box .box_col2 .box .button {
          width: 90%;
          padding: 1rem 0; }

#video-modal-popup .popup {
  width: 100% !important;
  height: 100% !important; }
  #video-modal-popup .popup .close_x_btn {
    top: 0 !important; }
