/*
	break width
 */
/*
	@@ mixin
 */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }

.pseudo-element, #originals_kids .statement h3::after {
  content: '';
  display: block; }

#originals_kids {
  /* masthead END */
  /* statement END */
  /* lookbook END */ }
  #originals_kids .button {
    background: #000;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.15rem;
    letter-spacing: 0;
    color: #fff; }
    #originals_kids .button span {
      color: #fff; }
    #originals_kids .button::after {
      margin-left: 3px;
      vertical-align: middle;
      font-size: 1.1rem; }
  #originals_kids .title_wrapper {
    width: 100%;
    margin: 0 auto; }
    #originals_kids .title_wrapper .logo {
      text-align: center;
      color: #000; }
      #originals_kids .title_wrapper .logo::before {
        font-size: 1.2rem; }
    #originals_kids .title_wrapper h4 {
      font: 2.4rem/2.9rem 'Adihaus-regular';
      text-align: center;
      color: #000; }
      #originals_kids .title_wrapper h4 strong {
        font-weight: normal;
        font-family: 'AdihausDIN-Bold';
        color: #000; }
  #originals_kids .masthead img {
    width: 100%; }
  #originals_kids .statement {
    width: 100%;
    padding: 3rem 0;
    background: #fff;
    text-align: center; }
    #originals_kids .statement > * {
      text-align: center;
      color: #000; }
    #originals_kids .statement h3 {
      position: relative;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      font: 2.3rem 'NotoSansKRLight'; }
      #originals_kids .statement h3::after {
        width: 30px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -15px;
        background: #000; }
    #originals_kids .statement .desc {
      margin-bottom: 1.5rem;
      font: 1.3rem 'NotoSansKRRegular'; }
    #originals_kids .statement .button {
      color: #fff; }
  #originals_kids .lookbook {
    padding: 2rem 0;
    background: url("/images/adidas/event/originals_kids/lookbook_bg.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto; }
    #originals_kids .lookbook .title_wrapper {
      margin-bottom: 1.5rem; }
    #originals_kids .lookbook .slider_wrapper #sliders {
      width: 100%;
      overflow: hidden; }
      #originals_kids .lookbook .slider_wrapper #sliders ul {
        width: 100%;
        overflow: hidden; }
        #originals_kids .lookbook .slider_wrapper #sliders ul li {
          position: relative;
          float: left; }
          #originals_kids .lookbook .slider_wrapper #sliders ul li img {
            width: 100%; }
    #originals_kids .lookbook .slider_wrapper .indicator {
      width: 100%;
      padding: 1.5rem 0;
      text-align: center; }
      #originals_kids .lookbook .slider_wrapper .indicator a {
        width: 10px;
        height: 10px;
        margin: 0 3px;
        display: inline-block;
        background: #ababab; }
        #originals_kids .lookbook .slider_wrapper .indicator a.on {
          background: #fd5a84; }
  #originals_kids .video_box {
    width: 100%;
    text-align: center; }
    #originals_kids .video_box .title_wrapper {
      margin-bottom: 1.5rem; }
    #originals_kids .video_box img {
      width: 100%; }
    #originals_kids .video_box .button {
      margin: 3rem 0; }

#video-modal-popup .popup {
  width: 100% !important;
  height: 100% !important; }
  #video-modal-popup .popup .close_x_btn {
    top: 0 !important; }
