@import "./mobile/MO/reebok/css/scss/about.scss";
#video-layer{
  position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin:center center;
  -webkit-transform-origin:center center;
  transform:scale(0);
  -webkit-transform:scale(0);
  opacity:0;
  background:#000;
  z-index:1;

  transition:all 0.4s;
  -webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
  opacity: 1;
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
}

#video-layer .video-box{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#video-layer .close_x_btn{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
}

#video-layer.loaded .close_x_btn{
  opacity: 1;
}
.bridge{
    >div{
        &.dn{
            display: none;
        }
    }
    .btn_box{
        width: 36%;
        position: absolute;
        bottom:7%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
        a{
            display: block;
            background: none;
            border:4px solid #fff;
            color:#fff;
            font:700 1rem/3.3rem  'NotoSansKR';
            letter-spacing: 0.5rem;
        }
    }
    .main_section{
        position: relative;
        background: url('/images/reebok/about/bridge/181226/visual_bg.jpg') 100% 100% no-repeat;
        background-size: cover;
        padding-bottom: 30%;
        .logo{
            position: relative;
            top:50%;
            left: 50%;
            transform:translate(-50%,30%);
            text-align: center;
            transition: all 1s ease-in;
            opacity: 0;
            z-index: 1;
            img{
                width:50%;
            }
            h1{
                font: 500 13.5vw/13.5vw 'dinpro';
                color:#fff;
                text-align: center;
                font-style: italic;
            }
        }
        .img{
            width: 100%;
            transition: all 1s ease-in;
            transition-delay: .5s;
            opacity: 0;
            img{
                width: 100%;
            }
        }

    }
    .video_area{
        overflow: hidden;
        position: relative;
        background: #6e3f1e;
        padding:0 1.5rem;
        .mid_logo{
            img{
                width: 100%;
            }
        }
        .img{
            position: relative;
            left: -1000px;
            img{
                width: 100%;
            }
        }
        a.btn-video{
            opacity: 0;
            transition: all 1s ease-in;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            .ico-video{
                display: inline-block;
                width: 60px;
                height: 60px;
                background: url('/images/reebok/about/dmx/play.png') 0 0 no-repeat;
                background-size: 60px 60px;
            }
        }
    }
    .slide_lineup{
        position: relative;
        padding: 1rem 2rem 3rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #cdcecb;
        h1{
            font:700 17vw/17vw 'dinpro Cond';
            font-style: normal;
            text-align: center;
            color:#ad9f96;
            letter-spacing: 8px;
            text-transform: uppercase;
            position: relative;
            top: 30px;
            span{
                font:600 27px/30px 'dinpro';
                font-style: italic;
                color: #b33941;
            }
        }
        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    text-align: center;
                    img{
                        width: 65%;
                    }
                }
            }
        }
        .navi{
            width: 100%;
            img{
                width: 12vw;
            }
            .prev{
                position: absolute;
                top: 47%;
                left: 1.5rem;
                text-align: left;
            }
            .next{
                position: absolute;
                top: 47%;
                right: 1.5rem;
                text-align: right;
            }
        }
        .num_paging{
            padding: 1rem 0px;
            a{
                background: none;
                border:none;
                width: 1rem;
                height: 1rem;
                margin-right: 0.6rem;
                border: 2px solid #6e3f1e;
            }
            .on{
                background: #6e3f1e;
            }
        }
    }
    .btm{
        position: relative;
        background: #cdcecb;
        padding: 0 0 27vw 2.2rem;
        .wrap{
            .img{
                padding-bottom: 2vw;
                img{
                    width:60%;
                }
            }
            h2{
                font:900 10vw/10vw 'dinpro cond';
                color:#6e3f1e;
                letter-spacing: 7px;
                position: relative;
                font-style: normal;
                &:after{
                    position: absolute;
                    display: block;
                    content: '';
                    clear:both;
                    top:10px;
                    left: -60%;
                    height: 50px;
                    width:100%;
                    background: rgba(110,63,30,.3);
                }
            }
        }
        .btn_box{
            bottom:8vw;
            left: 50%;
            transform: translateX(17%);
            a{
                color:#6e3f1e;
                border: 4px solid #6e3f1e;
            }
        }
    }
}
// dmx
