@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";

.btn_default {
  margin-top: 0;
}

#prada{
	section{position: relative;};
	div, img, button {
		outline: none;
	}
	h3,p{
		letter-spacing: 0;
	}
	img{
		width: 100%;
	}
	.btn_default{
		margin-top: 0;
	}

	.line{
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 0.7%;
		padding: 3rem 0;
	}
	.content{
		padding: 0 3rem;
		background-color: #000;
		h3,p{text-align: center;white-space: nowrap;}
		h3{
			font: 700 26px/26px 'Helvetica Neue';
			color: #fff;
			padding: 3.5rem 0;
		}
		p{
			font: 700 13px/23px $noto;
			color: #fff;
			span{
				font: 700 13px/13px 'Helvetica Neue';
				color: #fff;
			}
		}
		&.cont01{
			div{
				text-align: center;
				.btn_default{
					display: inline-block;
					margin: 2rem 0 3rem;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
