@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
// html,body{
// 	height:100%;
// }
.ins-preview-wrapper{
	display:none !important;
}
.not_scroll{
	overflow: hidden;
}

#iin{
	.main{
		position: relative;
		video{
			position: relative;
			width:100%;
			z-index:1;
		}
		.main_txt{
			position:absolute;
			left:55%;
			top:86%;
			transform:translate(-50%,-50%);
			z-index:2;
			width:100%;
			h1{
				img{
					width:80%;
				}
			}
		}
	}
	.all_cont{
		position:relative;
		text-align:center;
		>img{
			// width:75%;
			width:100%;
		}
		.slick-dots {
			padding:3rem 0 0 0;
			text-align: center;
		}			
		.slick-dots li {
			display: inline-block;
			margin-right: 6px;
		}
		.slick-dots li button {
			width: 25px;
			height: 8px;
			background:#ccc;
			border:0;
			padding: 0;
			text-indent: -9999px;
			outline:none;
		}			
	
		.slick-dots li.slick-active button {
			background:#111;
		}			
	}

	.cont3{
		.cont3_people{
			position: relative;
			.cont3_le{
				>img{
					width:100%;
				}
			}
			.cont3_ra{
				margin:-2rem 0 0 2rem;
				>img{
					width:100%;
				}
			}			
		}
	}

	.cont4{
		.slider01{
			ul{
				li{
					position: relative;
					>img{
						width:100%;
						position:relative;
					}
					.video_btn{
						position:absolute;
						left:50%;
						top:50%;
						transform:translate(-50%,-50%);
						button{
							background:url('/images/adidas/2021/event/iin/video_btn.png')no-repeat;
							background-size:45%;
							background-position:center;
							width:70px;
							height:75px;
							border:0;
							outline:none;
						}
					}						
				}
			}
			.slick-slide{
				outline:none;
				img{
					width:100%;
				}
			}
		}
		.slider02{
			padding:0 0 100px 0;
		}
	}
}
