@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#outerjacket{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}

	.main_visual{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		.tit{
			position: absolute;
			top:55%;			
			img{
				display: block;
				width: 100%;
			}
		}		
	}
	.txt_area{
		padding: 4rem 0;
		text-align: center;
		h3{
			font: 900 2rem/2.5rem 'NotoSansKR';
			color: #000;
			text-align: center;
			letter-spacing: 8px;
		}
		p.sub{
			font: 400 1.2rem/1.8rem 'NotoSansKR';
			color: #000;
			text-align: center;
			letter-spacing: 0.5px;
			margin-top: 0.7rem;	
		}
		.button_area_v2{
			margin-top: 1rem;
			display: inline-block;
		}
	}

	.cont01{
		position: relative;
		.bg_area{
			img{
				display:block;
				width: 100%;
			}			
		}
		.txt_box1{
			position: absolute;
			width: 82%;
			border: 1px solid #fff;
			background-color: rgba(255,255,255,0.5);
			padding: 1.6rem 0;
			top: 55.5%;
			left: 10%;
			z-index: 999;
			p{
				font: 500 1.1rem/1.6rem 'NotoSansKR';
				color: #000;
				font-style: italic;
				text-align: center;
			}
			span{
				text-align: center;
				display: block;
				background-color: #000;
				font: 300 1rem/1.7rem 'NotoSansKR';
				color: #fff;
				width: 30%;
				position: absolute;
				left: 50%;
				bottom: -7%;
				transform: translateX(-50%);
			}
		}

		.txt_box2{
			    position: absolute;
				top: 88%;
				text-align: center;
				z-index: 999;
				width:100%;
			p{
				font: 700 1.1rem/1.5em 'NotoSansKR';
				color: #000;
				text-align: center;
			}
			.button_area_v2{
				margin-top: 1rem;
				display: inline-block;
			}
		}
	}

	.cont02{
		position: relative;
		.bg_area{
			img{
				display:block;
				width: 100%;
			}			
		}
		.txt_box1{
			position: absolute;
			width: 82%;
			border: 1px solid #fff;
			background-color: rgba(255,255,255,0.5);
			padding: 1.6rem 0;
			top: 55.5%;
			left: 10%;
			z-index: 999;
			p{
				font: 500 1.1rem/1.6rem 'NotoSansKR';
				color: #000;
				font-style: italic;
				text-align: center;
			}
			span{
				text-align: center;
				display: block;
				background-color: #000;
				font: 300 1rem/1.7rem 'NotoSansKR';
				color: #fff;
				width: 30%;
				position: absolute;
				left: 50%;
				bottom: -7%;
				transform: translateX(-50%);
			}
		}

		.txt_box2{
			    position: absolute;
				top: 88%;
				text-align: center;
				z-index: 999;
				width:100%;
			p{
				font: 700 1.1rem/1.5em 'NotoSansKR';
				color: #000;
				text-align: center;
			}
			.button_area_v2{
				margin-top: 1rem;
				display: inline-block;
			}
		}
	}

	.bottom{
		position: relative;
		.bottom_txt_area{
			width: 100%;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);						
			text-align: center;
			h4{
				font: 700 1.4rem/2rem 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: 3px;
			}
			p.sub{
				font: 300 1.1rem/1.8rem 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: 0.5px;
				margin-top: 0.5rem;
			}
			.button_area_v2{
				margin-top: 1rem;
				display: inline-block;
			}
		}
	
		img{
			display: block;
			width: 100%;
		}
	
	}
}
