@import "./app/MO/reebok/css/scss/about.scss";

.vintage_pack{
    .main_bg{
        position: relative;
        padding-bottom: 113%;
        a.link{
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
        }
        div.box{
            position: absolute;
            top:0;
            left:0;
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s);


            img{
                width:100%;
            }
            &.on{
                @include opacity(1);
            }
        }
        .num{
            position: absolute;
            bottom:20px;
            width: 100%;
            text-align: center;
            a{
                display: inline-block;
                margin: 0 5px;
                width: 1rem;
                height: 1rem;
                background: #fff;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                @include opacity(0.3);
                &.on{
                    @include opacity(1);
                }
            }
        }

    }

    .product_area {
        position: relative;
        padding-bottom: 118%;
        .bg{
            position: absolute;
            top:0;
            left:0;
            img{
                width: 100%;
            }
        }
    }

    .collections2{
        padding: 0 1.5rem 1.5rem;
        background: url('/images/reebok/about/vintagepack/collection_bg.jpg') 0 no-repeat;
        background-size: 100% 100%;

        .buy_bt {
            text-align: center;
            margin: 5px 0 30px 0;
            a {
                position: relative;
                z-index: 10;
                padding: 0.8rem 3.8rem 1rem 3.8rem;
                border: 1px solid #fff;
                color: #fff;
                font: 500 1.2rem/2rem 'NotoSansKRMedium','Nanum Gothic';
            }
        }
        h3{
            padding: 2.5rem 0px 1rem;
            color: #fff;
            font:2.5rem/3rem 'dinpro cond';
            text-align: center;
            text-transform: uppercase;
        }

        .num_paging{
            padding: 1.5rem 0px;
            a{
                width: 12px;
                height: 12px;
                border-radius: 26px;
                margin: 0 3px;
                display: inline-block;
                border:none;
                background: #6c6c6c;
                box-sizing: border-box;
                color: #fff;
                font: 16px/26px 'reefont-condensed';
                transition-duration: 0s;
                -webkit-transition-duration: 0s;
            }
            .on{
                background: #fff;
                color: #000;
                border-color: #fff;
            }
        }

        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
            }
            .navi{
                position: absolute;
                top:50%;
                margin-top: -16.5px;
                width: 100%;
                text-align: center;
                img{
                    width: 50%;
                }
                a{
                    width: 3rem;
                    img{ width: 100%; }
                    &.next{
                        position: absolute;
                        right:0;
                    }
                    &.prev{
                        position: absolute;
                        left:0;
                    }
                }
                .next{
                    position: absolute;
                    right:0;
                    text-align: right;
                    img{
                        width: 40%;
                        margin-right: 1rem;
                    }
                }
                .prev{
                    position: absolute;
                    left:0;
                    text-align: left;
                    img{
                        width: 40%;
                        margin-left: 1rem;
                    }
                }
            }
        }
        .prodlist_wrap{
            position: relative;
            padding-bottom: 190%;

            .prodlist{
                position: absolute;
                top: 63px;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;
                h4{
                    position: absolute;
                    top:-3.5rem;
                    width: 100%;
                    text-align: center;
                    img{
                        width: 77%;
                    }
                }
                .box{
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                        .info{
                            padding:20px 0 30px 12px;
                        }
                    }
                }
                .box:nth-child(2n){
                    .inner{
                        padding-right: 5px;
                        padding-left: 5px;
                    }

                }
                .tit{
                    height: 1.4rem;

                    display: -webkit-box;
                    // overflow: hidden;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space:normal;
                    // -webkit-line-clamp:1;
                    // -webkit-box-orient: vertical;
                }
            }
        }
    }

    .prd_wrap{
        padding-bottom: 4rem;
        background: url("/images/reebok/about/cl_leather/bg.jpg");
        background-size: 100% 100%;
        // padding: 0 1.5rem 1.5rem;
        .collections2{
            position: relative;
            overflow: hidden;
            &.collections_bg{
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:8rem;
                    width:100%;
                    height: 100%;
                    background: rgba(299,299,299,0.15);
                    // @include opacity(0.15);
                }
            }
            .navi{
                position: absolute;
                top:31%;
                width: 100%;
                text-align: center;
                z-index: 10;
                a{
                    width: 1.8rem;
                    img{ width: 100%; }
                    &.next{
                        position: absolute;
                        right:0;
                    }
                    &.prev{
                        position: absolute;
                        left:0;
                    }
                }

            }
            .padding{
                position: relative;
                z-index: 1;
                padding: 0 1.5rem;
                h3{
                    padding: 2rem 0 1rem;
                    color: #fff;
                    font:2.4rem/3rem 'QStencil';
                    text-align: center;
                    text-transform: uppercase;
                }

                .num_paging{
                    position: relative;
                    margin: 0 1rem;
                    padding: 0rem 0px 1rem;
                    z-index: 10;
                    a{
                        margin: 0 0.3rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        background: #7f7d7c;
                        border-color: transparent;
                        &.on{
                            background: #fff;
                            color: #000;
                            border-color: transparent;
                        }
                    }

                }

                .collection_cut{
                    position: relative;
                    width: 100%;
                    padding-bottom: 92%;
                    overflow: hidden;
                    ul{
                        overflow: hidden;
                        li{
                            position: absolute;
                            top:0;
                            left:0;
                            width: 100%;
                            padding-bottom: 30%;
                            @include opacity(0);
                            @include prefix-css3(transition, all 0.6s);

                            &.on{
                                @include opacity(1);
                            }
                            img{
                                width: 100%;
                            }
                        }
                    }


                }
                .prodlist_wrap{
                    position: relative;
                    padding-bottom: 73%;

                    .prodlist{
                        position: absolute;
                        top: 20px;
                        left: 0;
                        padding: 0 1rem;
                        opacity: 0;
                        transition:opacity 0.3s;
                        -webkit-transition:opacity 0.3s;
                        z-index: 1;
                        h4{
                            position: absolute;
                            top:-3.5rem;
                            width: 100%;
                            text-align: center;
                            img{
                                width: 77%;
                            }
                        }
                        .box{
                            width: 33.333%;
                            .inner{
                                padding-right: 5px;
                                padding-left: 5px;
                                .img{
                                    padding-bottom: 114%;
                                    background: none;
                                    img{
                                        text-align: center;
                                        width: 100%;
                                    }
                                }
                                .info{
                                    padding:28px 0;
                                    background: none;
                                    text-align: center;
                                    .ctgr{
                                        font-size: 1.1rem;
                                        color:#b9b9b9;
                                    }
                                    .tit{
                                        position: relative;
                                        height: auto;
                                        a{
                                            color:#fff;
                                        }
                                    }
                                    >p{
                                        position: relative;
                                        display: inline-block;
                                        font:1rem 'NotosansKR', 'Nanum Gothic';
                                        color:#b9b9b9;
                                        // text-decoration: underline;
                                        &:after{
                                            position: absolute;
                                            left:0;
                                            bottom:0;
                                            content: '';
                                            width: 100%;
                                            border-bottom: 1px solid #b9b9b9;
                                        }
                                    }
                                }
                            }
                        }
                        .box:nth-child(2n){
                            .inner{
                                padding-right: 5px;
                                padding-left: 5px;
                            }

                        }
                    }

                    .active{
                        opacity: 1;
                        z-index: 2;
                    }
                    .fake{
                        position: relative;
                        opacity: 0;
                        visibility: hidden;
                    }

                }
            }
        }
    }
}
// vintage_pack
