@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';


.button_area_v2{
	width: 33%;
	a{
		height: 40px;
		font: 500 12px/40px 'NotoSansKR';
		span.arrow{
			top: -2px;
		}
	}
}


#beyonce {
	section{
		position: relative;
		>img{
			width: 100%;
		}
		p{
			text-align: center;
			font: 300 .9rem/.9rem 'NotoSansKR';
			color: #000;
			letter-spacing: 0;
		}
	}
	.visuals{
		.visuals__text{
			position: absolute;
			bottom: 9.5%;
			left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
			h3{
				text-align: center;
				font: 700 2rem/2rem 'NotoSansKR';
				color: #000;
				letter-spacing: 0;
			}
			p{
				line-height: 1.5rem;
				margin: 1rem 0 0 0;
			}
		}
	}
	.articles{
		.articles__text{
			padding: 3.5rem 0;
			white-space: nowrap;
			>p{
				text-align: center;
			}
			.button_area_v2{
				padding: 1.7rem 0 0 0;
				margin: 0 auto;
			}
		}
	}
}

