@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#yeezy_no_raffle {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  .visual {
    position: relative;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .top_wrap {
    display: none;
    background: #eeeeee;
    text-align: center;
    padding-top: 5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 10%;
    h3 {
      font: 2.8rem 'NotoSansKRBold';
      color: #000;
      text-align: center;
      &::after {
        content: '';
        width: 45px;
        height: 1px;
        background: #000;
        margin: 20px 0;
        display: block;
        position: relative;
        left: 50%;
        margin-left: -20px;
      }
    }
    p {
      &.desc1 {
        font: 1.3rem/2rem 'NotoSansKRRegular';
        color: #000;
        margin-bottom: 30px;
        text-align: center;
        span {
          font: 1.3rem/2rem 'adinenuPro-regular';
          text-align: center;
        }
      }
      &.desc2 {
        font: 1.4rem/2.2rem 'NotoSansKRLight';
        color: #000;
        margin-bottom: 30px;
        text-align: center;
        span {
          font: 1.5rem/2.2rem 'NotoSansKRBold';
        }
      }
    }
    .button_area > * {
      padding: 0;
    }
  }
  .olapic-wrapper p.desc {
    font: 1rem/1.8rem 'NotoSansKR';
    text-align: center;
  }
  .banner_wrap {
    margin-top: 15%;
    padding: 0 1.5rem;
    .banner1 a img {
      width: 100%;
    }
    .banner2 {
      margin-top: 8%;
      margin-bottom: 8%;
      a img {
        width: 100%;
      }
    }
  }
}
