@font-face {
	font-family: 'adinenu-bold';
    src: url('/fonts/mygirl/EOT/adineue-bold-webfont.eot');
	src: url('/fonts/mygirl/EOT/adineue-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/WOFF/adineue-bold-webfont.woff') format('woff'),
	     url('/fonts/mygirl/TTF/adineue-bold-webfont.ttf')  format('truetype');
}
@font-face {
	font-family: 'adi12wf-l';
    src: url('/fonts/mygirl/EOT/adi12wf-l.eot');
	src: url('/fonts/mygirl/EOT/adi12wf-l.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/WOFF/adi12wf-l.woff') format('woff'),
	     url('/fonts/mygirl/TTF/adi12wf-l.ttf')  format('truetype');
}
@font-face {
	font-family: 'adi12wf-r';
    src: url('/fonts/mygirl/EOT/adi12wf-r.eot');
	src: url('/fonts/mygirl/EOT/adi12wf-r.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/WOFF/adi12wf-r.woff') format('woff'),
	     url('/fonts/mygirl/TTF/adi12wf-r.ttf')  format('truetype');
}
@font-face {
	font-family: 'adi12wf-b';
    src: url('/fonts/mygirl/EOT/adi12wf-b.eot');
	src: url('/fonts/mygirl/EOT/adi12wf-b.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/WOFF/adi12wf-b.woff') format('woff'),
	     url('/fonts/mygirl/TTF/adi12wf-b.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus-it-bold';
    src: url('/fonts/mygirl/EOT/ADIHBDIT.eot');
	src: url('/fonts/mygirl/EOT/ADIHBDIT.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHBDIT.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus-bold';
    src: url('/fonts/mygirl/EOT/ADIHDB.eot');
	src: url('/fonts/mygirl/EOT/ADIHDB.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHDB.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus-it';
    src: url('/fonts/mygirl/EOT/ADIHRGIT.eot');
	src: url('/fonts/mygirl/EOT/ADIHRGIT.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHRGIT.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus';
    src: url('/fonts/mygirl/EOT/ADIHRG.eot');
	src: url('/fonts/mygirl/EOT/ADIHRG.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHRG.ttf')  format('truetype');
}


@font-face{
	font-family:"adiBlack";
	src:url('/fonts/adineuePro/black/adineuePRO-BlackWeb.eot');
	src:url('/fonts/adineuePro/black/adineuePRO-BlackWeb.eot?#iefix') format('embedded-opentype'),
		url('/fonts/adineuePro/black/adineuePRO-BlackWeb.woff2') format('woff2'),
		url('/fonts/adineuePro/black/adineuePRO-BlackWeb.woff') format('woff'),
		url('/fonts/adineuePro/black/adineuePRO-BlackWeb.ttf') format('truetype');
	font-weight:normal
}

@font-face{
	font-family:"adiLight";
	src:url('/fonts/adineuePro/light/adineuePRO-LightWeb.eot');
	src:url('/fonts/adineuePro/light/adineuePRO-LightWeb.eot?#iefix') format('embedded-opentype'),
		url('/fonts/adineuePro/light/adineuePRO-LightWeb.woff2') format('woff2'),
		url('/fonts/adineuePro/light/adineuePRO-LightWeb.woff') format('woff'),
		url('/fonts/adineuePro/light/adineuePRO-LightWeb.ttf') format('truetype');
		font-weight:normal;
		letter-spacing:1px;
}

@font-face{
	font-family: 'NotoSansKRBold';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRBold.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRThin';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRThin.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRLight';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRLight.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRRegular';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRRegular.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
	src: url('/fonts/NotoSansKr/eot/NotoSansKRMedium.eot');
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-black';
	src: url('/fonts/adineuePro/eot/adineuePRO-Black.eot');
	src: url('/fonts/adineuePro/woff/adineuePRO-Black.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-bold';
	src: url('/fonts/adineuePro/eot/adineuePRO-Bold.eot');
	src: url('/fonts/adineuePro/woff/adineuePRO-Bold.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-regular';
	src: url('/fonts/adineuePro/eot/adineuePRO-Regular.eot');
	src: url('/fonts/adineuePro/woff/adineuePRO-Regular.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-light';
	src: url('/fonts/adineuePro/eot/adineuePRO-Light.eot');
	src: url('/fonts/adineuePro/woff/adineuePRO-Light.woff') format('woff');
}

@font-face {
	font-family: 'adihaus-it-bold';
    src: url('/fonts/mygirl/EOT/ADIHBDIT.eot');
	src: url('/fonts/mygirl/EOT/ADIHBDIT.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHBDIT.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus-bold';
    src: url('/fonts/mygirl/EOT/ADIHDB.eot');
	src: url('/fonts/mygirl/EOT/ADIHDB.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHDB.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus-it';
    src: url('/fonts/mygirl/EOT/ADIHRGIT.eot');
	src: url('/fonts/mygirl/EOT/ADIHRGIT.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHRGIT.ttf')  format('truetype');
}

@font-face {
	font-family: 'adihaus';
    src: url('/fonts/mygirl/EOT/ADIHRG.eot');
	src: url('/fonts/mygirl/EOT/ADIHRG.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/mygirl/TTF/ADIHRG.ttf')  format('truetype');
}


@font-face {
	font-family: 'Adihaus-regular';
	src: url('/fonts/adihausDIN/woff/adihausregular.woff') format('woff');
}

@font-face {
	font-family: 'AdihausDIN-Bold';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Bold_0.woff') format('woff');
}

@font-face {
	font-family: 'AdihausDIN';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Bold_0.woff') format('woff');
	font-weight:'bold';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Cond_0.woff') format('woff');
	font-weight:'normal';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondBold.woff') format('woff');
	font-weight:'bold';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondBoldIta.woff') format('woff');
	font-weight:'bold';
	font-style:'italic';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondMedium.woff') format('woff');
	font-weight:'normal';
	font-style:'italic';
}

@font-face {
	font-family: 'YEEZY TSTAR-Bold';
	src: url('/fonts/yeezy/eot/yeezy_tstar-bold-webfont.eot');
	src: url('/fonts/yeezy/woff/YEEZY TSTAR-Bold.woff') format('woff');
}

@font-face {
	font-family: 'YEEZY TSTAR-Heavy';
	src: url('/fonts/yeezy/eot/yeezy_tstar-heavy-webfont.eot');
	src: url('/fonts/yeezy/woff/YEEZY TSTAR-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'YEEZY TSTAR-Light';
	src: url('/fonts/yeezy/eot/yeezy_tstar-light-webfont.eot');
	src: url('/fonts/yeezy/woff/YEEZY TSTAR-Light.woff') format('woff');
}

@font-face {
	font-family: 'YEEZY TSTAR-Regular';
	src: url('/fonts/yeezy/eot/yeezy_tstar-regular-webfont.eot');
	src: url('/fonts/yeezy/woff/YEEZY TSTAR-Regular.woff') format('woff');
}

@font-face {
    font-family: 'icomoonregular';
    src:url('/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'adiPictoRegular';
    src:url('/fonts/adipictos/adipictos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:'Decima Mono';
	src:url('/fonts/decimamono/woff/32923C_0_0.woff2') format('woff2'),
			url('/fonts/decimamono/woff/32923C_0_0.woff') format('woff'),
			url('/fonts/decimamono/ttf/32923C_0_0.ttf') format('truetype');
	}
