/*@font-face{
	font-family:"adiBlack";
	src:url('/fonts/adineuePro/black/adineuePRO-BlackWeb.woff2') format('woff2'),
		url('/fonts/adineuePro/black/adineuePRO-BlackWeb.woff') format('woff'),
		url('/fonts/adineuePro/black/adineuePRO-BlackWeb.ttf') format('truetype');
	font-weight:normal
}

@font-face{
	font-family:"adiLight";
	src:url('/fonts/adineuePro/light/adineuePRO-LightWeb.woff2') format('woff2'),
		url('/fonts/adineuePro/light/adineuePRO-LightWeb.woff') format('woff'),
		url('/fonts/adineuePro/light/adineuePRO-LightWeb.ttf') format('truetype');
	font-weight:normal;
	letter-spacing:1px;
}*/

@font-face{
	font-family: 'NotoSansKRBold';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRThin';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRLight';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRRegular';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
	src: url('/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-black';
	src: url('/fonts/adineuePro/woff/adineuePRO-Black.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-bold';
	src: url('/fonts/adineuePro/woff/adineuePRO-Bold.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-regular';
	src: url('/fonts/adineuePro/woff/adineuePRO-Regular.woff') format('woff');
}

@font-face {
	font-family: 'adinenuPro-light';
	src: url('/fonts/adineuePro/woff/adineuePRO-Light.woff') format('woff');
}

@font-face {
	font-family: 'Adihaus-regular';
	src: url('/fonts/adihausDIN/woff/adihausregular.woff') format('woff');
}

@font-face {
	font-family: 'AdihausDIN-Bold';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Bold_0.woff') format('woff');
}

@font-face {
	font-family: 'AdihausDIN';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Bold_0.woff') format('woff');
	font-weight:'bold';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-Cond_0.woff') format('woff');
	font-weight:'normal';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondBold.woff') format('woff');
	font-weight:'bold';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondBoldIta.woff') format('woff');
	font-weight:'bold';
	font-style:'italic';
}

@font-face {
	font-family: 'AdihausDIN-Cond';
	src: url('/fonts/adihausDIN/woff/AdihausDIN-CondMedium.woff') format('woff');
	font-weight:'normal';
	font-style:'italic';
}

@font-face {
    font-family: 'adiPictoRegularKo';
    src:url('/fonts/adipictos/adipictos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face{
	font-family:'Decima Mono';
	src:url('/fonts/decimamono/woff/32923C_0_0.woff2') format('woff2'),
			url('/fonts/decimamono/woff/32923C_0_0.woff') format('woff'),
			url('/fonts/decimamono/ttf/32923C_0_0.ttf') format('truetype');
	}*/
