@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#climachill{

	h4{
		margin: 4rem 0 1.5rem;
		text-align: center;
		font:2rem/4rem 'adinenuPro-black';
		color: #000;
	}

	.img_box1{
			img{
				width: 100%;
			}
			a{
				display: inline-block;
				text-indent: -9999px;
				position: absolute;
			}
		}

		.img_box2{
			padding: 0 2.5rem;
				img{
					width: 100%;
				}
				&.ban{
					margin-bottom: 2.5rem;
				}
			}
	/* img_box END */

	.txt_box1{
		padding: 2.5rem;
		text-align: left;
		h3{
			font: 700 4rem/5rem 'AdihausDIN-Cond';
			color: #000;
			letter-spacing: 2px;
		}
		p{
			font:400 1.1rem/1.9rem 'NotoSansKR';
			color:#000;
		}
	}

	.txt_box2{
		padding: 1.5rem 2.5rem 3rem;
		text-align: left;
		h3{
			font:1.9rem/3rem 'AdihausDIN-Bold';
			color: #000;
			letter-spacing: -0.7px;
		}
		p{
			font:400 1rem/1.8rem 'NotoSansKR';
			color:#000;
		}
	}

	.txt_box3{
		padding: 0rem 2.5rem 3rem;
		text-align: left;
		position: relative;
		h3{
			font: 1.9rem/3rem 'adihausDIN';
			color: #000;
			letter-spacing: -0.7px;
			position: relative;
			&::after{
				content: '';
			    width: 51%;
			    height: 1px;
			    display: block;
			    position: absolute;
			    bottom: 3px;
			    left: 0;
			    background-color: #000;
			}
		}
		ul{
			padding-top: 0.7rem;
			li{
				font:400 1.1rem/2rem 'NotoSansKR';
				color:#000;
			}
		}
	}

	.txt_box4{
		padding: 0rem 2.5rem 3rem;
		text-align: left;
		position: relative;
		h3{
			font: 1.9rem/3rem 'adihausDIN';
			color: #000;
			letter-spacing: -0.7px;
			position: relative;
			&::after{
				content: '';
			    width: 57%;
			    height: 1px;
			    display: block;
			    position: absolute;
			    bottom: 3px;
			    left: 0;
			    background-color: #000;
			}
		}
		ul{
			padding-top: 0.7rem;
			li{
				font:400 1.1rem/2rem 'NotoSansKR';
				color:#000;
			}
		}
	}



	.buy{
		position: relative;
		width: 95%;
		padding: 0 2.5rem;
		z-index: 2;
		left: 50%;
		text-align: center;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		a{
			display: inline-block;
			width: 89%;
			height: 50px;
			background-color: #000;
			color:#fff;
			font:300 1rem/50PX 'NotosansKR';
			letter-spacing: 0px;
			margin-top: 10px;
			&:after{
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

}
