@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#alphaskin{
	.btn{
		position: relative;
		display: block;
		top:-10px;
		margin: 0 15px;
		a{
			margin: 0 0 10px 0;
			display: block;
			border:2px solid #3a62a1;
			font:400 14px/46px 'NotoSansKR';
			color:#000;
			text-align:center;

		}
	}
	.top{
		div{
			img{
				width: 100%;
			}
		}
	}
	.video{
		margin: 32px 0 0 0;
		div{
			margin: 0 15px;
			&.txt{
				padding: 38px 0 28px;
				p{
					text-align: center;
					font:400 16px/20px 'NotoSansKR';
					&.b{
						color:#3d52bb;
					}
				}
			}
			&.btn{
				a{
					margin: 0;
				}
			}
			img{
				width: 100%;
			}
		}
	}
	.box{
		position: relative;
		margin: 75px 0 0 0;
		opacity: 0;
		-webkit-opacity: 0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		&.on{
			opacity: 1;
			-webkit-opacity: 1;

		}
		a{
			position: absolute;
			bottom: 4%;
			height: 46px;
			width: 100%;
			text-indent: -9999px;
			&.men{
		    	bottom: 13%;
			}
		}
		div{
			img{
				width: 100%;
			}
		}
	}
}
