@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#chaos{
	// 공통
	position: relative;
	.rel{
		position: relative;
	}
	.gridIn{
		position: absolute;
		bottom:8%;
		left:50%;
		transform: translateX(-50%);
	}
	.button_area_v2{
		width: 110px;
		a{
			font-size: .9rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			position: relative;
			span.arrow{
				margin-left: 10px;
				width: 20px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
		&.white{
			a{
				background:#fff;
				color:#000;
				span.arrow{
					background:#000;
					&:after{
						background:#000;
					}
					&:before{
						background:#000;
					}
				}
				&::after{
					box-shadow:inset 0 0 0 1px #fff;;
				}
			}
		}
	}
	.wid170{
		width: 170px;
	}
	.center{
		position: absolute;
		top:39%;
		left:50%;
		transform: translate(-50%,-50%);
		width:10%;
	}
	img{
		width:100%;
	}
	video{
		width:100%;
	}

	// 메인
	.main__wrapper{
		.main__wrapper__img{
			>img{
			}
		}
	}

	// 상단 고정 비디오 컨텐츠
	.video__wrapper{
		position: relative;
		.btn_play{
			display: inline-block;
			position: absolute;
			width: 50px;
			height: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	// 전체 탭
	.ptab_wrap{
		position: relative;
		.ptab{
			background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tabBg01_MO.jpg') no-repeat;
			background-size:100% 100%;
			background-position:top;
			position: absolute;
			display: inline-block;
			width: 100%;
			top: 0;
			&.active{
				position:fixed;
				z-index: 2;
			}
			&::after{
				display: block;
				content:'';
				clear:both;
			}
			div{
				float: left;
				width:calc(100%/2);
				padding-bottom: 11%;
				img{
					display:none;
					&.on{
						display:block;						
					}
				}
				&.lt{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab00_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab00_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
				&.lt2{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
				// &.ct{
				// 	background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_MO.png') no-repeat;
				// 	background-size:100% 100%;
				// 	background-position:top;
				// 	&.on{
				// 		background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_on_MO.png') no-repeat;
				// 		background-size:100% 100%;
				// 		background-position:top;
				// 	}
				// }
				&.rt{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab01_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab01_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
				&.rt2{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab03_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab03_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
			}
		}
	}

	// 상단 탭 버튼 컨텐츠
	.cont__wrapper{
		.cont__wrapper__img{
			display:none;
			&:nth-child(3){
				a{
					position: absolute;
					top: 62%;
					left: 34%;
					width: 32%;
					height: 16.5%;
				}
			}
			&.on{
				display:block;						
			}
			a{
				position: absolute;
				top:53%;
				left:34%;
				width:32%;
				height:4.5%;				
			}
		}
	}

	// 하단 탭 설명 컨텐츠
	.desc__wrapper{
		.desc__wrapper__img{
			display:none;
			&.on{
				display:block;						
			}
		}
	}

	// 비디오 컨텐츠
	.video-wrapper {
		position: relative;
		.video-area {
			width: 100%;
			position: relative;
			#video {
			width: 100%;
			}
			.progress-bar {
				width: 100%;
				height: 5px;
				position: relative;
				background: #000;
				&::after{
					display: block;
					content:'';
					clear:both;
				}
				div{
					float: left;
					height:100%;
					width:calc(100%/4);
					border:0.5px solid #ccc;
					box-sizing: border-box;
					border-top:0;
					border-bottom: 0;
					&:first-child{
						border-left:0;
					}
					&:last-child{
						border-right:0;
					}
					> div {
						width: 0%;
						height: 100%;
						position: 0;
						left: 0;
						top: 0;
						background: #75a900;
					}
				}
			}
		}
		.tabs {
			display: flex;
			background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tabBg02_MO.jpg') no-repeat;
			background-position:top;
			background-size:100% 100%;
			a {
				width: 100%;
				height: 30px;
				line-height: 30px;
				color: #ddd;
				cursor: pointer;
				font: 700 11.5px/11.5px 'NotoSansKR';
				color: #666666;
				text-align: center;
				padding: 1rem 0 2rem;
				letter-spacing: 0;
				&.active {
					color: #75a900;
				}
			}
		}
	}

	// 최하단 고정 컨텐츠
	.fixed__wrapper{
		background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_prodBg_MO.jpg') no-repeat;
		background-size:100% 100%;
		background-position:top;
		padding: 4rem 0 1rem;
		.slide__wrapper{
			margin: 0 0 15% 0;
			.sliderlook{
				.slick-list{
					overflow:hidden;
					width: 80%;
    				margin: 0px auto;
					.slick-track{
						.slick-slide{
							position: relative;
							a{
								position: absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								width:100%;
								height:100%;
							}
							.slide_txt{
								position: relative;
    							bottom: -9px;
								h1,p{
									letter-spacing: 0;
								}
								h1{
									font: 700 13px/13px 'NotoSansKR';
									color:#000;
									text-align: center;
								}
								p{
									font: 13px/28px 'AdihausDIN-Bold';
									color:#000;
									text-align: center;
								}
							}
						}
					}
				}
				.slick-dots{
					text-align: center;
					position: relative;
					bottom: -25px;
					li{
						display: inline-block;
						.dot{
							background:url('/images/adidas/2020/event/golf/chaos/cp/dot.png') no-repeat;
							// background-position:top;
							// background-size: 100% 100%;
							background-size: cover;
							width: 17px;
							height: 17px;
							text-indent:-9999px;
							margin:0 2px;
						}
						&.slick-active{
							.dot{
								background:url('/images/adidas/2020/event/golf/chaos/cp/dot_on.png') no-repeat;
								// background-position:top;
								// background-size: 100% 100%;
								background-size: cover;
							}
						}
					}
				}
			}
			.prev-button{
				position: absolute;
				top:50%;
				left:9%;
				transform: translate(-50%,-50%);
				img{
					width:60%;
				}
			}
			.next-button{
				position: absolute;
				top:50%;
				left:93%;
				transform: translate(-50%,-50%);
				img{
					width:60%;
				}
			}
		}
	}

	.grid__wrapper{
		img{
			width:100%;
		}
		video{
			width: 100%;
			
		}
		
		.grid__wrapper__cont{
			// 섹션1
			&::after{
				display:block;
				content:'';
				clear:both;
			}
			.grid__obj{
				float: left;
				width:50%;
				&:nth-child(2){ 
					float: right;
				}
			}		
		}

		.grid__wrapper__cont2{
			// 섹션1
			&::after{
				display:block;
				content:'';
				clear:both;
			}
			.grid__obj{
				float: right;
				width:50%;
				&:nth-child(1){
					float: left;
				}
			}		
		}
	}

	// .ptab_cont {
	// display: none;
	// 	&.on {
	// 		display: block;
	// 	}
	// }

	// .video_01{
	// 	display:none;
	// 	&.on{
	// 		display: block;
	// 		margin-bottom: -1px;
	// 	}
	// }

	// #wrapper {
	// 	width: 500px;
	// 	position: relative;
	// }

}
