@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#chaos{
	position: relative;
	.rel{
		position: relative;
	}
	.center{
		position: absolute;
		top:39%;
		left:50%;
		transform: translate(-50%,-50%);
		width:10%;
	}
	img{
		width:100%;
	}
	video{
		width:100%;
	}
	.main__wrapper{
		.main__wrapper__img{
			>img{
				// width: 100%;
			}
		}
	}
	.video__wrapper{
		video{
			width:100%;
		}
	}

	.ptab_wrap{
		position: relative;
		.ptab{
			background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tabBg01_MO.jpg') no-repeat;
			background-size:100% 100%;
			background-position:top;
			position: absolute;
			display: flex;
			width: 100%;
			top: 0;
			&.active{
				position:fixed;
				z-index: 2;
			}
			&::after{
				display: block;
				content:'';
				clear:both;
			}
			div{
				float: left;
				width:calc(100%/3);
				padding-bottom: 11%;
				img{
					display:none;
					&.on{
						display:block;						
					}
				}
				&.lt{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab01_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab01_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
				&.ct{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab02_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
				&.rt{
					background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab03_MO.png') no-repeat;
					background-size:100% 100%;
					background-position:top;
					&.on{
						background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tab03_on_MO.png') no-repeat;
						background-size:100% 100%;
						background-position:top;
					}
				}
			}
		}
	}
	.cont__wrapper{
		.cont__wrapper__img{
			display:none;
			&:nth-child(3){
				a{
					position: absolute;
					top: 62%;
					left: 34%;
					width: 32%;
					height: 16.5%;
				}
			}
			&.on{
				display:block;						
			}
			a{
				position: absolute;
				top:53%;
				left:34%;
				width:32%;
				height:4.5%;				
			}
		}
	}

	.video_01{
		display:none;
		&.on{
			display: block;
			margin-bottom: -1px;
		}
	}

		
	
	.desc__wrapper{
		.desc__wrapper__img{
			display:none;
			&.on{
				display:block;						
			}
		}
		// .btm_btn{
		// 	background:url('/images/adidas/2020/event/golf/chaos/cp/btm_bg.jpg') no-repeat;
		// 	background-size:100%;
		// 	background-position: top;
		// 	text-align: center;
		// 	padding: 2rem 0;
		// 	a{
		// 		background: #000;
		// 		font: 500 12px/42.5px 'NotoSansKR';
		// 		color: #fff;
		// 		display: inline-block;
		// 		widtH: 55%;
		// 		margin: 0 auto;
		// 		letter-spacing: 0;
		// 	}
		// }
	}

	.fixed__wrapper{
		background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_prodBg_MO.jpg') no-repeat;
		background-size:100% 100%;
		background-position:top;
		padding: 4rem 0 1rem;
		.slide__wrapper{
			margin: 0 0 15% 0;
			.sliderlook{
				.slick-list{
					overflow:hidden;
					width: 80%;
    				margin: 0px auto;
					.slick-track{
						.slick-slide{
							position: relative;
							a{
								position: absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								width:100%;
								height:100%;
							}
							.slide_txt{
								position: relative;
    							bottom: -9px;
								h1,p{
									letter-spacing: 0;
								}
								h1{
									font: 700 13px/13px 'NotoSansKR';
									color:#000;
									text-align: center;
								}
								p{
									font: 13px/28px 'AdihausDIN-Bold';
									color:#000;
									text-align: center;
								}
							}
						}
					}
				}
				.slick-dots{
					text-align: center;
					position: relative;
					bottom: -25px;
					li{
						display: inline-block;
						.dot{
							background:url('/images/adidas/2020/event/golf/chaos/cp/dot.png') no-repeat;
							// background-position:top;
							// background-size: 100% 100%;
							background-size: cover;
							width: 17px;
							height: 17px;
							text-indent:-9999px;
							margin:0 2px;
						}
						&.slick-active{
							.dot{
								background:url('/images/adidas/2020/event/golf/chaos/cp/dot_on.png') no-repeat;
								// background-position:top;
								// background-size: 100% 100%;
								background-size: cover;
							}
						}
					}
				}
			}
			.prev-button{
				position: absolute;
				top:50%;
				left:9%;
				transform: translate(-50%,-50%);
				img{
					width:60%;
				}
			}
			.next-button{
				position: absolute;
				top:50%;
				left:93%;
				transform: translate(-50%,-50%);
				img{
					width:60%;
				}
			}
		}
	}

	#wrapper {
	width: 500px;
	position: relative;
	}

	.video-wrapper {
	position: relative;

	.tabs {
		display: flex;
		background:url('/images/adidas/2020/event/golf/chaos/cp/2001_CHAOS_tabBg02_MO.jpg') no-repeat;
		background-position:top;
		background-size:100% 100%;
		a {
			width: 100%;
			height: 30px;
			line-height: 30px;
			color: #ddd;
			cursor: pointer;
			font: 700 11.5px/11.5px 'NotoSansKR';
			color: #999999;
			text-align: center;
			padding: 1rem 0 2rem;
			letter-spacing: 0;
			&.active {
				color: #75a900;
			}
		}
	}

	.video-area {
		width: 100%;
		position: relative;

		#video {
		width: 100%;
		// min-height: 300px;
		}

		.progress-bar {
		width: 100%;
		height: 5px;
		position: relative;

		/* position: absolute;
		left: 0;
		bottom: 0; */
		background: #9abb4f;

		> div {
			width: 0%;
			height: 100%;
			position: 0;
			left: 0;
			top: 0;
			background: #75a900;
		}
		}
	}
	}

	.ptab_cont {
	display: none;

	&.on {
		display: block;
	}
	}

}
