@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ozweego{
	position: relative;
	button, div, a{
		outline: none;
	}
	.button_area_v2 {
		display: inline-block;
		a {
			height: 44px;
			font: 400 10px/43px 'NotoSansKR';
			letter-spacing: 1px;
			padding: 0 20px;
		}
		>div.gray {
			a {
				background: #1b1b1e;
				color: #fff;
				&::after{
					-webkit-box-shadow: inset 0 0 0 1px #1b1b1e;
					box-shadow: inset 0 0 0 1px #1b1b1e;
				}
			}
		}
	}
	.rel{
		position: relative;
	}
	section{
		position: relative;
	}
	img{
		width: 100%;
	}
	@for $i from 1 through 2 {
		.celox{
			.bg0#{$i} {
				background: url('/images/adidas/2021/event/originals/ozweego/celox/bg0#{$i}.jpg') no-repeat;
				background-position: top;
				background-size: 100% 100%;
			}
		}
	}
		@for $i from 1 through 2 {
			.oz{
				.bg0#{$i} {
					background: url('/images/adidas/2021/event/originals/ozweego/oz/bg0#{$i}.jpg') no-repeat;
					background-position: top;
					background-size: 100% 100%;
				}
			}
	}
	.mi{
		padding: 2.5rem 0 6em !important;
	}
	.visuals{
		.visuals__figure{
			position: relative;
			padding-top: 99.5%;
			img{
				@include center(0, auto, 0, none);
				z-index: 1;
				opacity: 0;
				transition: all 0.5s ease-in;
				&.on{
					opacity: 1;
				}
			}
		}
	}
	.visuals__text{}
	.tabs{
		// &.fixed{
		// 	position: fixed;
		// 	bottom: initial;
		// 	top: 11%;
		// 	z-index: 2;
		// }
		position: absolute;
		bottom: 17%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;
		>img{
			width: 70%;

		}
	}
	.contents{
		width: 100%;
		padding-top: 839%;
		background: #cae017;
		@media screen and (device-width: 320px) {
			padding-top: 865%;
		}
		@media screen and (device-width: 360px) {
			padding-top: 848%;
		}
		@media screen and (device-width: 375px) {
			padding-top: 839%;
		}
		@media screen and (device-width: 414px) {
			padding-top: 820%;
		}

		.contents__container{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 1s ease-in;
			&.on{
				opacity: 1;
				z-index: 1;
			}
			.video01{
			}
			.slider_wrap{
				padding: 4rem 0;
				>div{
					position: relative;
					text-align: center;
					&:first-child{
						.button_area_v2{
							margin-bottom: 4rem;
						}
					}
					.slider_set01{
						width: 75%;
						margin: 0 auto;
						.slick-list{
							.item{
								img{
								}
							}
						}
						.slick-dots{
							text-align: center;
							margin: 1rem 0;
							li{
								display: inline-block;
								width: 7px;
								height: 7px;
								margin: 0 2px;
								border: 1px solid #fff;
								border-radius: 50%;
								button{
									background: none;	
									text-indent: -9999px;
									border: 0;
								}
								&.slick-active{
									background: #fff;
								}
							}
						}
					}
					.slider__nav{
						@include center(31%, auto, 50%, $ctct);
						width: 90%;
						margin: 0 auto;
						@include after();
						.prev-button, .next-button{
							display: inline-block;
							width: 3.5%;
						}
						.prev-button{
							float: left;
							transform: rotate(-180deg);
						}
						.next-button{
							float: right;
						}
					}
				}
			}
			.desc{}
			.subSlider_wrap{
				padding: 2.5rem 0;
				.video02{
					position: relative;
					width: 75%;
					margin: 0 auto;
					padding: 0 0 0.5rem;
				}
				.slider__inner{
					text-align: center;
					.slider_set02{
						width: 75%;
						margin: 0 auto;
						.slick-list{
							.item{
								img{
								}
							}
						}
						.slick-dots{
							text-align: center;
							margin: 1rem 0 0.3rem;
							li{
								display: inline-block;
								width: 7px;
								height: 7px;
								margin: 0 2px;
								border: 1px solid #000;
								border-radius: 50%;
								button{
									background: none;	
									text-indent: -9999px;
									border: 0;
								}
								&.slick-active{
									background: #000;
								}
							}
						}
					}
					.slider__nav{
						@include center(42%, auto, 50%, $ctct);
						width: 90%;
						margin: 0 auto;
						@include after();
						.prev-button, .next-button{
							display: inline-block;
							width: 3.5%;
						}
						.prev-button{
							float: left;
							transform: rotate(-180deg);
						}
						.next-button{
							float: right;
						}
					}
					p{
						text-align: left;
						width: 75%;
						margin: 0 auto 1rem;
						font: 500 10px/17px $noto;
						color: #000;
					}
				}
			}
		}
	}

}