@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
#kids{
	position: relative;
	.button_area_v2{
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			padding: 0 1rem;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}
	span, p, em{
		letter-spacing: 1px;
	}


	// 변수
	$ctct: translate(-50%,-50%); 
	$ctY: translateY(-50%);
	$ctX: translateX(-50%);
	$adinBlk: 'adinenuPro-black';
	$adinBld: 'adinenuPro-bold';
	$noto: 'NotoSansKR';
	
	// 앱솔루트 - 재사용.
	@mixin center ( $top, $bottom, $left, $transform ) {
		position: absolute;
		top: $top;
		bottom: $bottom;
		left: $left;
		transform: $transform;
	}

	// $val의 값이 auto면 퍼센티지,
	// $val에 높이값이 있으면 가운데 정렬 - 재사용. 
	@mixin auto( $val ) {
		height: $val;
		@if ( $val == auto ) {
			.figure{
				img, video{
					width: 100%;
				}
			}
		} @else {
			.figure{
				@include center( 0, auto, 50%, $ctX );
			}
		}
	}

	div,a {
		outline: none;
	}

	main{
		img, video{
			width: 100%;
		}
		section{
			position: relative;
		}
		.visuals{
			.visuals_title{
				position: absolute;
				top: 5%;
				left: 0;
				z-index: 1;
				>img{
					display: block;
					width: 100%;
				}
			}
			.visuals_articles{
				position: absolute;
				top: 46%;
				left: 5.5%;
				z-index: 1;
				
				h4{
					font: 600 2rem/2rem "NotoSansKR";
					color: #ffd400;
					
					letter-spacing: normal;
				}
				p {
					padding-top: 1rem;
					font: 400 1rem/1.5rem "NotoSansKR";
					color: #fff;
					&.p_bold{
						font-size: 1.1rem;
						font-weight: 500;
					}
					
				}
				.button_area_v2{
					margin-top: 2rem;
					display: inline-block;
				}
			}
		}
		
		.event{
			background: url('/images/adidas/2020/event/kids/1230/event_bg.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
			padding: 3rem 0 0;
			text-align: center;
			.event_articles {

				h4 {
					font: 600 1.9rem/2.4rem "NotoSansKR";
					color: #ffd400;

					letter-spacing: 1px;
				}

				p {
					padding-top: 1rem;
					font: 400 0.9rem/1.5rem "NotoSansKR";
					color: #fff;
					em{
						font: 400 1rem/1.5rem "adinenuPro-bold";
					}
					&.p_bold {
						font-size: 1rem;
						font-weight: 500;
					}

				}

				.button_area_v2 {
					margin-top: 2rem;
					display: inline-block;
				}
			}
			.event_contents{
				margin-top: 2rem;
				padding: 1rem;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				>img{
					display: block;
					width: 100%;
					padding-bottom: 2rem;
				}
			}
		}

		.kids_video{
			position:relative;
			>img{
				display:block;
				margin:0 auto;
				width:100%;
			}
			.video_btn{
				position:absolute;left:50%;top:26%;
				transform:translateX(-50%);
				button{
					background:url('/images/adidas/2020/event/kids/btn.png')no-repeat;
					width:40px;
					height:63px;	
					border:0;
					background-size:100%;
				}
			}
			button{
				outline:none;
			}				
		}

		.items{
			padding: 1rem;
			text-align: center;
			&.items_1{
				background: #ffd400;
			}
			&.items_2{
				background: #006dbb;
			}
			>img{
				display: block;
				width: 100%;
			}
			h4{
				padding: 3rem 0;
				font: 600 1.6rem/2.2rem "NotoSansKR";
				letter-spacing: normal;
				text-align: center;
			}
			.slider_wrap{
				width: 90%;
				padding: 2rem 0;
				margin: 0 auto;
				margin-bottom: 2.5rem;
				&.last{
					margin-bottom: 0;
				}
				h5{
					padding: 0 0 2rem;
					font: 600 2.2rem/2.2rem "adinenuPro-black";
					letter-spacing: 2px;
					text-align: center;
					text-transform: uppercase;
					color: #fff;
				}
				ul.sliderbox{
					.slick-list{
						.slick-slide{
							text-align: center;
							img{
								display: inline-block;
								width: 74%;
							}
						}
					}
					.slick-arrow{
						padding: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-80%);
						border: 0 none;
						text-indent: -9999px;
						width: 22px;
						height: 40px;
						z-index: 5;
						&.slick-prev {
							left: 6%;
							background: url('/images/adidas/2020/event/kids/1230/prev.png') 0 0 no-repeat;
							background-size:100%;
						}

						&.slick-next {
							right: 6%;
							background: url('/images/adidas/2020/event/kids/1230/next.png') 0 0 no-repeat;
							background-size:100%;
						}
					}
					.slick-dots{
						margin-top: 0.8rem;
						text-align: center;
						li{
							display: inline-block;
							margin: 0 3px;
							button{
								padding: 0;
								display: inline-block;
								width: 10px;
								height: 10px;
								text-indent: -9999px;
								border: 1px solid #fff;
								border-radius: 50%;
								background: none;
							}
							&.slick-active{
								button{
									background: #fff;
								}
							}
						}
					}
				}
				p{
					padding: 2rem 0 1rem;
					font: 400 1.1rem/1.9rem "NotoSansKR";
					letter-spacing: normal;
					text-align: center;
					color: #fff;
				}
			}
			>p{
				padding: 1rem 0 0;
				font: 300 1.3rem/2rem "NotoSansKR";
				letter-spacing: 1px;
				text-align: center;
				color: #fff;
				&.p_bold{
					font: 500 1.3rem/2rem "NotoSansKR";
				}
			}
			.button_area_v2{
				display: inline-block;
				margin: 3rem 0;
			}
		}

		.bottom{
			img{
				display: block;
				width: 100%;
			}
			.bottom_inner {
				position: relative;
				.bottom_txt {
					position: absolute;
					top: 15%;
					width: 100%;
					>*{
						text-align: center;
						font-family: "NotoSansKR";
						letter-spacing: normal;
						color:#000;
					}
					p{
						font-size: 1rem;
						font-weight: 600;
					}
					h4{
						padding: 1rem 0 0.4rem;
						font-size: 1.38rem;
						letter-spacing: 1px;
					}
					h3{
						font-size: 1.85rem;
						font-weight: 700;
					}
				}
			}
		}
	}	
}
