@import "./app/MO/reebok/css/scss/about.scss";
.wannaone{
    .main_visual{
        .bg{
            img{
                width: 100%;
            }
        }
    }
    .bottom{
        a{
            display: block;
            z-index: 1;

        }
        img{
            width: 100%;
        }
    }

}
