/* common */
#container>div{position:relative;}
#container>div img{width:100%;}
.inner{margin:0 15px;}
/* common END */ 


.cpn_contact{
    padding:0 0 45px 0;background: #ebedee;
}
.cpn_contact h2{
    padding:45px 0 20px 0;font:35px 'adinenuPro-bold';text-align: center;letter-spacing: 0.3px;
}
.cpn_contact p{
    font: 400 1.1rem/1.9rem 'NotoSansKR';color:#000;text-align: center;letter-spacing: 0px;
}
.cpn_contact p.small{padding: 22px 0;font: 400 1rem 'NotoSansKR';}

.btn_wrap.col2{overflow: hidden;}
.btn_wrap.col2>div{width: 47%;float: left;}
.btn_wrap.col2>div:first-child{margin-right: 4%;}
.btn_wrap .button_area_v2 p{margin:8px 0 0 0;font: 400 1rem 'NotoSansKR';text-transform: uppercase;}
.btn_wrap .button_area_v2 a{font: 500 0.9rem/49px 'NotoSansKR';  letter-spacing: 0.3px;}
.btn_wrap .button_area_v2 a span.arrow{width: 22px;margin-left:10px;}
.button_area_v2 a span.arrow::after,.button_area_v2 a span.arrow::before{width: 8px;height: 3px;}

.cpn_section h3{
    padding: 45px 0 10px 0;
    font: 32px 'adinenuPro-bold';
    text-align: left;
    letter-spacing: 0.3px;
}
.cpn_section p.title{font: 600 1.2rem/1.7rem 'NotoSansKR','adinenuPro-bold';text-transform: uppercase;letter-spacing: 0px;}
.cpn_section p.title.eng{ font: 600 1.6rem/2rem 'adinenuPro-bold';text-transform: uppercase;letter-spacing: 0.7px;}
.cpn_section .banner_slider_wrap{padding: 30px 0 10px 0;}
.cpn_section .banner_slider_wrap ul li div p.title{padding:10px 3px 5px;font: 600 1.1rem/1.7rem 'NotoSansKR';letter-spacing: 0px;}
.cpn_section .banner_slider_wrap ul li div p{padding:0 3px; font: 400 1rem/1.7rem 'NotoSansKR';letter-spacing: -0.3px;}
.cpn_section.workplace p{font: 400 1.1rem/1.8rem 'NotoSansKR','adinenuPro-bold';letter-spacing: 0px;}
.cpn_section.workplace p span{font: 1.1rem/1.7rem 'adinenuPro-regular';letter-spacing: 0.2px;text-transform: uppercase;}
.cpn_section.workplace strong{display:inline-block;padding:20px 0 0 0; font: 600 1.1rem/1.7rem 'NotoSansKR';letter-spacing: 0.2px;}
.cpn_section.workplace strong span{font: 1.1rem/1.7rem 'adinenuPro-bold';letter-spacing: 0.2px;text-transform: uppercase;}
.cpn_section.workplace .banner_slider_wrap{padding: 45px 0 45px 0;overflow: hidden;}
.cpn_section.workplace .banner_slider_wrap .owl-controls .owl-dots{margin:20px 0 0 0;text-align: center;}
.cpn_section.workplace .banner_slider_wrap .owl-controls .owl-dots .owl-dot{display: inline-block;margin:0 4px;width:10px;height:10px;border:1px solid #000;border-radius: 50px;}
.cpn_section.workplace .banner_slider_wrap .owl-controls .owl-dots .owl-dot.active{background: #000;}

.cpn_section.benefits{
    padding:0 0 45px 0;
    background: #ebedee;
}
.cpn_section.benefits .ico{
    position: relative;
    margin-right: 6px;
    display: inline-block;
}
.cpn_section.benefits .ico.heart{
    top: 3px;
    width: 19px;
    height: 16px;
    background: url(/images/adidas/company/ico_heart.png) no-repeat;
    background-size: 100% 100%;
}
.cpn_section.benefits .ico.shoes{
    top: 3px;
    width: 19px;
    height: 16px;
    background: url(/images/adidas/company/ico_shoes.png) no-repeat;
    background-size: 100% 100%;
}
.cpn_section.benefits .ico.men{
    top: 3px;
    width: 16px;
    height: 18px;
    background: url(/images/adidas/company/ico_men.png) no-repeat;
    background-size: 100% 100%;
}
.cpn_section.benefits .program{
    padding:30px 0 0 0;
}
.cpn_section.benefits .program p.title{
    padding: 0 0 20px 0;
}
.cpn_section.benefits .program ul li{
    padding: 0 0 18px 0;
}
.cpn_section.benefits .program ul li:last-child{padding: 0;}
.cpn_section.benefits .program ul li strong{
    display: inline-block;
    padding: 0 0 5px 0;
    font: 500 1.2rem/1.2rem 'NotoSansKR';
}
.cpn_section.benefits .program ul li strong.eng{
    font: 1.2rem/1.2rem'adinenuPro-bold';
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.cpn_section.benefits .program ul li p{
    font: 400 1.1rem/1.8rem 'NotoSansKR','adinenuPro-bold';
    letter-spacing: 0px;
}
.cpn_section.process h3{padding: 45px 0 16px 0;font:600 26px 'NotoSansKR';}
.cpn_section.process ul li{
    position: relative;
    margin: 21px 0 0 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
}
.cpn_section.process ul li .step{
    width:30%;
    display: inline-block;
}
.cpn_section.process ul li p{
    font: 400 1.1rem/1.8rem 'NotoSansKR','adinenuPro-bold';
    letter-spacing: 0px;
}
.cpn_section.process ul li .step p.tle{
    display: inline-block;
    margin-left: 46px;
    vertical-align: top;
}
.cpn_section.process ul li strong{
    display: block;  
    font: 1.2rem/1.2rem'adinenuPro-bold';
}
.cpn_section.process ul li .step span{display: inline-block;position: absolute;left: 3px;top: 3px;}
.cpn_section.process ul li .step.step1 span{background: url(/images/adidas/company/ico_file.png) no-repeat;background-size: 100% 100%;width: 20px;height: 24px;}
.cpn_section.process ul li .step.step2 span{background: url(/images/adidas/company/ico_phone.png) no-repeat;background-size: 100% 100%;width: 25px;height: 24px;}
.cpn_section.process ul li .step.step3 span{background: url(/images/adidas/company/ico_chat.png) no-repeat;background-size: 100% 100%;width: 28px;height: 24px;}
.cpn_section.process ul li .step.step4 span{background: url(/images/adidas/company/ico_bording.png) no-repeat;background-size: 100% 100%;width: 25px;height: 24px;}
.cpn_section.process ul li>p{
    position: absolute;top:0;right:0;text-align: right;
}