#container {margin:0;padding:0;width:auto;}
#container * {letter-spacing: 0;}

.section_ar1 {padding:0;background:#1b1b1b url(http://image.adidas.co.kr/images/adidas/club/m_bg_section_ar1.gif) no-repeat right top;background-size:320px auto;font-family:'adihausregular','NotoSansKR';}
.section_ar1 .contain {margin:0;padding:0 0 22px 0;background:url(http://imagem.adidas.co.kr/images/adidas/club/m_bg_section_ar1_contain.png) no-repeat 19px 19px;background-size:57px auto;}
.section_ar1 .contain .title {margin:0;padding:95px 11px 0 11px;color:#fff;font:30px/30px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar1 .contain .tags {margin:0;padding:3px 11px 7px 11px;color:#ee265c;font:25px/25px 'adinenuPro-regular';text-transform: uppercase;font-weight:bold;}
.section_ar1 .contain p {vertical-align:top;margin:-3px 0 36px 0;padding:0 11px;color:#bbb;font:12px/16px 'adihausregular','NotoSansKR';font-weight:normal;word-break:keep-all;word-wrap:break-word;}
.section_ar1 .contain .btn_link_type1 {margin:0 11px 36px 11px;}

.section_ar2 {padding:0;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';}
.section_ar2 .contain {margin:0 auto;padding:0;}
.section_ar2 .contain .title {position:absolute;left:11px;top:27px;margin:0;padding:0;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar2 .contain .swiper-slide img {width:100%;height:auto;}

.section_ar3 {padding:0;background:#1b1b1b;font-family:'adihausregular','NotoSansKR'; border-top: 1px solid #5c5c5c;}
.section_ar3 .contain {position:relative;margin:0 auto;padding:0 11px;}
.section_ar3 .contain .title {margin:0;padding:51px 0 10px 0;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar3 .contain p {margin:0;padding:0;color:#bbb;font:12px/16px 'adihausregular','NotoSansKR';font-weight:normal;}
.section_ar3 .contain .box_infor_ruuners1 {margin-bottom:40px;}
.section_ar3 .contain .box_infor_ruuners2 {margin-bottom:30px;}
.section_ar3 .contain .box_infor_ruuners2 .title {margin:115px 0 10px 0;padding:0;color:#fff;font:14px/14px 'adinenuPro-bold';text-transform: uppercase;text-align:center;}
.section_ar3 .contain .box_infor_ruuners2 p {font:11px/17px 'NotoSansKRLight';color:#bbb;text-align:center;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item1 {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_section_ar3_1.png) no-repeat 50% 0;background-size:150px auto;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item2 {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_section_ar3_2.png) no-repeat 50% 0;background-size:150px auto;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item3 {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_section_ar3_3.png) no-repeat 50% 0;background-size:150px auto;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item4 {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_section_ar3_4.png) no-repeat 50% 0;background-size:150px auto;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-next, .section_ar3 .contain .box_infor_ruuners2 .swiper-button-prev {top:50%;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-next, .section_ar3 .contain .box_infor_ruuners2 .swiper-container-rtl .swiper-button-prev {right:11px;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-prev, .section_ar3 .contain .box_infor_ruuners2 .swiper-container-rtl .swiper-button-next {left:11px;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-pagination {left:-999999px;}
.section_ar3 .contain .box_infor_ruuners3 {padding:30px 0 40px 0;}
.section_ar3 .contain .box_infor_ruuners3 .text-type1 {margin:0 0 15px 0;color:#fff;font:12px/18px 'NotoSansKRLight';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 {margin-bottom:20px;overflow:hidden;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table {margin-bottom:-1px;width:100%;border-top:1px solid #5b5b5b;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table caption {display:none;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table th {padding:11px 0;color:#b3b3b3;text-align:center;font:11px/11px 'NotoSansKRLight';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table th:first-child {text-align-last: left; padding-left: 1rem;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td {padding:0;height:80px;vertical-align:middle;color:#fff;text-align:center;font:10px/10px 'NotoSansKRLight';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.line {height: 0; padding: 0; text-align: right; font-size: 0;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.line .td_line{display: inline-block; width: 80%; height: 1px; background: #666;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.level {text-align-last: left;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.level >img {display: inline-block; height: 100%;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.numevt {font:400 1rem 'AdihausDIN-Cond';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.benefit {width:auto; text-align: left;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.benefit .lacetag{font:400 1rem 'AdihausDIN-Cond'; color:#008675;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.benefit .list_type1 li{background: none; padding-left: 0;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td ul {padding:0;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td ul li {padding:2px 0 2px 7px;}

.section_ar4 {padding:0;background:#040002 url(http://imagem.adidas.co.kr/images/adidas/club/m_bg_section_ar4.jpg) no-repeat 50% top;background-size:100% auto;font-family:'adihausregular','NotoSansKR';}
.section_ar4 .contain {position:relative;margin:0 auto;padding:0 0 20px 0;}
.section_ar4 .contain .title {margin:0;padding:50px 11px 13px 11px;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar4 .contain .box_event_list {margin-bottom:27px;}
.section_ar4 .contain .box_event_list .box_event {position:relative;margin:0 0 5px 0;padding:0px 0;min-height:82px;border-top:1px solid #345558;border-bottom:1px solid #345558;background:rgba(0,129,113,.25);}
.section_ar4 .contain .box_event_list .box_event p {position:relative;margin:15px 0;padding:0 11px 0 125px;font:12px/18px 'NotoSansKRLight';color:#fff;}
.section_ar4 .contain .box_event_list .box_event p .state_offline {display:block;position:absolute;left:63px;top:0;margin:0;padding:0;width:52px;height:15px;text-align:center;line-height:15px;color:#fff;border:2px solid #008675;background:rgba(0,134,117,0.3);}
.section_ar4 .contain .box_event_list .box_event p .state_online {display:block;position:absolute;left:63px;top:0;margin:0;padding:0;width:52px;height:15px;text-align:center;line-height:15px;color:#fff;border:2px solid #ee265c;background:rgba(238,38,92,0.3);}
.section_ar4 .contain .box_event_list .box_event p .state_close {display:block;position:absolute;left:63px;top:0;margin:0;padding:0;width:52px;height:15px;text-align:center;line-height:15px;color:#777777;border:2px solid #777777;background:rgba(119,119,119,0.3);}
.section_ar4 .contain .box_event_list .box_event p.date {position:absolute;left:15px;top:15px;margin:0;padding:0;text-align:center;font:9px/9px 'adinenuPro';text-transform: uppercase;}
.section_ar4 .contain .box_event_list .box_event p.date span {display:block;margin:0 0 5px 0;padding:0;width:35px;height:35px;text-align:center;border-radius: 100%;background:#ee265c;font:18px/33px 'adinenuPro';text-transform: uppercase;}
.section_ar4 .contain .box_buttons {padding:0 11px 10px 11px;}

.section_ar5 {display: none; padding:0;background:#1b1b1b;font-family:'NotoSansKRLight';}
.section_ar5 .contain {position:relative;margin:0 auto;padding:0 11px 30px 11px;}
.section_ar5 .contain .title {margin:0;padding:50px 0 20px 0;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar5 .contain .box_list {margin:00;padding:0;}
.section_ar5 .contain .box_list .swiper-pagination {left:-999999px;}
.section_ar5 .contain .box_list .swiper-slide .box_photo {margin-bottom:35px;text-align:center;}
.section_ar5 .contain .box_list .swiper-slide .box_photo img {width:141px;height:141px;}
.section_ar5 .contain .box_list .swiper-slide h4 {margin-bottom:15px;color:#fff;text-align:center;font:13px/13px 'NotoSansKRLight';text-transform: uppercase;}
.section_ar5 .contain .box_list .swiper-slide h4 .position {display:block;margin:8px 0 2px 0;font:11px/11px 'adinenuPro-bold';}
.section_ar5 .contain .box_list .swiper-slide h4 .instagram_id {color:#3d6c94;font:11px/11px 'adinenuPro-bold';}
.section_ar5 .contain .box_list .swiper-slide p {margin:0 50px 25px 50px;text-align:center;font:11px/16px 'NotoSansKRLight';color:#bbb;word-break:keep-all}

.section_ar6 {padding:0;background:#1b1b1b;font-family:'NotoSansKRLight';border-top:1px solid #5b5b5b;}
.section_ar6 .contain {position:relative;margin:0 auto;padding:0 11px;}
.section_ar6 .contain .title {margin:0;padding:50px 0 5px 0;color:#fff;font:28px/28px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar6 .contain .tags {margin: 0 0 10px 0;padding:0;color:#ee265c;font:28px/28px 'adinenuPro-light';text-transform: uppercase;}
.section_ar6 .inner {height:auto;background:#fff;}
.section_ar6 .box_buttons {margin:0;padding:30px 11px 43px;}
.section_ar6 .box_inner {margin-bottom:20px}
.section_ar6 .box_inner .text1 {margin-bottom:8px;color: #bbb;font: 13px/14px 'NotoSansKRLight';text-align:center;}
.section_ar6 .box_inner .text1 span {font: 14px/14px 'adinenuPro-light'; letter-spacing: 0.1rem !important;}
.section_ar6 .box_inner .text2 {color: #bbb;font: 11px/16px 'NotoSansKRLight';text-align:center;}
.section_ar6 .ar6_slide_wrap .navigator {}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow {overflow: hidden;width: 29px;height: 29px;position: absolute;top: 222px; z-index: 1001;}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow.prev-button {left: 0;}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow.next-button {right: 0;}
.section_ar6 .ar6_slide_wrap .indicator {position: absolute;bottom: -20px;width: 950px;height: 5px;text-align: center;}
.section_ar6 .ar6_slide_wrap .indicator a {display: inline-block;width: 35px;height: 4px;border: 0;outline: 0;background: #444;font-size: 0;line-height: 0;margin: 0 2px;cursor: pointer;}
.section_ar6 .ar6_slide_wrap .indicator a.on {background: #fff;}
.section_ar6 .slider_ar6 {position: relative;padding: 1rem 1rem 0;margin: 0 auto;  background-size: 100% 100%;}
.section_ar6 .slider_ar6 .img_box {position: relative;overflow: hidden;@include css3(transition, all 0.5s);opacity: 1;}
.section_ar6 .slider_ar6 .img_box ul {position: relative;}
.section_ar6 .slider_ar6 .img_box ul li {position: relative;float: left;width: 80%;}
.section_ar6 .slider_ar6 .img_box ul li img {width: 100%;}
.section_ar6 .slider_ar6 .navigator .nav-arrow {overflow: hidden;width: 29px;height: 29px;position: absolute;top: 222px; z-index: 1001;}
.section_ar6 .slider_ar6 .navigator .nav-arrow.prev-button {left: 1rem;}
.section_ar6 .slider_ar6 .navigator .nav-arrow.next-button {right: 1rem;}
.section_ar6 .slider_ar6 .indicator {text-align: center;padding-top: 1rem;}
.section_ar6 .slider_ar6 .indicator li {display: inline-block;}
.section_ar6 .slider_ar6 .indicator li a {width: 35px;height: 5px;display: block;background-color: #444;margin: 0 2px;}
.section_ar6 .slider_ar6 .indicator li a.on {background-color: #fff;}


.section_ar7{padding:0;background:#1b1b1b;font-family:'NotoSansKRLight';border-top:1px solid #5b5b5b;}
.section_ar7 .contain {position:relative;margin:0 auto;padding:0 11px 50px 11px;}
.section_ar7 .contain .title {margin:0 0 25px 0;padding:50px 0 0 0;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar7 .contain .text_type1 {margin:0 0 5px 0;padding:0;color:#fff;font:12px/18px 'NotoSansKRLight';font-weight:normal;}
.section_ar7 .contain .list_type1 {margin-bottom:30px;padding:0 0 250px 0;background:url(http://image.adidas.co.kr/images/adidas/club/bg_section_ar7.png) no-repeat 50% bottom;background-size:183px auto;}
.section_ar7 .contain .list_type1 li {padding-left:0;color:#bbb;font:12px/18px 'NotoSansKRLight';background:none;}

.section_ar8 {display: none; padding:0;background:#1b1b1b url(http://image.adidas.co.kr/images/adidas/club/bg_section_ar8.jpg) no-repeat 60% top;background-size:auto 100%;font-family:'NotoSansKRLight';}
.section_ar8 .contain {position:relative;margin:0 auto;padding:0 11px 20px 11px;}
.section_ar8 .contain .title {margin:0;padding:30px 0 0 0;text-align:left;color:#fff;font:22px/22px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar8 .contain .text_type1 {margin:0 0 10px 0;padding:0;color:#fff;font:12px/18px 'NotoSansKRLight';font-weight:normal;}
.section_ar8 .contain .text_type1 strong {color:#04e3c4;font-weight:normal;}

.section_ar9 {padding:0;background:#1b1b1b;font-family:'NotoSansKRLight';}
.section_ar9 .contain {position:relative;margin:0 auto;padding:0 0 40px 0;}
.section_ar9 .contain .title {margin:0;padding:0 0 15px 0;text-align:center;color:#fff;font:20px/20px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar9 .contain .box_snsbuttons {margin:0 11px;overflow:hidden; text-align: center;}
.section_ar9 .contain .box_snsbuttons span {display: inline-block; /*display:block;float:left;*/width:50%;}
.section_ar9 .contain .box_snsbuttons span a {display:block;width:100%;height:36px;overflow:hidden;text-indent:-999px;}
.section_ar9 .contain .box_snsbuttons .btn_facebook {background:#3b5a97 url(http://image.adidas.co.kr/images/adidas/club/img_sns_facebook.png) no-repeat 50%;background-size:9px auto;}
.section_ar9 .contain .box_snsbuttons .btn_instagram {background:#313131 url(http://image.adidas.co.kr/images/adidas/club/img_sns_instagram.png) no-repeat 50%;background-size:18px auto;}

.section_ar10 {padding:0;background:#1b1b1b;font-family:'NotoSansKRLight';border-top:1px solid #5b5b5b;}
.section_ar10 .contain {position:relative;margin:0 auto;padding:50px 11px 40px 11px;}
.section_ar10 .contain .title {margin:0 0 15px 0;padding:0;text-align:center;color:#fff;font:20px/20px 'adinenuPro-bold';text-transform: uppercase;}
.section_ar10 .li_dot{padding: 0 11px 20px;}
.section_ar10 .li_dot li{margin-bottom: 7px;line-height: 1.45rem;color: #b9b9b9;}
.section_ar10 .li_dot li a{position: relative;color: #f52060;}
.section_ar10 .li_dot li a::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #f52060;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.section_ar10 .li_dot li::before{width: 3px;height: 3px;background: #b6b6b6;}

.list_type1 li {padding:5px 0 5px 10px;text-align:left;background:url(http://image.adidas.co.kr/images/adidas/club/btn_type2.png) no-repeat left 8px;font:10px/12px 'NotoSansKRLight';}
.text_type1 {margin:0;padding:0;}
.btn_link_type1 {display:block;width:auto;}
.btn_link_type1 a {display:block;padding:0;width:100%;text-align:center;height:36px;font:12px/36px 'NotoSansKRLight';text-transform: uppercase;color:#fff;background:#ee265c;}
.btn_link_type1 a span.icon_button {display:inline-block;margin:0 0 -2px 5px;width:13px;height:13px;background:url(http://image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;background-size:13px auto;}
.btn_link_type1 .font {font:12px/12px 'adinenuPro-bold';}
.btn_link_type2 {display:block;margin:4px 0;width:140px;}
.btn_link_type2 a {display:block;padding:0;min-width:140px;text-align:center;height:30px;font:12px/30px 'NotoSansKR';text-transform: uppercase;color:#000;background:#04e3c6;transition:background-color 250ms ease-in;}
.btn_link_type2 a:hover {background:#5b5b5b;}
.btn_link_type2 a img {margin-top:-2px;vertical-align:middle;}
.btn_link_type3 {display:block;margin:4px 0;width:140px;}
.btn_link_type3 a {display:block;padding:0;min-width:140px;text-align:center;height:30px;font:12px/30px 'NotoSansKR';text-transform: uppercase;color:#000;background:#fff;transition:background-color 250ms ease-in;}
.btn_link_type3 a:hover {background:#5b5b5b;}
.btn_link_type4 {display:block;}
.btn_link_type4 a {display:block;padding:0;text-align:center;height:36px;font:12px/36px 'NotoSansKRLight';text-transform: uppercase;color:#fff;background:#3d6c94;transition:background-color 250ms ease-in;}
.btn_link_type4 a:hover {background:#5b5b5b;}
.btn_viewevents {display:block;width:100%;}
.btn_viewevents a {display:block;position:relative;margin:0;padding:0;width:auto;height:85px;text-indent:25px;font:22px/85px 'adinenuPro-bold';color:#fff;background:url(http://image.adidas.co.kr/images/adidas/club/m_btn_viewevent.png) no-repeat 50%;background-size: 100% auto;}
.btn_viewevents a span.icon_button {display:block;position:absolute;right:27px;top:35px;margin:0;width:13px;height:13px;background:url(http://image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;background-size: 13px auto;}



.notice dt {margin:0 0 3px 0;font:10px/10px 'NotoSansKRLight';color:#b3b3b3;}
.notice dd {padding:1px 0 1px 5px;font:10px/14px 'NotoSansKRLight';color:#b3b3b3;background:url(http://image.adidas.co.kr/images/adidas/club/btn_type3.png) no-repeat left 4px;background-size:3px auto;}

.box_buttons {text-align:center;}

.swiper-button-next, .swiper-button-prev {width:13px;height:21px;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_roll_right.png) no-repeat 50%;background-size:13px auto;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background:url(http://image.adidas.co.kr/images/adidas/club/m_img_roll_left.png) no-repeat 50%;background-size:13px auto;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:10px;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 1px;}
.swiper-pagination-bullet {width:5px;height:5px;border:1px solid #fff;background:none;opacity:1;}
.swiper-pagination-bullet-active {background:#fff;}


/* ���̾� �˾� */
.layer_programguide1 {position:fixed;left:50%;top:20px;z-index:999;margin:0 0 0 -134px;width:269px;border:1px solid #5c5c5c;background:#000;}
.layer_programguide1 .contain {padding:17px 16px;}
.layer_programguide1 h3.title {padding:116px 0 8px 0;text-align:center;font-size:12px;color:#bbb;background:url(http://image.adidas.co.kr/images/adidas/club/m_img_title_programguide1.png) no-repeat 50% top;background-size:99px auto;}
.layer_programguide1 .box_description {padding:10px;margin-bottom:20px;height:91px;font:12px/16px 'NotoSansKR-light';color:#bbb;overflow:hidden;overflow-y:scroll;background:#1b1b1b;border:1px solid #5c5c5c;}
.layer_programguide1 .box_agreement {margin-bottom:12px;text-align:center;}
.layer_programguide1 .box_agreement label {display:inline-block;position:relative;padding:0 0 0 25px;overflow:hidden;line-height:20px;font-size:12px;color:#fff;background:url(http://image.adidas.co.kr/images/adidas/club/img_checkbox.png) no-repeat left top;background-size:20px auto;}
.layer_programguide1 .box_agreement label.checked {background:url(http://image.adidas.co.kr/images/adidas/club/img_checkbox_checked.png) no-repeat left top;background-size:20px auto;}
.layer_programguide1 .box_agreement label input[type='checkbox'] {position:absolute;left:-9999999999px;top:0;}
.layer_programguide1 .box_btn {text-align:center;}
.layer_programguide1 .btn_close_layer {display:block;position:absolute;right:13px;top:15px;background:#ee255c url(http://image.adidas.co.kr/images/adidas/club/m_btn_closelayer.png) no-repeat 50%;background-size:15px auto;}
.layer_programguide1 .btn_close_layer button {display:block;width:26px;height:26px;overflow:hidden;text-indent:-9999px;background:none;border:none;cursor:pointer;}

/* �˷� */
.layer_alert1 {display: none;position:fixed;left:0;top:50px;z-index:999;margin:0;width:100%;background:#fff;}
.layer_alert1 .contain {padding:0 0 15px 0;}
.layer_alert1 p {padding:80px 0 28px 0;text-align:center;color:#000;font:13px/16px 'NotoSansKR-light';background:url(http://image.adidas.co.kr/images/adidas/club/m_img_alert1.png) no-repeat 50% top;background-size:auto 47px;}
.layer_alert1 .box_btn {margin:0 11px;text-align:center;}
.layer_alert1 .btn_link_type5 {display:block;margin:10px 0;}
.layer_alert1 .btn_link_type5 a {display:block;padding:0;text-align:center;height:37px;font:12px/37px 'NotoSansKR-light';text-transform: uppercase;color:#fff;letter-spacing:-0.025em;background:#027dbf;}
.layer_alert1 .btn_link_type5 a span.icon_button {display:inline-block;margin:0 0 -2px 5px;width:13px;height:13px;background:url(http://image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;background-size:13px auto;}
.layer_alert1 .btn_close_layer {display:block;position:absolute;right:17px;top:11px;background:url(http://image.adidas.co.kr/images/adidas/club/btn_closealert.png) no-repeat 50%;}
.layer_alert1 .btn_close_layer button {display:block;width:24px;height:24px;overflow:hidden;text-indent:-9999px;background:none;border:none;cursor:pointer;}
