@import "./mobile/MO/reebok/css/scss/about.scss";

.winter{

    //common
    .btn{
        display: inline-block;
        background: #000;
        text-align: center;
        a{
            position: relative;
            display: block;
            font: 500 1rem/40px 'NotoSansKR';
            color: #fff;
            /* padding: 0 3rem; */
            letter-spacing: .1rem;
            width: 131px;
            span{
                display: inline-block;
                width: 20px;
                height: 9px;
                background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 18px;
            }
            &:after{
                display: inline-block;
                content: '';
                border: 1px solid #000;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                transform: translate(3px, 3px);
            }
        }
    }
    img{
        width:100%;
    }

    .main{
        .main_videos{
            position: relative;
            overflow: hidden;
            text-align: center;
            padding-bottom: 83%;
            video{
                display: inline-block;
                position: absolute;
                top: 0;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
            }
            .play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 2;
                width: 15%;
                img{
                    width:75%;
                }
            }
        }
        .main_body{
            position:relative;
            a{
                top: 58%;
                left: 35%;
                width: 30%;
                height: 18%;
            }
        }
    }

    .main,.section{
        position:relative;
        a{
            position:absolute;
            text-indent: -9999px;
        }
    }
    .s01{
        top: 16%;
        left: 9%;
        width: 30%;
        height: 5%;
    }
    .s02{
        top: 61%;
        left: 23%;
        width: 31%;
        height: 3.5%;
    }
    .s03{
        top: 42%;
        left: 4%;
        width: 30%;
        height: 5%;
    }
    .s04{
        top: 43%;
        left: 67%;
        width: 31%;
        height: 3.5%;    
    }
}


// winter END
