@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

* {margin:0;padding:0;line-height:100%;}
img {display:block;margin:0 auto;padding:0;width:100%;}
.contain-inner {}

.contain-section2 .contain-inner {position:relative;}
.contain-section2 .contain-inner .btn-link1 {display:block;position:absolute;left:18.6%;top:42.7%;right:18.6%;bottom:51.5%;}
.contain-section2 .contain-inner .btn-link1 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}

.contain-section3 .contain-inner {position:relative;}
.contain-section3 .contain-inner .btn-link1 {display:block;position:absolute;left:18.6%;top:82.9%;right:18.6%;bottom:8.0%;}
.contain-section3 .contain-inner .btn-link1 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}

.contain-section4 {}
.contain-section4 .contain-inner {position:relative;}
.contain-section4 .contain-inner .btn-link1 {display:block;position:absolute;left: 10.2%;top: 8.5%;right: 54.0%;bottom: 52.7%;}
.contain-section4 .contain-inner .btn-link1 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}
.contain-section4 .contain-inner .btn-link2 {display:block;position:absolute;left: 52.0%;top: 8.5%;right: 11.2%;bottom: 52.7%;}
.contain-section4 .contain-inner .btn-link2 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}
.contain-section4 .contain-inner .btn-link3 {display:block;position:absolute;left: 10.2%;top: 52.5%;right: 54.0%;bottom: 8.8%;}
.contain-section4 .contain-inner .btn-link3 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}

.contain-section5 .contain-inner {position:relative;}
.contain-section5 .contain-inner .btn-link1 {display:block;position:absolute;left: 5.7%;top: 72.5%;right: 68.0%;bottom: 18.2%;}
.contain-section5 .contain-inner .btn-link1 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}
.contain-section5 .contain-inner .btn-link2 {display:block;position:absolute;left: 32.6%;top: 72.5%;right: 45.3%;bottom: 18.2%;}
.contain-section5 .contain-inner .btn-link2 a {display:block;width:100%;height:100%;text-indent:-10000px;overflow:hidden;}


	.contain-popup {display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.7);}
	.contain-popup.on {display:block;}
	.contain-popup .inner-popup {position:fixed;width:90%;height:50%;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;}
	.contain-popup .btn-close-layer {display:block;position:absolute;right:0px;top:-50px;width:50px;height:50px;background:url(/images/adidas/2019/event/familymonth/img_close.png) no-repeat 50%;background-size:30px 30px;}
	.contain-popup .btn-close-layer button {display:block;width:50px;height:50px;border:none;background:none;text-indent:-10000px;overflow:hidden;cursor:pointer;}
	.contain-popup .popup-header {padding: 15px 30px;background:#000;}
	.contain-popup .popup-header h2 {color: #fff;font-size: 14px;text-align: center;font-weight: 400;}
	.contain-popup .popup-contents {position:absolute;left:0;right:0;top:44px;bottom:0;padding:15px;overflow-y: scroll;overflow-x: hidden;background:#fff;box-sizing: border-box;}
	.contain-popup .popup-contents span {display:inline-block;width: 62px;height: 34px;font: 12px 'dinpro bold';color: #000;text-transform: uppercase;text-align:center;}

