@import "./app/MO/reebok/css/scss/about.scss";

.gigi_hadid{
    .video_visual{
        h2{
            margin-bottom: 1.5rem;
            text-align: center;
            img{
                width: 70%;
            }
        }

        .desc{
            margin-bottom: 1.5rem;
            font:500 1.7rem/1.3rem 'dinpro cond';
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        .main_sub{
            text-align: center;
            padding:0 9rem;
            img{
                width: 80%;
            }
        }

        .video-btn{
            margin: 0 auto;
        }
    }

    .lookbook{
        width: 100%;
        background: #252525;
        padding-top: 3.5rem;
        text-align: center;

        h3{
            margin-bottom: 1.5rem;
            >*{
                font:4rem/4.2rem 'QStencil';
                color: #fff;
                text-align: center;
            }

            .colab{
                @extend .close;
                width: 3rem;
                height: 3rem;
                position: relative;
                margin: 0 auto 0.8rem;

                &:before,
                &:after{
                    width: 100%;
                    background: #4f4f4f;
                }
            }
        }

        >.desc{
            color: #fff;
            font:1.4rem/1.9rem 'NotoSansKRLight';
            text-align: center;
        }

        >.hash{
            display: inline-block;
            padding:2rem 4rem;
            margin-top: 2rem;
            color: #fff;
            font:500 1.6rem/1.9rem 'dinpro cond';
            text-align: center;
            letter-spacing: -1px;
            border:1px solid #ddd;
        }

        .slider_wrap{
            overflow: hidden;
            margin-top:2.5rem;
            .box{
                width: 100%;
                img{
                    width: 100%;
                }
            }

            .owl-carousel{
                width: 100%;
                position: relative;
            }
            .owl-stage-outer{
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            .owl-stage{
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            .owl-item{
                float: left;
                @include box-sizing(border-box);
            }
            .owl-item .box{
                width: 100%;
                img{
                    width: 100%;
                }
            }

            .owl-controls{
                padding:0 1.5rem;
            }

            .owl-dots{
                text-align: center;
                padding: 1rem 0 2rem;
                border-bottom: 1px solid #515151;
                @extend .num_paging;

                .active{
                    span{
                        color: #000;
                    }
                }

                .owl-dot{
                    width: 26px;
                    height: 26px;
                    border-radius: 26px;
                    margin: 0 4px;
                    display: inline-block;
                    border: 1px solid #fff;
                    box-sizing:border-box;
                    color: #fff;
                    transition-duration: 0s;
                    -webkit-transition-duration: 0s;

                    span{
                        font:16px/26px 'reefont-condensed';
                    }

                    &:nth-child(1){
                        span{
                            &:before{
                                content:'1';
                            }
                        }
                    }

                    &:nth-child(2){
                        span{
                            &:before{
                                content:'2';
                            }
                        }
                    }

                    &:nth-child(3){
                        span{
                            &:before{
                                content:'3';
                            }
                        }
                    }

                    &:nth-child(4){
                        span{
                            &:before{
                                content:'4';
                            }
                        }
                    }

                    &:nth-child(5){
                        span{
                            &:before{
                                content:'5';
                            }
                        }
                    }

                    &:nth-child(6){
                        span{
                            &:before{
                                content:'6';
                            }
                        }
                    }

                    &:nth-child(7){
                        span{
                            &:before{
                                content:'7';
                            }
                        }
                    }
                }

                .active{
                    background: #fff;
                    border-color: #fff;
                }
            }
        }
    }

    .about_gigi_hadid{
        background: #252525;

        h3{
            margin-bottom: 2rem;
            padding: 3.5rem 0px 1.8rem;
            color: #fff;
            font:3.4rem/3.4rem 'NotoSansKRBold';
            text-align: center;

            p{
                margin-bottom: 0.5rem;
                font:1.8rem/1.8rem 'NotoSansKRLight';
            }
        }

        .contents{
            .quotes{
                opacity: 0;
                padding: 4rem 0px 5rem;
                color: #fff;
                font:1.5rem/2.4rem 'NotoSansKRRegular';
                text-align: center;

                .ico{
                    text-align: center;

                    div{
                        margin-bottom: 1.2rem;
                        position: relative;
                        display: inline-block;
                        width: 0.5rem;
                        height: 1.2rem;
                        background: #fff;
                        margin: 0 0.1rem 1.2rem;

                        &:before{
                            @extend .pseudo-element;
                            position: absolute;
                            top: -0.5rem;
                            left: 0;
                            width: 0;
                            height: 0;
                            border-top:0.5rem solid transparent;
                            border-bottom:0.5rem solid transparent;
                            border-left:0.5rem solid #252525;
                        }
                    }

                    &.end{
                        div{
                            margin-top: 1.2rem;
                            margin-bottom: 0;
                            &:before{
                                top: auto;
                                bottom: -0.5rem;
                                border-left-width:0;
                                border-right:0.5rem solid #252525;
                            }
                        }
                    }
                }

                &.gray{
                    .ico{
                        div{
                            &:before{
                                border-left-color:#6a6969 !important;
                            }
                        }

                        &.end{
                            div{
                                &:before{
                                    border-right-color:#6a6969 !important;
                                }
                            }
                        }
                    }
                }
            }

            .box{
                position: relative;
                >p{
                    position: absolute;
                    top: 3rem;
                    left: 1.5rem;
                    color: #fff;
                    font:1.3rem/1.9rem 'NotoSansKRRegular';
                    opacity: 0;
                    transform:translate3d(-15px,0,0);
                    -webkit-transform:translate3d(-15px,0,0);

                    strong{
                        margin-top: 2rem;
                        // display: block;
                        font:1.3rem/2.6rem 'NotoSansKR';
                        color: #f4a099;
                    }
                }
                .img{
                    position: relative;
                    text-align: right;

                    &:before{
                        @extend .pseudo-element;
                            width: 100%;
                            height: 81%;
                            background: #000;
                            position: absolute;
                            top: -1.5rem;
                            left: -63%;
                            transform: skew(-8.4deg) translate3d(-15px,0,0);
                            -webkit-transform: skew(-8.4deg) translate3d(-15px,0,0);
                            background: #44518c;
                            opacity: 0;
                    }

                    img{
                        width: 70%;
                        opacity: 0;
                    }

                }

                &.box2{
                    >p{
                        padding: 2.5rem 0;
                        position: relative;
                        text-align: center;
                        top: 0;
                        left: 0;
                    }

                    .img{
                        text-align: left;
                        &:before{
                            height: 100%;
                            top: -2.5rem;
                            left: auto;
                            right: -70%;
                            transform: skew(-11deg) translate3d(15px,0,0);
                            -webkit-transform: skew(-11deg) translate3d(15px,0,0);
                            background: #931123;
                        }
                    }

                }
            }

            .active{
                opacity: 1;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;

                >p{
                    opacity: 1;
                    transform:translate3d(0,0,0);
                    -webkit-transform:translate3d(0,0,0);
                    transition:all 0.3s ease 0.3s;
                    -webkit-transition:all 0.3s ease 0.3s;
                }

                .img{
                    &:before{
                        opacity: 1;
                        transform:skew(-8.4deg) translate3d(0,0,0);
                        -webkit-transform:skew(-8.4deg) translate3d(0,0,0);
                        transition:all 0.3s ease 0.15s;
                        -webkit-transition:all 0.3s ease 0.15s;
                    }

                    img{
                        opacity: 1;
                        transition:opacity 0.3s;
                        -webkit-transition:opacity 0.3s;
                    }
                }

                &.box2{
                    .img{
                        &:before{
                            opacity: 1;
                            transform:skew(-11deg) translate3d(0,0,0);
                            -webkit-transform:skew(-11deg) translate3d(0,0,0);
                            transition:all 0.3s ease 1.15s;
                            -webkit-transition:all 0.3s ease 0.15s;
                        }
                    }
                }
            }

        }
    }

    .collections{
        padding: 0 1.5rem 1.5rem;
        background: #5c5c5c url('/images/reebok/about/gigi_hadid/bg_collection.jpg') 0 0 repeat;
        background-size: 100% auto;

        h3{
            padding: 3.5rem 0px 1.8rem;
            color: #fff;
            font:500 2.4rem 'dinpro cond';
            text-align: center;
            text-transform: uppercase;
        }

        .num_paging{
            padding: 1rem 0px;

            .on{
                background: #fff;
                color: #000;
                border-color: #fff;
            }
        }

        .collection_cut{
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .prodlist_wrap{
            position: relative;

            .prodlist{
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                opacity: 0;
                transition:opacity 0.3s;
                -webkit-transition:opacity 0.3s;
                z-index: 1;

                .tit{
                    height: 1.4rem;
                    overflow: hidden;

                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space:normal;
                    -webkit-line-clamp:1;
                    -webkit-box-orient: vertical;
                }
            }

            .active{
                opacity: 1;
                z-index: 2;
            }
            .fake{
                position: relative;
                opacity: 0;
                visibility: hidden;
            }

        }
    }


}
