@import "./mobile/MO/reebok/css/scss/about.scss";

#contents{
    img{
        vertical-align: middle;
    }
}
//common
html,body{
    // height:100%;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
.btn{
	display: inline-block;
	background: #000;
	text-align: center;
	a{
		position: relative;
		display: block;
		font: 500 1.1rem/42px 'NotoSansKR';
		color: #fff;
		letter-spacing: .1rem;
		width: 125px;
		span{
			display: inline-block;
			width: 20px;
			height: 9px;
			background: url(/images/reebok/2019/event/myt/icons_arrow_w.png) no-repeat;
			background-size: 100% 100%;
			margin-left: 18px;
		}
		&:after{
			display: inline-block;
			content: '';
			border: 1px solid #000;
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			transform: translate(3px, 3px);
		}
	}
}
.rel{
	position: relative;
}
img{
	width:100%;
}
.tomandjerry{
	.main__wrapper{
		.main__wrapper__img{	
			padding: 1rem 1rem 0;	 
			img{
				width: 100%;
				display: block;
			}
		}		
	}

	.aside__wrapper{
		text-align: center;
		padding: 2.5rem 0 3rem 0;
		h3{
			font: 700 24px/ 22px 'NotoSansKR';
			color:#000;
			text-align: center;
			letter-spacing: 0;
		}
		p{
			font: 400 13px/ 20px 'NotoSansKR';
			color:#000;
			text-align: center;
			letter-spacing: 0;
			&:nth-child(2){
				margin:1rem 0 0 0;
			}
		}
		.btn{
			margin: 1.8rem 0 0 0;
		}
	}
	.video__wrapper{
		position: relative;
		margin: 1rem 1rem 0;
		text-align: center;
		border: 7px solid #000;
		video {
			display: block;
			width: 100%;			
		}

		.vid_box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
			z-index: 5;
			h2 {
				text-align: center; 
				img {
					display: inline-block;
					width: 100%;
				}
			}

			>a {
				margin-top: 1rem;
				display: inline-block;
				width: 3rem;

				img {
					display: block;
					width: 100%;
				}
			}
		}
	}

	.cont__wrapper {
			background: url('/images/reebok/2020/event/tomandjerry/slide01_bg.jpg') 0 0 no-repeat;
			background-size: 100% 100%;
			text-align: center;			
			padding: 3rem 0;
			ul {
				position: relative;
				height: auto;
				top: 0;
				z-index: 9;
				white-space: nowrap;
				overflow-x: auto;
				overflow-y: hidden;
				width: 100%;
				li {
					position: relative;
					display: inline-block;
					width: 320px;
					margin-right: 1.5rem;
					vertical-align: top;
					img {
						display: block;
						width: 100%;
					}					
				}
			}
		}

		.cont02__wrapper {		
			position: relative;	
			text-align: center;			
			padding: 31% 0 0;
			.bg{
				position: absolute;
				top:0;
				>img{
					width: 100%;
					display: block;
				} 
			}
			ul {
				position: relative;
				height: auto;
				top: 0;
				z-index: 9;
				white-space: nowrap;
				overflow-x: auto;
				overflow-y: hidden;
				width: 100%;			
				li {					
					position: relative;
					display: inline-block;
					width: 75%;
					vertical-align: top;
					padding-bottom: 53%;
					textarea:focus {
					outline: none;
					}
					button:focus {
					outline: none;
					}
					input:focus {
					outline: none;
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						opacity: 0;						
						&.on{
							opacity: 1;
						}
					}					
				}
			}
			.btn{
				position: absolute;
				bottom: -9%;
				left: 50%;
				transform: translateX(-50%);
			}
		}

	
	.btm__wrapper{
		margin-top: 20%;
		.btm__wrapper__img{					 
			img{
				width: 100%;
				display: block;
			}
		}		
	}
}

// electro
