@import "./app/MO/reebok/css/scss/about.scss";

.heritage{
    .video_visual{
        h2{
            margin-bottom:1.5rem;
            width:inherit;
            height: inherit;
            text-indent: 0;
            background:none;
            text-align: center;
            color:#fff;
            font:5rem/5.3rem 'QStencil';
        }
        .cover{
            h2{
                img{
                    width: 90%;
                }
            }
        }
        .desc{
            margin-bottom:1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 3px;
            text-transform: uppercase;
            font:300 1.7rem/1.3rem 'dinpro cond';
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKRLight','Nanum Gothic';
        }
        .video-btn{
            margin:0 auto;
        }
    }
    .lookbook{
        width: 100%;
        padding: 3.5rem 0 0 0;
        background: url('/images/reebok/about/heritage/pack_bg.png') 0 0 no-repeat;
        background-size:cover;
        text-align: center;
        h3{
            display: inline-block;
            margin:0 auto;
            padding:0 2rem;
            text-align: center;
            color:#000;
            font:4rem/4.2rem 'QStencil';
            // border-top:2px solid #000;
            // border-bottom:2px solid #000;
            img{
                width: 100%
            }
        }
        .desc{
            padding: 1.5rem 0 1.5rem;
            color:#000;
            text-align: center;
            font: 1.3rem 'NotoSansKRLight';
        }
        .button_area{
            margin-bottom: 8%;
            .button{
                padding:1rem 3.5rem;
                display: inline-block;
                font: 500 1.3rem 'dinpro cond','NotoSansKRRegular';
                color:#866432;
                border: 1px solid #866432;
                background:none;
            }
        }
        .packs{
            position: relative;
            margin:0 5%;
            padding:0 0 4rem 0;
            .item{
                position: relative;
                margin-bottom: 4%;
                z-index: 800;
                .item_inner{
                    padding:2rem 2rem 2rem 1.2rem;
                    margin-bottom: 1rem;
                    background: #fff;
                    .img{
                        float: left;
                        width:50%;
                        img{
                            width: 90%;
                            padding-top: 1.2rem;
                        }
                    }
                    .desc{
                        float:right;
                        width:47%;
                        padding-left: 3%;
                        text-align:left;
                        .tle{
                            font:600 1rem/1.8rem 'dinpro cond','NotoSansKRRegular';
                            color:#7f7979;
                            text-transform: uppercase;
                            img{

                            }
                        }
                        .tit{
                            font:600 2rem/3rem 'dinpro cond';
                            color:#000;
                            text-transform: uppercase;
                            letter-spacing: -0.1px;
                            img{
                                width: 100%
                            }
                        }
                        .detail{
                            // padding-top: 15px;
                            font:600 1.3rem/1.8rem  'NotoSansKRMedium','Nanum Gothic';
                            color:#866432;
                            letter-spacing: -1px;
                        }
                        .detail.icons:after{
                            display: inline-block;
                            padding-left:6px;
                            height: 35px;
                            line-height: 38px;
                        }
                    }
                }
            }
            .txt{
                position: absolute;
                bottom: 0px;
                left:0;
                color:#000;
                font:100 4.5rem/2rem 'dinpro cond','NotoSansKRRegular';
                opacity: 0.2;
                @media screen and (max-width: $break-small) {
                    font-size: 5.5rem
                }
            }
            .bg_bottom{
                position: absolute;
                bottom:0px;
                right:-182px;
                opacity: 0.3;
                z-index: 10;
                img{
                    width: 36%;
                }
            }
        }
    }
    .gallery{
        background: url('/images/reebok/about/heritage/gallery_bg.png') 50% no-repeat;
        background-size:cover;
        h3{
            padding:3.5rem 0 1rem;
            color:#fff;
            text-align: center;
            font:300 3rem/3.5rem 'dinpro cond','NotoSansKRRegular';
            text-transform: uppercase;
        }
        .slider_wrap{
            overflow: hidden;
            .box{
                width: 100%;
                img{
                    width: 100%;
                }
            }

            .owl-carousel{
                width: 100%;
                position: relative;
            }
            .owl-stage-outer{
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            .owl-stage{
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            .owl-item{
                float: left;
                @include box-sizing(border-box);
            }
            .owl-item .box{
                width: 100%;
                img{
                    width: 100%;
                }
            }

            .owl-controls{
                padding:0 1.5rem;
            }

            .owl-dots{
                text-align: center;
                padding: 1rem 0 2rem;
                // border-bottom: 1px solid #515151;
                @extend .num_paging;

                .active{
                    span{
                        color: #000;
                    }
                }

                .owl-dot{
                    width: 26px;
                    height: 26px;
                    border-radius: 26px;
                    margin: 0 4px;
                    display: inline-block;
                    border: 1px solid #fff;
                    box-sizing:border-box;
                    color: #fff;
                    transition-duration: 0s;
                    -webkit-transition-duration: 0s;

                    span{
                        font:16px/26px 'reefont-condensed';
                    }

                    &:nth-child(1){
                        span{
                            &:before{
                                content:'1';
                            }
                        }
                    }

                    &:nth-child(2){
                        span{
                            &:before{
                                content:'2';
                            }
                        }
                    }

                    &:nth-child(3){
                        span{
                            &:before{
                                content:'3';
                            }
                        }
                    }

                    &:nth-child(4){
                        span{
                            &:before{
                                content:'4';
                            }
                        }
                    }

                    &:nth-child(5){
                        span{
                            &:before{
                                content:'5';
                            }
                        }
                    }

                    &:nth-child(6){
                        span{
                            &:before{
                                content:'6';
                            }
                        }
                    }

                    &:nth-child(7){
                        span{
                            &:before{
                                content:'7';
                            }
                        }
                    }
                }

                .active{
                    background: #fff;
                    border-color: #fff;
                }
            }
        }
        .list_btn{
            background: transparent;
            a{
                border:1px solid #cfcfcf;
                color:#fff;
            }
        }

    }
}
//heritage
