@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";

#zx_lego {
  position: relative;
  overflow: hidden;

  .main{
    .main_wrap{
      >img{
        width:100%;
      }
    }
  }

  .btn_default {
    margin-top: 0;
    >a{
      // background:none;
      // text-align:center;
      // margin-right:0;
      // padding:0 4rem;
    }
  }

  .section {
    position: relative;
    >img{
      width:100%;
    }
  }

  .cont1{
    .cont1_wrap{
      position: relative;
      background:url('/images/adidas/2021/event/azx/0507/cont1_img.jpg')no-repeat;
      background-size:100% 100%;
      .txt{
        text-align:center;
        padding:22rem 0 1.2rem 0;
        h1{
          >img{
            width:62%;
          }
        }
        p{
          padding:1.6rem 0 2rem 0;
          font: 500 1.1rem/1.5rem "NotoSansKR";
          letter-spacing:0.5px;
          color:#111;
        }
      }
    }
  }

  .cont2{
    .video_wrap{
      position: relative;
      >img{
        width:100%;
      }
      .video_btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        button {
          background: url("/images/adidas/2021/event/azx/0507/video_btn.png") no-repeat;
          background-size: 45%;
          background-position:center;
          width: 67px;
          height: 75px;
          border: 0;
        }
      }   
    }
  }

  .cont3{
    .cont3_list{
      position:relative;
      padding:0 1.7rem;
      >img{
        width:100%;
      }
        .cont3_btn{
          position: absolute;
          left: 50%;
          top: 88%;
          transform: translate(-50%, -50%);            
        }
     }
  }

  .cont5{
    text-align:center;
    padding:1rem 0 2.5rem 0;
    .btn_default{
      margin-top:2.5rem;
      text-align: center;
    }
  }
  .cont6{
    padding-bottom:2.5rem;
  }
}
