@import "./mobile/css/adidas/scss/common/mixin.scss";
@import "./mobile/css/adidas/scss/common/common.scss";
// html,body{
// 	height:100%;
// }
.ins-preview-wrapper {
  display: none !important;
}
.not_scroll {
  overflow: hidden;
}
.clearfix{
  display:block;
  clear:both;
  content: "";
}
#members {
  .all_cont{
    position: relative;
    >img{
      width:100%;
    }
  }
  .cont2{
    .txt{
      color:#111;
      text-align:center;
      padding:2.6rem 0 2.7rem 0;
      h1{
        >img{
          width:48%;
        }
      }
      p{
        padding-top:2rem;
        font:400 1.1rem/1.3rem 'NotoSansKR';
        letter-spacing:1.5px;
        >span{
          padding:0.77rem 0;
          display:block;
        }
      }
    }
  }
  .cont3{
    .cont3_bg{
      background:#88c9c3;
      text-align: center;
      padding:1.3rem 2.8rem 1.9rem 2.8rem;
      pointer-events: none;
      h2{
        >img{
          width:78%;
        }
      }
      .cont3_list{
        .cont3_ra{
          h3{
            font:600 1.2rem/1.5rem 'NotoSansKR';
            text-transform:uppercase;
            letter-spacing:1px;
          }
          p{
            padding-top:0.8rem;
            font:400 0.9rem/1.3rem 'NotoSansKR';
            text-transform:uppercase;
            letter-spacing:0;
          }
        }    
        .btn_default{
          >a{
            padding: 0 25px 0 10px;
          }
        }            
      }
      .cont3_list1{
        padding:2.8rem 0 1.5rem 0;
        .box{
          background:#111;
          position: relative;
          padding:1.5rem 0;
          margin-left:2rem;
          .cont3_le{
            // position:absolute;
            // left: -33.9%;
            // top: -15%;
            float:left;
            width:40%;
            >img{
              width:110%;
              margin: -30% 0 0 -35%;
            }
          }
          .cont3_ra{
            // position:absolute;
            // left:50%;
            // top:50%;
            // transform:translate(-50%,-50%);
            float:right;
            width:60%;
            color:#fff;
            text-align:left;
          }    
        }
      }
      .cont3_list2{
        padding:0.8rem 0 0 0;
        .box{
          background:#111;
          position: relative;
          padding:1.5rem 0;
          margin-right:2rem;
          .cont3_le{
            float:right;
            width:40%;
            >img{
              width:110%;
              margin: -30% 0 0 10%;
            }
          }
          .cont3_ra{
            float:left;
            width:60%;
            color:#fff;
            text-align:right;
          }    
        }
      }      
      .cont3_list3{
        padding:2.2rem 0 1.5rem 0;
      }
    }
  }
  .cont4{
    padding:0 2.8rem 0 2.8rem;
    h2{
      text-align:center;
      padding:1.6rem 0;
      >img{
        width:78%;
      }
    }    
    .txt{
      padding:2rem 0 1.6rem 0;
      text-align:center;
      color:#111;
      h3{

        >img{
          width:55%;
        }
      }
      p{
        font:400 1.1rem/1.4rem 'NotoSansKR';
        letter-spacing:1.5px;
        padding:2.5rem 0 0.5rem 0;
      }
    }
  }
  .cont5{
    // padding:0 2.8rem 0 2.8rem;
    h2{
      text-align:center;
      padding:1.6rem 0 2.5rem 2rem;
      >img{
        width:46%;
      }
    }     
    .cont5_bg{
      background:#111;
      pointer-events: none;
      .cont5_list1{
        box-sizing: border-box;
        padding:0 2.5rem 2.8rem 9rem;
        position: relative;
        >img{
          width:100%;
        }
        .cont5_gif{
          position:absolute;
          left:60%;
          top:31%;
          transform:translate(-50%,-50%);        
          width:52%;
          >img{
            width:100%;
          }
        }
        .txt{
          text-align:center;
          color:#fff;
          padding:1.2rem 0 0 0;
          h3{
            >img{
              width:77%;
            }
          }  
          p{
            font:500 0.9rem/1.3rem 'NotoSansKR';
            letter-spacing:1px;
            padding:1.1rem 0 0 0;
          }                      
          .btn_default{
            >a{
              padding: 0 25px 0 10px;
            }
          }             
        }
      }
      .cont5_list2{
        padding:0 9rem 2.8rem 2.5rem;        
      }
    }
  }
  .cont6{
    .cont6_bg{
      padding:0.6rem 2.8rem 0 2.8rem;
      background:#88c9c3;
      .txt{
        text-align:center;
        color:#111;
        padding:1.3rem 0;
        h4{
          font:600 1.5rem/1.5rem 'NotoSansKR';
          letter-spacing:0;
        }
        strong{
          display:block;
          font:900 2.5rem/2.5rem 'NotoSansKR';
          letter-spacing:0;
          padding:1rem 0 0.4rem 0;
        }
        p{
          font:600 1.1rem/1.3rem 'NotoSansKR';
          letter-spacing:0;
        }
        
      }
    }
  }
}
