@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#container{
	padding-top: 61px;
}
#tour360{
	position: relative;
	.button_area_v2{
		display: inline-block;
		width: 150px;
		a{
			font: 500 14px/49px 'NotoSansKR';
			letter-spacing: 1px;
			span.arrow{
				width: 27px;
				&:after,&:before{
				    width: 8px;
				}
			}
		}
	}
	.main{
		position: relative;
		img{
			width: 100%;
		}
	}
	.statement{
		position: relative;
		padding: 0 0 45px 0;
		text-align: center;
		p{
			text-align: center;
			font:100 15px 'NotoSansKR';
			letter-spacing: 0.2px;
			&.title{
				padding: 25px 0 0 0;
				font:500 25px/38px 'NotoSansKR';
			}
			strong{
				font:600 26px/38px 'NotoSansKR';
				letter-spacing: 0.2px;
			}
			span{
				font:30px 'adinenuPro-bold';
				letter-spacing: 0.4px;

			}
		}
		img{
			position: relative;
    		top: 4px;
			width: 8%;
		}
	}
	.button_area_v2{
		margin: 25px 0 0 0;
	}
}
