@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

html,body{
	width:100%;
}

button{
	outline:none;
}


.button_area_v2{
	display: inline-block;
	a{
		padding: 0 6vw;
		font: 500 1rem/3.4rem 'NotoSansKR';
		letter-spacing: .15rem;
		height: 3.4rem;
		.arrow{
			margin-left: 1rem;
			width: 20px;
			&::after, &::before{
				width: 7px;
				height: 2px;
			}
			&::before{
				bottom:-2px;
			}
			&::after{
				top:-2px;
			}
		}
	}
}


// .overlay_mask{
// 	display: none;
// 	position:absolute;
// 	left:0;top:0;right:0;bottom:0;
// 	background:rgba(0,0,0,0.4);
// 	width:100%;
// 	height:100%;
// 	z-index:5;
// }

#adipost{
	.adipost_head{
		overflow: hidden;
		width: calc(720px + 30px);
		padding:40px 4%;
		margin: 0 auto;
		.adipost_head_le{
			float:left;
			width:16%;
			img{
				width:90%;
			}
		}
		.adipost_head_ra{
			float:left;
			h1{
				font:900 1.75rem/1.8rem 'adinenuPro-black';
				color:#111;
				letter-spacing:normal;
				padding:3rem 0 0.5rem 0;
			}
			p{
				font: 300 1rem/1rem 'NotoSansKR';
				color:#111;
				letter-spacing:normal;
				padding-bottom:20px;
			}
		}
	}//adipost_join end
	.adipost_body{
		width: 100%;
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;
		
		#adipost_list{
		overflow:hidden;
		margin-bottom:50px;
		text-align:center;
		li{
			float:left;
			vertical-align:top;
			width: 33.3%;
			a{
				display:block;
				.image{
					img{
						width:100%;
					}
				}	
			}
		}	
	}
	}
	
	.slider_popup_wrap{
		position:fixed; left:0;top:60px;
		background:#fff; border:1px solid #ccc;
		width:100%; 
		height: 92%;
		z-index:10;
		display:none;
		overflow-y: scroll;
		.slider_popup{
			// position:fixed; left:50%;top:50%;
			// transform:translate(-50%, -50%);
			// background:#fff; border:1px solid #ccc;
			// width:800px; height:600px;
			position:relative;
			width:100%;
			overflow-y:scroll;
		}
		.slick-list{
			width: 100%;
			.slick-slide{
				overflow: hidden;
				position: relative;
				text-align: center;
				.video_wrap{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					video {
						display: block;
						width: 100%;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: none;
					}
				}
				img {
					display: block;
					width: 100%;
				}
			}
		}
		.slick-dots {
			padding:15px 0 0 0;
			text-align: center;
			position:absolute;left:50%; bottom:10px;
			transform:translateX(-50%);
		}			
		.slick-dots li {
			display: inline-block;
			margin-right: 6px;
		}
		.slick-dots li button {
			width: 9px;
			height: 9px;
			border-radius: 50%;
			border:1px solid #111;
			background:none;
			padding: 0;
			text-indent: -9999px;
		}			

		.slick-dots li.slick-active button {
			background:#111;
		}

		.slick-arrow{
			font-size:0;
			border:0;
		}

		.slick-prev{
			position:absolute;
			left: 20px;
			top: 50%;
			background: url('/images/adidas/2020/event/adipost/post_left.png')center center no-repeat;
			width: 30px;
			height: 30px;
			z-index:9;	
		}			

		.slick-next{
			position:absolute;
			right: 20px;
			top: 50%;
			background: url('/images/adidas/2020/event/adipost/post_right.png')center center no-repeat;
			width: 30px;
			height: 30px;
			margin-left:100px;
			z-index:9;
		}	
		.slider_txt{
			width:100%;
			padding:2rem 0 4rem;
			margin:0 auto;
			text-align:center;
			p{
				font:400 1.1rem/1.8rem 'NotoSansKR';
				color:#111;
				letter-spacing:normal;
				span{
					display:block;
				}
				em{
					display:block;
					padding:0.4rem 0;
				}
			}
			strong{
				display:block;
				font:700 1rem/1.5rem 'NotoSansKR';
				color:#111;
				padding:1rem 0 2rem 0;				
				letter-spacing:normal;
				text-transform:uppercase;
			}
		}
		.adiPopClose_btn{
			position: fixed;
			right:0.7rem;
			top:5.7rem;
			button{
				background:url('/images/adidas/2020/event/adipost/popup_close.png')center center no-repeat;
				width:28px;
				height:29px;
				border:0;
				background-size:70%;
			}
		}
		&.slide08{
			.slider_txt{
				strong{
					text-transform: none;
				}	
			}
		}
	}

}


