@import "./app/MO/reebok/css/scss/about.scss";

.floatride{
    background:#191919;
    .box1{
        position: relative;
        overflow: hidden;
        // background: url('/images/reebok/about/floatride/1807/img_1.jpg') 0 0 no-repeat;
        // background-size: 100% 100%;
        // padding: 2rem 2rem 2rem 2rem;
        // height: 450px;
        .bg{
            img{
                width: 100%;
            }
        }
        .txt{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -210px;
            margin-left: -70px;
            text-align: center;
                    img{
                        width: 140px;
                        margin-bottom: 20px;
                    }
                    .btn{
                        a{
                            color: white;
                            font:300 1rem/1.1rem 'NotoSansKR';
                            display: inline-block;
                            padding: 10px 40px;
                            border: 1px solid white;
                    }
                }
            }
            .desc{
                color:#fff;
                font-size:0.1rem;
                font-family: 'NotoSansKR';
                span{
                    color:#e8f74a;
                    font-size: .1rem;
                    font-family: 'NotoSansKR';
                }
            }
        }
    .video_visual{
        .bg{
            // video{
            //     width: 100%;
            // }
        }
        h2{
            margin-bottom:1.5rem;
            width:inherit;
            height: inherit;
            text-indent: 0;
            background:none;
            text-align: center;
            color:#fff;
            text-transform: uppercase;
            font:5rem/5.3rem 'QStencil';
            span{
                font:2.5rem/3.5rem 'QStencil';
                vertical-align: top;
            }
        }
        .desc{
            margin-bottom:1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 3px;
            text-transform: uppercase;
            font:300 1.7rem/1.3rem 'dinpro cond';
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKR';
        }
        .video-btn{
            top:0rem;
            margin:0 auto;
        }
    }
    .box3{
        position: relative;
        img{
            width:100%;
        }
        .txt{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -200px;
            margin-left: -169px;
            width: 90%;
            text-align: center;
            .btn{
                border:1px solid white;
                a{
                    color: white;
                    font: 300 1.3rem/1.1rem 'NotoSansKR';
                    display: inline-block;
                    padding: 17px 0;
                    width: 100%;
                }
            }
        }
    }

    .collections2{
        text-align: center;
        &.cutSlider{
            .owl-controls{
                margin: 15px 0 0 0;
            }
        }

        .txt{
            position: relative;
            display: inline-block;
            p{
                display: inline-block;

                position: relative;
                padding: 0;
                color: #fff;
                font: 700 2.5rem/2.3rem 'dinpro cond';
                text-align: center;
                text-transform: uppercase;
                span{
                    font:100 2.5rem/3rem 'dinpro cond';
                }
                z-index: 1;
            }
            em{
                position: absolute;
                top:13px;;
                left:0;
                width: 100%;
                height: 16px;
                background: #735f3c;
            }
        }

        .btn_wrap{
            position: relative;
            display: block;
            margin: 10px 0 0 0;
            padding: 5px 0 20px 0;
            a{
                position: relative;
                display: inline-block;
                border:1px solid #fff;
                color:#fff;
                width: 128px;
                font:400 1rem/35px 'NotoSansKR';
                z-index: 2;
                background: rgba(0,0,0,0.3);
            }
            span{
                display: inline-block;
                position: absolute;
                top: 11px;
                left: 50%;
                margin-left: -75px;
                width: 150px;
                height: 36px;
                background: #693c36;
            }
        }

        .owl-controls{
            .owl-nav{
                position: absolute;
                top: 45%;
                width: 100%;
                div{
                    width: 30px;
                    img{
                        width: 100%;
                    }
                }
                .owl-prev{
                    position: absolute;
                    left: 0;
                }
                .owl-next{
                    position: absolute;
                    right: 0;
                }
            }
            .owl-dots{
                position: relative;
                top:0;
                .owl-dot{
                    display: inline-block;
                    background: #adadad;
                    border:none;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 8px;
                    border-radius: 50px;
                    &.active{
                        background: #fff;
                    }
                }
            }
        }


        .collection_cut{
            position: relative;
            padding-bottom: 25px;
            overflow: hidden;
            ul{
                overflow: hidden;
                .owl-item{
                    &.active{
                        li{
                            left:0;
                            opacity: 1;
                            -webkit-opacity: 1;
                        }
                    }
                }
                li{
                    position: relative;
                    left:-100px;
                    float: left;
                    transition: all 0.8s;
                    opacity: 0;
                    -webkit-opacity: 0;
                    img{
                        width: 100%;
                    }
                }
            }

        }
    }
    .bottom{
        a{
            display: block;
            z-index: 1;

        }
        img{
            width: 100%;
        }
    }








}

// floatride
