@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}


#football_son{
	background: #fff;
	.main{
		img{
			width: 100%;
		}
	}

	.team_btn {
		padding-top: 5%;

		ul{
			width: 100%;
			text-align: center;
			li{
				position: relative;
				display: inline-block;
				width:16%;
				text-align: center;
				vertical-align: middle;
				padding-top: 16%;
				background-color: #d2d2d2;
				border-radius: 50%;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				margin: 0 0.5rem;
				&.on{
					background-color: #d20a14;
				}
				a{
					display: block;
				    width: 100%;
				    height: 62%;
				    position: absolute;
				    top: 0;
					padding-top: 38%;
					color:#fff;
					font:1.7rem/1.5rem 'adinenuPro-regular';
					letter-spacing: 0;
					span{
						 font:1.7rem/1.2rem 'adinenuPro-bold';
						 letter-spacing: 1px;
					}
				}
			}
		}
	}


	.prd_wrap{
		padding-top: 5%;
		padding-bottom: 80%;
		.inner{
			.team_slider{
				position: relative;
				ul{
					li{
						position: absolute;
						top:0;
						left:0;
						display: none;
						.img {
							img{
							width:100%;
							}
						}
						a.video{
							position: absolute;
							display: block;
							width: 13%;
							height: 17%;
						}

					}
					li.on{
						display: block;
					}
				}
			}
			.name_slider{
				text-align: center;
				position: absolute;
				bottom: 20.5%;
				width: 100%;
				ul{
					position: absolute;
					width: 1000%;
					li{
						width: 10%;
						float: left;
						font: 1.5rem/1.8rem 'adinenuPro-black';
						color: #fff;
						letter-spacing: 10px;
						padding-left: 15px;
						box-sizing: border-box;
						&.manu{
							margin-top: -8px;
							letter-spacing: 9px;
						}
					}
				}
			}
			.next{
				display: block;
				width: 3.5rem;
				height: 3.5rem;
				position: absolute;
				bottom: 18.9%;
				right: 20px;
				background: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/btn_next.jpg?v=1')no-repeat;
				background-size: 100% auto;
				background-position: center center;
			}
			.prev{
				display: block;
				width: 3.5rem;
				height: 3.5rem;
				position: absolute;
				bottom: 18.9%;
				left: 20px;
				background: url('http://imagem.adidas.co.kr/images/adidas/event/football_jersey/btn_prev.jpg?v=1')no-repeat;
				background-size: 100% auto;
				background-position: center center;
			}
		}
	}
	.prod_wrap{
		position: relative;
		padding-top: 10%;
		text-align: center;
		.img{
			img{
				width:100%;
			}
		}
		a.num{
			position: absolute;
			display: block;
			width: 2rem;
			height: 2rem;
			background-color: #000;
			border: 1px solid #fff;
			color:#fff;
			text-align: center;
			font:1.6rem/2.5rem 'adinenuPro-regular';
		}

		.layer{
			display: none;
			position: absolute;
			width: 45%;

			img{
				width:  100%;
			}
		}
		.button_area{
			a.buy{
				position: absolute;
				display: block;
				text-align: center;
				background-color: #000;
				width: 90%;
				height: 4rem;
				color:#fff;
				margin: 0 auto;
				bottom: 5%;
				font:300 1.2rem/4rem 'NotoSansKR';
				left: 50%;
				@include css3(transform,translate3d(-50%,-0,0));
				&::after{
					margin-left: 5px;
				}
			}
		}
	}


	.bottom{
		img{
			width:100%;
		}
	}

	.adihauseDin{
		font:12px/12px 'AdihausDIN-Cond';
		text-align: center;
	}

	.button{
		display: inline-block;
		color:#fff;
		font:1.3rem/3.7rem 'NotoSansKRRegular';
		width: 50%;
		background: #000;
		border:1px solid #fff;
		text-align: center;
	}



	.bottom{

	}


}
