@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#superstar_campaign{
	.main{
		position: relative;
		.bg{
			img{
				width: 100%;
			}
		}
		.inn{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			text-align: center;
			.logo{
				padding: 40px 0 0 0;
				.img{
					padding: 0 0 20px 0;
					img{
					    width: 40px;
					}
				}
				h2{
					color:#fff;
					font : 3.3rem/3rem 'adinenuPro-black';
					text-transform: uppercase;
				}
				p{
					color:#fff;
					font: 400 12px 'NotoSansKR';
				}
			}
			.img_cut{
				padding: 15px 25px 0;
				img{
					width: 100%;
				}
			}
			.btn{
				padding: 18px 25px 0;
				a{
					display: inline-block;
					border:1px solid #fff;
					width: 47%;
				    margin-right: 2%;
					&.last{
						margin-right: 0;
					}
					span{
						color:#fff;
						font: 400 12px/45px 'NotoSansKR';
					}
					em{
						display: inline-block;
					    width: 25px;
					    height: 8px;
					    margin-left: 9px;
					    background: url(/images/adidas/event/originals/originals_superstar/icons_arrow.png) no-repeat;
					    background-size: 100%;
					}
				}
			}
		}
	}
	.section1{
		position: relative;
		margin: 60px 25px 0;
	    background: url(/images/adidas/event/originals/originals_superstar/section1_bg.jpg) no-repeat;
	    text-align: center;
	    background-size: 100% auto;
	    background-position: center bottom;
		&.scrollbox{
			&.on{
				.img{
					.img_inn{
						width: 244px;
					}
					img{
						opacity: 1;

						left:0;
					}
				}
				p{
					left:0;
					opacity: 1;
				}
			}

		}
		.bg{
			margin: 0 25px;
			background-size: 100%;
		}
		.img{
			display: inline-block;
		    position: relative;
		    width: 244px;
		    height: 352px;
		    overflow: hidden;
			text-align: left;
			.img_inn{
				position: relative;
			    display: inline-block;
				left: 0;
			    right: 0;
			    top: 0;
			    bottom: 53px;
			    margin: auto;
			    width: 10px;
			    height: 351px;
			    background: #aa015e;
				overflow: hidden;
				@include css3(transition, width 0.5s);
			}
			img{
				position: absolute;
				top:0;
				left:-100%;
				width: 100%;
				opacity: 0;
				@include css3(transition, all 0.8s);
				transition-delay: 0.6s;

			}
		}
		p{
			position: relative;
			left:-50%;
			text-align: center;
			padding: 40px 0 50px;
			font: 600 14px 'NotoSansKR';
			opacity: 0;
			@include css3(transition, all 0.8s);
			transition-delay: 1.8s;
		}

	}
	.bottom{
		margin: 0 25px;
		img{
			width: 100%;
		}
	}
	.section2{
		margin: 60px 0px 0;
	    background: url(/images/adidas/event/originals/originals_superstar/section2_bg.jpg) no-repeat;
	    background-size: 100% auto;
	    background-position: center center;
		text-align: left;
		.img{
			margin-left: 25px;
		    width: 244px;
	        height: 179px;
		    padding: 30px 0 30px;
			.img_inn{
				right: inherit;
				left: inherit;
			    height: 179px;
				background: #e0d4d4;
			}
		}
	}
	.section3{
		margin: 60px 0px 0;
		background: url(/images/adidas/event/originals/originals_superstar/section3_bg.jpg) no-repeat;
		background-size: 100% auto;
	    background-position: center bottom;
		.top{
			margin: 0 25px;
			img{
				width: 100%;
			}
		}
		p{
	        padding: 50px 0 90px;
			transition-delay: 0.6s;

		}
	}

	.section4{
		margin: -55px 0px 0;
		background: url(/images/adidas/event/originals/originals_superstar/section4_bg.jpg) no-repeat;
		background-size: 100% auto;
		background-position: center center;
		.img_wrap{
			margin: 0 25px;
			.img{
				width: 224px;
				height: 155px;
				padding:0;
				overflow: inherit;
				.deco_bg{
					position: absolute;
				    left: -10px;
				    top: -10px;
				    width: 224px;
				    height: 155px;
				    background: rgba(255,255,255,0.5);
				}
				&.bottom{
					.deco_bg{
						left:10px;
					}
					.img_inn{
						img{
							transition-delay: 1s;
						}
					}
				}
				.img_inn{
					width: 224px;
					height: 155px;
					background: none;
					img{
						left:0;
					}

				}
			}
		}

	}

	.video{
		margin: 30px 0 30px;
		.img{
			img{
				width: 100%;
			}
		}
	}

	.section5{
		position: relative;
		background: url(/images/adidas/event/originals/originals_superstar/section5_bg.jpg) no-repeat;
		background-size: 100% auto;
		background-position: center;
		&.on{
			.img{
				@include css3(opacity,1);
			}
		}
		.img{
		    padding: 2rem 10rem 2rem 0;
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);
			transition-delay: 1.6s;
			img{
				width: 100%;
			}
		}
	}

	.section6{
		position: relative;
		margin: 25px 0 35px;
		img{width:100%}
	}

	.more{
		position: relative;
		margin: 35px 0 0 0;
		height: 35px;
		text-align: center;
		.bar{
			display: block;
		    width: 2px;
		    height: 35px;
		    background: #000;
		    margin: 0 auto;
		    position: relative;
		    top: 2px;
			animation-duration: 1s;
			animation-name: arrow;
			animation-iteration-count: infinite;
		}
		.arrow{
			position: absolute;
		    top: 29px;
		    left: 50%;
			&:after{
				content: '';
			    display: inline-block;
			    width: 2px;
			    height: 9px;
			    position: relative;
			    left: 0px;
			    top: 2px;
			    background: #000;
			    transform: rotate(55deg);
			}
			&:before{
				content: '';
			    display: inline-block;
			    width: 2px;
			    height: 9px;
			    position: relative;
			    top: 2px;
			    left: -4px;
			    background: #000;
			    transform: rotate(-55deg);
			}
		}
	}
	.more_txt{
		padding: 10px 0 0 0;
		text-align: center;
		font: 1.5rem/1.5rem 'adinenuPro-black';
		text-transform: uppercase;
		letter-spacing: 0.2px;
	}

	.section7{
		position: relative;
		background: none;
		.img{
			.img_inn{
				transition-delay: 1.5s;

				img{
					transition-delay: 2s;
				}
			}
		}
	}

	.slider_wrap{
		position: relative;
		margin: 35px 0 50px;
		background: url(/images/adidas/event/originals/originals_superstar/slide_bg.jpg) no-repeat;
		background-size: 100% 100%;
		.banner_slider_wrap{
			margin: 0 25px;
			padding:30px 0 20px;
			overflow: hidden;
			ul{
				li{
					img{
						width: 100%;
					}
				}
			}
			.owl-controls{
				.owl-nav{
					position: absolute;
					top:50%;
					width: 100%;
					div{
						position: absolute;
						display: inline-block;
						text-indent: -9999px;
						&.owl-prev{
							left: -18px;
						    background: url(/images/adidas/event/originals/originals_superstar/arrow_prev.png) no-repeat;
						    background-size: 100% 100%;
						    width: 46px;
						}
						&.owl-next{
							right:30px;
							background: url(/images/adidas/event/originals/originals_superstar/arrow_next.png) no-repeat;
							background-size:100% 100%;
							width: 46px;
						}
					}
				}
				.owl-dots{
					padding: 10px 0 0 0;
					text-align: center;
					.owl-dot{
						display: inline-block;
						margin: 0 4px 0;
						width: 10px;
						height: 10px;
						border-radius: 50px;
						background: rgba(255,255,255,0.5);
						&.active{
							background: rgba(255,255,255,1);

						}
					}
				}
			}
		}
	}


}

@keyframes arrow{
	0%{
		height:0;
	}
	100%{
		height: 35px;
	}
}
