@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
// html,body{
// 	height:100%;
// }
.not_scroll{
	overflow: hidden;
}

#stylepick {

	.button_area_v2 {
		display: inline-block;
		width: 140px;

		a {
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			padding: 0 1rem;

			span.arrow {
				margin-left: 10px;
				width: 25px;

				&:after {
					width: 8px;
				}

				&:before {
					width: 8px;
				}
			}
		}
	}

	.section {
		position: relative;
	}

	.sect_visual {
		.visual_img {
			width: 100%;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.sect_visualtext {
		padding: 2rem 0 3rem;
		background: #5d0508;
		text-align: center;

		>* {
			text-align: center;
			color: #fff;
		}

		h3 {
			margin-top: 1rem;
			display: block;
			width: auto;
			position: relative;
			>img {
				display: inline-block;
				width: 60%;
				&.vtitle {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-52%, -56%);
					z-index: 1;
				}
			}
		}

		h4 {
			padding: 2rem 0;
			font: 1.8rem/2rem 'adinenuPro-black';
			letter-spacing: 2px;

			span {
				text-decoration: none !important;
				font-family: 'adinenuPro-regular';
				letter-spacing: 2px;
			}
		}

		p {
			font: 400 1rem/1.7rem 'NotoSansKR';
			letter-spacing: normal;
		}
	}

	.navi_wrap {
		position: relative;
		display: block;
		height: auto;
		width: 100%;
		background: #3d0205;
		.navi {
			overflow: hidden;
			width: calc(100% + 2px);
			background: #3d0205;
			margin-left: -1px;
			&.fixed {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 10;
			}
			.inn_box {
				width: 50%;
				height: 40px;
				float: left;
				box-sizing: border-box;
				transition: all 0.2s;
				cursor: pointer;
				&.on {
					.btn {
						background: #ffa951;
						color: #3d0205;
						font-weight: 600;
					}
				}
				.btn {
					box-sizing: border-box;
					// margin: -1px 0 0 -1px;
					text-align: center;
					width: 100%;
					height: 40px;
					font: 500 1.1rem/38px 'NotoSansKR';
					letter-spacing: normal;
					color: #fff;
					border-left: 1px solid #fff;
					border-top: 1px solid #fff;
					transition: all 0.2s;
				}

			}
		}
	}

	.items_wrapper {
		position: relative;
		padding-bottom: 325%;
		background: #fff;

		.item_wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 0.4s;
			padding: 3rem 0;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;

			background: url(/images/adidas/2021/event/originals/stylepick/0122/01/bg.jpg) center bottom no-repeat;
			background-size: 100% 45%;
			&.on {
				opacity: 1;
				z-index: 2;
			}

			.coll_top {
				padding: 0 1rem;
				width: 100%;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				>* {
					width: 100%;
				}

				.colltop_lt {
					>img {
						display: block;
						width: 100%;
					}
				}

				.colltop_rt {
					padding: 3rem 0 5rem;
					h4 {
						font: 800 2rem/2rem 'NotoSansKR';
						color: #000;
						letter-spacing: 1px;
						text-align: center;
					}

					p {
						padding: 1rem 0 3rem;
						// height: 310px;
						font: 500 1rem/1.7rem 'NotoSansKR';
						color: #000;
						letter-spacing: normal;
						text-align: center;
					}

					.video_wrap {
						cursor: pointer;
						text-align: center;
						>img{
							display: inline-block;
							width: 90%;
						}
					}
				}
			}
		}
	}

	.collection {
		position: relative;

		.slider_wrap {
			ul.slider_content {
				overflow: hidden;
				li {
					img {
						display: block;
						width: 100%;
					}
				}
			}
		}

		.btnarrow_wrap {
			position: absolute;
			top: 28%;
			left: 0;
			width: 100%;
			.btnarrow {
				position: absolute;
				top: 0px;
				left: 0;
				z-index: 4;
				img {
					width: 2.3rem;
				}
				&.next-button {
					right: 0;
					left: auto;
				}

				&.prev-button {
					left: 0;
				}
			}
		}

		.slick-dots {
			overflow: hidden;
			margin: 0 auto;
			padding: 1.5rem 0 2rem;
			text-align: center;
			width: auto;
		
			li{
				display: inline-block;
				&.slick-active {
					button{
						background: #fff;
						opacity: 1;
					}
				}
			}
			button {
				display: inline-block;
				margin: 0 3px;
				padding: 0;
				width: 8px;
				height: 8px;
				background: #fff;
				opacity: 0.4;
				border: 0 none;
				border-radius: 50%;
				box-sizing: border-box;
				text-indent: -9999px;
			}
		}

		.slider_number {
			overflow: hidden;
			margin: 0 auto;
			padding: 1.5rem 0 2rem;
			text-align: center;
			width: auto;

			p {
				font: 1.1rem 'AdihausDIN-Cond';
				color: #fff;
				letter-spacing: 2px;
				text-align: center;

				span.crt_number {
					font: inherit;
					color: inherit;
					letter-spacing: inherit;
				}
			}
		}

		.slider_bottom {
			text-align: center;
			padding-bottom: 5rem;

			.button_area_v2 {}
		}
	}

	.sect_kakao {
		z-index: 2;
		a{
			display: block;
			img {
				display: block;
				width: 100%;
			}
		}
	}
}
