@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
// #wrap{
// 	padding-top:60px;
// }
#blackfriday{
	position: relative;
	.button_area_v2{
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			padding: 0 1.5rem;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}
	span, p{
		letter-spacing: 0;
	}
	div, img, a{
		outline: none;
	}
	
		// ########## 믹스인 확인 ##########
		// './mobile/css/adidas/scss/common/mixin.scss'

	main{

		section{
			position: relative;
		}
		img{
			width: 100%;
		}
		@for $i from 1 through 6 {
			.bg0#{$i} {
				background: url('/images/adidas/2020/event/blackfriday/bg0#{$i}.jpg') no-repeat;
				background-position: top;
				background-size: 100% 100%;
				&.bg01{
					background-size: 100% auto;
				}
			}
		}
		.visuals{
			$val: auto;
			@include auto($val);
			// width: 100%;
			video{
				display: block;
				width: 100%;
				height: 100%;
				// display: block;
				// position: absolute;
				// top: 0;
				// left: 0;
				// right: 0;
				// bottom: 0;
				// object-fit: cover;
				// z-index: 1;
			}
			// img{
			// 	opacity: 0;
    	// 	z-index: 0;
			// }
			// .visuals__text{
			// 	@include center( auto, 5%, 9%, none );
			// 	z-index: 2;
			// 	h3{
			// 		font: 60px/50px $adinBlk;
			// 		color: #353f78;
			// 	}
			// 	>span{
			// 		font: 12px/12px $noto;
			// 		color: #ffffff;
			// 		display: block;
			// 		margin: 0.5rem 0 2.5rem 0;
			// 	}
			// 	.button_area_v2{
			// 		display: inline-block;
			// 	}
			// }
		}
		.visuals__text{
			// @include center( auto, 5%, 9%, none );
			background: #f1436a;
    	text-align: center;
			z-index: 2;
			.button_area_v2{
				display: inline-block;
				padding: 0 0 3rem;
				width: 95%;
			}
		}
		.slide__container{
			// padding: 2.5rem 0 3.5rem 0;
			text-align: center;
			.slider{
				.slick-list{
					.item{

					}
				}
				.slick-dots{
					text-align: center;
					position: relative;
					margin: 1.5rem 0 0;
					li{
						width: 11px;
						height: 11px;
						background: #bac4d8;
						border-radius: 50%;
						display: inline-block;
						margin-right: 6px;
						&:last-child{
							margin: 0;
						}
						button{
							border: 0;
							background: none;
							text-indent: -9999px;
							outline: none;
						}
						&.slick-active{
							background: #d54970;
						}
					}
				}
			}
			.button_area_v2{
				display: inline-block;
			}
			&.slide__container01{
				padding: 2.5rem 0;

				.slick-list{
					width: 55%;
					margin: 0 auto;
					overflow: visible;
					.item{
						img{
							width: 89%;
							margin: 0 auto;
						}
					}
				}
			}
			&.slide__container02{
				background-color: #2e3e7c;
				.txt{
					white-space:nowrap;
					padding: 6% 0 10%;
					p,span,em{display:block;color:#fff;text-align:center;}
					p{
						font: 37.5px/37.5px $adinBlk;
						letter-spacing: 3px;
					}
					em{
						font: 900 15px/15px $noto;
						margin: 1rem 0;
						letter-spacing: 1px;
					}
					span{
						font: 400 13px/13px $adinReg;
						letter-spacing: 1px;
					}
				}
				.slider{
					.slick-dots{
						margin: 0;
						padding: 0;
						@include center(auto,-29%,50%, $ctX);
					}
				}
				.button_area_v2{
					padding: 27% 0 10% 0;
				}
			}
			&.slide__container03{
				.slider{
					.slick-list{
						width: 83%;
						margin: 0 auto;
						overflow: visible;
						.item{
							>a{
								>img{
									width: 96%;
									margin: 0 auto;
								}
							}
						}
					}
					.slick-dots{
						margin: 1.5rem 0 3.5rem;
					}
				}

			}
		}
		.event{
			>div{
				@include after();
				padding: 0 0.5rem 1rem;
				background: #353f78;
				&:first-of-type{
					padding-top: 1rem;
				}
				>a{
					float: left;
					text-align: center;
					width: 50%;
					img{
						width: 95%;
						vertical-align: middle;
					}
				}
			}
		}
		.asides{
			>a{
				text-indent: -9999px;
				@include center(50%, auto, 39%, none);
				width: 32%;
				height: 35%;
			}
		}
		.banners{
			>a{
				text-indent: -9999px;
				@include center(81%, auto, 34%, none);
				width: 32%;
				height: 13%;
			}
			&.last{
				padding-bottom: 3rem;
				>a{
					@include center(82%, auto, 19%, none);
					width: 62%;
					height: 13%;
				}
			}
		}
		.notes{
			margin-top: 3rem;
			padding-bottom: 5rem;
			>a{
				@include center(85%, auto, 4%, none);
				width: 38%;
				height: 10%;
			}
		}
	}	
}
