@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#rdy{
	position: relative;
	// common
	.button_area_v2{
		display: inline-block;
		a{
			padding: 0 20px;
			font: 500 1rem/3.4rem 'NotoSansKR';
			letter-spacing: .15rem;
			height: 3.4rem;
			.arrow{
				margin-left: 1rem;
				width: 20px;
				&::after, &::before{
					width: 7px;
					height: 2px;
				}
				&::before{
					bottom:-2px;
				}
				&::after{
					top:-2px;
				}
			}
		}
	}
	button, div, a{
		outline: none;
	}
	main{
		img{
			width: 100%;
		}
		h3, p, span, em{
			text-align: center;
			color:#000;
			letter-spacing: 0;
		}
		p{
			font: 400 12px/17px 'NotoSansKR';
		}
		em{
			font: 700 28px/40px 'NotoSansKR';
		}
		.visuals{

		}
		.video{
			position: relative;
			video{
				width:100%;
			}
			>a{
				position: absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				z-index:1;
				text-align: center;
				img{
					width:50%;
				}
			}
		}
		.article{
			text-align: center;
			padding:25px;
			// h3, p, em{
			// 	text-align: center;
			// 	color:#000;
			// 	letter-spacing: 0;
			// }
			h3{
				img{
					width:29%;
					display: block;
					margin: 0 auto;
				}
				// em{
				// 	font: 700 27px/40px 'NotoSansKR';
				// }
			}
			>p{
				// font: 400 12px/15px 'NotoSansKR';
				&:nth-child(2){
					margin:7px 0 0 0;
				}
			}
			>em{
				display: inline-block;
				margin: 10px 0 0 0;
				p{
					font: 700 13px/17px 'NotoSansKR';
					text-align: center;
				}
			}
			.button_area_v2{
				margin: 20px 0 0 0;
			}
		}
		.slide__dot-css{
			.slick-dots{
				margin: 15px 0 0;
				text-align: center;
				li{
					&.slick-active{
						background: #000;
					}
					background: #978586;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					display:inline-block;
					margin: 0 5px;
					button{
						border: 0;
						background: none;
						text-indent: -9999px;
					}
				}
			}
		}
		.slide01{
			background: url('/images/adidas/2020/event/rdy/0713_summer/2007_a_RDY_slide01_bg_MO.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
			padding: 35px 0;
			.slide{
				.slick-list{
					.slick-track{
						.item{
							img{
								width:93%;
								margin: 0 auto;
							}
							>div{
								p,span{color:#000;}
								text-align: center;
								padding: 20px 0 0;
								p{
									font: 700 13px/13px 'NotoSansKR';
								}
								span{
									font: 400 11px/25px 'NotoSansKR';
								}
							}
						}
					}
				}
			}
		}
		.slide{
			background-position: top;
			background-size: 100% 100%;
			&.slide02{
				background: url('/images/adidas/2020/event/rdy/0713_summer/2007_a_RDY_slide02_bg_MO.jpg') no-repeat;
			}
			&.slide03{
				background: url('/images/adidas/2020/event/rdy/0713_summer/2007_a_RDY_slide03_bg_MO.jpg') no-repeat;
			}
			.slide__figure{
				text-align: center;
				padding: 25px 0;
				img{
					width: 60%;
				}
			}
			.slide__model{
				.slick-list{
					.slick-track{
						.item{
							img{
								width:85%;
								margin: 0 auto;
							}
						}
					}
				}
			}
			.txt{
				text-align: center;
				padding: 25px 0 30px;
				>img{
					width:27%;
					vertical-align: middle;
				}
				.button_area_v2{
					display: inline-block;
					margin: 0 0 0 13px;
				}
			}
		}
		.bottoms{
			.bottoms__head{
				// padding: ;
			}
			.bottoms__body{
				text-align: center;
				padding: 25px 35px;
				>p{

				}
				h4{
					text-align:center;
					margin: 15px 0 20px;
					img{
						width:35%;
						display: block;
						margin: 0 auto;
					}
					em{
					}
				}
				.button_area_v2{}
			}
			.bottoms__foot{

			}
		}
	}
}

