@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ivypark{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}

	.section {
		position: relative;

		&.sect_main {
			padding: 10rem 0;
			background: #164734;
			.main_title {
				text-align: center;
				z-index: 3;

				>img {
					width: 34%;
					display: inline-block;
				}

				h3 {
					padding-top: 1rem;
					font: 2.2rem/2.2rem 'adinenuPro-bold';
					color: #d8ede3;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}

		&.sect_regist {
			padding: 2rem;
			background: #fff;

			.regist_inner {
				margin: 0 auto;
				width: 100%;
				padding: 4rem 2rem;
				text-align: center;
				background: #d8ede4;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				h3 {
					font: 400 1.05rem/1.05rem 'NotoSansKR';
					color: #000;
					text-align: center;
					letter-spacing: normal;
				}

				.button_area_v2 {
					display: inline-block;
					margin-top: 2rem;
					width: 160px;
					a {
						padding: 0 1.5rem;

						span.arrow {
							margin-left: 40px;
						}
					}
				}
			}
		}

		&.sect_video {
			>img {
				display: block;
				width: 100%;
			}

			.btn-play {
				display: inline-block;
				width: 40px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				img{
					display: block;
					width: 100%;
				}
			}
		}

		&.sect_state {
			padding: 8rem 0;
			background: #164734;
			text-align: center;

			p {
				font: 500 1.6rem/2.2rem 'NotoSansKR';
				color: #d8ede3;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				span{
					font: 1.8rem/2.2rem 'adinenuPro-bold';
					letter-spacing: 2px;
				}
			}
		}

		&.sect_bottom {
			img {
				display: block;
				width: 100%;
			}
		}

		&.sect_state2{
			padding: 1rem 2rem 4rem;
			background: #164734;
			h3 {
				font: 500 2.5rem/3rem 'NotoSansKR';
				color: #d8ede3;
				text-transform: uppercase;
				letter-spacing: 3px;
			}

			p {
				padding-top: 1.5rem;
				font: 400 1rem/2rem 'NotoSansKR';
				color: #d8ede3;
				text-transform: uppercase;
				letter-spacing: normal;
			}
		}
	}
}
