@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#football_challenge{
	position: relative;
	.inn{
		img{
			width:100%;
		}
		a{
			position: absolute;
			width:100%;
			height: 4rem;
			z-index: 5;
			&.challenge{
				top: 63%;
			}
			&.week{
				top: 73%;
			}
			&.ticket{
				top: 82%;
			}
			&.btn{
				position: absolute;
				top:50%;
				&.btn1{
					top: 62.5%;
					left: 27%;
				}
				&.btn2{
					top: 72.5%;
					left: 27%;
				}
				&.btn3{
					top: 82.1%;
					left: 27%;
				}
				img{
					width:40%;
				}
			}
		}
	}
}



