@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#night_jogger{
	position: relative;
	background: #0e0e0e;
	padding:35px 0 30px 0;
	.logo{
		position: relative;
		img{
			width:100%;
		}
	}
	>.txt{
		position: relative;
		padding:28px 0 55px 0;
		p{
			color:#fff;
			// font:400 22px/30px 'NotoSansKR';
			font:400 6vw/7.9vw 'NotoSansKR';
			text-align: center;
		}
	}
	.main{
		.img{
			position: relative;
			img{
				width:100%;
			}
			.play{
				position: absolute;
				top:50%;
				left: 50%;
				transform: translate(-50%,-50%);
				img{
				}
			}
		}
	}
	.bottom{
		.txt{
			h1{
				color:#fff;
				font:400 5.5vw/8vw 'NotoSansKR';
				text-align: center;
				padding: 45px 0 30px 0;
			}
			p{
				color:#fff;
				font:300 3.3vw/5.2vw 'NotoSansKR';
				text-align: center;
			}
		}
		.flogo{
			padding-top: 20px;
			img{
				width:100%;
			}
		}
	}
}
