@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#threefree_cp {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  .visual {
    position: relative;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
    .button_area_v2{
      width: 48%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      a{
        letter-spacing: 1px;
        height: 45px;
        font: 500 1rem/45px 'NotoSansKR';
        span{
          width: 20px;
          margin-left: 10px;
          &:after{
            width:8px;
          }
          &:before{
            width:8px;

          }
        }
      }
    }
  }
}
