@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#smtm{
	position: relative;
	.button_area_v2{
		display: inline-block;
		a{
			font: 700 .9rem/32px 'NotoSansKR';
			padding: 0 5vw;
			letter-spacing: 0;
			height: 38px;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}
	img{
		width:100%;
	}
	.main{
		position: relative;
		border-bottom: 6px solid #000;
		.bg{
			img{
				width:100%;
			}
		}
		#slideshow{
			position: absolute;
			top: 17%;
			left: 50%;
			transform: translateX(-50%); 
			width: 100%;
			height: auto;
			z-index: 2;
			>div{
				position: absolute;
			}
		}		
		.button_area_v2{
			position: absolute;
			top:12.5%;
			left:1.5rem;

			transition: all .4s;
			transition-delay: .8s;
			opacity: 0;
			a{
				width: auto;
				height: 38px;
				padding: 0 20px;
				letter-spacing: 2px;
				font: 500 .9rem/38px 'NotoSansKR';
				span{
					margin-left: 0;
					transition: all .4s;
					transition-delay: .4s;
				}
			}
		}		
		&.on{
			.button_area_v2{
				opacity: 1;
				a{
					span{
						margin-left: 1rem;
					}
				}
			}
		}
	}

	.section{
		position: relative;
		.sect_img{
			img{
				display: block;
				width: 100%;
			}
			a{
				display: block;
				width: 100%;
			}
		}
	}
}
