@import "./mobile/MO/reebok/css/scss/about.scss";
#contents{
    img{
        vertical-align: middle;
    }
}
#threefree_cp {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    .visual {
      position: relative;
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
      .button_area_v2{
        width: 48%;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        a{
            display: block;
            text-align: center;
            height: 50px;
            font: 500 15px/49px 'NotoSansKR';
            color: #fff;
            background: #000;
            letter-spacing: 1px;
            height: 45px;
            font: 500 1rem/45px 'NotoSansKR';
            background: #000;
            color:#fff;
          span{
            position: relative;
            top: -1px;
            display: inline-block;
            width: 20px;
            height: 2px;
            background: #fff;
            vertical-align: middle;
            margin-left: 10px;
            &:after{
                position: absolute;
                top: -3px;
                right: -2px;
                content: '';
                display: inline-block;
                width: 8px;
                height: 3px;
                background: #fff;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            &:before{
                position: absolute;
                bottom: -3px;
                right: -2px;
                content: '';
                display: inline-block;
                width: 8px;
                height: 3px;
                background: #fff;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            &:before{
              width:8px;
  
            }
          }
          &:after{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(3px,3px);
            -webkit-transform: translate(3px,3px);
            box-shadow: inset 0 0 0 1px #000;
            -webkit-box-shadow: inset 0 0 0 1px #000;
          }
        }
      }
    }
  }
// 2019Family END
