@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}

.button_area_v2{
	a{
		height: 40px;
		font: 500 12px/40px 'NotoSansKR';
		span.arrow{
			top: -2px;
		}
	}
}

#adiclubweek {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 16px;
  font-weight: 300;
  font-family: 'NotoSansKR';
}

.contain-visual {
  border-bottom: 5px solid #000;

  img {
    display: block;
    width: 100%;
  }
}

.contain-section1 {
  padding: 30px 0;
  border-bottom: 1px solid #000;

  img {
    display: block;
    width: 100%;
  }

  dt {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
  }

  dd {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    a{
      display: inline-block;
      width: 177px;
    }
  }
}

.contain-section2 {
  padding: 31px 0 0 0;
  border-bottom: 1px solid #000;

  img {
    display: block;
    width: 100%;
  }

  dt {
    font: 600 2.5rem/2.5rem 'adinenuPro-bold';
    color: #111;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: normal;
  }

  dd {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
  }

  .box-wrap {
    position: relative;

    .box-background {}

    .swiper-container {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 0;
    }
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px; 
    z-index: 1;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
  }
}

.slider_bene01{
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0; 
  .slick-dots {
    padding:1rem 0 2rem 0;
    text-align: center;
    margin: 0 auto;
    // width: 30%;
    // margin: 0 auto;			
    // overflow: hidden;	
  }			
  .slick-dots li {
    display: inline-block;
    margin-right: 5px;
  }
  .slick-dots li button {
    width: 11px;
    height: 11px;
    background:none;
    border:1px solid #111;
    border-radius:50%;
    padding: 0;
    text-indent: -9999px;
    vertical-align:bottom;				
  }			
  .slick-dots li.slick-active button {
    background:#111;
  }	  
  .slick-arrow{
    font-size:0;
    border:0;
  }

  .slick-prev{
    position:absolute;
    left: 10px;
    top: 38%;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_left.png')no-repeat 50%;
    background-size: 12px auto;
    width: 25px;
    height: 36px;
    z-index:1;
    outline:none;
  }					
  .slick-next{
    position:absolute;
    right: 10px;
    top: 38%;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_right.png')no-repeat 50%;
    background-size: 12px auto;
    width: 25px;
    height: 36px;
    z-index:1;
    outline:none;
  }	  
}


.contain-section3 {
  padding: 40px 0 0 0;

  .box-link {
    padding: 0 0 40px 0;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }

  a img {
    display: inline-block;
    margin: 0;
    width: 177px;
  }
}

.contain-section4 {
  dl {
    padding: 0 0 25px 0;
  }

  dt {
    font: 24px/24px 'adinenuPro-black';
    margin-bottom: 6px;
    text-align: center;
    color: #000;
    letter-spacing: normal;
  }

  dd {
    font: 400 15px/15px 'adinenuPro-regular','NotoSansKR';
    margin-bottom: 15px;
    text-align: center;
    color: #000;
    line-height: 140%;
    strong {
      font: 900 15px/15px 'adinenuPro-bold';
      letter-spacing: normal;
    }

    &.image {
      margin-bottom: 12px;
    }
  }
}

.contain-section5 {
  padding: 28px 10px 0 10px;
  background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_bg_acw201015_cont6_1.png') no-repeat 50% top;
  background-size: 100% auto;

  .box-title {
    text-align: center;

    .text1 {
      padding: 15px 0 20px;
      font-size: 22px;
      font-weight: 700;

      strong {
        font-weight: 900;
      }
    }
  }

  .contain-inner {
    overflow: auto;

    .box-flex {
      display: flex;
    }

    img {
      margin: 0 5px;
    }
  }

  .text2 {
    padding: 25px 0 30px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
}

.contain-section2 {
  .swiper-pagination {
    position: static;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
  }

  .swiper-button-next {
    &::after {
      content: none;
    }

    right: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_right.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_right.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-button-prev {
    &::after {
      content: none;
    }

    left: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_left.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_left.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom {
    bottom: 60px;
  }
}

.swiper-pagination-fraction {
  bottom: 60px;
}

.contain-section2 {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }

  .swiper-pagination-bullet {
    margin: 0;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    background: #fff;
    opacity: 1;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    background: #000;
  }
}

  .sect_salebnn {
    text-align: center;
    position:relative;
    padding-top:2rem;
    
    .sele_bg{
      position:relative;
      img{
        display:block;
        width:100%;
        position:relative;
      }
    }
    .txt{
      position:absolute;left:50%;top:56%;
      transform:translate(-50%,-50%);
      width: 100%;
      h5{
        font: 900 1.4rem/1.9rem 'NotoSansKR';
        color: #111;
        text-align: center;
        letter-spacing: 2px;					
        padding-bottom:1.6rem;
      }
    }
  }
  .sect_prdo_list{
    >ul{
      margin-top: 2.5rem;
      overflow: hidden;
      width: 100%;
      >li{
        float: left;
        width: 33.33333%;
        vertical-align:top;
        a{
          display: block;
          img{
            width:100%;
          }
          .box{
            padding:5rem 0;
            background:#111;
            height:2rem;	
            .txt{
              h2{
                color:#fff;
                font:900 1.4rem/1.6rem 'adinenuPro-black';
                letter-spacing:1px;
                text-transform:uppercase;
                span{
                  display:block;
                }
              }
            }
          }
  
        }
        &:nth-child(1){
          margin-left:0;
        }				
        
      }
    }
    .slick-list {
      width: 65%;
      padding-right: 280px;
      .slick-slide {
        padding-right: 15px;
        outline: 0 none;
        cursor: pointer;
  
        &::after {
          display: block;
          clear: both;
          content: '';
        }
  
        img {
          width: 100%;
        }
      }
    }			
    .slick-dots {
      padding:1rem 0 2rem 0;
      text-align: center;
      // width: 30%;
      // margin: 0 auto;			
      // overflow: hidden;	
    }			
    .slick-dots li {
      display: inline-block;
      margin-right: 5px;
    }
    .slick-dots li button {
      width: 20px;
      height: 2px;
      background:none;
      border:1px solid #111;
      padding: 0;
      text-indent: -9999px;
      vertical-align:bottom;				
    }			
    .slick-dots li.slick-active button {
      height:4px;
      background:#111;
    }				
  }

  .button_area_v2{
		display: inline-block;
		a{
			padding: 0 6vw;
			font: 500 1rem/3.4rem 'NotoSansKR';
			letter-spacing: .15rem;
			height: 3.4rem;
			.arrow{
				margin-left: 1rem;
				width: 20px;
				&::after, &::before{
					width: 7px;
					height: 2px;
				}
				&::before{
					bottom:-2px;
				}
				&::after{
					top:-2px;
				}
			}
		}
	}