@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#video-layer{
	position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-origin:center center;
	-webkit-transform-origin:center center;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity:0;
	background:#000;
	z-index:1;

	transition:all 0.4s;
	-webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
	opacity: 1;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}

#video-layer .video-box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#video-layer .close_x_btn{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
}

#video-layer.loaded .close_x_btn{
	opacity: 1;
}

.button_area_v2{
	a{
		height: 40px;
		font: 500 12px/40px 'NotoSansKR';
		span.arrow{
			top: -2px;
		}
	}
}

#adiclubweek {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 16px;
  font-weight: 300;
  font-family: 'NotoSansKR';
}

.contain-visual {
  border-bottom: 5px solid #000;

  img {
    display: block;
    width: 100%;
  }
}

.contain-section1 {
  padding: 23px 0 30px 0;
  border-bottom: 1px solid #000;

  img {
    display: block;
    width: 100%;
  }

  dt {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
  }

  dd {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
  }
}

.contain-section2 {
  padding: 41px 0 0 0;
  border-bottom: 1px solid #000;

  img {
    display: block;
    width: 100%;
  }

  dt {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.04em;
  }

  dd {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
  }

  .box-wrap {
    position: relative;

    .box-background {}

    .swiper-container {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 0;
    }
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
  }
}

.contain-section3 {
  padding: 40px 0 0 0;

  .box-link {
    padding: 0 0 40px 0;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }

  a img {
    display: inline-block;
    margin: 0;
    width: 177px;
  }
}

.contain-section4 {
  dl {
    padding: 0 0 25px 0;
  }

  dt {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #000;
  }

  dd {
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
    color: #000;
    line-height: 140%;
    font-weight: 300;

    strong {
      font-weight: 900;
    }

    &.image {
      margin-bottom: 12px;
    }
  }
}

.contain-section5 {
  padding: 28px 10px 0 10px;
  background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_bg_acw201015_cont6_1.png') no-repeat 50% top;
  background-size: 100% auto;

  .box-title {
    text-align: center;

    .text1 {
      padding: 15px 0 20px;
      font-size: 22px;
      font-weight: 700;

      strong {
        font-weight: 900;
      }
    }
  }

  .contain-inner {
    overflow: auto;

    .box-flex {
      display: flex;
    }

    img {
      margin: 0 5px;
    }
  }

  .text2 {
    padding: 25px 0 30px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
}

.contain-section2 {
  .swiper-pagination {
    position: static;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
  }

  .swiper-button-next {
    &::after {
      content: none;
    }

    right: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_right.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_right.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-button-prev {
    &::after {
      content: none;
    }

    left: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_left.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    z-index: 1;
    margin-top: -55px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/m_img_roll_left.png') no-repeat 50%;
    background-size: 12px auto;
    outline: none;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom {
    bottom: 60px;
  }
}

.swiper-pagination-fraction {
  bottom: 60px;
}

.contain-section2 {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }

  .swiper-pagination-bullet {
    margin: 0;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    background: #fff;
    opacity: 1;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    background: #000;
  }
}