#adiclubweek {margin:0;padding:0;width:auto;font-size:16px;font-weight:300;font-family:'NotoSansKR';}


.contain-visual {border-bottom:5px solid #000;}
.contain-visual img {display:block;width:100%;}
.contain-section1 {padding:23px 0 30px 0;border-bottom:1px solid #000;}
.contain-section1 img {display:block;width:100%;}
.contain-section1 dt {margin-bottom:10px;text-align:center;font-weight:900;font-size:30px;}
.contain-section1 dd {margin-bottom:20px;text-align:center;font-weight:400;font-size:13px;line-height:140%;}
.contain-section2 {padding:41px 0 0 0;border-bottom:1px solid #000;}
.contain-section2 img {display:block;width:100%;}
.contain-section2 dt {margin-bottom:10px;text-align:center;font-weight:900;font-size:30px;letter-spacing:-0.04em;}
.contain-section2 dd {margin-bottom:20px;text-align:center;font-weight:400;font-size:13px;line-height:140%;}
.contain-section2 .box-wrap {position:relative;}
.contain-section2 .box-wrap .box-background {}
.contain-section2 .box-wrap .swiper-container {position:absolute;left:15px;right:15px;top:0;}
.contain-section2 .text {position:absolute;left:0;right:0;bottom:25px;z-index:1;font-size:12px;text-align:center;font-weight:300;}
.contain-section3 {padding:40px 0 0 0;}
.contain-section3 .box-link {padding:0 0 40px 0;text-align:center;}
.contain-section3 img {display:block;width:100%;margin:0 0 10px 0;}
.contain-section3 a img {display:inline-block;margin:0;width:177px;}
.contain-section4 dl {padding:0 0 25px 0;}
.contain-section4 dt {margin-bottom:6px;font-size:24px;font-weight:900;text-align:center;color:#000;}
.contain-section4 dd {margin-bottom:15px;font-size:15px;text-align:center;color:#000;line-height:140%;font-weight:300;}
.contain-section4 dd strong {font-weight:900;}
.contain-section4 dd.image {margin-bottom:12px;}
.contain-section5 {padding:28px 10px 0 10px;background:url(images/m_bg_acw201015_cont6_1.png) no-repeat 50% top;background-size:100% auto;}
.contain-section5 .box-title {text-align:center;}
.contain-section5 .box-title .text1 {padding:15px 0 20px;font-size:22px;font-weight:700;}
.contain-section5 .box-title .text1 strong {font-weight:900;}
.contain-section5 .contain-inner {overflow:auto;}
.contain-section5 .contain-inner .box-flex {display:flex;}
.contain-section5 .contain-inner img {margin:0 5px;}
.contain-section5 .text2 {padding:25px 0 30px;font-size:12px;font-weight:300;text-align:center;}




.contain-section2 .swiper-pagination {position:static;margin-top:4px;margin-bottom:4px;text-align:center;}
.contain-section2 .swiper-button-next::after {content:none;}
.contain-section2 .swiper-button-next,
.contain-section2 .swiper-container-rtl .swiper-button-prev {right:10px;z-index:1;margin-top:-55px;background:url(images/m_img_roll_right.png) no-repeat 50%;background-size:12px auto;outline:none;}
.contain-section2 .swiper-button-prev::after {content:none;}
.contain-section2 .swiper-button-prev,
.contain-section2 .swiper-container-rtl .swiper-button-next {left:10px;z-index:1;margin-top:-55px;background:url(images/m_img_roll_left.png) no-repeat 50%;background-size:12px auto;outline:none;}
.contain-section2 .swiper-container-horizontal>.swiper-pagination-bullets,
.contain-section2 .swiper-pagination-custom, .swiper-pagination-fraction {bottom:60px;}
.contain-section2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 2px;}
.contain-section2 .swiper-pagination-bullet {margin:0;width:5px;height:5px;border:1px solid #000;background:#fff;opacity:1;outline:none;}
.contain-section2 .swiper-pagination-bullet-active {background:#fff;background:#000;}
