@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';



#falcon{
	position: relative;
	div{
		img{
			width: 100%;
		}
		.link{
			position: absolute;
			text-indent: -9999px;
			display: block;
		}
	}
	.visual,.cont,.video_area,.bottom{
		position: relative;
	}

	.visual{
		position: relative;
		&.on{
			.txt{
				opacity: 1;
				-webkit-opacity: 1;
				.btn-buy{
					opacity: 1;
					-webkit-opacity: 1;
				}
			}
		}
		.txt{
			position: absolute;
			width: 100%;
			top:50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			transition: all 0.6s;
			-webkit-transition: all 0.6s;
			opacity: 0;
			-webkit-opacity: 0;
			h2{
				img{
					display: inline-block;
					width: 34%;
				}
			}
			h1{
				font: 500 2.8rem/2.8rem 'NotoSansKR';
				color: white;
				padding-top: 1rem;
			}
			p{
				font: 400 1rem/1rem 'NotoSansKR';
				color:white;
				padding: 8px 0 22px;
			}
			.btn-buy{
				transition: all 0.6s;
				-webkit-transition: all 0.6s;
				transition-delay: 0.6s;
				-webkit-transition-delay: 0.6s;
				opacity: 0;
				-webkit-opacity: 0;
				a{
				display: inline-block;
				font: 1rem/1rem 'NotoSansKR';
				color:white;
				background:#d09a20;
				padding:15px 20px;	
				}
			}

		}
	}

	.statement1{
		position: relative;
		&.on{
			>img{
				top: 8%;
				transform: translateX(-50%) rotate(0);
				opacity: 1;
				-webkit-opacity: 1;
			}
		}
		>img{
			display: block;
			width: 66%;
			position: absolute;
			top: 12%;
			left: 50%;
			transform: translateX(-50%) rotate(5deg);
			z-index: 1;

			transition: all 0.6s;
			-webkit-transition: all 0.6s;
			opacity: 0;
			-webkit-opacity: 0;
		}
		.txt{
			position: absolute;
			width: 62%;
			top:56.8%;
			left: 50%;
			padding: 2rem;
			background: #fff;
			transform: translateX(-50%);
			text-align: center;
			box-sizing: border-box;
			h3{
				font: 500 1.2rem 'NotoSansKR';
				color: #000;				
			}
			.btn-buy{
				margin-top: 1.2rem;
				a{
				display: inline-block;
				font: 1rem/1rem 'NotoSansKR';
				color:white;
				background:#d09a20;
				padding:15px 20px;	
					img{
						margin-left: 1rem;
						height: 1rem;
						width: auto;
					}
				}
			}

		}
	}
	.statement2{
		position: relative;
		padding: 3rem 0;
		text-align: center;
		&.on{
			h3{
				opacity: 1;
				-webkit-opacity: 1;
			}
			h2{
				opacity: 1;
				-webkit-opacity: 1;
			}
		}
		h3{
			font: 1.1rem/1.8rem 'NotoSansKR';
			transition: all 0.6s;
			-webkit-transition: all 0.6s;
			opacity: 0;
			-webkit-opacity: 0;
		}
		h2{
			margin-top: 1.5rem;
			transition: all 0.6s;
			-webkit-transition: all 0.6s;
			transition-delay: 0.3s;
			-webkit-transition-delay: 0.3s;
			opacity: 0;
			-webkit-opacity: 0;
			img{
				width: 30%;
			}
		}
	}

	.section{
		overflow: hidden;
		background: #ffcbe9;
		.article{
			position: relative;
			padding-bottom: 16rem;
			text-align-last: left;
			z-index: 0;
			&.on{
				.img_area{
					opacity: 1;
					-webkit-opacity: 1;
				}
				.txt_area{				
					opacity: 1;
					-webkit-opacity: 1;
					&::before{
						transform: translate(12px, 12px);
						opacity: 1;
						-webkit-opacity: 1;
					}
					>*{
						opacity: 1;
						-webkit-opacity: 1;
					}
				}
			}
			&.cont1{
				.txt_area{
					right: 5%;
				}
			}
			&.cont2{
				padding-bottom: 19rem;
				.img_area{
					overflow: hidden;
					width: 100%;
					img{
						display: inline-block;
						width: 80%;
						float: right;
					}
				}
				.txt_area{					
					border-color: #e55ded;
					top: 49%;
					left: 6%;
					&::before{
						background: #e55ded;
						border: 4px solid #e55ded;
					}
				}
			}
			&.cont3{
				padding-bottom: 19rem;
				.txt_area{
					top: 51%;
					right: 2%;
					border-color: #4d2a8e;
					&::before{
						background: #4d2a8e;
						border: 4px solid #4d2a8e;
					}
				}
			}
			.img_area{
				position: relative;
				z-index: -1;
				transition: all 0.6s;
				-webkit-transition: all 0.6s;
				opacity: 0;
				-webkit-opacity: 0;
				img{
					display: block;
				}
			}
			.txt_area{
				position: absolute;
				top: 44%;
				width: 58%;
				padding: 2rem;
				background: #fff;
				box-sizing: border-box;
				border: 4px solid #ddb4fe;
				transition: all 0.6s;
				-webkit-transition: all 0.6s;
				transition-delay: 0.4s;
				-webkit-transition-delay: 0.4s;
				opacity: 0;
				-webkit-opacity: 0;
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #ddb4fe;
					border: 4px solid #ddb4fe;
					transform: translate(0, 0);
					z-index: -1;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
					transition-delay: 1s;
					-webkit-transition-delay: 1s;
					opacity: 0;
					-webkit-opacity: 0;
				}
				h2{
					font: 1.6rem/1.6rem 'adinenuPro-bold','NotoSansKR';
					letter-spacing: normal;		
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
					transition-delay: 1s;
					-webkit-transition-delay: 1s;
					opacity: 0;			
					-webkit-opacity: 0;			
				}
				em{
					font: 0.9rem/0.9rem 'NotoSansKR';
					font-style: normal;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
					transition-delay: 1s;
					-webkit-transition-delay: 1s;
					opacity: 0;
					-webkit-opacity: 0;
				}
				p{
					font: 1.1rem/1.6rem 'NotoSansKR';
					padding: 1.4rem 0;
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
					transition-delay: 1.2s;
					-webkit-transition-delay: 1.2s;
					opacity: 0;
					-webkit-opacity: 0;
				}
				span{
					display: block;					
					font: 1rem/1rem 'NotoSansKR';
					transition: all 0.6s;
					-webkit-transition: all 0.6s;
					transition-delay: 1.4s;
					-webkit-transition-delay: 1.4s;
					opacity: 0;
					-webkit-opacity: 0;
				}
			}
		}
	}
	.statement3{
		position: relative;
		transition: all 0.6s;
		-webkit-transition: all 0.6s;
		opacity: 0;
		-webkit-opacity: 0;
		&.on{
			opacity: 1;
			-webkit-opacity: 1;
		}
	}
	.bottom{
		position: relative;
		transition: all 0.6s;
		-webkit-transition: all 0.6s;
		opacity: 0;
		-webkit-opacity: 0;
		&.on{
			opacity: 1;
			-webkit-opacity: 1;
		}
	}
}
