@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';


#vrct_cp{
	position: relative;
	// background: #000;
	.button_area_v2{
		// display: inline-block;
		// width: 120px;
		width: 36%;
		a{
			font: 500 1rem/42px 'NotoSansKR';
			height: 42px;
			letter-spacing: 1px;
			text-align: left;
			padding-left: 1.8rem;
			span.arrow{
				position: absolute;
				top: 50%;
				right: 1.8rem;
				width: 18px;
			    // margin-left: 12px;
				&:after{
				    height: 2px;
					top: -2px;
				    width: 7px;
				}
				&:before{
				    height: 2px;
					bottom: -2px;
					width: 7px;
				}
			}
		}
	}

	.main{
		position: relative;
		.bg_wrap{
			position: relative;
			// padding-bottom: 145%;
			img{
				width:100%;
			}
		}
		.inn_wrap{
			position: absolute;
			top: 78%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			text-align: center;
			h2{
				padding:0 0 3px 0;
				font:2rem 'adinenuPro-bold';
				color:#000;
				letter-spacing: 1px;
				span{
					font: 500 1.8rem 'NotoSansKR';

				}
			}
			p{
				font: 500 1.08rem 'NotoSansKR';
				color: #000;
				letter-spacing: 0.1px;
			}
			.button_area_v2{
				margin: 5% auto 0;
				// width:60%;
				a{
					font-weight: 500;
				}
			}
		}
	}

	.patches_wrap{
		position: relative;
		padding:0 0 25px 0;
		text-align: center;
		.txt_area{
			text-align: center;
			p{
				padding: 20px 0 5px 0;
				text-align: center;
				font: 500 1.5rem 'NotoSansKR';
			}
			span{
				display: inline-block;
				margin:0 0 4px 0;
				font: 500 1rem/1rem 'NotoSansKR';
				color:#614843;
				background: #fbddd7;
				letter-spacing: -0.3px;
			}
		}
		div.img{
			margin:18px 15px 18px;
			img{
				width: 100%;
			}
		}
		small{
			text-align: center;
			font: 400 .9rem 'NotoSansKR';
			color:#616161;
			letter-spacing: -0.3px;

		}
		
	}

	.patch_info{
		position: relative;
		padding: 0 0 50px 0;
		.img{
			img{
				width:100%;
			}
		}
		.txt_area{
			text-align: center;
			p{
				text-align: center;
				font: 400 1rem 'NotoSansKR';
				letter-spacing: -0.3px;
				&.title{
					padding:20px 0 4px 0;
					letter-spacing: 0;
					font: 600 1.8rem 'NotoSansKR';
				}
			}
			.button_area_v2{
				margin:20px 0 0 ;
				width:65%;
				display: inline-block;
			}
		}
	}

	.evt_wrap{
		img{
			width:100%;
		}
	}

	.bnn_wrap{
		position: relative;
		.img{
			img{
				width:100%;
			}
		}
		.button_area_v2{
			
			width: 50%;
			position: absolute;
			top:72%;
			left:50%;
			transform: translate(-50%,-50%);
		}
	}

	.slider_wrap{
		position: relative;
		padding:40px 0;
		margin:0 40px;
		overflow: hidden;
		h3{
			padding: 0 0 15px 0;
			letter-spacing: 0;
			text-align: center;
    		font: 600 1.8rem 'NotoSansKR';
		}
		.banner_slider_wrap{
			ul{
				li{
					img{
						width:100%;
					}
					&.on{
						.txt_area{
							p{
								span{
									width:80%;
								}
							}
							em{
								top:0;
								opacity: 1;
							}
						}
					}
					.txt_area{
						padding:15px 0 0 0;
						text-align: center;
						p{
							position: relative;
							padding: 0 0 3px 0;
							display: inline-block;
							text-align: center;
							font: 1.45rem 'adinenuPro-bold';
							letter-spacing: 1px;
							span{
								position: absolute;
								bottom: 0;
								left: 50%;
								margin-left: -40%;
								width: 0%;
								height: 2px;
								background: #000;
								transition: all 0.5s;
							}
						}
						em{
							position: relative;
							top:10px;
							display: block;
							padding:5px 0 0 0 ;
							font-style:normal;
							letter-spacing: 1.8px;
							font: 1.2rem 'adinenuPro-regular';
							opacity: 0;
							transition: all 0.5s;

						}
					}
				}
				.owl-controls{
					padding: 10px 0 0 0;
					text-align: center;
					.owl-dots{
						.owl-dot{
							display: inline-block;
							margin:0 3px;
							width:8px;
							height:8px;
							border-radius: 50px;
							border:1px solid #000;
							box-sizing: border-box;
							&.active{
								background: #000;
							}
						}	
					}
				}
			}
		}
	}

	.bottom_wrap{
		position: relative;
		.bgimg{
			img{
				width:100%;
			}
		}
		.inn_wrap{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width: 100%;
			text-align: center;
			>*{
				text-align: center;
			}
			h4{
				padding: 0 0 3px 0;
				font: 2rem 'adinenuPro-bold';
				color: #000;
				letter-spacing: 1px;
				span{
					font: 500 1.8rem 'NotoSansKR';
				}
			}
			p{
				font: 500 1.08rem 'NotoSansKR';
				color: #000;
				letter-spacing: 0.1px;
			}
			.button_area_v2{
				margin: 5% auto 0;
				display: inline-block;
			}
		}
	}

}
