@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#yeezy {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  .visual {
    position: relative;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
}
