@charset 'utf-8';
@font-face{
    font-family:'Decima Mono';
    src:url('//imagem.adidas.co.kr/fonts/decimamono/woff/32923C_0_0.woff2') format('woff2'),
        url('//imagem.adidas.co.kr/fonts/decimamono/woff/32923C_0_0.woff') format('woff'),
        url('//imagem.adidas.co.kr/fonts/decimamono/ttf/32923C_0_0.ttf') format('truetype');
}
#eqt{

    .button{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: rgba(255, 255, 255, 0.8);
        padding: 1.5rem 5rem;
        font:700 1.18rem/1.18rem 'NotosansKR';
        color: #000;

        .icons{
            margin-left: 5px;
        }

        &.black{
            color: #fff;
            background: #000;
        }
        &.adipro{
            font:700 1.18rem/1.18rem 'NotosansKR';
        }
    }

    >div{
        position: relative;
        width: 100%;
    }
    .bg{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img{
            width: 100%;
        }
    }

    .video{
		overflow: hidden;
		position: relative;
		text-align: center;
        padding-bottom: 64%;
		.bg{
			width: 100%;
    		padding-bottom: 56%;
			video{
				position: absolute;
				top: 50%;
			    left: 50%;
			    -ms-transform: translate(-50%,-50%);
			    transform: translate(-50%,-50%);
			    min-width: 0;
			    min-height: 0;
			    max-width: 100%;
			    object-fit: cover;
			    font-family: 'object-fit: cover;';
			    width: 90%;
			    height: 90%;
			}
		}
	}


    .main_cont{

		.cont_box{

			position: relative;

			margin: 0 auto;
            .txt_box{
                position: absolute;
                width: 100%;
                top: 0;
                margin: 0 auto;
                z-index: 5;
                .tit{
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 100%;
                    img{
                        width: 38%;
                    }
                }
                .buy{
                    position: absolute;
                    width: 32%;
                    top: 1.5rem;
                    right: 1.5rem;
                    img{
                        width: 100%;
                    }
                }
            }
            .logo{
                position: absolute;
                z-index: 5;
                bottom: 1.5rem;
                right: 1.5rem;
                width: 13%;
                img{
                    width: 100%;
                }
            }
			.img_box{
				position: relative;
				overflow: hidden;
				ul{
					position: relative;
					li{
						position: relative;
						float: left;
						img{
							width: 100%;
						}
					}
				}
			}
			.num{
				padding-bottom: 8%;
				text-align: center;
				margin-top: 1rem;
				li{
					display: inline-block;
					a{
						  width: 1rem;
						  height: 1rem;
						  display: block;
						  background-color: #d0d0d0;
						  border-radius: 10px;
						  margin: 0 3px;
						&.on{
							background-color: #43587a;
						}
					}
				}
			}

		}
        .main_tit{
            position: relative;
            margin: 2rem auto;
            p{
                font:500 1.5rem 'NotoSansKR';
                text-align: center;
                span{
                     font:1.6rem 'Decima Mono';
                }
            }
        }
	}

    .statement_wrap{
        position: relative;
        width: 100%;
        text-align: right;
        padding: 2rem 0;
        p{
            padding:5px 1.5rem 5px 0;
            &.p1{
                font:700 1.3rem 'NotoSansKR';
            }
            &.p2{
                font:300 1.3rem 'NotoSansKR';
                span{
                    font:1.3rem 'Decima Mono';
                }
            }
        }
    }


    .product_box{

        .usp_area{
            position: relative;
            width: 100%;
            padding-bottom: 117.1%;
            .bg{
                position: absolute;
                top: 0;
                img{
                    width: 100%;
                }
                a{
                    display: block;
                    position: absolute;
                    width: 11%;
                    height : 9%;
                }
            }
            .desc_area{
                img{
                    position: absolute;
                    z-index: 3;
                    display: none;
                }
            }
            .txt_box{
                position: absolute;
                width: 100%;
                top: 0;
                margin: 0 auto;
                z-index: 5;
                .tit{
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 100%;
                    img{
                        width: 38%;
                    }
                }
                .buy{
                    position: absolute;
                    width: 32%;
                    top: 1.5rem;
                    right: 1.5rem;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .gallery_area{
            .img{
                position: relative;
                img{
                    width: 100%;
                }
            }
            .video{
        		overflow: hidden;
        		position: relative;
        		text-align: center;
                padding-bottom: 56%;
        		.bg{
        			width: 100%;
            		padding-bottom: 56%;
                    margin-top: 2.8%;
        			video{
        				position: absolute;
        				top: 50%;
        			    left: 50%;
        			    -ms-transform: translate(-50%,-50%);
        			    transform: translate(-50%,-50%);
        			    min-width: 0;
        			    min-height: 0;
        			    max-width: 100%;
        			    object-fit: cover;
        			    font-family: 'object-fit: cover;';
        			    width: 89%;
        			    height: 90%;
        			}
        		}
        	}
            .txt_box{
                position: relative;
                width: 100%;
                margin-bottom: 20%;
                .txt{
                    position: relative;
                    width: 100%;
                    font:400 1.2rem 'NotoSansKR';
                    padding: 22% 0 0 1.5rem;
                    span{
                        font:1.3rem 'Decima Mono';
                    }
                }
                .buy{
                    position: absolute;
                    text-align: right;
                    width: 32%;
                    top: 1.5rem;
                    right: 1.5rem;
                    z-index: 5;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }



}
