@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
// html,body{
// 	height:100%;
// }
.not_scroll{
	overflow: hidden;
}

#football {
	background: #000;
	.button_area_v2 {
		display: inline-block;
		width: 140px;
		a {
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
			letter-spacing: 1px;
			padding: 0 1rem;

			span.arrow {
				margin-left: 10px;
				width: 25px;

				&:after {
					width: 8px;
				}

				&:before {
					width: 8px;
				}
			}
		}
	}

	.section {
		position: relative;
	}

	.sect_visual {
		>img {
			display: block;
			width: 100%;
		}
	}

	.sect_contents {
		background: url(/images/adidas/2021/event/football/0120/cont_bg.jpg) no-repeat;
		background-size: 100% 100%;

		.cont_head {
			width: 100%;
			margin: 0 auto;
			padding: 2rem 0 8rem;
			text-align: center;

			h3 {
				font: 700 2.2rem/2.2rem "NotoSansKR";
				color: #fff;
				text-align: center;
				letter-spacing: 1px;
			}

			p {
				padding-top: 1.5rem;
				font: 300 1.2rem/2rem "NotoSansKR";
				color: #fff;
				text-align: center;
			}

			.button_area_v2 {
				margin-top: 2rem;
			}
		}

		.cont_body {
			width: 100%;
			padding-bottom: 4rem;

			.feature_wrap {
				width: 100%;
				margin-bottom: 4rem;
				padding: 0 3rem;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				&:last-child {
					margin-bottom: 0;
				}

				>img {
					display: block;
					width: 100%;
				}

				.feature_txt {
					width: 100%;
					padding-top: 2rem;
					h4 {
						font: 700 2rem/2rem "NotoSansKR";
						color: #fff;
						text-align: center;
						letter-spacing: 3px;

						em {
							font: 2rem/2rem "adinenuPro-bold";
							letter-spacing: 2px;
						}
					}

					p {
						padding-top: 1rem;
						font: 300 1.2rem/2rem "NotoSansKR";
						color: #fff;
						text-align: center;
						letter-spacing: normal;
						em {
							font: 1.2rem/2rem "adinenuPro-regular";
							letter-spacing: normal;
						}
					}
				}
			}
		}
	}

	.sect_prdlist {
		padding: 4rem 3rem 3rem;
		background: url(/images/adidas/2021/event/football/0120/prdlist_bg.jpg) no-repeat;
		background-size: 100% 100%;

		ul {
			width: 100%;
			li {
				overflow: hidden;
				display: block;
				width: 100%;
				margin-bottom: 1rem;
				>*{
					float: left;
				}
				>img {
					display: block;
					width: 50%;
				}

				.prdlist_box {
					width: 50%;
					padding-left: 2rem;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					>img{
						display: block;
						width: 100%;
					}
					.button_area_v2{
						width: 95%;
					}
				}
			}
		}
	}
}
