@import "./app/MO/reebok/css/scss/about.scss";
#video-layer{
  position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin:center center;
  -webkit-transform-origin:center center;
  transform:scale(0);
  -webkit-transform:scale(0);
  opacity:0;
  background:#000;
  z-index:1;

  transition:all 0.4s;
  -webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
  opacity: 1;
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
}

#video-layer .video-box{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#video-layer .close_x_btn{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
}

#video-layer.loaded .close_x_btn{
  opacity: 1;
}
.dmx1200{
    .btn{
        display: block;
        margin : 0 auto;
        width: 150px;
        a{
            display: block;
            z-index: 1;
            font: 500 1.2rem/3.5rem 'NotoSansKR';
            color: #fff;
            text-align: center;
            border: 4px solid #fff;
            letter-spacing: 3px;
        }
    }

    .visual_main{
        position: relative;
        .bg{
            img{
                width:100%;
            }
        }
    }
    .copy_section{
        background: url('/images/reebok/about/dmx/181128/copy_section.jpg') 100% 100% no-repeat;
        padding: 1.5rem 5rem 3.2rem 5rem;
        background-position: center;
        background-size: cover;
        .logo{
            img{
                width:100%;
            }
        }
        .txt{
            p{
             font:500 1.1rem 'NotoSansKR';
             color:#fff;
             text-align: center;
             margin: 15px 0;
             letter-spacing: .5px;
            }
        }
    }
    .video_section{
        overflow: hidden;
        position: relative;
        .bg{
            img{
                width: 100%;
            }
        }
        a.btn-video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            .ico-video{
                display: inline-block;
                width: 60px;
                height: 60px;
                background: url('/images/reebok/about/dmx/181128/play.png') 0 0 no-repeat;
                background-size: 60px 60px;
            }
        }
    }

    .slide_section{
        position: relative;
        background: url('/images/reebok/about/dmx/181128/slide_section.jpg') 100% 100% no-repeat;
        background-size: cover;
        background-position: top;
        padding:1rem 0;
        .wrap{
            margin:30px 0;
            .banner_slider_wrap{
                position: relative;
                overflow: hidden;
                &.position{
                    .owl-dots{
                        margin:10px 0 0 0;
                        position: relative!important;
                    }
                }
                ul#slider_owl1, #slider_owl3, #slider_owl5{
                    overflow: hidden;
                    li{
                        position: relative;
                        float: left;
                        padding-right: 56px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                    .owl-dots{
                        // display: block;
                        position: absolute;
                        bottom: 4.5%;
                        left: 7%;
                        .owl-dot{
                            width:11px;
                            height: 11px;
                            display: inline-block;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            margin:0 5px;
                            &.active{
                                background: #fff;
                            }
                        }
                    }
                    &#slider_owl5{
                        li{
                            padding:0 25px;
                        }
                        .owl-dots{
                            left: 4.9%;
                        }
                    }
                }
                ul#slider_owl2, #slider_owl4{
                    overflow: hidden;
                    li{
                        position: relative;
                        float: left;
                        padding-left: 56px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                    .owl-dots{
                        // display: block;
                        position: absolute;
                        bottom: 4.5%;
                        right: 7%;
                        .owl-dot{
                            width:11px;
                            height: 11px;
                            display: inline-block;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            margin:0 5px;
                            &.active{
                                background: #fff;
                            }
                        }
                    }
                }
            }
            .txt1{
                padding-left: 9%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                span{
                    color:#5fdd89;
                    border-bottom:1px solid #5fdd89;
                    font:700 18px 'dinpro bold';
                }
                h1{
                    font:700 30px 'dinpro bold';
                    color:#fff;
                    margin:10px 0;
                    letter-spacing: 1px;
                }
                p{
                    font:700 14px 'dinpro bold';
                    color:#b2b2b2;
                    margin:10px 0;
                    letter-spacing: 1px;
                }
                .btn{
                    margin-left: 0;
                }
            }
            .txt2{
                padding-right: 9%;
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: right;
                span{
                    color:#5fdd89;
                    border-bottom:1px solid #5fdd89;
                    font:700 18px 'dinpro bold';
                }
                h1{
                    font:700 30px 'dinpro bold';
                    color:#fff;
                    margin:10px 0;
                    letter-spacing: 1px;
                }
                p{
                    font:700 14px 'dinpro bold';
                    color:#b2b2b2;
                    margin:10px 0;
                    letter-spacing: 1px;
                }
                .btn{
                    margin-right: 0;
                }
            }
        }
    }
    .btm{
        position: relative;
        >img{
            width:100%;
        }
        .wrap{
            position: absolute;
            bottom:15px;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            .btm_logo{
                display: inline-block;
                width: 40%;
                margin: 0 13px;
                img{
                    width:100%;
                }
            }
            .btn{
                display: inline-block;
                width: 40%;
                margin: 0 13px;
                a{}
            }
        }
    }
}
// dmx1200
