@import "./mobile/MO/reebok/css/scss/about.scss";

em{
	font-style: normal;
}
#contents{
    img{
        vertical-align: middle;
    }
}

.about_campaign.clubc_og{
	.btn{
		>div{
			position: relative;
			display: inline-block;
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
				bottom: -4px;
				height: 3px;
				left: 2px;
				width: calc(100% + 1px);
				content: "";
				display: block;
				position: absolute;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
				height: calc(100% + 1px);
				right: -4px;
				top: 2px;
				width: 3px;
				content: "";
				display: block;
				position: absolute;
			}
			a{
				padding: 0 1rem;
				font: 600 1rem/3.4rem 'NotoSansKR';
				letter-spacing: .1rem;
				position: relative;
				display: block;
				text-align: center;
				color: #fff;
				background:#000;
				z-index: 2;
				border: 1px solid #000;
				.arrow{
					margin-top: -3px;
					margin-left: 1.4rem;                
					vertical-align: middle;
					width: 20%;                
				}
			}
		}
		&.white{
			>div{
				&::before{
					border-bottom: 1px solid #fff;
					border-left: 1px solid #fff;
				}
				&::after{
					border-right: 1px solid #fff;
					border-top: 1px solid #fff;
				}
				a{
					color: #000;
					background:#fff;
					border: 1px solid #fff;
					.arrow{
					}
				}
			}
		}
	}
	img{
		width:100%;
	}
	// h4{

	// }
	// h5{

	// }

	// a:focus,button:focus {
	// 	outline: 0;
	// }
	h1,h2,p,span{
		letter-spacing: 0;
		white-space: nowrap;
	}

	.main__wrapper{
		.main__wrapper__txt{
			background:#201e38;
			padding:4rem 0 0 0;
			p{
				font: 700 1.3rem/1.3rem 'NotoSansKR';
				letter-spacing: 0px;
				color:#fff;
				text-align: center;
			}
			h1{
				font: 700 1.8rem/1.8rem 'neueplak-wide';
				letter-spacing: 0px;
				color:#fff;
				text-align: center;
				margin:1rem;
			}
			.btn{
				text-align: center;
				padding: 0.5rem 0 2rem 0;
			}
		}
	}
	.carousel__wrapper{
		background: url('/images/reebok/2020/event/clubc/2003_r_clubC_bg_MO.jpg') left top no-repeat;
		background-size: 100% 100%;
		padding:0 .5rem;
		padding-bottom: 41%;
		position:relative;
		>h1{
			font: 700 2.2rem/2.2rem 'neueplak-wide';
			letter-spacing: 0px;
			color:#000;
			padding: 3rem 0;
			text-align: center;
		}
		#clubc_og{
			background:#fff;
			padding:1rem;
			position:relative;
			.item{
				img{
					width:98%;
				}
			}
			.slick-dots{
				display: block;
				position: absolute;
				bottom: -8%;
				left: 50%;
				transform: translateX(-50%);
				padding-top: 10%;
				li{
					display:inline-block;
					width:10px;
					height:10px;
					border:1px solid #000;
					margin: 0!important;
					margin-right: 6px !important;
					border-radius: 50%;
					&.slick-active{
						background:#000;
					}
					&:last-child{
						margin:0;
					}
					button{
						border:0;
						background:none;
						text-indent: -9999px;
					}
				}
			}
		}
		.btn{
			position: absolute;
			bottom: 9%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

}

// bt21
