@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';
#container{
    padding-top: 61px;
}
#originals_calendar{
	.box{
		position: relative;
		opacity: 0;
		transition: all 0.5s;
		text-align: right;
		&.porter{
			.txt{
				h3{
					&:after{
						left: -18% !important;
					    width: 252px;
					}
				}
			}
		}
		&.Pharrell{
			.txt{
				h3{
					&:after{
						left: -18% !important;
					}
				}
			}
		}
		&.neighborhood{
			.txt{
				h3{
					&:after{
    					left: -12% !important;
					}
				}
			}
		}
		&.united{
			.txt{
				h3{
					&:after{
						left: -12% !important;
					}
				}
			}
		}
		&.left{
			text-align: left;
			.btn{
			    margin: 0 30px 50px 30px;
			}
			.txt{
			    margin: 15px 30px 25px 30px;
				h3{
					&:after{
						left:0;
					}
				}
			}
		}
		.link{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		}
		.txt{
			margin: 15px 30px 25px 0;
			p{
				padding: 0 0 3px 0;
				font:400 14px 'NotoSansKR';
				span{
					padding: 0 5px 0 0;
					font: 14px 'Adihaus-regular';
					letter-spacing: 0.2px;
				}
			}
			h3{
				position: relative;
				font: 26px/28px 'AdihausDIN-Bold';
				// letter-spacing: 0.1px;
				text-transform: uppercase;
				&:after{
					content: '';
				    display: block;
				    position: absolute;
				    right: -33%;
			        bottom: -6px;
				    width: 250px;
				    height: 3px;
				    background: #000;

				}

			}
		}
		.btn{
			display: inline-block;
		    margin: 0 30px 50px 0;
		    width: 120px;
		    padding: 9px 0 8px;
		    text-align: center;
		    font: 500 12px/12px 'NotoSansKR';
		    color: #000;
		    letter-spacing: 0.5px;
		    border: 1px solid #000;
			&:after{
				    padding-left: 3px;
			}
			&.coming{
				padding: 8px 0 5px;
				font: 12px 'adinenuPro-bold';
				color: #000;
				border: 1px solid #000;
			}
			&.soldout{
				padding: 8px 0 5px;
				font: 12px 'adinenuPro-bold';
				color: #888;
				border: 1px solid #888;
			}
		}
		img{
			width: 100%;
		}
		&.on{
			opacity: 1;
		}
	}
}
