@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ivypark{
	position: relative;
	.button_area_v2{
		width: 130px;
		a{
			font-size: 1rem;
			font-weight: normal;
			height: 36px;
			line-height: 34px;
		    letter-spacing: 1px;
			span.arrow{
				margin-left: 10px;
				width: 25px;
				&:after{
					width: 8px;
				}
				&:before{
					width: 8px;
				}
			}
		}
	}

	.section {
		position: relative;

		&.sect_main {
			>img {
				display: block;
				width: 100%;
			}
		}

		&.sect_contents {

			.sect_cont {
				display: none;
				width: 100%;
				background: #fff;
				&.cont_01{
					display: block;
				}
				.cont_inner {
					padding: 3rem 0 4rem;
					width: 100%;
					margin: 0 auto;
					text-align: center;

					h3 {
						display: none;
						font: 600 30px/30px 'NotoSansKR';
						color: #000;
						text-align: center;
					}

					>a{
						display: block;
						img {
							margin: 3rem 0;
							display: block;
							width: 100%;
						}
					}

					.button_area_v2 {
						display: inline-block;
					}
				}
			}
		}

		&.sect_bottom {
			>img {
				display: block;
				width: 100%;
			}
		}
	}

	.navi_wrap {
		position: relative;
		display: block;
		height: 60px;
		width: 100%;
		margin: 0 auto;
		// border-top: 1px solid #d8ede3;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		.navi {
			position: absolute;
			overflow: hidden;
			width: 100%;
			background: #fff;
			border-bottom: 1px solid #d8ede3;

			&.fixed {
				position: fixed;
				top: 60px;
				left: 0;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10;
			}

			.navi_inner {
				margin: 0 auto;
				overflow: hidden;
				text-align: center;
			}

			.inn_box {
				width: auto;
				height: 58px;
				display: inline-block;
				box-sizing: border-box;
				transition: all 0.2s;
				cursor: pointer;

				&:hover {
					.btn {
						opacity: 1;
					}
				}

				&.on {
					.btn {
						opacity: 1;
						color: #000;
						font-weight: bold;
						border-bottom: 3px solid #164734;
					}
				}

				.btn {
					box-sizing: border-box;
					margin: 0 auto;
					text-align: center;
					padding: 0 10px;
					height: 58px;
					font: 400 0.9rem/60px 'adihaus';
					color: #000;
					letter-spacing: normal;
					text-transform: uppercase;

					opacity: 0.5;
					transition: all 0.2s;

					&.white {
						background: rgba(255, 255, 255, 0.4);
						color: #000;
						font-weight: 600;
					}
				}

			}
		}
	}
}
