@import './mobile/css/adidas/scss/common/mixin.scss';
@import './mobile/css/adidas/scss/common/common.scss';

#ultraboost_cp{
	position: relative;
	background: #000;
	.button_area_v2{
		display: inline-block;
		margin-bottom: 2vh;
		a{
			font: 500 1rem/40px 'NotoSansKR';
			padding: 0 5vw;
			letter-spacing: 0;
			height: 40px;
			text-transform: uppercase;
			.arrow{
				width:20px;
				&::after{
					width:8px;
				}
				&::before{
					width:8px;
				}
			}
		}
	}
	img{
		width:100%;
	}

	.main{
		position: relative;
		.bg{
			padding: 10rem 0 3rem;
			video{
				width:100%;
			}
		}
		.logo{
			position: absolute;
			top:-25%;
			left:50%;
			width: 27%;
			transform: translateX(-50%);
			transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			img{
				display: block;
				width: 100%;
			}
		}
		.inn{
			position: absolute;
			top: 17%;
			left: 50%;
			transform: translateX(-50%);
			width: 92%;
			text-align: center;
			img{
				transform: rotate(-180deg);
				opacity: 0;
				transition: all 0.4s;
			}
			h2{
				margin: 0 0 5px 0;
				font:22px 'adinenuPro-regular';
				text-transform: uppercase;
				color:#fff;
				letter-spacing:1px;
				text-align: center;
				strong{
					display: block;
					color:#fff;
					font:22px 'adinenuPro-bold';
					letter-spacing:1px;
				}
			}
			p{
				font: 300 1rem/1.5rem 'NotoSansKR';
				color:#fff;
				text-align: center;
			}
			.button_area_v2{
				margin:1.2rem 0 0 0 ;
				a{
					font: 1rem/40px 'NotoSansKR';
					text-transform: uppercase;
					letter-spacing: 0.7px;

				}
			}
		}
		&.on{
			.logo{
				top: 0;
			}
		}
	}

	.section{
		position: relative;
		&.sect_state{}
		&.sect_video{
			padding-top: 1rem;
			text-align: center;
			.video_box{
				display: inline-block;
				overflow: hidden;
				width: 75%;
				height: auto;
				border: 1px solid #fff;
			}
		}
		&.sect_grid{
			.video_box{
				overflow: hidden;
				width: 66.1%;
				height: 40%;
				position: absolute;
				top: 40%;
				left: 0;
				// border: 1px solid #fff;
				video{
					margin: -18% 0 0 -12%;
					// opacity: 0.4;
				}
			}
		}
		&.sect_store{}
		&.sect_bottom{
			padding: 3rem 0;
			.inn{
				width: 100%;
				text-align: center;
				h2{
					margin: 0 0 5px 0;
					font:22px 'adinenuPro-regular';
					text-transform: uppercase;
					color:#fff;
					letter-spacing:1px;
					text-align: center;
					strong{
						display: block;
						color:#fff;
						font:22px 'adinenuPro-bold';
						letter-spacing:1px;
					}
				}				
				.button_area_v2{
					margin:1.2rem 0 0 0 ;
					a{
						font: 1rem/40px 'NotoSansKR';
						text-transform: uppercase;
						letter-spacing: 0.7px;

					}
				}
			}
		}
		>img{
			display: block;
			width: 100%;
		}
	}	
}
