@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';



#kids_winter{
	.parley_txt{
		font:400 1rem/20px 'NotoSansKR';
		text-align: center;
	}

	.adihauseDin{
		font:12px/12px 'AdihausDIN-Cond';
		text-align: center;
	}

	.btn{
		display: inline-block;
		background-color: #2faf92;
		color:#fff;
		font:400 12px/12px 'NotoSansKR';
		width: 100%;
		border:1px solid #2faf92;
		text-align: center;
	}

	.main{
		position: relative;
		img{
			width: 100%;
		}
	}

	.cont_wrap{
		#fade1{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/kids_winter/img1_bg.jpg')top center no-repeat;
			background-size: cover;
		}
		#fade2{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/kids_winter/img2_bg.jpg')top center no-repeat;
			background-size: cover;
		}
		#fade3{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/kids_winter/img3_bg.jpg')top center no-repeat;
			background-size: cover;
		}
		#fade4{
			background: url('http://imagem.adidas.co.kr/images/adidas/event/kids_winter/img4_bg.jpg')top center no-repeat;
			background-size: cover;
		}
		#fade5{
			background: url('/images/adidas/event/kids_winter/img5_bg.jpg')top center no-repeat;
			background-size: cover;
		}
		.cont_box{

			position: relative;
			padding:5rem 4rem 3rem;
			margin: 0 auto;
			.img_box{
				position: relative;
				overflow: hidden;
				ul{
					position: relative;
					li{
						position: relative;
						float: left;
						img{
							width: 100%;
						}
					}
				}
			}
			.num{
				padding-bottom: 8%;
				text-align: center;
				margin-top: 1rem;
				li{
					display: inline-block;
					a{
						  width: 1rem;
						  height: 1rem;
						  display: block;
						  background-color: #d0d0d0;
						  border-radius: 10px;
						  margin: 0 3px;
						&.on{
							background-color: #e06b5f;
						}
					}
				}
			}
			.txt_box{
				position: relative;
				h4{
				  font:700 2rem/1.3rem 'NotoSansKR','Nanum Gothic';
  				  color:#000;
  				  letter-spacing: -0.5px;
				  text-align: center;
				}
				p{
  				 font:400 1.3rem/1.8rem 'NotoSansKR','Nanum Gothic';
  				 color: #000;
  				 text-align: center;
  				 &.aticle{
  					 font:1.3rem/3rem 'adinenuPro-light','Nanum Gothic';
  					 color:#6e6e6e;
  				 }
  			  }
			  a.button{
				  display: block;
				  width: 100%;
				  background-color: #000;
				  color:#fff;
				  height: 48px;
				  font:500 1rem/48px 'NotoSansKR','Nanum Gothic';
				  text-align: center;
				  margin-top: 2rem;
				  span.icons{
					  margin-left: 5px;
				  }
			  }
			}
		}
	}

	.gallery{
		position: relative;
		margin-top: 2rem;
		.img{
			img{
				width: 100%;
			}
			a{
				display: block;
				position: absolute;
			}
		}
	}



}
