@import "./app/MO/reebok/css/scss/about.scss";

.vector_winter_jacket{
    .bt_buy{
        display: inline-block;
        width: 100%;
        border: 2px solid #000;
        padding: 1rem 0;
        height: 3.5rem;
        box-sizing: border-box;
        color:#000;
         font:700 1.1rem/1.2rem 'NotoSansKR';
         text-align: center;
         span{
             font:700 1rem 'NotoSansKR';
         }
    }
    .main_section{
        position: relative;

        .bg{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .title{
            position: relative;
            padding:3rem 4rem 3.5rem 4rem;
            text-align: center;

            .desc{
                padding-bottom: 0.5rem;
                font:1rem 'NotosansKR';
                color:#fff;
                letter-spacing: -0.5px;
            }
            a{
                position: relative;
                top:15px;
                z-index: 10;
                padding:0.8rem 3.8rem 1rem 3.8rem;
                border:1px solid #fff;
                color:#fff;
                font:1.2rem/2rem  'NotoSansKR';
            }
            img{
                padding-bottom: 1.5rem;
                width: 90%;
            }
        }

    }
    .video_visual{
        padding-bottom: 123.5%;
        .cover{
            top:78%;
            left: 15%;
            a{
                position: relative;
                display: inline-block;
                width: 33%;
                height: 40px;
                border: 1px solid #fff;
                background: rgba(0, 0, 0, 0.5);
                text-align: center;
                box-sizing: border-box;
                &.btn-video{
                    font: 14px/40px 'NotoSansKR';
                    margin: 0 1%;
                    padding-right: 20px;
                    color: #fff;
                    .ico-video{
                        position: absolute;
                        top: 11px;
                        right: 15px;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url('http://imagem.reebok.co.kr/images/reebok/about/always/ico-video.png') 0 0 no-repeat;
                        background-size: 16px 16px;
                    }
                }
                &.btn-buy{
                    font: 14px/40px 'NotoSansKR';
                    margin: 0 4px;
                    color: #fff;
                }
            }
        }
        h2{
            margin-bottom:0.4rem;
            width:inherit;
            height: inherit;
            text-indent: 0;
            background:none;
            text-align: center;
            color:#fff;
            text-transform: uppercase;
            font:3.5rem/3.5rem 'dinpro' !important;
            span{

                font:2.5rem/3.5rem 'dinpro' !important;
                vertical-align: top;
            }
        }
        .desc{
            margin-bottom: 1.5rem;
            text-align: center;
            color:#fff;
            letter-spacing: 11px;
            text-transform: uppercase;
            font:300 1.3rem/1.3rem 'NotoSansKR';
            letter-spacing: 0;
            padding-top: 5px;
        }
        .desc_eng2{
            text-align:center;
            color:#fff;
            padding-bottom:5%;
            font:300 1.3rem/1.9rem 'NotoSansKR';
        }
        .video-btn{
            top:1.5rem;
            margin:0 auto;
        }
    }

    .prd_lineup{
        overflow: hidden;
        background: #ebebeb; /* Old browsers */
        background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        .inner{
            width: 100%;
            margin:0 auto;
            text-align: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            h2{
                font: 3rem/3rem 'reefont-condensed';
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000;
                text-align: center;
                padding-top: 10px;
            }
            ul.prd_box{
                overflow: hidden;
                padding: 10px 15px 30px;
                &.bg{
                    background: #ebebeb; /* Old browsers */
                    background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                }
                li{
                    float: left;
                    width: 50%;
                    text-align: center;
                    img{
                        width: 100%;
                        display: inline-block;
                    }
                    h3{
                        font: 25px/25px 'reefont-condensed';
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #000;
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    a.campaign-btn{
                        display: inline-block;
                        width: 80%;
                        height: 40px;
                        border: 1px solid #000;
                        span{
                            font: 14px/40px 'NotoSansKR';
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .statement{
        position: relative;
        padding: 1.5rem;
        .left{
            text-align: left;
            font:700 1.3rem/3.5rem 'NotoSansKR';
            color: #000;
            float: left;
        }
            a{
                display: block;
                text-align: center;
                border: 1px solid #000;
                width: 12rem;
                color:#000;
                float: right;
            }
    }

    .slide_lineup{
        background-color: #8ecdc5;
        padding-bottom: 0.5rem;
        h2{
            padding: 2.5rem 0 0;
            color: #3f403a;
            font:500 2.5rem/2.5rem 'dinpro cond';
            text-align: center;
            text-transform: uppercase;
        }
        h4{
            font:1rem/16px 'NotoSansKR';
            text-align: center;
            color:#000;
            margin: 5px 0 20px;
            a{
                color: #cc133f;
            }
        }

        .num_paging{
            padding: 1.5rem 0px;
            a{
                background: rgba(255, 255, 255, 0.5);
                border:none;
                width: 0.9rem;
                height: 0.9rem;
                margin-right: 0.5rem;
            }

            .on{
                background: #fff;
            }
        }

        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
            }
            .navi{
                position: absolute;
                top:50%;
                margin-top: -16.5px;
                width: 100%;
                text-align: center;
                img{
                    width: 50%;
                }
                .next{
                    position: absolute;
                    right:15px;
                    text-align: right;
                    img{
                        width: 50%;
                    }
                }
                .prev{
                    position: absolute;
                    left:15px;
                    text-align: left;
                    img{
                        width: 50%;
                    }
                }
            }
        }
    }

    .collections3 {
      padding: 2rem 3rem 1.5rem 3rem;
      background: url("/images/reebok/about/Critic_collaboration/model_bg.jpg") 0 no-repeat;
      background-size: 100% 100%;
      h3 {
        padding: 2rem 0;
        color: #fff;
        font: 2.8rem/3rem 'QStencil';
        text-align: center;
        text-transform: uppercase;
        p{
            font:300 1.2rem 'NotoSansKR';
            letter-spacing: -0.8px;
        }
        img{
            width: 100%;
        }
        .bt_buy{
            margin: 2rem 0 2rem 0;
        }
      }

      .collection_cut {
        position: relative;
        ul {
          overflow: hidden;
          li {
            position: relative;
            float: left;
            .prd_titles {
              margin-top: 20px;
              .title_box {
                position: relative;
                margin-bottom: 5px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 1px solid transparent;
                &.active {
                    width: 100%;
                    background: url('/images/reebok/about/Critic_collaboration/list_bg.png')0 0 no-repeat;
                    background-size: 100%;
                    background-position: 30px 28px;
                }
                > * {
                  display: inline-block;
                }
                span {
                  width: 40px;
                  height: 40px;
                  color: #000;
                  text-align: center;
                  font: 500 12px/40px 'dinpro','Nanum Gothic';
                  box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  background: url('/images/reebok/about/Critic_collaboration/num_bg.png')0 0 no-repeat;
                  background-size: 100%;

                }
                p {
                  padding-left: 6px;
                  color: #000;
                  font:700 1.4rem/30px 'NotoSansKR','Nanum Gothic';
                  strong{
                      font: 700 12px/23px 'dinpro cond','Nanum Gothic';
                      background: none;
                      margin-right: 15px;
                      margin-left: 10px;
                      color:#000;
                  }
                }
              }
            }
            .bt_area{
                width: 100%;
                background: url('/images/reebok/about/Critic_collaboration/bt_bg.png')0 0 no-repeat;
                background-size: 100%;
                padding-top: 1.5rem;
                padding-bottom: 2rem;
                margin: 0 0 2rem 0;
                .bt_buy{
                    width: 93%;
                    margin: 0 auto;
                    height: 3.3rem;
                    padding: 0.8rem 0;
                }
            }
            .img_section {
              position: relative;
              img {
                width: 100%;
              }
              .tit {
                width: 25px;
                height: 25px;
                background: #000;
                text-align: center;
                color: #fff;
                font: 500 14px/25px 'dinpro','Nanum Gothic';
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                &.active {
                  border: 1px solid #fff;
                }
              }
            }
          }
        }
        .navi {
          position: absolute;
          top: 50%;
          margin-top: -16.5px;
          width: 100%;
          text-align: center;
          img {
            width: 50%;
          }
          .next {
            position: absolute;
            right: -10px;
          }
          .prev {
            position: absolute;
            left: -10px;
          }
        }
      }
    }

    .event_area{
        img{
            width: 100%;
        }
        a.link{
            display: block;
            position: absolute;
            text-indent: -9999px;
        }
    }
}
// always classic

/* select box customize */
.selectbox-ctm{
    height:40px;
    position: relative;
    border: 1px solid  #ccc;
}

.selectbox-ctm select{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    padding-left: 20px;
    color: #000;
    font: 400 14px/44px 'NotoSansKR','Nanum Gothic';
    background: #fff;
    z-index: 4;
    border: 0 none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.selectbox-ctm>.arrow{
    width: 14px;
    height: 8px;
    position: absolute;
    top:50%;
    margin-top: -4px;
    right:14px;
    background-position:-70px -2400px;
    z-index: 5;
}

.selectbox-ctm.red>.arrow{
    background-position: -85px -2400px;
}

.selectbox-ctm.disabled>.arrow{
    opacity: 0.3;
    -ms-filter: alpha(opacity=30);
    filter: alpha(opacity=30);
}

/* check customize */

.input-custom-check {
    display: block;
    position: relative;
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
    font:00 14px/20px 'NotoSansKR';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.input-custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.input-custom-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-custom-check input:checked ~ .checkmark {
    background-color: #ab2229;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-custom-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-custom-check .checkmark:after {
    left: 7px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
