@import "./app/MO/reebok/css/scss/about.scss";
#video-layer{
  position:fixed;top:0;left:0;width: 100%;height: 100%;z-index:1000;
}

#video-layer .bg{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin:center center;
  -webkit-transform-origin:center center;
  transform:scale(0);
  -webkit-transform:scale(0);
  opacity:0;
  background:#000;
  z-index:1;

  transition:all 0.4s;
  -webkit-transition:all 0.4s;


}

#video-layer.loaded .bg{
  opacity: 1;
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
}

#video-layer .video-box{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#video-layer .close_x_btn{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
}

#video-layer.loaded .close_x_btn{
  opacity: 1;
}
.dmx1200{
    >div{
        &.dn{
            display: none;
        }
    }
    .main_section{
        position: relative;
        .bg{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .btn_box{
            width: 85%;
            position: absolute;
            bottom:4%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            text-align: center;
            a{
                display: block;
                background: #fff;
                border:1px solid #fff;
                color:#000;
                font:1.1rem/3.6rem  'NotoSansKR';
            }
        }
    }
    .video_area{
        overflow: hidden;
        position: relative;
        height: 300px;
        .bg{
            position: absolute;
            img{
                width: 100%;
            }
        }
        a.btn-video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            .ico-video{
                display: inline-block;
                width: 60px;
                height: 60px;
                background: url('http://imagem.reebok.co.kr/images/reebok/about/always/ico-video.png') 0 0 no-repeat;
                background-size: 60px 60px;
            }
        }
    }
    .event_area{
        position: relative;
        .bg{
            margin: 0 auto;
            width: 100%;
            img{
                width: 100%;
                display: inline-block;
            }
        }
        .btn_box{
            width: 90%;
            position: absolute;
            bottom:7%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            text-align: center;
            a{
                display: block;
                background: #000;
                border:1px solid #000;
                color:#fff;
                font:1.1rem/4rem  'NotoSansKR';
            }
        }
    }
    .slide_lineup{
        position: relative;
        padding: 3rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        h2{
            padding-bottom: 2rem;
            text-align: center;
            img{
                width: 60%;
            }
        }
        .collection_cut{
            position: relative;
            overflow: hidden;
            ul{
                overflow: hidden;
                li{
                    position: relative;
                    float: left;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .navi{
            width: 100%;
            img{
                width: 50%;
            }
            .prev{
                position: absolute;
                top: 52%;
                left: 0.8rem;
                text-align: left;
            }
            .next{
                position: absolute;
                top: 52%;
                right: 0.8rem;
                text-align: right;
            }
        }
        .num_paging{
            padding: 1rem 0px;
            a{
                background: none;
                border:none;
                width: 1rem;
                height: 1rem;
                margin-right: 0.2rem;
                border: 1px solid #000;
            }
            .on{
                background: #000;
            }
        }
    }
}
// dmx
