@charset utf-8;

.runningWrap{font-family:'NotoSansKRRegular'}

/* GNB */
.runningWrap .runningMenu{position:absolute;top:0;left:0;width:100%}
.runningWrap .runningMenu ul{overflow:hidden;width:100%;height:48px;background:#000}
.runningWrap .runningMenu ul.sp1{background:url(../../images/adidas/club/rc2015/running_gnb_bg1.gif) no-repeat 0 0;background-size:100% 48px}
.runningWrap .runningMenu ul.sp2{background:url(../../images/adidas/club/rc2015/running_gnb_bg2.gif) no-repeat 0 0;background-size:100% 48px}
.runningWrap .runningMenu ul.sp3{background:url(../../images/adidas/club/rc2015/running_gnb_bg3.gif) no-repeat 0 0;background-size:100% 48px}
.runningWrap .runningMenu ul li{position:relative;float:left;text-align:center;width:33%;height:48px}
.runningWrap .runningMenu ul li a{width:100%;height:48px;}
.runningWrap .runningMenu ul li a span{display:block;overflow:hidden}
.runningWrap .runningMenu ul li:nth-child(1){width:34%}
.runningWrap .runningMenu ul li:nth-child(1) span{height:25px;margin-top:11px}
.runningWrap .runningMenu ul li:nth-child(1) span img{width:66px}
.runningWrap .runningMenu ul li:nth-child(1).on span img{margin-top:-25px}
.runningWrap .runningMenu ul li:nth-child(2){width:33%}
.runningWrap .runningMenu ul li:nth-child(2) span{height:25px;margin-top:11px}
.runningWrap .runningMenu ul li:nth-child(2) span img{width:66px}
.runningWrap .runningMenu ul li:nth-child(2).on span img{margin-top:-25px}
.runningWrap .runningMenu ul li:nth-child(3){width:33%}
.runningWrap .runningMenu ul li:nth-child(3) span{height:12px;margin-top:18px}
.runningWrap .runningMenu ul li:nth-child(3) span img{width:30px}
.runningWrap .runningMenu ul li:nth-child(3).on span img{margin-top:-12px}

/* INDEX */
.runningWrap .running{position:relative;padding:142px 10px 23px;background:#333 url(../../images/adidas/club/rc2015/img_visual_main.jpg) no-repeat;background-size:100%}
.runningWrap .running.sub{background:#333 url(../../images/adidas/club/rc2015/img_visual_sub.jpg) no-repeat;background-size:100%}
.runningWrap .btn1{height:60px;border:1px solid #585858;position:relative;margin-top:20px}
.runningWrap .btn1 .bg{background:#fff;opacity:0.1;position:absolute;top:0px;left:0px;width:100%;height:100%}
.runningWrap .btn1 a{position:absolute;top:0px;left:0px;width:100%;height:60px;color:#fff;font-size:15px;line-height:60px;font-weight:bold;text-align:center}
.runningWrap .btn1 a > span{background:url(../../images/adidas/club/rc2015/icon_plus.png) no-repeat 100% 23px;background-size:13px 13px;padding-right:20px}
.runningWrap .ty1{font-size:15px;font-weight:bold;color:#ec0075;margin:45px 0 12px}
.runningWrap .mileage_list li{margin-top:10px}
.runningWrap .mileage_list li:first-child{margin-top:0px}
.runningWrap .btn2{height:60px;border:1px solid #585858;position:relative;margin-top:20px}
.runningWrap .btn2 .bg{background:#fff;opacity:0.1;position:absolute;top:0px;left:0px;width:100%;height:100%}
.runningWrap .btn2 a{position:absolute;top:0px;left:0px;width:100%;color:#fff;font-size:15px;text-align:center;padding:7px 0;line-height:23px}
.runningWrap .btn2 a > span{font-size:18px;color:#fff;font-weight:bold}
.runningWrap .ty2{font-size:12px;font-weight:bold;margin:30px 0 12px;color:#fffa3c}
.runningWrap .membership_list{overflow:hidden}
.runningWrap .membership_list li{width:32%;margin-left:1%;float:left}
.runningWrap .membership_list li:first-child{margin-left:0px}
.runningWrap .membership_list li:nth-child(2){width:34%}
.runningWrap .membership_list li a{display:block;border:1px solid #5c5c5c;background:#484848;font-size:11px;text-align:center;color:#fff;text-align:center;padding:12px 0}

/* 서브1 */
.runningWrap .adiclub_list{margin-top:30px}
.runningWrap .adiclub_list li{margin-top:10px}
.runningWrap .adiclub_list li:first-child{margin-top:0px}
.runningWrap .box{background:url(../../images/adidas/club/rc2015/bg_adiclub.jpg) no-repeat;background-size:100%;padding:25px 10px}
.runningWrap .box p{margin-top:10px;color:#000;font-size:14px;font-weight:bold}
.runningWrap .box p span{color:#ec0064}
.runningWrap .box p:first-child{margin-top:0px;font-size:17px;font-weight:bold}
.runningWrap .box > div{margin-top:18px}
.runningWrap .box > div a{height:41px;background:#000;line-height:41px;display:block;text-align:center;font-wiehgt:bold;color:#fff}
.runningWrap .box > div a > span{background:url(../../images/adidas/club/rc2015/bul_arrow.png) no-repeat 100% 15px;background-size:5px 10px;padding-right:15px;font-wiehgt:bold}
.runningWrap .box > div a > span > span{color:#f0f500}
.runningWrap .membership_box{padding:28px 10px 25px;background:#313030}
.runningWrap .membership_box .ty2{font-size:12px;font-weight:bold;margin-bottom:12px;color:#fffa3c}

/* 서브2 */
.runningWrap .tab2{overflow:hidden}
.runningWrap .tab2 li{float:left;width:33%}
.runningWrap .tab2 li:nth-child(2){width:34%}
.runningWrap .tab2 li a{display:block;height:42px;width:100%;text-align:center;background:#0f0e0e;border-bottom:2px solid #0f0e0e}
.runningWrap .tab2 li a span{line-height:42px;color:#fff;font-size:14px;font-weight:bold;opacity:0.4}
.runningWrap .tab2 li.on a{border-bottom:2px solid #ec0064}
.runningWrap .tab2 li.on a span{color:#ec0064;opacity:1}
.runningWrap .cont_box{background:#313030 url(../../images/adidas/club/rc2015/bg_sub2.jpg) no-repeat;background-size:100%;padding:30px 10px 25px}
.runningWrap .cont_box h4{color:#fff;font-size:18px;font-weight:bold}
.runningWrap .cont_box h4 span{color:#fffa3c}
.runningWrap .cont_box > p{color:#fff;opacity:0.7;font-size:12px;margin-top:5px}
.runningWrap .coupon_list dt{font-size:15px;font-weight:bold;margin:30px 0 15px;color:#fff}
.runningWrap .coupon_list dt span{font-size:20px;font-weight:bold;color:#fffa3c}
.runningWrap .coupon_list dd{margin-top:10px}

/* 서브3 */
.runningWrap .mile_list{margin-top:30px}
.runningWrap .mile_list dd{margin-top:10px}

/* 서브4 */
.runningWrap .mile_box{padding:7px 10px;overflow:hidden;height:25px;background:#000;margin-top:35px}
.runningWrap .mile_box span{float:left;font-size:17px;color:#fffa3c;font-weight:bold}
.runningWrap .mile_box em{float:left;font-size:18px;color:#fff;font-weight:bold;padding-left:23px;background:url(../../images/adidas/club/rc2015/ico_mile.png) no-repeat 0px 5px;background-size:18px 18px}
.runningWrap .mile_box a{float:right}
.runningWrap .product_list{margin-top:10px}
.runningWrap .product_list li{margin-top:10px;background:#fff}
.runningWrap .product_list li:first-child{margin-top:0px}
.runningWrap .product_list li a{overflow:hidden;display:block;position:relative;padding-left:120px}
.runningWrap .product_list li a .img{width:120px;position:absolute;top:0px;left:0px}
.runningWrap .product_list li a .box{background:#fff url(../../images/adidas/club/rc2015/bul_arrow2.png) no-repeat 95% center;background-size:20px 20px;width:100%;padding:20px 0px;min-height:100px}
.runningWrap .product_list li a .box span,
.runningWrap .product_list li a .box em{display:block;padding-right:30px}
.runningWrap .product_list li a .box .gender{font-size:12px;color:#000;padding-left:10px}
.runningWrap .product_list li a .box .title{font-size:15px;color:#000;font-weight:bold;margin-top:5px;padding-left:10px}
.runningWrap .product_list li a .box .price{font-size:25px;color:#ec0064 !important;font-weight:bold;margin-top:5px;padding-left:10px}
.runningWrap .product_list li a .box .txt{font-size:10px;color:#000;opacity:0.3;padding-left:10px}
.runningWrap .product_list li a .info{position:absolute;top:0;left:0;text-align:center;width:45px;color:#fff;font-size:11px}
.runningWrap .product_list li a .info.expected{background:#ec0064;height:39px;padding-top:6px}
.runningWrap .product_list li a .info.soldout{background:#1b1b1b;height:37px;padding-top:8px}

/* 팝업 */
.running.popup{position:relative;padding:10px 0}
.running.popup .popup_wrap{background:#fff;position:relative;width:96%;height:100%;z-index:10;left:2%}
.running.popup .popup_wrap h1{padding:22px 15px 16px;font-size:14px;color:#000}
.running.popup .popup_wrap h1 span{display:block}
.running.popup .popup_wrap h1 .gender{font-size:12px;color:#000}
.running.popup .popup_wrap h1 .title{font-size:20px;color:#000}
.running.popup .popup_wrap .close{width:24px !important;height:24px !important;position:absolute;top:10px !important;right:10px !important;background:none !important}
.running.popup .popup_wrap .close:after{display:none}
.running.popup .popup_wrap .close:before{display:none}
.running.popup .bg{background:#000;opacity:0.8;position:absolute;top:0px;left:0px;width:100%;height:100%}

/* 서브5 */
.running .visual{position:relative;overflow:hidden;width:100%}
.running .visual ul{overflow:hidden;position:relative;width:100000px}
.running .visual ul li{float:left}
.running .visual ul li img{width:100%}
.running .visual ul li:first-child{display:block}
.running .visual .prev{position:absolute;top:50%;left:15px;margin-top:-18px}
.running .visual .next{position:absolute;top:50%;right:15px;margin-top:-18px}
.running .visual .paging{text-align:center;margin-top:10px}
.running .visual .paging span{margin-left:5px;width:8px;height:8px;display:inline-block;background:#ccc;border-radius:4px;text-indent:-999em;vertical-align:top}
.running .visual .paging span:first-child{margin-left:0}
.running .visual .paging span.on{background:#ec0064}
.running .product_cont{padding:10px 15px 15px}
.running .product_cont .box{overflow:hidden;background:none;padding:0px}
.running .product_cont .box .point_box{float:left}
.running .product_cont .box .point_box em{color:#ec0064;font-size:24px;font-weight;bold}
.running .product_cont .box .point_box span{color:#666;font-size:12px;font-weight:bold;margin-left:5px}
.running .product_cont .box .cord{float:right;font-size:12px;color:#666;padding-top:12px}
.running .product_cont > p{text-align:left !important;color:#000;font-size:12px;margin:10px 0 15px}
.running .product_cont > a{background:#ec0064;height:40px;line-height:40px;color:#fff;fontweight:bold;font-size:14px;display:block;text-align:center}

/* 서브6 */
.running .popup_cont{padding:7px 10px}
.running .mile_box2 dl{background:#000;border-top:2px solid #333;padding:15px;overflow:hidden}
.running .mile_box2 dl:first-child{border-top:none}
.running .mile_box2 dl dt{float:left;line-height:12px;line-height:30px;color:#fff}
.running .mile_box2 dl dd{float:right;font-size:23px;color:#fff;line-height:30px}
.running .mile_box2 dl:first-child dd{color:#fffa3c}

.running .data_table{border-top:2px solid #000;border-bottom:2px solid #000;margin-top:9px}
.running .data_table table tbody tr td{font-size:11px;padding:10px 5px;text-align:center;border-top:1px solid #b2b2b2}
.running .data_table table tbody tr:first-child td{border-top:none}
.running .data_table table tbody tr td:nth-child(2){text-align:left}
.running .data_table table tbody tr td:nth-child(3){text-align:right}
.running .data_table table tbody tr td .price_won,
.running .data_table table tbody tr td .title{font-size:14px;color:#000;font-weight:bold}
.running .data_table table tbody tr td .price_mile,
.running .data_table table tbody tr td .service{font-size:11px;color:#666;margin-top:7px}
.running .data_table table tbody tr td .ing{background:#999;padding:5px 4px;color:#fff;display:inline-block}
.running .data_table table tbody tr td .cancel{background:#000;padding:5px 4px;color:#fff;display:inline-block}
.running .data_table table tbody tr td .cancel span{background:url(../../images/adidas/club/rc2015/bul_arrow3.png) no-repeat 100% 5px;padding-right:10px;background-size:4px 7px;color:#fff;}

.running .paging2{text-align:center;margin-top:10px}
.running .paging2 .number{margin:0 25px}
.running .paging2 .number span{color:#000;font-size:12px}
.running .paging2 .number .now{color:#ee347c}

/* 서브7 */
.runningWrap .tab3{overflow:hidden}
.runningWrap .tab3 li{float:left;width:25%}
.runningWrap .tab3 li a{display:block;height:42px;width:100%;text-align:center;background:#0f0e0e;border-bottom:2px solid #0f0e0e}
.runningWrap .tab3 li a span{line-height:42px;color:#fff;font-size:13px;font-weight:bold;opacity:0.4}
.runningWrap .tab3 li.on a{border-bottom:2px solid #ec0064}
.runningWrap .tab3 li.on a span{color:#ec0064;opacity:1}

.runningWrap .faq_box{display:none}
.runningWrap .faq_box li{background:url(../../images/adidas/club/rc2015/list_bg.png) repeat 0 0;border-top:1px solid #646464}
.runningWrap .faq_box li:first-child{border-top:0}
.runningWrap .faq_box li dt{padding:25px 65px 25px 15px;color:#fff;font-size:14px;font-weight:bold;position:relative;overflow:hidden;cursor:pointer}
.runningWrap .faq_box li dt a{background:url(../../images/adidas/club/rc2015/bul_open.png) no-repeat;background-size:19px 10px;position:absolute;top:37px;right:15px;width:19px;height:10px;text-indent:-999em;margin-top:-5px}
.runningWrap .faq_box li dt .title{display:block;overflow:hidden}
.runningWrap .faq_box li dt .icon{float:left}
.runningWrap .faq_box li dt i{float:left;width:93%;font-style:normal;margin-left:2%}
.runningWrap .faq_box li.on dt{color:#fffa3c}
.runningWrap .faq_box li.on dt a{background:url(../../images/adidas/club/rc2015/bul_close.png) no-repeat;background-size:19px 10px}
.runningWrap .faq_box li dd{padding:35px 25px;padding-top:0px;display:none}
.runningWrap .faq_box li dd p{color:#fff;font-size:14px;opacity:0.8;line-height:20px}
.runningWrap .faq_box li dd .color_ty1{color:#fffa3c;margin-top:20px}
